[2021-03-17 17:34] smlambert opened #2391 "Add test support for risc-v platform"
This issue is to list the set of PRs already completed to support the riscv platform and to close on any final items required for lifting up fully automated AQA testing at the project (using default list as defined in build pipelines).

- [x] https://github.com/AdoptOpenJDK/openjdk-tests/pull/1832
- [x] https://github.com/adoptium/TKG/pull/42
- [x] https://github.com/adoptium/TKG/pull/83

- [x] ht

[2021-03-17 18:13] sxa commented on #799
SGTM - I'll hold off on those until you've done that work.

[2021-03-17 18:28] sxa commented on #2391
Current status: RISC-V needs two things at present:
- an increased timeout on the Xvfb startup (I've increased it from 10 to 100 for the purposes of testing but it likely doens't need to be that high (https://github.com/sxa/openjdk-tests/commit/d54025efc93eb6aaa7ff219ac302c81ce845da47)
- Changes to enable it in `ottawa.csv` (https://github.com/sxa/TKG/commit/3349be17c2b3ca53388161b2f2c4ef0e5eba148

[2021-03-17 18:58] Mesbah-Alam commented on #2390
Added documentation in the wiki: https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins

[2021-03-17 19:13] smlambert commented on #2253
These failures are related to https://openjdk.java.net/jeps/396, where --illegal-access option shifted from permit (in jdk9 through jdk15) to deny (in jdk16+).

[2021-03-17 19:35] llxia commented on #2390
Another place to update: https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally#system-tests

[2021-03-17 19:40] smlambert commented on #2223
Reopen to verify we can compile and run system test material.

[2021-03-17 21:02] patkarns commented on #2253
@smlambert I don't think that's it. After fixing those errors I'm getting this:

`03:14:40  java.lang.NullPointerException: Cannot invoke "org.apache.spark.mllib.recommendation.MatrixFactorizationModel.userFeatures()" because the return value of "org.renaissance.apache.spark.Als.factModel()" is null`

https://ci.adoptopenjdk.net/job/Grinder/7823/console

[2021-03-17 21:09] smlambert commented on #2253
@patkarns, yes its fantastic, fails in a new way (so resolved the first issue)...  ("Second rule of fight club, once you knock down the first opponent, a new one steps up" - Shelley Lambert)

I ran sanity.perf here: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Perf/37/
extended.perf here: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Perf/38/

We can report results of test

[2021-03-18 00:03] patkarns commented on #2253
renaissanc

- e-als_0 - new/different failure
- renaissance-chi-square_0 - java.lang.NullPointerException: Cannot read the array length because "$this" is null
- renaissance-db-shootout_0 -  java.lang.NullPointerException: Cannot invoke "net.openhft.chronicle.map.ChronicleMap.close()" because "this.map" is null
- renaissance-finagle-http_0 - passed
- renaissance-gauss-mix_0 - java.lang.NullPointer

[2021-03-18 12:55] sxa commented on #799
https://ci.adoptopenjdk.net/job/Grinder_TKG/202/console still seems to have the problem with being unable to find `stf.pl`

[2021-03-18 13:23] aahlenst commented on #2223
@smlambert Can you paste the error here so that I can have a look without having to dig up the Grinder?

[2021-03-18 13:51] sxa commented on #2223
I've just triggered https://ci.adoptopenjdk.net/job/Grinder/7839/console based on the "Rerun in Grinder" link on https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_sanity.system_x86-64_alpine-linux/4/

[2021-03-18 14:44] sxa commented on #799
@Mesbah-Alam Is there a reason that the Solaris systemtests are currently unable to find `stf.pl`?
[code]

[2021-03-18 14:56] Mesbah-Alam commented on #2223
Looking at the latest run of https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_sanity.system_x86-64_alpine-linux/8/tapResults/, the system tests are now failing with the following common error:

[code]

The `<POD_DIAG> line 711` part is very similar to the error we had seen [before](https://github.com/adoptium/aqa-systemtest/issues/416#issuecomment-797598014 ) for Perl diagnostics module being mis

[2021-03-18 15:29] #1711 closed

[2021-03-18 15:29] #1718 closed

[2021-03-18 15:29] #1737 closed

[2021-03-18 15:45] adamfarley opened #2393 "Request system test jobs for jdk8u on arm32"
**Problem**

We don't run system tests on the jdk8u arm32 (hotspot) nightlies, despite system tests being part of the core AQA test set.

**Proposed solution**

I request the creation of Test_openjdk8_hs_sanity.system_arm_linux and Test_openjdk8_hs_extended.system_arm_linux

**Other Details**

Grinders for [sanity.system](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/7830/) (51 mins) a

[2021-03-18 15:47] Mesbah-Alam commented on #799
Looking at the output of [this](https://ci.adoptopenjdk.net/job/Grinder_TKG/194/consoleFull) build, the first failure is here:

[code]
systemtest fails at a [check](https://github.com/adoptium/STF/blob/master/stf.build/include/top.xml#L566) in top.xml that fails to recognize output of `java.os.name` property on this Solaris box - `SunOS`.

I'll create a PR to add `SunOS` to the list of known platf

[2021-03-18 16:14] Mesbah-Alam commented on #799
After getting past the top.xml issue, a bunch of new issues are [surfacing](https://ci.adoptopenjdk.net/job/Grinder_TKG/210/console) from STF Perl layer, e.g.:

[code]

Looking at them now..

[2021-03-18 18:09] Mesbah-Alam commented on #799
@sxa , After [adding](https://github.com/adoptium/STF/pull/108) the required support for Solaris in STF, system tests have now stated to run and pass on Solaris: https://ci.adoptopenjdk.net/job/Grinder_TKG/216/console

Will submit my PR for review once the build finishes.

[2021-03-18 20:49] smlambert commented on #2393
Since arm32 should run the '[default](https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/blob/master/pipelines/jobs/configurations/jdk8u_pipeline_config.groovy#L106)' set of tests, and changes to build pipelines to support auto-generating test jobs (see https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/75 and https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/90), these jobs shoul

[2021-03-19 16:36] llxia commented on #2181
It may be worth looking into this Jenkins API: https://stackoverflow.com/questions/37227562/how-to-know-whether-the-jenkins-build-executors-are-idle-or-not-in-jenkins-using

[2021-03-20 14:18] smlambert opened #2398 "Add JDK_NATIVE_OPTIONS to all openjdk test targets"
Originally noticed native tests were added to jdk_net (see: https://github.com/AdoptOpenJDK/openjdk-tests/pull/2342) but we see it is also the case for a few other targets.  It is advantageous to add this to all openjdk test targets in the [playlist](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/playlist.xml) (in the event that new native tests are added to the various [TEST.gr

[2021-03-20 14:22] smlambert commented on #2393
Issue in autogeneration, example output [here](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-arm-hotspot/594/execution/node/171/)

[code]

FYI @sophia-guo

[2021-03-20 14:25] aahlenst commented on #2223
Necessary dependencies are in. Once @sxa or somebody else has updated the existing containers, we can schedule some grinders.

[2021-03-20 14:56] #2337 closed

[2021-03-20 15:08] llxia opened #2399 "Port comment triggered PR builds into Openj9 and TKG repo"
Comment-triggered PR builds are enabled at Adopt test repo with nightly/releases. And we are working on [PR builds enhancement](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2296). In order for more people to benefit from the current comment triggered PR builds feature, I think we should port it into openj9 and TKG repo. The enhancement can be ported at a later stage.

For [openj9 repo](htt

[2021-03-20 15:10] llxia commented on #2399
FYI @Icohedron

[2021-03-20 15:13] smlambert opened #2400 "Collapse all openjdk problem list files into an excludes folder"
**👾 Description of the issue**

This is 'tidy-ness' item.  We currently have all problem lists for all versions and vmImpls directly in the [openjdk](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/openjdk) directory of this repo.  It makes that directory quite cluttered and will only get worse.

This enhancement issue proposes to move all the problem list files into a new folder openjdk

[2021-03-20 16:02] Icohedron commented on #2399
Could you clarify what you mean by this?

PR builds workflow should take openj9 repo and branch from the openj9 PR.

The defaults for the openj9 repo are to build the SDK from the head repo/ref of an openj9 PR, correct?

PR builds workflow should take TKG repo and branch from the TKG PR.

I'm not sure how this would work. Could you give an example of the default parameters you'd expect for the TKG

[2021-03-20 17:58] sxa opened #2401 "Use of ci.role.perf label"
**Describe the bug**
Performance tests should run on machines with the `ci.role.perf` label

**To Reproduce**
Run any sanity.perf test

**Expected behavior**
Machines will only schedule on machines with `ci.role.perf` labels in jenkins.

**Additional context**
I thought we had been using the `ci.role.test&&ci.role.perf` label for performance test suites but from what I can tell we only have [one m

[2021-03-21 00:10] smlambert commented on #2401
We **HAD** configured certain perf test jobs to use ci.role.perf instead of ci.role.test back before when we had dedicated perf machines.  Since that time, we have:
- lost those dedicated machines and only recently added 2 mac minis back in that role
- regenerated the perf jobs overwriting the special label they were configured with
- made changes to now auto-generated test jobs from build pipelin

[2021-03-21 14:15] sxa commented on #2401
I know exactly what you mean - I feel the same way ref infra :-(

Thanks for the info. Was mostly trying to get up to speed on where we are at the moment since I didn't match what I thought I'd seen before and figure out what needed to happen on the infra side to make things happen.

[2021-03-21 21:09] Icohedron commented on #2399
Nevermind, I figure that the PR Comment Triggered Build action needs a way for the user to specify the TKG repository to use when running AdoptOpenJDK/run-aqa

[2021-03-22 03:14] glemon-123 commented on #2391
Hi sxa, we have done some tests on the board with BishengJDK-RISCV, and the result seems ok. Would you please run the following command: `cat /proc/self/mountinfo` and see if `sys/fs/cgroup/memory` exists like this:
[code]

Thanks!

[2021-03-22 11:34] sxa commented on #2391
The machine is currently offline as per https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/2066 so I can't get that from you at the moment although it's a fairly default Debian installation on a HiFive Unleashed board.

[2021-03-22 12:58] llxia commented on #2399
The workflow needs to be added into openj9 and TKG repo respectively. Similar to port auto test exclusion in openj9: https://github.com/eclipse/openj9/tree/master/.github/workflows

Use Case for openj9 repo:
- users open a PR in openj9 repo (not Adopt test repo)
- users add a comment to trigger PR builds. The user does NOT need to specify openj9 repo and branch in the comment. The workflow should

[2021-03-22 15:52] adamfarley commented on #1051
Another significant test is TestAESMain. It runs for a minute or two on other platforms + release versions, but runs for over 6 hours on zLinux. It doesn't fail, somehow, it just runs for 6+ hours and then passes.

Will exclude: (Add Exclusion PR link here)

@sophia-guo - Since zLinux doesn't appear to be an officially-supported build platform for jdk8 on Hotspot (as per the link below), can you s

[2021-03-22 20:08] sxa commented on #1051
*TestAESMain*: `time make _jdk_custom JDK_CUSTOM_TARGET=test/compiler/7184394/TestAESMain.java`
- JDK8/J9: 2m45
- JDK8/J9 -Xint: At the time of writing it's been running for over an hour
- JDK11/HS: 2m47
- JDK11/HS -Xint:
- JDK8/HS: Presumably the 6h you've seen fromte job

I may not bother filling in the details of the "blanks" above - looks fairly conclusive that the slowdown on HotSpot JDK8 is

[2021-03-23 09:49] karianna commented on #2373
@andrew-m-leonard safe to close?

[2021-03-23 11:34] karianna commented on #2390
@Mesbah-Alam can this be closed now?

[2021-03-23 12:44] #2373 closed

[2021-03-23 13:28] sxa commented on #2123
@adamfarley The error message above looks like it's checking individual certificates instead of the overall `cacerts` file - based on the call we had is your understanding different (is there another test?) It is interesting if the certificates have ended up different, but possibly reasonable given that we use the Mozilla CA bundles ([implemented here](https://github.com/AdoptOpenJDK/openjdk-build

[2021-03-23 13:44] aahlenst commented on #2123
[code]

This one is expected. We now have a different certificate store with a different number of certificates and different alias names (and the test works based on alias names). Same in the second test. Apart from that, we have removed the untrusted VeriSign certificates in January 2021.

[2021-03-23 14:01] adamfarley commented on #2123
It does both. The "ERROR: wrong checksum" message is the first sign something's gone wrong, and that appears to be the test checking a checksum for the entire cacert file. Code snippet below.

[code]

[2021-03-23 19:57] smlambert commented on #2204
Closing as won't pursue at this time.

[2021-03-23 19:57] #2204 closed

[2021-03-24 00:01] Mesbah-Alam commented on #2390
Please keep it open. I need to run some testing to see if we can automate a step we had mentioned in the documentation.

[2021-03-24 01:04] xichen1 commented on #1830
Fixed in #2403.

[2021-03-24 01:04] #1830 closed

[2021-03-24 13:35] llxia commented on #2390
@patkarns Once https://github.com/AdoptOpenJDK/openjdk-tests/pull/2375 is merged, we can update the test job template to show `system_custom` example.

[2021-03-24 17:44] smlambert opened #2407 "AQAvit Meeting April 7, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:

- Renaissance graphs i

[2021-03-24 17:45] smlambert commented on #2367
Minutes:
- @Mesbah-Alam gives update on systemtest makefile cleanup/simplification (related: https://github.com/adoptium/aqa-systemtest/issues/413)
- @sophia-guo updates on Smoke test for build PR (https://github.com/AdoptOpenJDK/ci-jenkins-pipelines/pull/86) which is ready, and waiting on https://github.com/AdoptOpenJDK/openjdk-build/pull/2544 to be reviewed and merged
- No significant news in EF

[2021-03-24 17:45] #2367 closed

[2021-03-25 15:03] andrew-m-leonard opened #2408 "jdk8 hotspot zLinux JDI test failures: UnsupportedOperationException: target does not support popping frames"
Since 17th March these have started failing:
https://trss.adoptopenjdk.net/deepHistory?testId=605bd5605730424dbcb6e571
eg.https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_s390x_linux/464/testReport/junit/com_sun_jdi_PopSynchronousTest/java/PopSynchronousTest/
[code]

[2021-03-25 15:10] andrew-m-leonard commented on #2408
These failing tests don't look as though they were run prior to 17th Mar: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_s390x_linux/461/testReport/

[2021-03-25 15:15] andrew-m-leonard commented on #2408
https://github.com/AdoptOpenJDK/openjdk-tests/commit/af6c98f26a0bea29e610519420b297a3e545a21a#diff-9e2b6489dae12580d3f0543dea5e3457a060f3327902b5b31edf187b133a1110
@M-Davies I will re-exclude for Windows and s390xLinux

[2021-03-25 15:37] andrew-m-leonard commented on #2408
jdk8 zLinux is a "zero" (no-jit) impl which does not support pop-frames see:
https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/a1d853a5d797f38f7be8c260f4a83c1b3fe48adc/hotspot/src/share/vm/prims/jvmtiManageCapabilities.cpp#L121

[2021-03-25 15:41] andrew-m-leonard commented on #2408
Windows failure is a different reason, not popFrame:
[code]

[2021-03-25 15:54] adamfarley commented on #1051
Now that the 6hr test is excluded, here's a long run to create a current list of failing + excessively-long unit tests:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_extended.openjdk_s390x_linux/20/console

However, this may not be needed if we stop running testing on JDK8 Hotspot zLinux builds:
https://github.com/AdoptOpenJDK/TSC/issues/218

[2021-03-25 17:26] llxia opened #2410 "Reduce nodeStatus output"
Currently, [we check if the machine is idle](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests#L249). However, the code outputs for each node query. This output can be really long if we have lots of machines. It is better to reduce the output.

[code]

[2021-03-25 20:01] Mesbah-Alam commented on #2390
Removed note about having to add `-add-opens..` option from wiki  https://github.com/AdoptOpenJDK/openjdk-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins.

We are doing it automatically now, ref: https://github.com/AdoptOpenJDK/openjdk-tests/pull/2413

[2021-03-26 12:40] andrew-m-leonard opened #2415 "jdk8 hs Windows com/sun/jdi tests fail in ShellScaffold.sh: C:\Windows/tmp.6102: Permission denied"
This test also fails on zLinux for a different problem here: https://github.com/AdoptOpenJDK/openjdk-tests/issues/2408

https://trss.adoptopenjdk.net/output/test?id=605ba25b5730424dbcb67d31

The ShellScaffold.sh script tries to create a tmp file using the wrong slashes for CYGWIN environment:
https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/a1d853a5d797f38f7be8c260f4a83c1b3fe48adc/jdk/test/com/s

[2021-03-26 12:41] andrew-m-leonard commented on #2408
I've created a separate issue for Windows which is a different problem: https://github.com/AdoptOpenJDK/openjdk-tests/issues/2415

[2021-03-26 13:12] andrew-m-leonard commented on #2415
The ShellScaffold.sh usage of a tmpFile here:
https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/a1d853a5d797f38f7be8c260f4a83c1b3fe48adc/jdk/test/com/sun/jdi/ShellScaffold.sh#L270
Probably needs changing to do something more like this example here for Windows/Cygwin:
https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/a1d853a5d797f38f7be8c260f4a83c1b3fe48adc/jdk/test/javax/imageio/spi/AppletContex

[2021-03-26 15:14] andrew-m-leonard commented on #1297
- com/sun/jdi/JdbMethodExitTest.sh as per https://github.com/AdoptOpenJDK/openjdk-tests/issues/2415
- com/sun/jdi/Redefine-g.sh as per https://github.com/AdoptOpenJDK/openjdk-tests/issues/2415
- com/sun/jdi/AllLineLocations.java as per https://github.com/AdoptOpenJDK/openjdk-tests/issues/2415
- com/sun/jdi/EarlyReturnTest.java as per https://github.com/AdoptOpenJDK/openjdk-tests/issues/2415
- com/

[2021-03-28 19:39] smlambert opened #2420 "Exclude single testcase from jdk_util_1 target that FAILED in Test_openjdk8_hs_sanity.openjdk_aarch64_linux"
**Test Info**
Test Name: jdk_util_1
Test Duration: 7 min 30 sec
Machine: build-docker-ubuntu1804-armv8-6
TRSS link for the test output: https://trss.adoptopenjdk.net/output/test?id=605e432c47db9757319f4626

**Build Info**
Build Name: Test_openjdk8_hs_sanity.openjdk_aarch64_linux
Jenkins Build start time: Mar 26 2021, 02:18 pm
Jenkins Build URL: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sani

[2021-03-28 20:38] aahlenst opened #2421 "Enable testing for JDK 17 on macOS with Apple Silicon"
Umbrella issue to track remaining work.

[2021-03-29 11:26] psoujany opened #2422 "JTReg : Excluding tests which are failing with JDK11 z/OS"
**Describe the bug**
This issue is to report openjdk(JTReg)  tests which are failing with JDK11 z/OS.

**To Reproduce**
Trigger test with latest JDK11 z/OS build on runtimes-jenkins/Test_grinder/job/Grinder/

Job Grinder where test failed runtimes-jenkins/Test_grinder/job/Grinder/9934.

Failing testcases which needs to be excluded.
jdk_lang
java/lang/management/ManagementFactory/ValidateOpenTypes.

[2021-03-29 11:28] psoujany commented on #2422
Started excluding the tests in openjdk-tests ProblemList_openjdk11-openj9.txt file.

[2021-03-29 11:45] #2062 closed

[2021-03-29 13:00] psoujany commented on #1297
Excluding below tests as per #2422
java/lang/management/ManagementFactory/ValidateOpenTypes.java
java/lang/management/MemoryMXBean/MemoryManagement.java
java/lang/management/ManagementFactory/ProxyTypeMapping.java
java/lang/management/MemoryMXBean/CollectionUsageThreshold.java
java/lang/management/MemoryMXBean/LowMemoryTest2.sh
java/lang/management/GarbageCollectorMXBean/GcInfoCompositeType.java
j

[2021-03-29 13:12] psoujany commented on #2422
Raised a PR with exclusions.
https://github.com/AdoptOpenJDK/openjdk-tests/issues/2422

[2021-03-29 19:20] Mesbah-Alam commented on #2390
https://github.com/AdoptOpenJDK/openjdk-tests/pull/2413 has been delivered. This issue can now be closed.

[2021-03-29 22:38] llxia commented on #2390
Reopen as we need to add the example https://github.com/AdoptOpenJDK/openjdk-tests/issues/2390#issuecomment-805827188

[2021-03-30 00:31] smlambert commented on #2420
While this issue is unresolved and requires triage, the single failing test case should be excluded by adding an entry to the jdk_util section of the [ProblemList_openjdk8.txt:L319](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/ProblemList_openjdk8.txt#L319) something like:
`java/util/Locale/Bug8040211.java https://github.com/AdoptOpenJDK/openjdk-tests/issues/2420 linux-aarch64

[2021-03-30 00:42] smlambert commented on #2420
Because test shows to have passed on build-docker-ubuntu1804-armv8-3, should run a Grinder on that machine to see if its consistently passing there.  If so, this may be an infrastructure issue.  A comparison of locale settings is likely in order.

[2021-03-30 06:42] andrew-m-leonard commented on #2408
Permanent exclude due to jdk8 hs zero vm limitation: https://github.com/AdoptOpenJDK/openjdk-tests/pull/2416

[2021-03-30 06:42] #2408 closed

[2021-03-30 08:40] andrew-m-leonard commented on #2024
java.vendor.version change merged: https://github.com/AdoptOpenJDK/openjdk-build/pull/2544

[2021-03-30 18:18] jwnmoon commented on #2361
I will work on this one.

[2021-03-30 18:24] smlambert commented on #2361
Great! @jwnmoon - if you have any questions, you can post them as comments in this issue.  :)

[2021-03-31 05:24] jwnmoon commented on #2361
Hi, if I'm understanding the line above correctly it's excluding the debug interface for openj9, so it could be written using the new disable feature. Is this something that should be changed?

[2021-03-31 06:43] avishreekh commented on #1849
Hi! I am an Outreachy applicant and would like to contribute to this issue.

[2021-03-31 12:17] smlambert commented on #2361
That is correct @jwnmoon !  That is one of several examples in this file that should be updated.

It indicates that the jdk_jdi test has been disabled for openj9 impl:

so the test defined at `https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/playlist.xml#L857-L885` should be updated from

[code]

to

[code]

Where the new `<disabled>` tag is used, and the `<impl>` tag no longer ne

[2021-03-31 12:31] smlambert opened #2429 "Tweetest Prep work for camel tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 12:35] smlambert opened #2430 "Tweetest Prep work for derby tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 12:43] smlambert opened #2431 "Tweetest Prep work for elasticsearch tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 12:47] smlambert opened #2432 "Tweetest Prep work for jacoco tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 12:49] smlambert opened #2433 "Tweetest Prep work for jenkins tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 12:59] smlambert opened #2434 "Tweetest Prep work for kafka tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 14:32] smlambert opened #2435 "Tweetest Prep for lucene-solr tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 14:39] smlambert opened #2436 "Tweetest Prep work for netty tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-03-31 14:54] avishreekh commented on #1849
Please review the change and let me know if anything else is required @ShelleyLambert

[2021-03-31 15:29] vanichitkara commented on #2436
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-03-31 15:29] vanichitkara commented on #2435
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-03-31 15:29] vanichitkara commented on #2433
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-03-31 15:30] vanichitkara commented on #2432
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-03-31 15:30] vanichitkara commented on #2431
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-03-31 15:30] vanichitkara commented on #2429
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-03-31 16:09] smlambert commented on #2436
Note: looks like we already removed the Dockerfile so that is one less step that has to happen to resolve this issue.  Only need to add README.md and test.properties files.

[2021-03-31 18:52] #1849 closed

[2021-03-31 20:49] jwnmoon commented on #2361
Do the lines about hotspot implementations need to be deleted on other tests as well? I assume the tests would apply to all implementations so they wouldn't have to be defined, but I'm not feeling too sure.

[2021-03-31 20:54] sophia-guo commented on #2393
Jobs are correctly generated and runs good
https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk8u/job/jdk8u-linux-arm-hotspot/605/console
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extend.system_arm_linux/1/
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.system_arm_linux/1/

close this.

[2021-03-31 20:54] #2393 closed

[2021-03-31 21:16] #2400 closed

[2021-03-31 21:45] jwnmoon commented on #2361
I just created a pull request! I would appreciate it if you could review what I have.

[2021-04-01 01:40] smlambert opened #2439 "Tweetest Prep work for openliberty-mp-tck tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 01:45] smlambert opened #2440 "Tweetest Prep for payara-mp-tck tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 01:49] smlambert opened #2441 "Tweetest Prep work for quarkus tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 01:53] smlambert opened #2442 "Tweetest Prep work for quarkus_openshift tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 01:56] smlambert opened #2443 "Tweetest Prep work for quarkus_quickstart tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 01:58] smlambert opened #2444 "Tweetest Prep work for scala tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:02] smlambert opened #2445 "Tweetest Prep work for spring tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:07] smlambert opened #2446 "Tweetest Prep work for thorntail-mp-tck tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:10] smlambert opened #2447 "Tweetest Prep work for tomcat tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:12] smlambert opened #2448 "Tweetest Prep work for tomee tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:14] smlambert opened #2449 "Tweetest Prep work for wildfly tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:17] smlambert opened #2450 "Tweetest Prep work for wycheproof tests"
**👾 Description of the issue**

We run external third-party application tests at this project.  They are contained within the external directory.  We would like to improve how we run these tests.  The first step to improving how we run them is to add some documentation and to pull out the individual test properties that we use so that they are stored in the same directory as the test.

This issue

[2021-04-01 02:30] smlambert commented on #587
https://github.com/payara/MicroProfile-TCK-Runners/issues/42 has been closed with a note that it is fixed.  Need to try to reinclude payara-mp-tck tests and see if they can run clean.

[2021-04-01 02:39] smlambert commented on #791
Defining environment variables in the autogenerated Dockerfile can be done via [common_functions.sh](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/common_functions.sh#L222-L237) file in a similar fashion to how its done in [camel tests](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/common_functions.sh#L183).

[2021-04-01 02:40] smlambert commented on #799
Can this now be closed?

[2021-04-01 02:49] smlambert commented on #1250
This is likely as far as we are going to get with this one, closing.  If someone has the will to complete the rest, then it can be re-opened.

[2021-04-01 02:49] #1250 closed

[2021-04-01 02:52] smlambert commented on #1911
Closed by https://github.com/AdoptOpenJDK/openjdk-tests/pull/2378

[2021-04-01 02:52] #1911 closed

[2021-04-01 03:27] smlambert commented on #2443
Fantastic @ceelo777 !  If you have questions, please ask them in this issue!

[2021-04-01 03:28] SAY-droid427 commented on #2429
@smlambert I would like to work on this issue. But I donot know docker. Do I have to learn Docker? Please guide me a bit. Thank you. Do I only need Docker to run the tests locally?

[2021-04-01 03:34] smlambert commented on #2429
Great @SAY-droid427 !  Yes, you would need Docker installed to run tests locally, but besides having it installed you do not need to know more about it to resolve this issue.

[2021-04-01 03:43] smlambert commented on #2429
Part of this issue is to take the "how to run locally" instructions from here: https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/README.md#running-external-tests-locally

and add a README.md file with those instructions edited to run the camel tests.

Those steps will tell you what prereqs are needed to be installed to run locally.

[2021-04-01 05:52] quoththeravyn commented on #2447
Hi! I’d like to be assigned this task. Thank you!

[2021-04-01 06:16] 2001asjad commented on #2448
Hi @smlambert I would like to work on this issue.

[2021-04-01 09:35] Annysah commented on #2450
Hello @smlambert ,
I am an Outreachy applicant 2021 and I would love to work on this issue,

[2021-04-01 11:14] sxa commented on #799
Depends if the goal of this was "add support" or "test it regularly" ;-) But in principle I'm ok with closing it and dealing with subsequent issues in follow-on issues. We haven't fully tested on sparc yet (it's mentioned in the checkbox in the description as being required for this issue) but I expect that the test scripts will be in a decent state now for that too.

[2021-04-01 11:48] Darshnadas commented on #1728
Hi, I am an outreachy applicant, Iis this issue still open to working? I would like to take on this issue then

[2021-04-01 12:03] karianna commented on #1728
@llxia can probably comment on that.

[2021-04-01 12:12] Darshnadas commented on #1728
@llxia Hi, can I take on this issue?

[2021-04-01 12:19] smlambert commented on #1728
hi @Darshnadas ! (answering for @llxia as she is on vacation this week)...

you can definitely take this issue, the last checkbox still needs doing, which is to update the [PLATFORM_MAP in the openjdk_tests file](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests#L3) to remove entries that end in _xl and _mixed, with the exception of zos and riscv platforms.

[2021-04-01 12:22] Darshnadas commented on #1728
Hi @smlambert Thank you so much

[2021-04-01 13:49] smlambert commented on #799
I think the 'build it and test it regularly' part needs to be an issue raised in https://github.com/AdoptOpenJDK/ci-jenkins-pipelines repo.

I'll create an issue then close this.

[2021-04-01 13:58] brngylni commented on #2317
Hi, can I try to solve it?

[2021-04-01 18:02] smlambert commented on #2317
Most certainly @brngylni !

[2021-04-01 18:04] smlambert commented on #2450
That's great @Annysah - if you have questions, do not hesitate to ask in this issue!

[2021-04-01 18:05] smlambert commented on #2448
Great, thanks @2001asjad !

[2021-04-01 18:07] smlambert commented on #2447
That's great @quoththeravyn !  If you have any questions, please ask them in this issue!

[2021-04-01 19:03] Annysah commented on #2450
@smlambert I would like to know if there are any necessary system requirements/setup to be done before proceeding.

[2021-04-01 19:12] smlambert commented on #2450
If you will try to run these tests locally, which is encouraged in the description, you will see that you are asked to install some prereqs on your computer (step 0 in https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/README.md#running-external-tests-locally).

[2021-04-01 20:35] Annysah commented on #2450
@smlambert
Thanks for your response earlier!

From the above instructions, am I to populate the entire page contents of https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/README.md#running-external-tests-locally and reference wycheproof and wycheproof_test as mentioned or should I only populate the steps 0-9 instructions under the "Running External Tests Locally" heading?

[2021-04-01 20:41] sophia-guo opened #2453 "External jenkins test job images failed to create and didn't fail the build_image steps"
Jobs failed at compiling stage but get `BUILD SUCCESSFUL` and continued to run test stage.

https://ci.adoptopenjdk.net/view/Test_external/job/Test_openjdk11_hs_extended.external_x86-64_linux_jenkins/30/console

[code]

[2021-04-02 05:59] SAY-droid427 commented on #2442
@smlambert I would like to take up this issue.

[2021-04-02 07:57] brngylni commented on #2317
`sudo make compile`
gives
 `please provide TEST_JDK_HOME`
although I provided it with
`export TEST_JDK_HOME=/path/to/openjdk`

@smlambert

[2021-04-02 12:48] smlambert commented on #2238
@patkarns - we had to revert your PR #2375 because one of the servers that use this code did not have the plugin installed, it has now been installed (via https://github.com/eclipse-cbi/jiro/pull/156), so I think we can try again to bring your changes in.

[2021-04-02 12:56] SAY-droid427 commented on #2442
@smlambert Please review my pull request. Thank you.

[2021-04-02 15:58] khushishikhu commented on #2430
@smlambert I am an outreachy participant . I would like to give a try to solve this issue. please assign this to me.
Thank you!!

[2021-04-02 16:40] Deek9399 commented on #2441
Hello @smlambert, I am an Outreachy applicant. Can I work on this issue?

[2021-04-02 18:27] ceelo777 commented on #2443
Alright this is finished - I'm going to test now - what's a simple SDK I can download and use to test?

[2021-04-02 20:06] smlambert commented on #2443
You can follow the instructions you put in the README file you are adding and download from the website... you can use the default one at the adoptopenjdk.net website, which is jdk11 hotspot.

[2021-04-02 20:07] smlambert commented on #2441
For sure, welcome @Deek9399 !  If you have any questions feel free to ask them in this issue!  :)

[2021-04-02 20:10] smlambert commented on #2430
Most certainly @khushishikhu !  Welcome!  If you have any questions, feel free to ask them in this issue!

[2021-04-02 20:45] mara-ber commented on #2432
Hi I'm an Outreachy applicant, can I try working on this issue?

[2021-04-02 20:49] smlambert commented on #2432
Definitely!  Welcome @mara-ber !  If you have any questions, please feel free to ask them in this issue.  :)

[2021-04-03 04:59] vanichitkara commented on #2431
Hi, I would like to work on this issue, please assign this one to me. Thanks!

[2021-04-03 15:06] Deek9399 commented on #2441
Thanks @smlambert

[2021-04-04 00:59] ceelo777 commented on #2443
BUILD FAILED
.../openjdk-tests/TKG/scripts/build_test.xml:31: Problem: failed to create task or type var
Cause: The name is undefined.
Action: Check the spelling.
Action: Check that any custom tasks/types have been declared.
Action: Check that any <presetdef>/<macrodef> declarations have taken place.

[2021-04-04 01:01] ceelo777 commented on #2443
Getting this issue above ^ - any ideas? This is after I run:
- make compile
- export BUILD_LIST=external/quarkus_quickstarts
- export EXTRA_DOCKER_ARGS="-v $TEST_JDK_HOME:/opt/java/openjdk"
- export TEST_JDK_HOME=/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home/

[2021-04-04 03:57] 2001asjad commented on #2434
Hi @smlambert , I want to take this issue. Can you please assign this to me.
Thank You

[2021-04-04 03:58] 2001asjad commented on #2453
Hi @karianna @sophia-guo I want to work on this issue. Can you please guide me more in this issue like what files to look for etc.
I am an Outreachy applicant.
Thank You

[2021-04-04 12:10] smlambert commented on #2434
For sure @2001asjad, its now yours!

[2021-04-04 12:19] SAY-droid427 commented on #2445
I want to work on this issue

[2021-04-04 12:33] smlambert commented on #2453
This is reported against external/jenkins jobs (ones running in weekly automation are here: https://ci.adoptopenjdk.net/view/Test_external/job/Test_openjdk11_hs_extended.external_x86-64_linux_jenkins), though it is likely more pervasive than just the external/jenkins tests.

A place to start on this one is to look at [external/build.xml](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/ex

[2021-04-04 13:04] SAY-droid427 commented on #2445
@smlambert After completing this prep work I want to start with some other issues. Could you please guide me how I can contribute to this project better? I am willing to learn anything new to be able to understand and work with this project.

[2021-04-04 14:53] smlambert commented on #1754
The requirement here is to move logic from a Jenkins groovy script, [testJobTemplateL154-165](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/testJobTemplate#L154-L165) into the [jck/jck.mk](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/jck/jck.mk) file.

This comment may be helpful, as it describes how the openjdk/openjdk.mk file was updated for something si

[2021-04-04 17:23] OsamahGharad commented on #2433
Can I take this issue to work on please ? @smlambert

[2021-04-04 19:02] brngylni commented on #1744
Hey, I think I can do that investigation. (hopefully)

[2021-04-04 19:58] brngylni commented on #1744
Hey, I can work on that.

[2021-04-05 08:21] ellschi commented on #1744
I want to work on this issue. Thank you in advance for assigning me. :)

[2021-04-05 08:27] ellschi commented on #1754
Hi @vanichitkara! Are you still interested in working on this issue? If not I'd take it. :)

[2021-04-05 08:32] vanichitkara commented on #1754
Hi @ellschi! You can take up this issue since I have 2 more issues to work on at the moment

[2021-04-05 10:46] ellschi commented on #1754
Great @vanichitkara, thank you for letting me know! @adamfarley, @smlambert Please assign me :)

[2021-04-05 14:44] roli25 commented on #2444
Hello, I am Roli Jain, an Outreachy applicant. Can I work on this?

[2021-04-05 15:50] ecoarqtec opened #2459 "Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/186"
Related: https://github.com/AdoptOpenJDK/openjdk-tests/issues/186

_Originally posted by @smlambert in https://github.com/AdoptOpenJDK/openjdk-tests/issues/965#issuecomment-471765796_

[2021-04-05 16:51] jimbex commented on #2435
Hello @smlambert  I am an outreachy applicant can I work on this issue

[2021-04-06 09:35] adamfarley commented on #2393
Thanks @sophia-guo !

[2021-04-06 13:22] benny-coy commented on #2440
Good day @smlambert
I am an outreachy applicant. please can i work on this project.

[2021-04-06 13:42] smlambert commented on #2440
Most certainly, welcome @benny-coy, if you have questions please feel free to ask in this issue!

[2021-04-06 13:42] #2398 closed

[2021-04-06 14:15] andrew-m-leonard opened #2461 "Test_openjdk16_j9_extended.openjdk_x86-64_windows: java/io/File/GetXSpace.java: InvalidPathException: Illegal char <:> at index 0: :"
https://trss.adoptopenjdk.net/resultSummary?parentId=606acc3047db975731c5dd89
https://ci.adoptopenjdk.net/job/Test_openjdk16_j9_extended.openjdk_x86-64_windows/17/consoleFull
[code]
Looks like a classic Windows path issue with testcase?

[2021-04-06 14:58] benny-coy commented on #2440
Thank you @smlambert .

[2021-04-06 16:28] benny-coy commented on #2440
@smlambert
Please, i need your help i am new here.
Please i have forked the repository to my GitHub account and clone it to my local machine.
I have opened the folder to this project locally. i also opened the README.md file. i saw some documentation.
My question is am i to delete it or modify it? as stated here.
The contents of the README file can be simply some instructions for how to run the te

[2021-04-06 16:35] smlambert commented on #1878
Removing from Top Priorities project.  No updates, no reported concerns that this test is being excluded on this platform?

[2021-04-06 19:15] smlambert commented on #2440
Please have a look at this PR as an example: https://github.com/AdoptOpenJDK/openjdk-tests/pull/2451/files

[2021-04-06 19:54] sophia-guo commented on #1878
Looks it's good now. https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_aarch64_linux/480/testReport/

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_aarch64_linux/480/testReport/java_lang_invoke_VarHandles_VarHandleTestByteArrayAsLong/java/VarHandleTestByteArrayAsLong/

Close it.

[2021-04-06 20:16] sophia-guo commented on #2436
Closed by #2452

[2021-04-06 20:16] #2436 closed

[2021-04-06 20:17] sophia-guo commented on #2431
Closed by #2460

[2021-04-06 20:17] #2431 closed

[2021-04-07 02:58] benny-coy commented on #2440
@smlambert  thank you.

[2021-04-07 05:08] benny-coy commented on #2440
@smlambert
I noticed that there might be a missing word here:
 Running External Camel tests locally
To run any AQA tests locally, you follow the same pattern:
0. Ensure your test machine is set up with [test prereqs](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/Prerequisites.md). For external tests, you do need Docker installed.

1. Download/unpack the SDK you want to **(is there

[2021-04-07 05:29] benny-coy commented on #2440
@smlambert
Please, checkout this line for me.
modify Steps 7 and 9 to reference payara-mp-tck specifically.
7. Export required environment variables, BUILD_LIST and EXTRA_DOCKER_ARGS (example: `export BUILD_LIST=external/payara-mp-tck` and `export EXTRA_DOCKER_ARGS="-v $TEST_JDK_HOME:/opt/java/openjdk"`

9. `make _payara-mp-tck_test`   (When you defined BUILD_LIST to point to a directory in [openj

[2021-04-07 05:53] benny-coy commented on #2440
please, is this Introduction ok?
# External Payara-mp-tck Tests
Payara-mp-tck tests are part of the third-party application tests that helps verify that the Adoptium binaries are good by running a variety of Java applications inside of Docker containers. AdoptOpenJDK/openjdk-tests/Issue #172 lists the applications that we have initially targeted to best exercise the Adoptium binaries. For each app

[2021-04-07 07:12] benny-coy commented on #2440
@smlambert
The contents of the test.properties file will be a key=value format, copying the information from https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/common_functions.sh#L316-L328 to populate it.
Please does this means that i  should copy the test from above url and paste in the test.properties i have created

[2021-04-07 07:13] feilongjiang commented on #2391
Hi @sxa, are there any updates on Bisheng risc-v grinder_tkg tests? Hope I didn't miss anything... :eyes:

[2021-04-07 10:23] sxa commented on #2391
@lumpfish has been looking at it - the physical RISC-V machines we have have been offline for a few weeks unfortunately (I'm hoping to get another two delivered to me soon - is Huawei able to provide any accessible RISC-V systems?) so we've been testing on a virtual system, and I believe he has two issues which he is about to raise.

[2021-04-07 10:53] ellschi commented on #1754
Ready for review!

[2021-04-07 11:09] adamfarley commented on #1754
@ellschi - Heya. Are you asking someone to review a Pull Request?

If so, please add them as reviewers in the Pull Request and paste a PR link in this issue.

[2021-04-07 11:26] lumpfish opened #2469 "openj9 jdk8 x86_64_linux sanity.openjdk java/util/concurrent/Executors/AutoShutdown.java"
java/util/concurrent/Executors/AutoShutdown.java failed with ` 2 not equal to 3` message.

Not seen before or on other platforms.

Failing job: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux/497/console

Failure output:
[code]
Full output of failing test
[code]

[2021-04-07 11:50] lumpfish opened #2470 "openj9 jdk8 extended.openjdk javax/rmi/ssl/SSLSocketParametersTest.sh java.rmi.NoSuchObjectException"
Failing jdk build:
[code]
javax/rmi/ssl/SSLSocketParametersTest.sh failed with:
[code]
Failing job: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_x86-64_windows/20/consoleFull

Full output of failing test:
[code]

[2021-04-07 13:11] andrew-m-leonard opened #2471 "renaissance testsuite fails on Windows due to exception: scala.MatchError: getOSInfo"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_x86-64_windows/13/consoleFull
[code]
Looks to have been fixed in renaissance https://github.com/renaissance-benchmarks/renaissance/pull/237/files

[2021-04-07 13:12] jerboaa commented on #1878
@sophia-guo AFAIK, those failures are intermittent. Just FYI.

[2021-04-07 13:14] smlambert commented on #1754
@adamfarley - not sure that new contributors have the ability to add reviewers and brand new contributors would not know who to add as reviewers.  Rest assured as the core-team in Ottawa start their day, they know to assist in reviewing the PR backlog of this repo.

[2021-04-07 13:36] smlambert commented on #1754
@ellschi - I do not see a PR from you, if you have changes in a branch, please create a PR so we can review, thanks!

[2021-04-07 13:40] #2429 closed

[2021-04-07 13:43] #2445 closed

[2021-04-07 13:45] #2448 closed

[2021-04-07 13:52] SAY-droid427 commented on #2449
@smlambert I would like to work on this issue.Please assign it to me

[2021-04-07 14:10] lumpfish commented on #2469
Also seen on AIX:
[code]
[code]

[2021-04-07 14:27] sophia-guo commented on #2469
If it only happened to openj9 and it used to succeed probably open the issue in eclipse/openj9?

[2021-04-07 14:31] sophia-guo commented on #1878
Ah, it succeeds for last 5 builds so I thought it's fixed. https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_sanity.openjdk_aarch64_linux/.

[2021-04-07 14:34] sophia-guo commented on #2471
There is a PR to revert renaissance jar from version 11 to 9, which probably fix this issue? https://github.com/AdoptOpenJDK/openjdk-tests/pull/2468/files

@patkarns did you see this issue with renaissance version 9?

[2021-04-07 17:38] smlambert opened #2475 "AQAvit Meeting April 21, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Release week - freeze

[2021-04-07 17:38] smlambert commented on #2407
**Notes from meeting:**
- Did not have time to go through all of April's milestone issues, did cover what Param Separator work is meant for.  Action: Shelley to autogen test jobs so that the separators show up in all of them.  Will also do same for Grinders, leaving one Grinder called Grinder_OldStyle around for a while, in case people do not care for the new organization of parameters and are ave

[2021-04-07 17:38] #2407 closed

[2021-04-07 17:39] ellschi commented on #1754
@smlambert: Thank you for the feedback! I created this [PR](https://github.com/AdoptOpenJDK/openjdk-tests/pull/2474) and now am unsure if this was the right way to do it...

[2021-04-07 17:44] smlambert commented on #2440
1. Download/unpack the SDK* that you want to test to your test machine

*you can download binaries from adoptopenjdk.net

[2021-04-07 18:20] smlambert commented on #2459
@ecoarqtec - this appears to be an autogenerated bug report.  Given there are no details or context, I will close it.  Feel free to reopen it if there is some specific request that you can clarify in the description.

[2021-04-07 18:20] #2459 closed

[2021-04-07 18:37] jwnmoon commented on #2363
Hello, is this issue still open?

[2021-04-07 18:37] smlambert commented on #2401
To address this issue, we could update https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests to do a check, if BUILD_LIST.contains("perf") and Jenkins nodes exist that match ci.role.perf&&hw.arch.xxx&&sw.os.yyy for the platform to run on, then use that LABEL, otherwise use ci.role.test&&hw.arch.xxx&&sw.os.yyy.

In this way, if we have bare metal perf machines onl

[2021-04-07 18:40] smlambert commented on #2363
Yes, this issue is still open and valid.  I believe to resolve it, is to remove all references to SPEC found in the https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests file, and then a reviewer will have to test that it does not break the Valhalla builds.

Shall I assign you @jwnmoon ?

[2021-04-07 18:42] jwnmoon commented on #2363
Yes, I'll work on it!

[2021-04-07 18:43] #2361 closed

[2021-04-07 22:16] smlambert opened #2477 "Divide the hotspot_all test target into smaller targets"
The [hotspot_all](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/playlist.xml#L40-L66) target contains a lot of tests and could benefit from splitting up.

2 reasons it will be useful to divide hotspot_all test target:
- smaller targets will then allow for more granular rerunning/exclusion/dividing for running in PARALLEL
- This will also help resolve the request in https://gith

[2021-04-08 08:48] lumpfish opened #2481 "openj9 jdk8 win32 sanity java/lang/ProcessBuilder/Basic.java timeout Testing Unicode directory:.\ProcessBuilderDir??"
Failing job: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_sanity.openjdk_x86-32_windows/477/console

Failing build:
[code]
Failure is not seen on hotspot builds.
Failure reoccurred on a test rerun.

The last messages at the time of failure:
[code]
Full output of failing test:
[code]

[2021-04-08 08:50] lumpfish commented on #2481
Raised upstream: https://github.com/eclipse/openj9/issues/12378

[2021-04-08 13:25] smlambert opened #2482 "Update runAqa workflow to allow for BUILD_LIST=external/<subdir>"
An enhancement to the [runAqa workflow ](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/.github/workflows/runAqa.yml)that will restrict what gets built for the external set of tests (otherwise each subdirectory is built, including Dockerfiles generated for all 23 subdirs.

See https://github.com/AdoptOpenJDK/openjdk-tests/pull/2480#issuecomment-815818366 and https://github.com/AdoptOpen

[2021-04-08 14:57] Mesbah-Alam opened #2483 "Remove systemtest dependency on wget and use curl on all platforms"
**👾 Description of the issue**

We need to remove systemtest's dependency on `wget` and use `curl` on all platforms.

Except for system tests, all other tests have been switched to use curl, since we cannot use wget on z/OS and we do not want to support both curl and wget, we choose to use curl only (ref: https://github.com/AdoptOpenJDK/openjdk-tests/issues/1250).

**Tips to solve this particular

[2021-04-08 14:59] Mesbah-Alam commented on #2483
Note, solving this will make the following issue unnecessary : https://github.com/adoptium/STF/issues/96.

[2021-04-08 15:10] llxia commented on #2483
If curl does not exist, curl cmd will fail. Personally, I do not think we need an extra `check-for-curl` ant target?

[2021-04-08 15:19] llxia commented on #2370
The above plugin is quite old. We can just use Jenkins API to achieve setting node temporarily offline due to specific errors.

[2021-04-08 17:37] vanichitkara commented on #2477
I'd like to work on this issue! Can it be assigned to me? Thanks!

[2021-04-08 19:13] #2434 closed

[2021-04-08 19:35] llxia opened #2484 "Move download jtreg.jar logic in getDependencies"
Currently, we download jtreg jar in [openjdk/build.xml](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/build.xml#L57) at build runtime. The downloading step may fail due to the network issue. And if this happens, the test build will fail.

[code]

We should move Move download jtreg.jar logic in [getDependencies.pl](https://github.com/adoptium/TKG/blob/master/scripts/getDependenc

[2021-04-08 20:07] #2442 closed

[2021-04-08 20:15] smlambert commented on #2471
This should be temporarily addressed by falling back to version 0.9 in https://github.com/AdoptOpenJDK/openjdk-tests/pull/2468 which is now merged.  We will have to watch for what version that [fix](https://github.com/renaissance-benchmarks/renaissance/pull/237/files) lands in, and test whether we can move up to that version for all platforms without regressing.

[2021-04-08 21:25] smlambert opened #2485 "Autogenerate existing test jobs to apply the Parameter Separator enhancement"
With the merge of https://github.com/AdoptOpenJDK/openjdk-tests/pull/2464, we can now run [Test_Job_Auto_Gen](https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/) to be able to pick up the changes in the Jenkins configuration for all test jobs.

Adding the parameter separators and some extra doc is expected to assist existing and future contributors in understanding the great many

[2021-04-09 01:44] smlambert commented on #2485
jdk11 openj9 sanity,extended,special functional,system,openjdk,perf: https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/258

jdk11 hotspot sanity,extended,special functional,system,openjdk,perf:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/259/

[2021-04-09 01:48] smlambert commented on #2485
jdk8 openj9 sanity,extended,special functional,system,openjdk,perf:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/261/

jdk8 hotspot sanity,extended,special functional,system,openjdk,perf:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/260/

[2021-04-09 01:52] smlambert commented on #2485
jdk16 openj9 sanity,extended,special functional,system,openjdk,perf:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/262/

jdk16 hotspot sanity,extended,special functional,system,openjdk,perf:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/263/

[2021-04-09 07:53] xichen1 commented on #2297
## Summary of work done by team canosp_w21

### Workflow of the diffCoverage
- analyze and generate the range of the change in the PR so that it will not cost too many resources in the next steps
- generate the result.xml file against the specified range target of JDK project generated in the previous step
  -  Note: the JDK project should be from the branch of PR, so that the result.xml contains

[2021-04-09 12:39] codeupall commented on #2439
Good day,
Can I give this a try?

[2021-04-09 13:14] smlambert commented on #2485
Create Grinder_New using parameter separators
Copy existing Grinder to Grinder_Old
Rename Grinder_New to Grinder

[2021-04-09 14:15] smlambert commented on #2485
Do not need to auto-gen external jobs, as those are already auto-generated to create jobs per subdirectory.

[2021-04-09 14:15] #2485 closed

[2021-04-09 23:54] smlambert commented on #2443
That looks like a failure may be caused by not having ant-contrib installed (part of prereqs step 0).

[2021-04-09 23:58] smlambert commented on #2450
Closed via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2463

[2021-04-09 23:58] #2450 closed

[2021-04-10 07:06] Annysah commented on #2446
Hello @smlambert I will like to work on this issue

[2021-04-11 00:51] ceelo777 commented on #2443
gmake[1]: Leaving directory '/Users/chris/Desktop/OpenSource/openjdk-tests/TKG'
gmake -f runtest.mk quarkus_quickstarts_test
gmake[1]: Entering directory '/Users/chris/Desktop/OpenSource/openjdk-tests/TKG'
gmake[2]: Entering directory '/Users/chris/Desktop/OpenSource/openjdk-tests'
gmake[3]: Entering directory '/Users/chris/Desktop/OpenSource/openjdk-tests/external'
gmake[4]: Entering directory '/

[2021-04-11 00:52] ceelo777 commented on #2443
I got gmake compile to work, any idea what this means?

[2021-04-11 03:00] smlambert commented on #2443
Since that is only partial console output that you posted, it is hard to tell what is the problem.

When I step through the steps defined in https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/external#running-external-tests-locally, I am able to run to completion successfully.

- I have the test prereqs installed
- I clone the openjdk-tests repo
- I export the necessary environment variable

[2021-04-11 04:48] SAY-droid427 commented on #2483
Hey! @smlambert @llxia @Mesbah-Alam Can I work on this issue as an Outreachy participant?

[2021-04-11 05:02] benny-coy commented on #2446
@smlambert
Please, can I work on this issue?.
Thank you.

[2021-04-11 08:44] vanichitkara commented on #2477
Hi @smlambert! Can you please elaborate about what all is to be done in the issue. Also do I have to create a new file for PR or edit the [hotspot_all](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/playlist.xml#L40-L66) target file?

[2021-04-11 12:03] smlambert commented on #2446
@benny-coy - I think @Annysah has asked for this one first, so I will assign to @Annysah

[2021-04-11 12:15] smlambert commented on #2477
What is needed for this issue is to edit the playlist.xml file.

Each test in that file gets converted into a make target.

Currently there is a test called hotspot_all in that file.  The hotspot_all target runs many tests.  We would like to divide the hotspot_test into 4 tests.

You can see that the `<command>` tag in the hotspot_all test refers to some jtreg TEST.groups based on the TEST.groups,

[2021-04-11 13:13] SAY-droid427 commented on #2483
Hi @smlambert !
Could you please tell me what exactly I have to do in this issue?
I have understood that I have to fork the STF repository and make the changes there. It will be very helpful.
Thank you!

[2021-04-11 15:35] vanichitkara commented on #2477
Thank you so much @smlambert for explaining the task se well. Made a PR for resolving the issue, please review it.

[2021-04-11 16:06] codeupall commented on #2439
Good day sir,
I have been trying to make compile(step 8) but have not been able to do it.
Please I need assistance.
Thank you.

[2021-04-11 22:05] smlambert commented on #2483
By the looks of @Mesbah-Alam 's description, the background here is that we could use wget or curl as a way to download stuff, but we only want and need 1 way.

to address this issue, you will edit https://github.com/adoptium/STF/blob/master/stf.build/include/top.xml to:
- remove check-for-wget target https://github.com/adoptium/STF/blob/master/stf.build/include/top.xml#L366-L374
- remove the if="

[2021-04-12 05:06] SAY-droid427 commented on #2483
@smlambert Thank you so  much for the detailed explanation. I will try to do the changes and create a draft PR and then ask for further help!

[2021-04-12 05:50] SAY-droid427 commented on #2483
@smlambert There are many instances of download-tool and download-tool-srcfile-option as shown in the image below. What changes should I make to them?
![STF](https://user-images.githubusercontent.com/59281636/114346439-1c21dd80-9b81-11eb-87e3-b91e94e6cf19.png)

[2021-04-12 06:07] 2001asjad commented on #2482
Hello @smlambert , can you please elaborate a bit more about it, like how are we gonna enhance the workflow.
Thank You

[2021-04-12 14:20] sxa commented on #2401
- 2x [linux&&x64](https://ci.adoptopenjdk.net/label/ci.role.perf&&linux&&hw.arch.x86/) (Quad Atom C2550 @ 2.4GHz, 8GB)
- 2x [linux&&ppc64le](https://ci.adoptopenjdk.net/label/ci.role.perf&&linux&&hw.arch.ppc64le/) (Quad POWER8 3.4GHz, ~8GB RAM)
- 4x [linux&&s390x](https://ci.adoptopenjdk.net/label/ci.role.perf&&linux&&hw.arch.s390x/) (Quad s390x, 8GB RAM)
- 1x [linux&&aarch64](https://ci.adoptopen

[2021-04-12 14:28] sxa commented on #2401
Given the above, I think we're covered on all platforms so we can make the change you described to the jenkinsfile described above :-)

[2021-04-12 14:42] brngylni commented on #1744
Here is the report that contains the answers of "other considerations/questions" :

[report1.pdf](https://github.com/AdoptOpenJDK/openjdk-tests/files/6297543/report1.pdf)

[2021-04-12 14:50] lumpfish commented on #2360
Dup of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1992

[2021-04-12 14:50] #2360 closed

[2021-04-12 15:59] sophia-guo commented on #2439
Could you paste error you got so we can take a look at?

[2021-04-12 16:40] lumpfish commented on #2357
I think this affects a few tests and is being seen when tests are running on docker images:
Failing test run:https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.openjdk_x86-64_linux/16/consoleFull
To rerun:  https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=openj9&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLATFORM=x86-64_linux_mixed&TARGET=jdk_imageio_0
Machine: t

[2021-04-12 16:46] sxa commented on #2357
Thanks - attaching to https://github.com/AdoptOpenJDK/openjdk-tests/issues/2138

[2021-04-12 18:15] smlambert commented on #2076
A good example of a suite to try and incorporate under this work is:
https://github.com/micrometer-metrics/micrometer

[2021-04-12 20:51] Annysah commented on #2446
Hello @smlambert,
From the quoted text above, it shows a link to the wycheproof repository mentioned in the wycheproof README.md file.
 Can you please point me to the thorntail-mp-tck repository so I can include it in the docs.
Thank you!

[2021-04-12 21:03] smlambert commented on #2482
Hi @2001asjad - yes this one is shy of details, but you can see on https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/.github/workflows/runAqa.yml#L35 that the parsing of arguments is handled TKG/scripts/testBot/runAqaArgParse.py which by looking at that script, you can see at [L52](https://github.com/adoptium/TKG/blob/master/scripts/testBot/runAqaArgParse.py#L52) that there is a set of acc

[2021-04-12 23:38] smlambert commented on #2446
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/external/common_functions.sh#L407

https://github.com/thorntail/thorntail.git

[2021-04-13 00:04] smlambert commented on #2483
@Mesbah-Alam - can you give @SAY-droid427 some extra guidance please?

[2021-04-13 01:29] yadongw commented on #2391
Unfortunately, it's also difficult for us to access the risc-v boards. As far as I know, the HiFive Unleashed is discontinued and the stock is extremely low, and the Hifive Unmatched is delayed due to component shortages.

[2021-04-13 03:54] vanichitkara commented on #2484
Hi, I'd like to work on this issue. Can I be assigned with it? Thanks!

[2021-04-13 04:59] benny-coy commented on #2440
@smlambert
Please, is there anything I still have to do concerning this issue?

[2021-04-13 05:12] benny-coy commented on #2420
Please @smlambert
Can I work on this issue?

[2021-04-13 07:10] codeupall commented on #2439
below is the error message.
============================

shecodes@shecodes-ThinkPad-L440:~$ cd openjdktests
bash: cd: openjdktests: No such file or directory
shecodes@shecodes-ThinkPad-L440:~$ export TEST_JDK_HOME
shecodes@shecodes-ThinkPad-L440:~$ git clone https://github.com/AdoptOpenJDK/openjdk-tests.git
Cloning into 'openjdk-tests'...
remote: Enumerating objects: 9, done.
remote: Counting obj

[2021-04-13 07:12] codeupall commented on #2439
below is the error message:

shecodes@shecodes-ThinkPad-L440:~/openjdk-tests/TKG$ export EXTRA_DOCKER_ARGS="-v$TEST-JDK-HOME:/opt/java/openjdk"
shecodes@shecodes-ThinkPad-L440:~/openjdk-tests/TKG$ makefile
makefile: command not found
shecodes@shecodes-ThinkPad-L440:~/openjdk-tests/TKG$ make compile
makefile:20: *** Please provide TEST_JDK_HOME value..  Stop.
shecodes@shecodes-ThinkPad-L440:~/openj

[2021-04-13 09:17] SAY-droid427 commented on #2483
@Mesbah-Alam It would be very helpful if you could please guide me a bit on the above problem! Thanks!

[2021-04-13 09:17] adamfarley opened #2500 "extended.perf: several renaissance tests fails across all platforms and VMs on JDK16+"
**Describe the bug**
Test failure within a handful of seconds. Symptoms can vary, but always include this error message:

[code]

Passes almost always on JDK11 and below, and shows no sign of this failure message when it does fail.

**To Reproduce**
Run a JDK16 or 17 test grinder for perf on the target renaissance-chi-square or renaissance-chi-square_0 (any platform/VM).

**Expected behavior**
Tes

[2021-04-13 09:21] SAY-droid427 commented on #2387
Hi @smlambert! Can this issue be assigned to me as an Outreachy applicant?

[2021-04-13 09:35] adamfarley commented on #2500
Same error seen on other renaissance tests. List of test targets and examples below.

renaissance-log-regression_0
JDK17 HS - https://trss.adoptopenjdk.net/output/test?id=60736ea647db975731f38643

renaissance-gauss-mix_0
JDK17 HS - https://trss.adoptopenjdk.net/output/test?id=60736ea647db975731f38642

renaissance-als_0
JDK17 HS - https://trss.adoptopenjdk.net/output/test?id=60736ea647db975731f3864

[2021-04-13 11:31] gdams opened #2501 "Need to add macOS Arm64 spec"
As shown in https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk/job/jdk-mac-arm64-hotspot_SmokeTests/8/console

[code]

[2021-04-13 12:30] gdams commented on #2501
I've temporarily added `sw.os.osx hw.arch.arm64 ci.role.test` to the build machines until we have more hardware

[2021-04-13 13:35] sophia-guo commented on #2439
Did you do `export TEST_JDK_HOME=</pathToWhereYouInstalledSDK>` ?

[2021-04-13 15:37] codeupall commented on #2439
Yes, but I did not get any response. I will have to try again.
Thanks

[2021-04-13 18:29] adamfarley commented on #2500
Since this fails 100% of the time across all platforms on JDK16 and 17, I'm excluding these until a fix has been chosen and implemented.

[2021-04-13 18:30] adamfarley commented on #2500
auto exclude test renaissance-chi-square version=16+

[2021-04-13 18:30] adamfarley commented on #2500
auto exclude test renaissance-log-regression version=16+

[2021-04-13 18:32] adamfarley commented on #2500
auto exclude test renaissance-chi-square ver=16+

[2021-04-13 18:33] adamfarley commented on #2500
auto exclude test renaissance-log-regression ver=16+

[2021-04-13 18:33] adamfarley commented on #2500
auto exclude test renaissance-gauss-mix ver=16+

[2021-04-13 18:33] adamfarley commented on #2500
auto exclude test renaissance-als ver=16+

[2021-04-13 18:34] adamfarley commented on #2500
auto exclude test renaissance-movie-lens ver=16+

[2021-04-13 18:34] adamfarley commented on #2500
auto exclude test renaissance-db-shootout ver=16+

[2021-04-13 18:36] sxa commented on #2357
Haven't managed to properly look at this today other than trying l grinders on a real and dockerised Ubuntu of the same level. Will aim to continue tomorrow

[2021-04-13 19:08] smlambert commented on #2500
It may have been preferable to use the existing issues for disabling these, but I will close them as a dups of this single new issue which will remain open while tests remain excluded (since this issue is the one referenced in the playlist's disabled comment.

https://github.com/AdoptOpenJDK/openjdk-tests/issues/2253
https://github.com/AdoptOpenJDK/openjdk-tests/issues/2254

[2021-04-13 19:08] smlambert commented on #2253
Close in favour of https://github.com/AdoptOpenJDK/openjdk-tests/issues/2500

[2021-04-13 19:08] #2253 closed

[2021-04-13 19:09] smlambert commented on #2254
Close in favour of https://github.com/AdoptOpenJDK/openjdk-tests/issues/2500

[2021-04-13 19:09] #2254 closed

[2021-04-13 19:12] #2449 closed

[2021-04-13 19:31] smlambert commented on #2484
Yes, defininitely @vanichitkara !

[2021-04-13 19:32] smlambert commented on #2387
For sure @SAY-droid427 !

[2021-04-13 19:40] smlambert commented on #2420
Please do @benny-coy - instructions are in this comment https://github.com/AdoptOpenJDK/openjdk-tests/issues/2420#issuecomment-809815966

[2021-04-13 19:44] smlambert commented on #2440
Closed via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2480

For future reference, if you would have put Fixes #2480 in the comment of the PR, this issue would have been automatically closed when the PR was merged

[2021-04-13 19:44] #2440 closed

[2021-04-13 19:49] smlambert commented on #2500
So, given this is a newly reported issue, does https://github.com/AdoptOpenJDK/openjdk-tests/pull/2468 not resolve the error listed in the description?  `module java.base does not "opens java.util" `

Or do these tests now failing with a different error, as reported in #2253?

[2021-04-13 20:58] Mesbah-Alam commented on #2483
Hi @SAY-droid427 ,

Thanks for working on this!

Yes, since we are are no longer supporting two different download tools and only going with `curl` on all platforms, you may hard-code `curl` directly wherever ${download-tool} is referenced.

Also, note that,  `${download-tool-security-options}` and ${download-tool-srcfile-option}`  properties should also be removed. And references of `${download-t

[2021-04-14 01:25] smlambert commented on #2444
If you have any questions, please ask @roli25 !

[2021-04-14 01:31] smlambert commented on #2439
that message means that you have not set the TEST_JDK_HOME environment variable.

If you haven't already downloaded a JDK binary, then download one from our website (adoptopenjdk.net, click the big blue button to get latest jdk11 release):
<img width="476" alt="Screen Shot 2021-04-13 at 5 22 30 PM" src="https://user-images.githubusercontent.com/2836948/114623214-f2e67780-9c7c-11eb-9e4f-1b57f5ae83c

[2021-04-14 02:44] smlambert commented on #2501
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/55/console - will have to add some prints in the setup stage to understand why it (silently) fails...

[2021-04-14 06:55] codeupall commented on #2439
Thank you sir, this is very helpful.

[2021-04-14 11:56] smlambert commented on #2501
How to address this issue is to add a section in the [PLATFORM_MAP in the openjdk_tests](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/openjdk_tests#L7) file for this platform,

[code]

**📋 Step by Step**

To solve this issue and contribute a fix you should check the following step-by-step list. A more detailed documentation of the workflow can be found [here](https://

[2021-04-14 12:14] SAY-droid427 commented on #2483
@Mesbah-Alam Thank you so much for the detailed explanation! I will make the necessary changes and let you know if I have more doubts!

[2021-04-14 12:18] gdams commented on #2501
@ShelleyLambert looks like you were pointing it at the wrong job number, trying again here: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/61/console

[2021-04-14 13:21] gdams commented on #2501
Another test with `JDK_REPO` set correctly: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/63/console

[2021-04-14 14:29] smlambert commented on #2501
Great, Grinder/63 passed.  Though we still need to merge in a PR - those Grinders were running off of my branch, no PR created yet.

[2021-04-14 14:35] gdams commented on #2501
PR created here https://github.com/AdoptOpenJDK/openjdk-tests/pull/2509

[2021-04-14 14:35] #2501 closed

[2021-04-14 14:47] SAY-droid427 commented on #2387
Hi @smlambert! Thanks for assigning the issue to me. Could you please explain the steps I should follow to solve this issue? Thank you!

[2021-04-14 15:09] smlambert commented on #2501
ha, ok thanks for the fix @gdams, but now you owe me a "[good first issue](https://github.com/orgs/AdoptOpenJDK/projects/2)" that can be offered to the 50+ Outreachy candidates.  ;)

[2021-04-14 15:23] #2446 closed

[2021-04-14 16:07] smlambert opened #2511 "Prototype a 'rerun' script"
User story:
As a developer, I want to recreate a test failure that was reported 2 months ago.  I know which JDK binary was being tested, and I have downloaded and installed that binary locally on my machine.  I want to set up the same set of test material that was used 2 months ago.  I have the SHA.txt file from that test run from 2 months ago.  How do I setup the correct test material so that I c

[2021-04-14 16:08] sxa commented on #2357
It's not specific to any particular docker image - seen on Ubuntu and Fedora ones

[2021-04-14 16:25] smlambert commented on #2511
Some additional reference:
SHA.txt files are produced by test runs in Jenkins (an example: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/73/artifact/openjdk-tests/TKG/SHA.txt) where contents look like:
[code]

Rerun links are generated by the parameters passed in, in fact more than 1 rerun link is created.  Rerun link is a convenience to prepopulate the parameters used in a job, and al

[2021-04-14 16:34] sxa commented on #2357
As Andreas suggested, adding `fontconfig` has allowed it to pass on [Fedora](https://ci.adoptopenjdk.net/job/Grinder/75/) and [Ubuntu](https://ci.adoptopenjdk.net/job/Grinder/76/). I'll get that deployed to all the docker systems and added into the playbooks.

[2021-04-14 16:39] adamfarley commented on #2500
Shelley - #2468 was merged on the 8th, and this issue is seen [here](https://trss.adoptopenjdk.net/output/test?id=60736ea647db975731f38645) on the 12th. So I don't think that fix resolves the problem we're seeing here.

The problem reported at the start of 2253 looks similar to this, but I can't tell if the problems mentioned in [this comment](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2

[2021-04-14 16:57] sxa commented on #2143
I think I only have one NUMA-capable host system (It's a 2.2GHz Intel Xeon Gold 5120). It currently has six docker images on it. I've confirmed (By starting another instance of the Fedora33 docker image with `--cap-add=sys_nice` and [re-running the test](https://ci.adoptopenjdk.net/job/Grinder/82/)) that the test appears to pass on there, so to resolve this I'll need to quiesce them, then shut the

[2021-04-14 17:44] sxa commented on #2143
Although there were more containers deployed on the machine, only three have been active in jenkins, therefore I have restarted and tested those: [#87](https://ci.adoptopenjdk.net/job/Grinder/87) [#88](https://ci.adoptopenjdk.net/job/Grinder/88) [#89](https://ci.adoptopenjdk.net/job/Grinder/89) so the outstanding discussion is over whether we want to leave the machines with the `sys_nice` option,

[2021-04-14 19:09] codeupall commented on #2439
Sorry for disturbing sir.
am in step 9 and I got this error

$ make _openliberty_microprofile_tck*
JAVA_HOME is set to /usr/lib/jvm/java-11-openjdk-amd64
make -f makeGen.mk AUTO_DETECT= MODE=tests TESTTARGET=openliberty_microprofile_tck* TESTLIST=
make[1]: Entering directory '/home/shecodes/openjdk-tests/TKG'
perl scripts/configure.pl
/usr/lib/jvm/java-11-openjdk-amd64/bin/java -cp "./bin/TestKitG

[2021-04-14 19:15] smlambert commented on #2439
You have a * at the end of the testCaseName, please try running a single target as defined in the playlist file:
make _openliberty_microprofile_tck

You could also try running
make _sanity.external

and see what happens... TKG should look in the playlist.xml file and find any test that matches those tags and is applicable to the TEST_JDK_HOME you are using.

[2021-04-14 19:17] smlambert commented on #2439
Also, you do not need to be formal and call anyone sir at the project :) we are all colleagues.  You made good progress here!

[2021-04-14 19:36] smlambert commented on #2387
Hi @SAY-droid427 - a few things you can do to start with:

- try to reproduce this failure locally (by checking you have no java in your PATH environment variable and then loosely following these [general steps](https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally#general-steps) with setting BUILD_LIST=system and  TEST_JDK_HOME to something you have installed from adoptopenjdk.

[2021-04-14 20:10] smlambert commented on #2200
Closing this as completed.

[2021-04-14 20:10] #2200 closed

[2021-04-14 20:12] smlambert commented on #2186
Closing this as completed.

[2021-04-14 20:12] #2186 closed

[2021-04-14 20:17] smlambert commented on #2238
Closing as completed via https://github.com/AdoptOpenJDK/openjdk-tests/pull/2464, thanks @patkarns !

[2021-04-14 20:17] #2238 closed

[2021-04-14 20:27] smlambert commented on #2477
Closed via #2499

[2021-04-14 20:27] #2477 closed

[2021-04-15 11:56] lumpfish commented on #2350
Also seen on jdk8 ppcle_linux and s390x_linux:
[code]

[2021-04-15 12:19] SAY-droid427 commented on #2483
@smlambert @Mesbah-Alam @llxia I have made a [pull request](https://github.com/adoptium/STF/pull/112) with the changes. Please review it and let me know if I have gone missed anything else. Thank you!

[2021-04-15 12:25] SAY-droid427 commented on #2483
![Eclipse](https://user-images.githubusercontent.com/59281636/114868481-949fcd00-9e13-11eb-90ed-eec13c877795.png)

May I ask what is this agreement? Do I need to create an account on Eclipse?

[2021-04-15 12:43] SAY-droid427 commented on #2387
@smlambert Thank you so much for the detailed explanation! I will try to reproduce the bug locally and reach out to you for help if I get stuck. Would you suggest that I take a short video tutorial on Apache ant for better understanding of the project or is the tutorial you have mentioned enough?

[2021-04-15 13:50] adamfarley opened #2514 "Various Test Target issues in extended.perf openj9 test run on aix"
**Describe the bug**
This is a brain-dump bug containing several issues seen in a [single aix extended.perf](https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.perf_ppc64_aix/15/) run over the weekend.

These issues will be listed below, in order of occurrence, and issues raised in the correct repositories.

1) There was a stack overflow during execution of the renaissance-als_0 test targe

[2021-04-15 14:28] lumpfish commented on #2350
Some more investigation:
1. The test fails on `test-osuosl-ubuntu1604-ppc64le-2` but passes on ` test-osuosl-centos74-ppc64le-1`.
2. When the test fails, there is an additional exception (Connection refused) in the test output.  This is not reported as a test failure, but may provide a clue as to why the later error occurs:
[code]

[2021-04-15 18:29] smlambert commented on #2387
Ant is used to compile java test material in our project.  Make/gmake used for compiling native test material.  Having basic understanding of how things are built is useful, but running things directly and trying to make changes is like more useful for understanding.

[2021-04-15 18:33] smlambert commented on #2483
Yes please do.  Because we are in the process of moving all of our repositories into Eclipse Foundation (under the adoptium github organization), anyone making contributions to repos in that organization need to create an Eclipse account and sign the [ECA](https://www.eclipse.org/legal/ECA.php) agreement.

[2021-04-15 22:52] benny-coy commented on #2420
@smlambert  thank you for the corrections. I have make the corrections, i had to delete the README.md & test.properties from the external payara-mp-tck folder before it stopped showing resolve conflict. and i was using the Openjdk-test repository i cloned to my machine to work and then push to my github account and then i will make PR.
why must i have to delete those files before it stopped showin

[2021-04-16 09:48] gdams commented on #2501
@sophia-guo I was stupidely cross-compiling the x64 version.

An updated build shows the correct output:

[code]

[2021-04-16 10:18] SAY-droid427 commented on #2483
@smlambert Done

[2021-04-16 13:32] SAY-droid427 commented on #2483
@smlambert Could anyone please help me in testing the changes by pointing a Grinder? Thanks!

[2021-04-16 13:39] Mesbah-Alam commented on #2483
@SAY-droid427 , Hi, yes, I'll take care of testing your changes.

[2021-04-16 13:41] smlambert commented on #2483
I will add @SAY-droid427 to a Github team that can run a Grinder, and in this way @Mesbah-Alam - once you run the first Grinder, perhaps you can show how to rebuild it.

[2021-04-16 14:18] brngylni commented on #2511
Hey, I can work on it.

[2021-04-16 16:11] codeupall commented on #2439
Good day house
Am still not getting my tests passed.

shecodes@shecodes-ThinkPad-L440:~/openjdk-tests/TKG$ make compile
JAVA_HOME is set to /usr/lib/jvm/java-11-openjdk-amd64
rm -f -r /home/shecodes/openjdk-tests/TKG/../TKG/output_compilation; \
mkdir -p /home/shecodes/openjdk-tests/TKG/../TKG/output_compilation; \
(ant -f ./scripts/build_tools.xml -DTEST_JDK_HOME=/usr/lib/jvm/java-11-openjdk-amd6

[2021-04-16 16:24] codeupall commented on #2439
From make compile, I felt it failed to build, but am seeing passed after all.
Am I on the right track?

[2021-04-16 16:50] Mesbah-Alam opened #2519 "Add system test repo specific fields to grinder job template"
We need to add the following three system test repo specific fienls to grinder job template :

|Field Name| Description| Default value |
|--|--|--|
|ADOPTOPENJDK_SYSTEMTEST_OWNER_BRANCH | Personal Adoptopenjdk/openjdk-systemtest repository owner:branch | AdoptOpenJDK:master|
|OPENJ9_SYSTEMTEST_OWNER_BRANCH|Personal eclipse/openj9-systemtest repository owner:branch | eclipse:master|
| STF_OWNER_BRA

[2021-04-16 18:12] smlambert commented on #2439
Based on

I suspect you do not have antcontrib installed

you are on the right track... can you make sure you have antcontrib installed (its one of the [prereqs](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/doc/Prerequisites.md) listed in step 0 of the README instructions you added)

[2021-04-17 05:50] 2001asjad commented on #2519
Hi can you please tell me more about this issue so that I can work on it like what files to look etc, @Mesbah-Alam @ShelleyLambert @llxia .
Thank You.
PS: I am an Outreachy applicant

[2021-04-18 13:22] SAY-droid427 commented on #2387
@smlambert I am a bit stuck while installing the pre-reqs on my new laptop(using Linux). I have checked that  I have no java in my PATH environment variable. I have installed Apache-ant 1.10.5 version using apt and also downloaded the ant-contrib1.05b. The ant has been downloaded to the usr/bin/ant. But how do I link the ant-contrib? I had been following these steps :[http://ant-contrib.sourceforg

[2021-04-18 14:04] smlambert commented on #2387
For installing ant-contrib, I believe its just a matter of putting the ant-contrib-1.05b.jar file in the lib directory of your ant installation.

Alternatively, if you are on Ubuntu 18.04, perhaps you can try to use the same steps used to set up a ubuntu based test container? https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/docker/Dockerfile#L36-L39

For this issue, to recreate t

[2021-04-18 14:44] SAY-droid427 commented on #2387
Yes, I had understood that but the problem is I am unable to find the ant directory. I have run the command `which ant` and found that it is in `/usr/bin/ant`. But when I moved to the location I donot find any folder containing lib directory.

[2021-04-18 18:30] smlambert commented on #2387
Perhaps then try the alternate approach of using apt-get update && install for ant and ant-contrib
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/docker/Dockerfile#L39 ?

[2021-04-18 20:59] smlambert commented on #2519
Hi @2001asjad - the changes required to address this issue is to add these parameters with their descriptions and default values (as mentioned in the table above) into the testJobTemplate file just after the [TKG_SHA parameter](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/testJobTemplate#L227).  You can see based on the other parameters being set in this file the patt

[2021-04-18 23:27] codeupall commented on #2439
Am really stuck with these errors.

Buildfile: /home/shecodes/openjdk-tests/TKG/scripts/build_tools.xml
  [taskdef] Could not load definitions from resource net/sf/antcontrib/antlib.xml. It could not be found.

build:
  [taskdef] Could not load definitions from resource net/sf/antcontrib/antlib.xml. It could not be found.

clean:
  [taskdef] Could not load definitions from resource net/sf/antcontr

[2021-04-18 23:59] smlambert commented on #2439
Hi @codeupall - Please make a PR with your changes.  I will plan to merge your changes even if you are not able to run the tests locally.

The ant-contribxxx.jar file needs to be in the lib dir of the ant installation that you have for it to be found and work.

[2021-04-19 00:00] 2001asjad commented on #2519
Thank You @smlambert and yeah I definitely wanna work on this issue, please assign this to me.
Gonna update you soon with a PR.
Once again thank you so much for providing the info above.

[2021-04-19 02:24] SAY-droid427 commented on #2387
Yes I will get this to work! Thank you for the help!

[2021-04-19 09:44] andrew-m-leonard opened #2520 "Test_openjdk11_j9_extended.functional_x86-64_windows sometimes Aborting after 10hrs"
https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.functional_x86-64_windows/
Possibly an infra problem? although doesn't seem to be perculiar to a given node

[2021-04-19 10:33] codeupall commented on #2439
Am being denied access to push to the git repo

[2021-04-19 11:35] 2001asjad commented on #2519
Made a PR, @smlambert can you please take a look. Eagerly waiting for your suggestions

[2021-04-19 11:39] smlambert commented on #2137
auto exclude test jdk_imageio

[2021-04-19 11:43] smlambert commented on #2137
auto exclude test jdk_imageio plat=.*mac.*

[2021-04-19 14:03] SAY-droid427 commented on #2387
I have solved this issue,  by re-installing ant manually. I will run the tests locally now and continue the work on this issue! Thank you

[2021-04-19 15:10] Martins-O-U commented on #2076
@karianna this looks interesting and I'd like this assigned to me please. @smlambert kindly assist by sharing some more clarifications (and perhaps reading links) on how the example-test can be re-purposed to function as a generic target.

[2021-04-19 15:15] lumpfish commented on #2351
The test only fails on jdk8.

The test expects a `SocketTimeoutException` or `SSLHandshakeException`, which is what is thrown on jdk11+, but on jdk8 `SSLException` is thrown.

jdk8 output (test fails):

13:57:22  STDERR:
13:57:22  java.lang.RuntimeException: Test failed
13:57:22  	at DeadServerTimeoutSSLTest.fail(DeadSSLLdapTimeoutTest.java:94)
13:57:22  	at DeadServerTimeoutSSLTest.handleNamingEx

[2021-04-19 16:08] smlambert commented on #2076
hi @Martins-O-U - I have assigned you.  Please take a look at the changes in https://github.com/AdoptOpenJDK/openjdk-tests/compare/master...smlambert:external_custom (ignoring Jenkinsfilebase and openjdk_tests file changes).  You can use the changes in my branch as a starting point.

[2021-04-19 17:40] smlambert commented on #2387
Great to hear @SAY-droid427, thanks for persevering !

[2021-04-19 17:49] smlambert commented on #2439
As we are in the middle of transitioning all of our code repos to Eclipse Foundation (under the Adoptium github organization) I suspect this is related.  TKG repo has been moved to https://github.com/adoptium/TKG

[2021-04-19 17:51] smlambert commented on #2439
when are you getting that error?  when trying to run locally?

Make sure you are in the main level of the openjdk-tests repo (not inside of the TKG repo that gets cloned for local runs), when you try and push.

[2021-04-20 01:27] smlambert commented on #2024
I will close this as completed, minor fixes for now incorporated smoke tests are being done via fresh issues in the openjdk-build repo.

[2021-04-20 01:27] #2024 closed

[2021-04-20 01:39] smlambert commented on #1051
Closing this.  We have decided to reduce testing on this platform/impl/version as it has no JIT.

[2021-04-20 01:39] #1051 closed

[2021-04-20 10:49] lumpfish commented on #2349
Running some grinders I only saw it failing on linux (not Windows or Mac)

On linux, the test fails on some machines but not others.

For jdk8, these are some grinder results:
[code]

From this we can see that for x86-64_linux the test passed on test-packet-ubuntu1604-x64-3 (hotspot) but failed on test-docker-fedora33-x64-1 (openj9).  When the test was rerun on test-docker-fedora33-x64-1
with hots

[2021-04-20 13:52] lumpfish opened #2527 "TARGET=jdk_custom and PARALLEL=Dynamic executes incorrect openjdk test"
If a Grinder test is run with `TARGET=jdk_custom` and `CUSTOM_TARGET=path_to_openjdk_test` the test which is actually executed is `java/math/BigInteger/BigIntegerTest.java`, not the requested `path_to_openjdk_test`

This situation has arisen in two use cases:
1. If a grinder is run with `TARGET=jdk_custom`, then if the test fails the rerun command specifies `TARGET=jdk_custom_n` rather than `TARGE

[2021-04-20 14:22] smlambert opened #2528 "Investigate license requirements for several MBCS data files"
AIX_ko_KR.IBM-eucKR.txt
AIX_KO_KR.UTF-8.txt
Linux_ko_KR.UTF-8.txt
BreakIteratorTest.out
win_ko.txt

Contain the following license/copyright statement:

IMdkit&#47484; &#51228;&#50808;&#54620; &#48512;&#48516;&#51008;
&#54889;&#52824;&#45909;&#50640;&#44172; &#51200;&#51089;&#44428;&#51060;
&#51080;&#51004;&#47728; &#51060;&#51032; &#49324;&#50857;&#51008;
GPL&#50640; &#46384;&#46972;&#50556;&#5463

[2021-04-20 14:29] sxa opened #2529 "Grinder re-run links at the end of job logs are faulty"
(Good first issue? I don't think I've seen this covered in another issue - apologies if it has already been formally raised)

**Describe the bug**
When a job runs and tests fails, there are Grinder re-run links after the results summary in the log - it is expected that these will "just work" to re-run the failing parts of the test but they do not

**To Reproduce**
One example from https://ci.adopt

[2021-04-20 14:50] llxia commented on #2527
For debugging ONE specific test, please use PARALLEL = NodesByIterations, not Dynamic .

By using Dynamic, the test pipeline expects to distribute a group of tests into a minimal number of machines. In this case, there is only one test (2 variations), so it only uses 2 machines (instead of user-specified 5 machines). This is the optimal distribution as there are only two variations for this test.

[2021-04-20 15:35] takiguc commented on #2528
@smlambert
Thank you for your notification.
These are data files for BreakIterator testcase on Korean locale.
I'll check them with my co-workers and get back to you.

[2021-04-20 16:23] smlambert commented on #2529
My response was out of exasperation/fatigue (similar response when being barked at by attack dogs).  Agree that simplification (which can be removal) and/or improvements can be made in this area.  Did not have the energy to give this detailed response to the complaints in [infra/1992](https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1992), simply chose to create https://github.com/ado

[2021-04-20 20:12] smlambert commented on #2529
TKG is 'doing what it is told' by being parsing the https://github.com/adoptium/TKG/blob/master/resources/buildPlatformMap.properties file and determining the platform to be _xl, _mixed, based on how it was decided to handle the openj9 transition from having 2 separate builds, to one build.  (See related: https://github.com/eclipse/openj9/issues/9231#issuecomment-733929968)

There is an additional

[2021-04-21 01:01] smlambert commented on #2155
System memory 259522560 must be at least 471859200.

Please increase heap size using the --driver-memory option or spark.driver.memory in Spark configuration.

Someone should attempt to rerun with this option and see how these tests behave.

[2021-04-21 07:28] vanichitkara commented on #2484
Hi! I was working on the issue and noticed that getDependencies.pl file is in Perl and I'm not familiar with Perl at all. CanI get some help regarding this issue? Thanks!

[2021-04-21 14:40] smlambert commented on #2223
Closing as complete (tests enabled in build pipelines).

[2021-04-21 15:11] lumpfish commented on #2355
Also seen on test-macstadium-macos1014-x64-3: https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_x86-64_mac/33/consoleFull
Build
[code]
Output of failing test:
[code]

[2021-04-21 15:17] lumpfish commented on #2356
Also seen on openj9 winx86-64, machine build-ibmcloud-win2012r2-x64-2
[code]
[code]

[2021-04-21 15:25] smlambert commented on #2218
Need to update the exclude to point at the openj9 issue so that this can be closed.

[2021-04-21 15:29] lumpfish commented on #2350
Also seen on s390x_linux, openj9 jdk8, test-marist-ubuntu1604-s390x-3, https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_s390x_linux/22/consoleFull.  Same connection refused message:
[code]

[2021-04-21 19:58] smlambert commented on #2256
We can update the exclude for this test, to change the comment to https://github.com/eclipse/openj9/issues/11942 and close this issue.

[2021-04-22 09:59] lumpfish opened #2533 "jdk/dynalink/TypeConverterFactoryMemoryLeakTest.java incompatible with openj9"
jdk/dynalink/TypeConverterFactoryMemoryLeakTest.java was added to jdk-16.0.1 and committed on Mar 4 2021.

It assumes the VM being run is hotspot and fails when run against openj9.  The test should be excluded from running against openj9.

Output of the failing test:
[code]

[2021-04-22 12:42] smlambert commented on #1211
Next step to do for this issue:

Run these tests locally (based on the [run external tests locally instructions](https://github.com/AdoptOpenJDK/openjdk-tests/tree/master/external#running-external-tests-locally)) and see if the same errors are seen.

Report back to this issue on the findings.  Based on the findings, we will take next steps to triage the failures further.

[2021-04-22 12:45] smlambert commented on #1211
In order to make it easier to triage these tests, it will be useful to address part of https://github.com/AdoptOpenJDK/openjdk-tests/issues/976 for the scala tests, so that the test results are mapped outside of the container into a local drive, so they can be browsed more easily after the test run.

[2021-04-22 12:45] SAY-droid427 commented on #2387
Hi @smlambert
On executing the `make_compile` command in my terminal, I faced this issue.
`JAVA_HOME is set to /usr/lib/jvm/java-11-openjdk-amd64/bin/java
rm -f -r /home/sayani/Desktop/openjdk-tests/TKG/../TKG/output_compilation; \
mkdir -p /home/sayani/Desktop/openjdk-tests/TKG/../TKG/output_compilation; \
(ant -f ./scripts/build_tools.xml -DTEST_JDK_HOME=/usr/lib/jvm/java-11-openjdk-amd64/bin/ja

[2021-04-22 14:55] takiguc commented on #2528
@smlambert
We created new Korean data files against i18n.
Also we found regex testcase had same kind of issue.
So we created new Korean data files against regex.

[2021-04-22 15:21] lumpfish opened #2535 "jdk16 aix java/nio/channels/DatagramChannel/SendReceiveMaxSize.java timeout or java.net.SocketException"
jdk16 aix extended.openjdk java/nio/channels/DatagramChannel/SendReceiveMaxSize.java fails.

First failure seen (test machine test-osuosl-aix72-ppc64-2) was a 960s timeout, a rerun (test machine test-ibm-aix71-ppc64-1) failed with
[code]

Build:
[code]
Timeout failure output:
[code]
java.net.SocketException failure message:
[code]

[2021-04-22 17:56] smlambert commented on #2528
Thank you for your quick response @takiguc !  We will intend to merge #2534 once we unfreeze this repo after our release activities are complete.

[2021-04-22 18:02] smlambert commented on #2223
Re-opening given: https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_sanity.system_x86-64_alpine-linux/24/ all fail on [test-docker-alpine311-x64-1](https://ci.adoptopenjdk.net/computer/test-docker-alpine311-x64-1/) to compile due to:

[code]

[2021-04-22 18:22] smlambert commented on #2387
no, not quite the same error.

As @sxa reports in the issue description, he sees `Cannot run program "java" (in directory "/tmp/mauve"): error=2, No such file or directory`

Presumably in his environment, there is no java on the PATH.  In your environment, there must be, or you would not be able to type java -version and get version output.  (and since your error says there is no javac, guessing i

[2021-04-23 02:20] SAY-droid427 commented on #2387
Output of printenv:
[code]

Output of `which java`:
[code]
Executing echo $JAVA_HOME gives a blank line.
Executing echo $PATH gives:
[code]

I did not explicitly install OpenJDK11 because Ubuntu18.04 has pre-installed OpenJDK11.

[2021-04-23 13:51] karianna opened #2536 "MBCS_Tests_datetime related formatting test failures on IBM Cloud - RHEL only"
[**Test_openjdk16_hs_special.functional_x86-64_linux**](https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_special.functional_x86-64_linux/14/)
MBCS_Tests_datetime_0 => [deep history 4/5 passed](https://trss.adoptopenjdk.net/deepHistory?testId=608083b551eeb61d64296747) | [possible issues](https://trss.adoptopenjdk.net/possibleIssues?buildId=6080822751eeb61d64295ae7&buildName=Test_openjdk16_hs_speci

[2021-04-23 14:44] smlambert commented on #2225
Raising the priority of this one, seen again here (FYI @Haroon-Khel / @sxa - this is a Grinder on AIX with MBCS_Tests_annotation_Ja_JP_aix test):
https://ci.adoptopenjdk.net/job/Grinder/283/

Looking at console output, the 1 test that was run actually passes, but the TAP plugin is showing 5 tests were run with 2 of them failing (those tap files must be 'leftovers'), which then marks the Jenkins jo

[2021-04-23 14:52] smlambert commented on #2225
Looking at Jenkinsfilebase, as @llxia suggests we should be more specific about where we look for and take the tap files from,  perhaps instead of **/*.tap (see [JenkinsfileBaseL625-648](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L625-L648)), the search for those files to look just in the workspace of the current buildID (like done for parallel runs,

[2021-04-23 16:27] sophia-guo commented on #2225
The build [283](https://ci.adoptopenjdk.net/job/Grinder/283/) was rerun the build [282](https://ci.adoptopenjdk.net/job/Grinder/282/). The build [282](https://ci.adoptopenjdk.net/job/Grinder/282/) was rerun the build [236](https://ci.adoptopenjdk.net/job/Grinder/236/). The two extra tap result files are actually generated the former rerun build 282, 236.

282:
[code]
236:
[code]

283
[code]

Not s

[2021-04-23 18:36] karianna commented on #2484
Recommend asking on our Slack group to get more eyes :-)

[2021-04-23 21:40] sophia-guo commented on #2225
This is actually caused by setting parameter KEEP_WORKSPACE = true, [which will not do cleanWs()](https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L726-L728) when job finishes. By set current job KEEP_WORKSPACE = false and the next job will be good. The fix would be add cleanWs() before build running.

[2021-04-23 23:19] mara-ber commented on #2432
Hi! Could someone take a look at PR, please?
https://github.com/AdoptOpenJDK/openjdk-tests/pull/2538

I know it took too long to get it done and I'm not sure it's done properly. I have no experience with JDK tests and required environment

[2021-04-24 01:53] smlambert commented on #2484
More details:
We want to change how we download a dependency called jtreg.

It is currently being downloaded via the ant script called openjdk/build.xml file (see the ant target called getJtreg at https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/openjdk/build.xml#L30-L79)

But instead of downloading it there, we want to fetch it in the getDependencies.pl script.  Notice that dependencies

[2021-04-24 06:46] SAY-droid427 commented on #2387
@smlambert  I donot have JAVA_HOME set as can be seen:
![JA](https://user-images.githubusercontent.com/59281636/115949995-300cfe00-a4f6-11eb-8e19-adb43bc2b4b9.png)

However I can successfully run the mauve tests. I donot get any errors while running `make compile` or `make  _MauveSingleThrdLoad_HS_5m`.
![make_k](https://user-images.githubusercontent.com/59281636/115950087-cc370500-a4f6-11eb-9d74-1

[2021-04-25 19:21] smlambert commented on #2536
This should be moved to the infrastructure repo, as that is where the fix will be needed.

[2021-04-25 19:25] smlambert commented on #2354
Close as duplicate

[2021-04-25 19:25] #2354 closed

[2021-04-26 14:08] andrew-m-leonard opened #2539 "get.sh: line 300: validate: bad array subscript"
Commit: https://github.com/AdoptOpenJDK/openjdk-tests/commit/a8e7c9bbde47b41e02142bdbc14e0f88cd372589
introduced the usage of bash negative array index, but this only works on some bash versions >=4.2
[code]
Some AdoptOpenJDK nodes don't support it, eg:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/377/console

[2021-04-26 14:08] andrew-m-leonard commented on #2539
@xichen1 fyi

[2021-04-26 17:44] llxia commented on #2539
`test-macincloud-macos1010-x64-2` is used in the above Grinder. This machine does not seem to setup properly. Even if there is no bash issue, it has the problem to find `antlib`.

[code]

[2021-04-26 20:02] smlambert commented on #2539
@sxa - tagging you re: https://github.com/AdoptOpenJDK/openjdk-tests/issues/2539#issuecomment-827027158 - is test-macincloud-macos1010-x64-2 a new machine that is missing dependencies?

[2021-04-26 20:55] sophia-guo commented on #2539
test-macincloud-macos1010-x64-2 is tagged as ci.role.testDISABLED https://ci.adoptopenjdk.net/computer/test-macincloud-macos1010-x64-2/. So regular test jobs won't be assigned to the machine unless using the label to specify to that machine. like https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/390/

[2021-04-27 00:50] #2528 closed

[2021-04-27 00:53] #2225 closed

[2021-04-27 02:57] SAY-droid427 commented on #2387
@smlambert Please take a look at this

[2021-04-27 08:33] sxa commented on #2539
Issue: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1922
As far as I'm aware @gdams was dealing with it: Slack thread [1](https://adoptium.slack.com/archives/C5219G28G/p1613376089087200?thread_ts=1613375658.086000&cid=C5219G28G) [2](https://adoptium.slack.com/archives/C53GHCXL4/p1613137179232200?thread_ts=1613130185.225300&cid=C53GHCXL4)

[2021-04-27 08:34] andrew-m-leonard commented on #2539
Yes as Stewart said, issue AdoptOpenJDK/openjdk-infrastructure#1922
I was just using Grinder on that node to test issue 1922... and happen to find this issue as well...

[2021-04-27 09:35] #2218 closed

[2021-04-27 09:35] #2256 closed

[2021-04-27 11:01] Haroon-Khel commented on #2349
Finding the installed Kerberos version proved to be a little trickier than I thought. On the ubuntu machines, I ran `apt list --installed | grep krb` which showed the version numbers of the installed Kerberos packages. On other machines, the command `krb5-config --version` was able to display the version number. I havent checked the windows machines yet

[code]

[2021-04-27 12:17] Haroon-Khel commented on #2350
Able to recreate this locally on test-marist-ubuntu1604-s390x-3

[2021-04-27 14:58] #2519 closed

[2021-04-27 15:05] smlambert commented on #2387
Hmm, wondering if this issue has already been addressed via some other pull request.

Looking for input from @sxa as he raised the issue and from @Mesbah-Alam as he is familiar with mauve tests and how they are built...  Can either of you make suggestions to @SAY-droid427 to progress this investigation?

[2021-04-27 15:17] Mesbah-Alam commented on #2387
Looking at the [last](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2387#issuecomment-827276792) screen shot above, it looks like the first issue was caused by `javac` compiler not running properly.

@SAY-droid427 - Could you please ensure the JDK you are using contains the `javac` executable? (i.o.w, that you are using a JDK and not merely a JRE?).

[2021-04-27 16:30] SAY-droid427 commented on #2387
I am so sorry, I had quoted the wrong reply @Mesbah-Alam .The javac problem was solved.

[2021-04-27 16:32] SAY-droid427 commented on #2387
@Mesbah-Alam I have been able to successfully run the mauve tests on my Ubuntu machine( I think from the [screenshots](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2387#issuecomment-826045250) attached). But according to the issue I shouldn't be able to run the test successfully.

[2021-04-27 16:36] fjeremic opened #2541 "Improve help text for specifying options to Grinders"
**Describe the bug**
When using the `EXTRA_OPTIONS` or `JVM_OPTIONS` field within a Grinder it is not clear how to specify options which contain the following characters:

- `*`
- `$`
- `(`
- `)`
- Any "special" character which may be interpreted by the shell or various scripts

For Eclipse OpenJ9 developers sometimes need to specify custom JIT options which may look like this:

[code]

You can qu

[2021-04-27 16:53] Mesbah-Alam commented on #2387
@SAY-droid427 - you seem to be running the Mauve tests using the TKG layer, in which case TKG would have been taking care of determining which Java to use to compile the test.

@sxa - Could you please confirm that you were _NOT_ running the Mauve tests using TKG, and instead were using the [systemtest make layer](https://github.com/adoptium/aqa-systemtest/blob/master/openjdk.build/makefile), when

[2021-04-27 18:39] Haroon-Khel commented on #2349
The gss --version command didnt work, any of the machines.
[code]
On the ubuntu machines, the only trace of a `gss` package is `libgssapi-krb5-2`, which has the same version number as kerberos (which ive posted above)

[code]

[2021-04-28 02:46] SAY-droid427 commented on #2387
@Mesbah-Alam I had been using [these](https://github.com/eclipse/openj9/wiki/Reproducing-Test-Failures-Locally#general-steps) general instructions while running the Mauve tests and I think it was using the TKG layer. Could you please tell me how do I use the systemtest make layer? I will start working on it asap! Thank you!

[2021-04-28 02:52] SAY-droid427 commented on #2541
@smlambert @fjeremic Can I solve this issue as an Outreachy applicant although I donot know how to run a Grinder?

[2021-04-28 02:56] Mesbah-Alam commented on #2387
@SAY-droid427 : please follow the instructions here: https://github.com/adoptium/aqa-systemtest

[2021-04-28 03:34] SAY-droid427 commented on #2387
![d](https://user-images.githubusercontent.com/59281636/116341470-9f3c6800-a7fe-11eb-9037-ac89a32c5507.png)

@Mesbah-Alam I guess these  are the steps you asked me to follow? In the 7th instruction, should I run
`make  _MauveSingleThrdLoad_HS_5m` instead of `make test` in the `aqa-systemtest/openjdk.build` in place of `openjdk-systemtest/openjdk.build`?

[2021-04-28 09:22] lumpfish commented on #2470
I reran this test in a 10x grinder on a machine where the failure had been seen previously (build-ibmcloud-win2012r2-x64-2) - all tests passed.
Build:
[code]

[2021-04-28 09:32] lumpfish commented on #2349
Are you saying that test-marist-ubuntu1604-s390x-2X (where the test passes) and test-docker-ubuntu1604-x64 (where the test fails) both have both packages installed, or that one machine has one package installed and the other machine has the other package?

[2021-04-28 09:46] Haroon-Khel commented on #2349
Both machines, passing and failing, have both packages installed.

test-marist-ubuntu1604-s390x-2X
[code]
test-docker-ubuntu1604-x64
[code]

[2021-04-28 10:19] lumpfish commented on #2349
So possibly kerberos 1.16 test passes, 1.17 test fails?

[2021-04-28 10:28] sxa commented on #2349
Some quick notes
- test-packet-ubuntu1604-x64-3 is unpingable because I tried to upgrade it to 18.04 as part of https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1986 and, erm, it didn't go well.
- The Marist machines have undergone some name changes - see https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/2156/files. To list a couple of specifics from earlier, `test-marist-ub

[2021-04-28 10:30] sxa commented on #2350
Note that test-marist-ubuntu1604-s390x-3 is now [test-marist-ubuntu1804-s390x-1](https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1804-s390x-1/ after an OS upgrade) as per https://github.com/AdoptOpenJDK/openjdk-infrastructure/pull/2156 so it may be worth seeing if it still occurs on there or whether the upgrade has had an impact.

[2021-04-28 10:37] lumpfish commented on #2349
My hunch is still that it is a package version issue.  The test failed on `test-osuosl-centos74-ppc64le-2` (not docker).  It also fails on my laptop running a VirtualBox Ubuntu 20.04 (kerberos `Package: libgssapi-krb5-2, Version: 1.17-6ubuntu4.1`).

[2021-04-28 11:26] lumpfish commented on #2350
Looking at the test case code, the `Connection refused` exceptions are expected.  The failing subtest is the `javax.naming.NamingException` (which still occurs on test-marist-ubuntu1804-s390x-1):
[code]

[2021-04-28 12:50] Mesbah-Alam commented on #2387
make _MauveSingleThrdLoad_HS_5m instead of make test in the aqa-systemtest/openjdk.build in place of openjdk-systemtest/openjdk.build?

`test.MauveSingleThreadLoadTest_5m` needs to be run (The associated target is defined [here](https://github.com/adoptium/aqa-systemtest/blob/master/openjdk.build/makefile#L863)).

I guess this is the original problem that this issue is trying to resolve, @sxa  ?

[2021-04-28 13:07] SAY-droid427 commented on #2387
I presumed that I had to set the BUILD_LIST=system and TEST_JDK_HOME explicitly for this issue like [this](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2387#issuecomment-819780727)

[2021-04-28 13:27] Haroon-Khel commented on #2350
The failing test lines are found here https://github.com/ibmruntimes/openj9-openjdk-jdk8/blob/2c626feefcf485843cd2451597dc04eb41b1887f/jdk/test/com/sun/jndi/ldap/LdapDnsProviderTest.java#L194

From the error log, only the 3 `ldap` tests are run and not the `ldaps` tests. (Unless im looking in the wrong test file)

[2021-04-28 15:11] llxia commented on #2541
@SAY-droid427 please see https://github.com/AdoptOpenJDK/openjdk-tests/pull/2488 as an example. We need to update testJobTemplate to add examples in the parameter description.

[2021-04-28 15:28] SAY-droid427 commented on #2541
@lxia Yes, I would like to work on this issue.

[2021-04-28 16:31] smlambert opened #2546 "Improvements to parameter comments in testJobTemplate"
There are several improvements that can be made to the testJobTemplate to further assist a user in understanding the values and format expected for various parameters in a Jenkins test job.

Here is a list of several places in testJobTemplate that could be improved (and assume it would be preferable to include some line breaks to improve readability for longer comments):
- https://github.com/Adopt

[2021-04-28 16:34] #2390 closed

[2021-04-28 16:37] Martins-O-U commented on #2546
Hello @smlambert this looks interesting. I'd like to work on it please assign me.

[2021-04-28 18:27] SAY-droid427 commented on #2541
@lxia Could you please throw some light on what are the examples we need to add?

[2021-04-28 18:35] smlambert commented on #2387
This is the (annoying) problem of having two make layers and being stuck with supporting both.  I had not realized that the issue raised in this openjdk-tests repo was referring to an issue regarding running the systemtest make layer, so I had originally misdirected you @SAY-droid427.

The systemtest make layer does not know anything about a TEST_JDK_HOME (nor does it ever really need to).  What @

[2021-04-28 18:36] llxia commented on #2541
Please feel free to create a PR. I think it is easier to communicate if we can point to specific lines. Thanks

[2021-04-28 18:50] #2432 closed

[2021-04-29 08:43] lumpfish commented on #2350
Only three tests are run in the failing case because the test stops on first failure.
The difference between a failing and passing test run is that for the `Testing: ldap://localhost:111/dc=example,dc=com, localhost:111` input the `com.sun.jndi.ldap.LdapCtx.connect(LdapCtx.java:2849)` call fails when the test passes, but succeeds when the test fails.  In the failing case further code is then execu

[2021-04-29 10:02] sxa commented on #2350
Looks like `rpcbind` is listening on port 111 which would result it in managing to get a connection when it is expecting connection refused:
[code]
I've shut down the `rpcbind` service on [test-marist-ubuntu1804-s390x-1](https://ci.adoptopenjdk.net/computer/test-marist-ubuntu1804-s390x-1/) so we can try on there to determine if that has resolved in, then we can decide on the appropriate course of

[2021-04-29 10:18] lumpfish commented on #2350
The test passes on `test-marist-ubuntu1804-s390x-1` now that the `rpcbind` service has been stopped: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/446/console.

If `111` is a port used by a standard service and the test expects it to be not in use, then the test using a different port would appear to be the best 'fix'.

[2021-04-29 10:57] lumpfish commented on #2350
The jdk11 version of the test uses port `1111` rather than port `111`: https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/test/jdk/com/sun/jndi/ldap/LdapDnsProviderTest.java, so that is why the failure is only seen on jdk8.

[2021-04-29 13:18] llxia opened #2551 "Update github URL in test repos to refer to eclipse-openj9"
The openj9 repos have been moved from https://github.com/eclipse to https://github.com/eclipse-openj9, we should update any github URLs to refer to eclipse-openj9.

https://github.com/eclipse-openj9/openj9
https://github.com/eclipse-openj9/openj9-systemtest

PR for updating openj9 repo: eclipse-openj9/openj9#12592

[2021-04-29 13:23] SAY-droid427 commented on #2551
Hey @llxia May I work on this issue?

[2021-04-29 13:27] preetr22 commented on #2422
Above tests are excluded from execution and hence couldnt be found running in this submission : https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/15095

**java -version tested :**
java version "11.0.11-internal" 2021-04-20
Java(TM) SE Runtime Environment (build 11.0.11-internal+0-adhoc.JENKINS.BuildJDK11s390xzosNightly)
IBM J9 VM (build ibm_sdk-738a799044e, JRE 11 z/OS s390

[2021-04-29 14:21] lumpfish commented on #2535
The test fails on `test-ibm-aix71-ppc64-1` with
[code]
on both openj9 and hotspot (jdk16).

[2021-04-29 17:05] lumpfish commented on #2461
This failure is the same as that described here: https://bugs.openjdk.java.net/browse/JDK-8251466.

I have tested locally that the updated regex proposed there enables the test to pass.

I suggest we exclude the test until the test case is fixed upstream.

[2021-04-29 17:57] llxia opened #2554 "Display *.jtr file for failed tests"
openjdk, jck tests generate *.jtr files. It is useful to display the *.jtr file for debugging purposes. [Jenkins junit plugin](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk8_j9_sanity.openjdk_x86-64_linux/41/testReport/) does show the messages section of this file, but it is useful to have the full content.

- solution 1: parse job output and cat *.jtr file for the failed test

- so

[2021-04-29 21:16] llxia commented on #2511
Future enhancement suggestion:
Instead of getting info from URL and SHA file, does it make sense to auto-generate a rerun script at the end of the failed test build? The rerun script should contain all necessary info (repo, branch, SHA, TARGET, BUILD_LIST, etc). This rerun script can be attached to the issue without requiring additional information from the users.

[2021-04-30 01:17] smlambert commented on #2511
Yes, that is even better @llxia ... that was why we called this a prototype... wanted to see what it looked like to take SHAs and rerun link info and try to run again.  Having it autogenerate and attach as an artifact (and be present in local or automated runs is sweet).

[2021-04-30 03:37] SAY-droid427 commented on #2551
@llxia @smlambert I have made a PR for the issue. Please review it. Thank you!

[2021-04-30 04:23] SAY-droid427 commented on #2387
Yes, I understood the task. I was a bit confused about the two layers, but now it is clear that there are two layers: TKG and systemtest layer. While running in the TKG layer, the mauve tests run successfully, however while running via the systemtest layer, if JAVA_HOME is not set, then we have to check whether the TEST_JDK_HOME is set and if it is set, then we should use it and run the tests succ

[2021-04-30 16:17] smlambert commented on #2546
Removing
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/testJobTemplate#L268 - set a default value to be 'nightly'
https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/buildenv/jenkins/testJobTemplate#L269 - set a default value to be '-v ${TEST_JDK_HOME}:/opt/java/openjdk'

from the set of items to do in this issue, as it appears those are already done.

[2021-04-30 16:39] SAY-droid427 commented on #2551
@lxia Any copyright updates I need to make for the [https://github.com/adoptium/aqa-tests](https://github.com/adoptium/aqa-tests)

[2021-05-03 01:44] LongyuZhang commented on #2551
Repo https://github.com/adoptium/aqa-test-tools is also affected by this move, e.g.  `PossibleIssues.jsx` has [`eclipse/openj9`](https://github.com/adoptium/aqa-test-tools/blob/ae7328238aa86da6aa2a80cc99ab34718839e702/test-result-summary-client/src/Build/PossibleIssues.jsx#L55).

[2021-05-03 11:03] OsamahGharad commented on #2433
@smlambert Done

[2021-05-03 11:35] smlambert commented on #2551
Lan is correct, any of the test repositories under the adoptium github organization do not require the same handling of copyright as those under the eclipse-openj9 organization.

and regarding https://github.com/adoptium/aqa-tests/issues/2551#issuecomment-830983221, we should create issues in each of the test repos for checking and updating references to AdoptOpenJDK now that we have moved all the

[2021-05-03 14:12] #2546 closed

[2021-05-03 14:12] smlambert opened #2558 "Update references to AdoptOpenJDK to Adoptium"
There are some references to Github organizations and repos that need updating in this repository.  Now that all test materials are moved to Adoptium, we should search for and replace the references to any that are no longer valid (even though Github forwarding will mostly handle it, we should update nonetheless).  Org names and repo names need to be searched for and updated.

Test repos moved/ren

[2021-05-03 14:14] 2001asjad commented on #2558
@ShelleyLambert we need to find wherever these names occur in this repo and change them isn't it?

[2021-05-03 14:22] llxia commented on #2558
Related: https://github.com/adoptium/aqa-systemtest/issues/424

[2021-05-03 15:42] SAY-droid427 commented on #2551
@LongyuZhang Should I make a PR for making the changes in the [https://github.com/adoptium/aqa-test-tools](https://github.com/adoptium/aqa-test-tools) repo ?

[2021-05-03 15:50] LongyuZhang commented on #2551
Hi @SAY-droid427 I have created issue for it in aqa-test-tools repo, feel free to wok on it if you are interested. Thanks.

[2021-05-03 16:25] smlambert commented on #2558
Yes @2001asjad - Searching for words like AdoptOpenJDK and openjdk-tests and openjdk-systemtest and openjdk-test-tools and _when appropriate_, updating them with their new names.  There may be a few cases where something would not get changed, but it will be easier to see them if you create a PR, and then make minor updates to a PR.

[2021-05-03 21:55] smlambert opened #2560 "AQAvit Meeting May 5, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Rerun in Grinder on s

[2021-05-03 21:56] smlambert commented on #2475
Meeting [recording link](https://bluejeans.com/s/hiDrfbI4BE4)

Link to next meeting agenda: https://github.com/adoptium/aqa-tests/issues/2560

[2021-05-03 21:56] #2475 closed

[2021-05-03 22:37] smlambert commented on #2317
Closed via 2456

[2021-05-03 22:37] #2317 closed

[2021-05-03 22:50] smlambert commented on #1744
Closed via https://github.com/adoptium/TKG/pull/177

[2021-05-03 22:50] #1744 closed

[2021-05-03 22:51] #2471 closed

[2021-05-04 13:55] lumpfish commented on #2350
Fork/branch https://github.com/lumpfish/openjdk-jdk8u/tree/fix_LdapDnsProviderTest has the change, test now passes: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/500/console

[2021-05-04 15:13] lumpfish commented on #2321
The test was updated for jdk11: https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/test/jdk/javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh

The test currently depends on `mktemp`.  In the 'fix', if `mktemp` is not available the test is silently skipped on AIX.

So one way to fix the test is to backport the jdk11 change.

I suggest excluding the test on AIX jdk8 until / u

[2021-05-05 12:52] lumpfish commented on #2356
The test was added at jdk8u272 along with the fix for https://bugs.openjdk.java.net/browse/JDK-8236645.

On Windows, in all subtests except`com.sun.org.apache.xml.internal.security.ignoreLineBreaks=true` (which is now the default behaviour), an extra character(s) is appended to every line and the tests fail as this is not in the 'expected' output.  On linux, the tests pass.

The jdk behaviour did

[2021-05-05 14:01] sophia-guo commented on #2461
Closed  by #2561

[2021-05-05 14:01] #2461 closed

[2021-05-05 15:39] #2551 closed

[2021-05-05 17:09] smlambert opened #2566 "AQAvit Meeting - May 19, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- New links in TRSS - @

[2021-05-05 17:10] smlambert commented on #2560
Meeting [recording link](https://bluejeans.com/s/L1Qk9gyIpB3)

Link to next AQAvit meeting: https://github.com/adoptium/aqa-tests/issues/2566

[2021-05-05 17:10] #2560 closed

[2021-05-06 11:07] lumpfish opened #2569 "javax/naming/InitialContext/NoApplet.java: openj9 jdk8 x86-64_mac timeout"
extended.openjdk jdk_other test javax/naming/InitialContext/NoApplet.java fails on openj9 jdk8  x86-64_mac.

The test hits the 960 sec timeout limit.  The last message output by the test is
[code]
Maybe the jdk hangs after receiving that error?

The test passes on hotspot jdk8 and jdk11, and passes on openj9 jdk11 - only fails on openj9 jdk8.

Failing job link: https://ci.adoptopenjdk.net/job/Grin

[2021-05-06 11:09] lumpfish commented on #2569
Raised upstream at https://github.com/eclipse-openj9/openj9/issues/12638

[2021-05-06 12:04] lumpfish opened #2570 "java/lang/ProcessBuilder/Basic.java fails on openj9 jdk17 Command-line option unrecognised: -Xlog:all=warning:stderr"
openjdk commit https://github.com/openjdk/jdk/commit/0abbfb2fc5ad520673c230c273477152c52e1b2c#diff-c43515e7fd3d55acf2a4b7e043279005db9bb09f85d9799503ac3c01442066cb introduced hotspot specific command line options into test java/lang/ProcessBuilder/Basic.java.

These non-standard options are not recognised by openj9, and the test now fails with:
[code]
Failing job link: https://ci.adoptopenjdk.net/

[2021-05-06 12:06] lumpfish commented on #2570
Also raised at eclipse-openj9: https://github.com/eclipse-openj9/openj9/issues/12580

[2021-05-06 14:40] lumpfish commented on #2355
This is intermittent - not been able to reproduce it on any of the three platforms it was recently seen on with the latest build (which for Mac was):
[code]

[2021-05-08 00:10] #2433 closed

[2021-05-11 20:51] llxia commented on #2484
All PRs are delivered. Close this issue.

[2021-05-11 20:51] #2484 closed

[2021-05-12 13:45] lumpfish commented on #2355
It turns out that the test fails because it has a coexistence issue with another test, `com/sun/jndi/ldap/LdapDnsProviderTest.java`.

The other test, `com/sun/jndi/ldap/LdapDnsProviderTest.java`, creates a service provider file under META-INF/services, which points at a service which does not exist (`dnsprovider.MissingDnsProvider`) - the fact that the service does not exist is the purpose of the

[2021-05-12 14:52] smlambert commented on #2355
That dependency is yucky, definitely agree on approaches to improvement upstream!

[2021-05-12 15:29] lumpfish commented on #2350
Test has been excluded for this failure and also for impacting test `com/sun/jndi/ldap/LdapTimeoutTest.java`: see https://github.com/adoptium/aqa-tests/issues/2355

[2021-05-13 12:27] #2357 closed

[2021-05-13 14:42] lumpfish opened #2578 "extended.openjdk jdk_other com/sun/jndi/dns/ConfigTests/Timeout.java Failed: timeout in xxxxx ms, expected7750ms"
com/sun/jndi/dns/ConfigTests/Timeout.java test failed with an exception similar to:
[code]
The test case (https://github.com/AdoptOpenJDK/openjdk-jdk11u/blob/master/test/jdk/com/sun/jndi/dns/ConfigTests/Timeout.java) expects to get a `SocketTimeoutException` and when it gets it compares the elapsed time against an expected time calculated from the socket API request timeout and the number of retri

[2021-05-17 01:38] KKES335 opened #2582 "Curl download response validation fails with proxy environment"
We set up a Jenkins in my side.  A proxy server is used there.
Due to the following link, curl download response validation fails
https://github.com/adoptium/aqa-tests/pull/2540/files

Here is curl response in my side.
`$ curl -x 192.168.20.253:8080 -Is https://api.adoptopenjdk.net
HTTP/1.1 200 Connection established
HTTP/2 200
date: Fri, 14 May 2021 01:07:58 GMT
content-length: 1846
accept-ranges

[2021-05-17 13:56] sophia-guo commented on #2181
Latest run in AdoptOpenJDK with azure vm agent
**sanity:**

**openjdk test:**

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/16/testReport/java_lang_ProcessHandle_OnExitTest/java/OnExitTest/
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/17/

**Functional:**

[code]

[code]

[2021-05-17 14:09] sophia-guo commented on #2181
Latest run in AdoptOpenJDK with azure vm agent

**Target extended**
Category **openjdk**

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/37/console

[code]

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/36/console

[code]

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/39/console

[code]

https://ci.adoptopenjdk.net/

[2021-05-19 12:15] lumpfish commented on #2349
This is what I think is going on......

The test starts a number of client and server processes, and then either sends new requests from a client to a server, or tries to reuse a token from a previous request.

The server process are either native (ns) or java (js) servers.  The server to which the requests are sent is selected randomly.  Also, whether the request is a new request or reuses a toke

[2021-05-19 14:27] lumpfish opened #2585 "New Grinder Jenkins job missing systemtest repo parameters"
The old Grinder job (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Old/build?delay=0sec) had parameters to override the systemtest and STF repositories.
[code]
Those parameters are missing from the new Grinder job (https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/build?delay=0sec), but are required when testing changes to those repository in a fork / branch.

[2021-05-19 14:41] lumpfish commented on #2223
I cannot find anywhere that the `use diagnostics` package is actually used.
I'll run some tests with the statement excluded.

[2021-05-19 14:53] karianna commented on #2321
Can this be closed now?

[2021-05-19 14:59] smlambert commented on #2585
Strange, I thought @Mesbah-Alam manually added them and then they were also added to the testJobTemplate via https://github.com/adoptium/aqa-tests/pull/2521.

I have added them to the Grinder job now.

[2021-05-19 14:59] #2585 closed

[2021-05-19 15:03] lumpfish commented on #2321
I believe our policy is to leave issues which are the reason tests have been excluded open until the test / jdk is fixed or until superseded by a different issue.
This is to enable tools to examine the test exclude_list files and assume that when the referenced issue is closed the test should be OK to reenable.

[2021-05-19 23:42] smlambert commented on #2566
Meeting [recording link](https://bluejeans.com/s/BCo1nDZjXQX)

[2021-05-20 08:30] lumpfish commented on #2223
sanity.system ran OK: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Old/8177/ (1 failure also seen on other platforms)
extended .system ran OK: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Old/8178/ (all passed)

Created PR https://github.com/adoptium/STF/pull/116 to remove the `use diagnostics` statement.

[2021-05-20 09:46] lumpfish opened #2586 "functional test build fails on hotspot jdk8"
The functional test build is failing on hotspot jdk8, messages like:
[code]
The build started failing on May 17th 2021: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.functional_aarch64_linux/.

May be due to https://github.com/eclipse-openj9/openj9/commit/765cecbc30ef68880261cd3b75ba6dcc94bc1fe3#diff-1ea954c0b0701fd2637d25d7ddd714d76d0e990df6ec8f03691d7f80e483bc63

[2021-05-20 11:47] lumpfish opened #2587 "functional test build fails on hotspot jdk17"
The functional test build is failing on hotspot jdk17:
[code]
May be due to https://github.com/eclipse-openj9/openj9/commit/17fc1ac8244832889e885c6de8cdc0ef9822e395#diff-5e73fc5843caacf769352ac9291e6fc7e2ea91eb636dd211e88db9b06421878d

[2021-05-20 19:53] smlambert commented on #2223
Thanks @lumpfish - closing this issue as completed.

[2021-05-20 19:53] #2223 closed

[2021-05-20 21:25] smlambert commented on #2529
https://github.com/adoptium/TKG/issues/197 opened to address this issue.  Closing this as duplicate.

[2021-05-20 21:25] #2529 closed

[2021-05-20 21:25] smlambert commented on #2566
https://github.com/adoptium/TKG/issues/197 opened to address https://github.com/adoptium/aqa-tests/issues/2566#issuecomment-844221324

[2021-05-20 21:25] #2566 closed

[2021-05-25 11:52] psoujany opened #2590 "JTReg : Excluding jdk_mangement and jdk_nio tests which are failing on OpenJ9 implementation and JDK11 z/OS"
**Describe the bug**
This issue is to report openjdk(JTReg) jdk_mangement and jdk_nio tests which are failing with JDK11 z/OS and OpenJ9 implementation.

**To Reproduce**
Trigger test with latest JDK11 z/OS build on runtimes-jenkins/Test_grinder/job/Grinder/

Failing job link :- runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/11830

Below are the failing testcases from jdk_management

[2021-05-25 13:00] SAY-droid427 commented on #2444
@smlambert Please assign this issue to me so that I  can start working on it. Thanks!

[2021-05-25 14:04] smlambert commented on #2444
Thanks @SAY-droid427 !

[2021-05-25 14:11] psoujany commented on #2590
Started making changes to exclude list, will raise a PR after verifying changes.

[2021-05-25 18:31] #2181 closed

[2021-05-25 18:31] #2410 closed

[2021-05-26 05:26] psoujany commented on #2590
Raised a PR for the above changes
https://github.com/adoptium/aqa-tests/pull/2592

[2021-05-26 05:27] psoujany commented on #1297
Excluding below tests as per #2590
java/lang/management/MemoryMXBean/MemoryManagementConcMarkSweepGC.sh
java/lang/management/MemoryMXBean/MemoryManagementParallelGC.sh
java/lang/management/MemoryMXBean/MemoryManagementSerialGC.sh
java/lang/management/MemoryMXBean/MemoryTestAllGC.sh
java/lang/management/MemoryMXBean/MemoryTest.java
java/lang/management/MemoryMXBean/LowMemoryTest.java
javax/manageme

[2021-05-26 06:53] SAY-droid427 commented on #2441
@smlambert Please assign this issue to me. Thanks!

[2021-05-26 06:54] SAY-droid427 commented on #2430
@smlambert Please assign this issue to me. Thank you!

[2021-05-26 06:55] SAY-droid427 commented on #2435
@smlambert Please assign this issue to me. Thanks!

[2021-05-26 14:27] adamfarley commented on #2293
I've created an (OpenJDK community bug](https://bugs.openjdk.java.net/browse/JDK-8267773) for this, and I've asked the OpenJDK community for their opinions [via an email to the compiler mailing list](https://mail.openjdk.java.net/pipermail/hotspot-compiler-dev/2021-May/047453.html).

[2021-05-27 00:38] #2441 closed

[2021-05-27 00:39] #2435 closed

[2021-05-27 00:40] #2430 closed

[2021-05-27 00:41] #2444 closed

[2021-05-27 02:55] SAY-droid427 commented on #2443
@smlambert Please assign this issue to me. Thanks!

[2021-05-27 02:57] SAY-droid427 commented on #2439
@smlambert Please assign this issue. Thanks!

[2021-05-27 02:59] SAY-droid427 commented on #2447
@smlambert Please assign this issue to me.

[2021-05-27 10:03] adamfarley opened #2597 "Request to regenerate the Bisheng smoke tests"
The Bisheng smoke tests need to be regenerated to include [a fix](https://github.com/adoptium/aqa-tests/pull/2589) that enables them to work by changing a default parameter value (JDK_IMPL from bisheng to hotspot).

However, I'm not seeing an obvious way to do it via [Test_Job_Auto_Gen](https://ci.adoptopenjdk.net/job/Test_Job_Auto_Gen/).

Here are the four jobs that need to be regenerated. Help/A

[2021-05-27 12:10] smlambert commented on #2597
Delete the smoke test jobs and on the next run they will get regenerated.

[2021-05-27 12:22] adamfarley commented on #2597
Good idea Shelley. :)

I don't have the permissions to do this, unfortunately, so I'll ask if one of the Jenkins admins is around on the infra slack channel.

[2021-05-27 12:22] smlambert commented on #2597
I've deleted the 4 jobs, so they will be regenerated next time build pipelines run.  (Note: we specifically choose not to regen each time jobs are run, as its somewhat expensive and most often unecessary to do so.

[2021-05-27 12:22] #2597 closed

[2021-05-27 12:24] adamfarley commented on #2597
Thanks Shelley. :)

[2021-05-27 17:06] smlambert opened #2599 "AQAvit Meeting: June 2, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Outline of [Deep AQAt

[2021-05-31 08:50] jabrena commented on #2599
Hi @ShelleyLambert, in relation to the meeting time what CEST time is?

[2021-05-31 12:24] smlambert commented on #2599
hi @jabrena - according to https://www.worldtimebuddy.com/est-to-cest-converter, it will be 17:30-18:00 CEST (11:30am EST)

[2021-05-31 13:57] #2443 closed

[2021-05-31 14:42] psoujany commented on #2590
Changes been merged, closing the issue.

[2021-05-31 14:42] #2590 closed

[2021-06-01 02:02] #2447 closed

[2021-06-01 09:27] lumpfish opened #2608 "Test jobs being scheduled on wrong platform"
Some test jobs are being run on the wrong platforms: - e.g.  for https://ci.adoptopenjdk.net/job/Test_openjdk8_j9_extended.openjdk_ppc64le_linux/27/console (ppcle test) an AIX test machine was selected.

I'm assuming it's caused by the recent parallel testing enablement:   https://github.com/adoptium/ci-jenkins-pipelines/commit/4609ca71c10a4dac06b6529cfc6628c64eacb364?

[2021-06-01 11:33] adamfarley opened #2609 "Request to regenerate the bisheng non-smoke tests"
**Summary:**

Please regenerate all of the bisheng non-smoke tests in order to include a fix that allows them to run.

Note: We must verify that the resultant jobs have the default JDK_IMPL value set to "hotspot", even though the JDK_IMPL value in TEST_JOB_AUTO_GEN is set to "bisheng" (which I believe to be necessary so we  regenerate the right jobs).

**Test Sets:**

LEVELS: sanity,extended
GROUP

[2021-06-01 13:53] sophia-guo commented on #2608
This is expected. We can use any available node for copying TAP files in parallel test builds, https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L894. More details see https://github.com/adoptium/aqa-tests/issues/2262.

[2021-06-01 13:53] #2608 closed

[2021-06-01 18:22] smlambert commented on #2609
Jobs listed above regenerated via:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/264/
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/265/ - openjdk regenerated separately to keep report dir equals true as default (when tests pass), unlike other test groups
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/266/

[2021-06-01 18:22] #2609 closed

[2021-06-01 18:33] adamfarley commented on #2609
Thanks Shelley. :)

[2021-06-01 19:18] smlambert commented on #2586
Fixed upstream via  https://github.com/eclipse-openj9/openj9/issues/12756 and passing since May 26th

[2021-06-01 19:18] #2586 closed

[2021-06-01 19:21] smlambert commented on #2587
Still fails:
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.functional_aarch64_linux/44/console and so reopen https://github.com/eclipse-openj9/openj9/issues/12755 to investigate.

[2021-06-01 19:22] smlambert commented on #2511
Closing this as completed since https://github.com/adoptium/aqa-tests/pull/2531 was merged.  We will revisit enhancements under a separate feature enhancement (likely in TKG repo).

[2021-06-01 19:22] #2511 closed

[2021-06-01 20:41] LongyuZhang commented on #2599
Following comment is just used for Deep AQATik project demo test, will be deleted after the demo tomorrow. Thanks.
`MiniMix_5m failure with "Medium" related degree`

[2021-06-02 00:22] smlambert opened #2614 "Tweetest: Refactor external test directories"

[2021-06-02 00:23] smlambert opened #2615 "Tweetest: Enable generic external_custom trigger"

[2021-06-02 00:25] smlambert opened #2616 "Tweetest: Prototype Twitter API trigger of external_custom target"

[2021-06-02 00:34] smlambert opened #2617 "Tweetest: Update external tests to run cleanly"

[2021-06-02 00:38] smlambert opened #2618 "Deep AQAtik: Data collection and processing"

[2021-06-02 00:39] smlambert opened #2619 "Deep AQAtik: Model selection, training and optimization"

[2021-06-02 00:40] smlambert opened #2620 "Deep AQAtik: Model deployment and feedback"

[2021-06-02 00:41] smlambert opened #2621 "Deep AQAtik: Pipeline Automation"

[2021-06-02 00:42] smlambert opened #2622 "Deep AQAtik: Testing and Documentation"

[2021-06-02 01:28] smlambert opened #2624 "GHC Open Source Day"

[2021-06-02 01:36] smlambert commented on #749
Test is excluded under #760, closing this as dup of 760

[2021-06-02 01:36] #749 closed

[2021-06-02 01:43] smlambert commented on #795
@smlambert - reminder to self to move this issue to OpenJ9 and update exclude file to reference openj9 issue

[2021-06-02 02:34] smlambert commented on #970
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_extended.openjdk_x86-64_windows/28/

Jobs now split into 3 child jobs - we still need valid test execution times to query from TRSS to ensure the targets are split more equally (first 2 child jobs run in ~1hr, last one still runs for 9+hrs and times out).

[2021-06-02 11:05] lumpfish commented on #2535
I've created a standalone test case which reproduces the failure.

The openjdk test case expects to to be able to send 65527 bytes with ipv6.  On test-ibm-aix71-ppc64-1 the limit appears to be 65487 bytes:
[code]
[code]

[2021-06-02 11:18] lumpfish commented on #2535
On Ubuntu 20.04, 65527 is indeed the limit:
[code]
[code]

[2021-06-02 14:18] sophia-guo commented on #970
Also we probably need to take a deep look at jdk_management and jdk_jmx. Jdk_management is time out and jdk_jmx unexpectedly exit after 20 sec. As a result there is no information about the finish time either in test output or in console. Not sure in this case how TRSS calculate the tests running time.

[2021-06-02 14:46] llxia commented on #970
This is another case where the query to TRSS is incorrect.
 https://trss.adoptopenjdk.net/api/getTestAvgDuration?limit=10&jdkVersion=11&impl=hs&platform=x86-64_windows_xl&group=openjdk&level=extended

There is no `x86-64_windows_xl`. The correct query should use `x86-64_windows`. That is
https://trss.adoptopenjdk.net/api/getTestAvgDuration?limit=10&jdkVersion=11&impl=hs&platform=x86-64_windows&gro

[2021-06-02 14:46] smlambert opened #2626 "Update parentsJobPipeline to reference jenkins-helper"
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/parentsJobPipeline.groovy#L52 should be updated to reference the renamed jenkins-helper at https://github.com/adoptium/jenkins-helper

otherwise hitting this issue:
[code]

[2021-06-02 14:53] llxia commented on #970
The prefered solution is to remove xl and mixed. We should use one platform that matches with job name and simplify ottawa.csv. However, this needs updates of the internal builds. We need to investigate if the change is possible internally.

Alternatively, we can remove xl and mixed suffix in TKG when querying TRSS. Adding lots of these changes in TKG will cause code complication in the long run.

[2021-06-02 15:19] sophia-guo commented on #2626
We should do the renaming. However renaming may not solve the issue. Is the issue hit in other jenkins server?

[2021-06-02 15:29] smlambert commented on #2626
Yes, and I have added that jenkins-helper global shared library to the private temurin-compliance server now.

[2021-06-02 15:30] llxia commented on #2626
Openj9 Jenkins seems fine, and it is using the updated git URL. I am not sure about the settings in Adopt Jenkins.
![image](https://user-images.githubusercontent.com/19273206/120508533-cfdf6680-c395-11eb-810a-5b34cd9cf514.png)
https://openj9-jenkins.osuosl.org/view/Test_Functional_Nightly/job/Test_openjdk11_j9_extended.functional_ppc64_aix_Nightly/13/console

[2021-06-02 16:06] sophia-guo commented on #2626
Adopt Jenkins is fine with old name, which is same as in Openj9. It could do the re-reference automatically. Though we'd better to reference the new name

<img width="726" alt="Screen Shot 2021-06-02 at 12 04 00 PM" src="https://user-images.githubusercontent.com/18030625/120513869-ad9c1780-c39a-11eb-8618-1bc75df2d45f.png">

https://ci.adoptopenjdk.net/view/Test_grinder/job/External_Kicker/4/consol

[2021-06-02 16:29] smlambert commented on #2626
I see that I can now use the current version of the groovy file (old name, without this PR).  I must not have waited long enough for Jenkins config changes via the EF bugzilla report.

So I am not blocked, but agree that eventually we should update to use all the correct/current names of things.

[2021-06-02 16:33] #2626 closed

[2021-06-02 18:51] smlambert opened #2628 "AQAvit Meeting: June 16, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Overview of [Tweetest

[2021-06-02 19:18] smlambert commented on #2599
Meeting [recording link](https://bluejeans.com/s/5DUF6Z4JEiq)

Minutes:
- Nice overview of Deep AQAtik project plan for summer term, including demo of prototype and the project plan by @LongyuZhang @avishreekh (see https://github.com/adoptium/aqa-test-tools/wiki/Outreachy-TRSS-Machine-Learning-Project:-Deep-AQAtik for a high-level description and https://github.com/adoptium/aqa-test-tools/issues/3

[2021-06-02 19:18] #2599 closed

[2021-06-02 19:21] #2582 closed

[2021-06-02 19:37] sophia-guo commented on #970
A good run with jdk_jmx: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/54/console.

Though I did get some strange issue with running on test-ibmcloud-win2012r2-x64-1, same as https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_extended.openjdk_x86-64_windows_testList_2/1/. Probably need to see if it's machine related.

[2021-06-02 21:30] adamfarley commented on #2599
Smoke test issue, along with a set of proposed fixes.

https://github.com/adoptium/temurin-build/issues/2646

[2021-06-03 10:55] lumpfish commented on #2535
On test-osuosl-aix72-ppc64-2 there is also the 65487 byte send limit.

test-osuosl-aix72-ppc64-2 has a different issue also, which is responsible for the timeout failures - receive hangs when receiving a buffer size of 42053 (42052 the receive succeeds, 42053 it fails).
[code]
[code]

[2021-06-03 11:54] lumpfish commented on #2535
The receive hang is due to the receive buffer size being too low.
On test-osuosl-aix72-ppc64-2 the value of `` is 42080.  The maximum message size which can be received into this buffer appears to be 28 bytes smaller than this - i.e. 42052.
If the test case is adjusted to reset the receive buffer size to (send size + 28), then the test case no longer hangs (but it still fails with the send limit s

[2021-06-03 12:14] lumpfish commented on #2535
So, two issues:
1. The maximum IPV6 buffer size which can be sent on AIX is 65487, not 65527 as expected by the test.
2. On AIX, if the receive buffer size default is less than the send buffer size then the receive hangs.
- If the receive buffer size is set (programmatically) to the (send buffer size +28) bytes then the receive succeeds (up to 65487 send limit)
- Programmatically setting the recei

[2021-06-03 12:17] lumpfish commented on #2535
This is the stand alone test case code:
[SendReceiveMaxSizeTest.java.txt](https://github.com/adoptium/aqa-tests/files/6591557/SendReceiveMaxSizeTest.java.txt)

[2021-06-03 15:55] lumpfish opened #2632 "get.sh checks for incorrect repository name"
The openjdk-tests repository has been renamed to aqa-tests, but get.sh still checks for the old name.

[code]

[2021-06-03 16:46] Mesbah-Alam commented on #2632
This is getting fixed by https://github.com/adoptium/aqa-tests/pull/2612

[2021-06-08 02:52] superusercode commented on #1864
This is an error I am currently having with the latest adoptopenjdk build for aarch64 PCs (https://adoptopenjdk.jfrog.io/artifactory/rpm/centos/7/aarch64/Packages/adoptopenjdk-16-hotspot-16.0.1+9-3.aarch64.rpm). How do I go about reopening and documenting this? The server in question is a free tier machine on oracle cloud, where I install this rpm manually onto a oracle linux OS.

[2021-06-08 10:27] takiguc opened #2633 "MBCS_Tests_i18n_zh_CN testcases were failed by 17 EA"
**Describe the bug**
According to following link, "MBCS_Tests_i18n_zh_CN_linux_0" testcase was failed
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Simple/276/tapResults/
1 files 404 tests, 91 ok, 1 not ok, 312 skipped, 0 ToDo, 0 Bail Out!
Following testcase was failed
* MBCS_Tests_i18n_zh_CN_linux_0

Java version information:
openjdk version "17" 2021-09-14
OpenJDK Runtime Environment

[2021-06-08 11:45] smlambert commented on #2633
Is there an infrastructure issue to update other x86-64_linux so that we do not land on machines that do not have the full configuration?

FYI @sxa

[2021-06-08 13:02] adamfarley commented on #2293
FYI: This change is now in the [openjdk/jdk](https://github.com/openjdk/jdk/commit/d47a77d2d54ee8c41ef969b42b3336a646dffd7b) (head stream) repo, and has been successfully backported to both [jdk11u-dev](https://github.com/openjdk/jdk11u-dev/pull/18) and [jdk16u](https://github.com/openjdk/jdk16u/pull/127).

[2021-06-09 15:02] llxia commented on #2386
Close this issue as it is obsolete.

[2021-06-09 15:02] #2386 closed

[2021-06-09 15:04] llxia commented on #2554
Close this issue in favor of https://github.com/adoptium/aqa-tests/pull/2581

[2021-06-09 15:04] #2554 closed

[2021-06-09 18:47] sophia-guo commented on #970
jobs timeout due to the test case jdk_managements, which takes more than 9 hours on windows only for all jdk versions. It takes only a few seconds on other platforms. Investigation needed to figure out the underlying issue about it.  Will exclude it for now.

[2021-06-09 19:36] sophia-guo opened #2637 "jdk_management tests timeout"
Test jdk_managements was consistently cancelled due to timeout on Windows(jdk8, 11 window64, jdk11, jdk16 window32) which takes only a few seconds on other platforms. Investigation needed to figure out the underlying issue about it.

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/58/console

Compare the test build on WIndows and Linux:
linux: https://ci.adoptopenjdk.net/

[2021-06-09 20:14] sophia-guo commented on #2637
Problematic testcase:

java/lang/management/MemoryMXBean/MemoryTestZGC
sun/management/LazyCompositeDataTest
sun/management/LoggingTest/LoggingWithJULTest
sun/management/LoggingTest/LoggingWithLoggerFinderTest
sun/management/PlatformMBeanProviderConstructorCheck
sun/management/StackTraceElementCompositeData/CompatibilityTest
sun/management/jmxremote/LocalRMIServerSocketFactoryTest
sun/management/jm

[2021-06-09 21:29] #2633 closed

[2021-06-09 21:48] sophia-guo commented on #2637
Looks like jenkins test jobs failed by timeout with hang on windows will have clean-up issue at the end of job:

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/58/console : test-azure-win2012r2-x64-1
[code]

When next job run on the same machine  test-azure-win2012r2-x64-1 job will fail at the beginning part of cleanWS:

https://ci.adoptopenjdk.net/view/work-in-progress/

[2021-06-09 21:49] sophia-guo commented on #2637
sun/management/LazyCompositeDataTest is good: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/780/console

[2021-06-10 09:56] lumpfish commented on #2357
I've seen another occurrence on machine `test-docker-fedora33-x64-1` (https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_j9_extended.openjdk_x86-64_linux_testList_1/2/console)

[2021-06-10 10:22] sxa commented on #2357
Hmmm `fontconfig` is installed on there so I'm not sure what's going on with that system ([replicated on grinder](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/789/console)) - I'll try on the other 2 Fedora33 machines - [790](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/790/console) [791](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/791/console)

[2021-06-10 11:06] sxa commented on #2357
Hmmm the last two are failing but with a different error
[code]

[2021-06-10 13:14] smlambert commented on #2076
FYI @SAY-droid427

[2021-06-10 13:15] SAY-droid427 commented on #2076
@smlambert I will take up this issue. Thanks!

[2021-06-10 13:32] sophia-guo commented on #2637
jdk16 windows does't have the issue. The different test cases  between 11 and 16 should also help to find the problematic test case. https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk16_hs_extended.openjdk_x86-64_windows/

[2021-06-10 13:34] sophia-guo commented on #970
jdk_management issue opened https://github.com/adoptium/aqa-tests/issues/2637

[2021-06-10 14:28] lumpfish commented on #2294
There are three subtests within jdk_management which hang on Windows, all similar.

PR to exclude the tests on jdk8 and jdk11 Windows: https://github.com/adoptium/aqa-tests/pull/2639

jdk_management test runs with the exclusions:

jdk11
win64: https://ci.adoptopenjdk.net/job/Grinder/815/console
win32: https://ci.adoptopenjdk.net/job/Grinder/817/console
jdk8
win64: https://ci.adoptopenjdk.net/job/G

[2021-06-10 16:14] lumpfish commented on #970
See also https://github.com/adoptium/aqa-tests/issues/2294
Problem test cases are identified in https://github.com/adoptium/aqa-tests/pull/2639

[2021-06-10 16:28] sophia-guo commented on #2637
Close by #2639

[2021-06-10 16:28] #2637 closed

[2021-06-10 16:58] lumpfish opened #2640 "jdk11 hotspot aarch64_linux extended.openjdk jvm_compiler_1 compiler/gcbarriers/UnsafeIntrinsicsTest.java#shenandoah fails"
extended.openjdk jvm_compiler_1 test compiler/gcbarriers/UnsafeIntrinsicsTest.java#shenandoah fails on jdk11 hotspot aarch64_lunux with:
[code]
Failing job link: https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_aarch64_linux/30/consoleFull

To rerun: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=11&JDK_IMPL=hotspot&JDK_VENDOR=adoptopenjdk&BUILD_LIST=openjdk&PLAT

[2021-06-10 21:32] smlambert commented on #2626
re:  https://github.com/adoptium/aqa-tests/issues/2626#issuecomment-859074720 infrastructure repo

Though interestingly enough, the config in Jenkins system has the URL of the repo updated, but not the name of the helper... not sure what side-effects will occur if I rename it... would like @sxa's input

<img width="885" alt="Screen Shot 2021-06-10 at 5 29 53 PM" src="https://user-images.githubuser

[2021-06-11 09:48] lumpfish commented on #2640
Looks like this will need resolving upstream.
Created https://github.com/adoptium/aqa-tests/pull/2641/ to exclude test until there is a fix.
Grinder run with the PR excluding the test (passed): https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/825/console

[2021-06-11 13:23] #2439 closed

[2021-06-11 13:26] sophia-guo commented on #2626
I guess if it is renamed all repos' jenkinsfile using the library has to be updated to the new name.

[2021-06-11 15:03] smlambert commented on #2626
Which means I guess before changing we should check in ci-jenkins-pipeline repo if there are any references to the old name.

[2021-06-11 15:51] SAY-droid427 commented on #2076
@smalambert I have made the initial changes. I think we wanted to use a variable in place of  [https://github.com/apache/flink.git](https://github.com/apache/flink.git). For this change should I try to set up an environment variable EXTERNAL_CUSTOM_TARGET="https://github.com/apache/flink.git" and modify it as follows:

[code]

[2021-06-11 16:07] sophia-guo commented on #2626
Yes, and aqa-tests repo also need to update the references. And then openj9 jenkins @AdamBrousseau will also need to update.

[2021-06-11 16:16] smlambert commented on #2076
Indeed, in https://github.com/adoptium/aqa-tests/issues/2076#issue-753970769, I suggest  EXTERNAL_GIT_REPO and EXTERNAL_TEST_CMD will be 2 params I think we may need, but we will do this iteratively, so you can start with 1 variable for the repo link and see how it can be passed in and used for local runs, and then through Grinder runs.

[2021-06-11 16:18] SAY-droid427 commented on #2076
Yeah sure I will go ahead with this. Should I make a draft PR? It will be easier to refer to the lines of code.

[2021-06-11 16:46] smlambert commented on #2076
yes please!

[2021-06-11 21:02] sophia-guo opened #2642 "Update dependency jtreg version"
We have two jreg dependencies jtreg4.2, jtreg 5.1, which are downloading from https://ci.adoptopenjdk.net/view/Dependencies/job/dependency_pipeline/lastSuccessfulBuild/artifact/jtreg/ (either directly or by test.getDependency job).

It turns out at least from Nov 13, 2020 the two different version jar actually are both the same as jtreg5.1, which also said all tests can run successfully using jtre

[2021-06-13 13:23] smlambert opened #2645 "Add ability to change docker registry for external tests"
Related to the now stale pull request for https://github.com/adoptium/aqa-tests/pull/1833, this enhancement issue is to add support for using Docker images from other registries (besides where we currently pull from... the AdoptOpenJDK Docker repo).

This is not urgent, but wanted to create it so we do not lose the request, as we will close the stale PR that has no associated issue.

[2021-06-13 20:29] #2632 closed

[2021-06-14 09:52] lumpfish commented on #2382
These failures appear to be Win32 specific and across all releases.
Presumably the options are only recognised by a GC implementation which is not built on win32?
I'll create a PR to exclude the tests pending a more thorough investigation.

[2021-06-14 20:37] smlambert commented on #2558
Addressed via:

https://github.com/adoptium/aqa-tests/pull/2638
https://github.com/adoptium/aqa-tests/pull/2630
https://github.com/adoptium/aqa-tests/pull/2612

[2021-06-14 20:37] #2558 closed

[2021-06-15 02:23] smlambert opened #2646 "Add ability to override certain variables in parentsJobPipeline via Jenkins parameters"
In [parentsJobPipeline](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/parentsJobPipeline.groovy) we pull information from build pipelines or set hard-coded values to populate information like JDK_IMPL, SDK_RESOURCE and PLATFORMS.  We will need to be able to override these values with subset of values for them in certain cases, so we will need to be able to set them through Jen

[2021-06-15 10:38] psoujany commented on #1297
Excluding below test on OpenJ9 for JDK11+ releases.
tools/launcher/MainClassCantBeLoadedTest.java

[2021-06-15 16:13] lumpfish commented on #2382
From the different releases:

jdk8 win32 hotspot extended.openjdk:
[code]
jdk11 win32 hotspot extended.openjdk:
[code]
jdk16 win32 hotspot extended.openjdk:
[code]
jdk17 may also have similar failures, but the test jobs are not running successfully at the moment.

[2021-06-16 11:34] lumpfish opened #2650 "extended.openjdk runtime/NMT/HugeArenaTracking.java jdk8 win32 fails with insufficient memory"
extended.openjdk runtime/NMT/HugeArenaTracking.java fails (hangs) on jdk8 win32 hotspot with insufficient memory:
[code]
For jdk11 the test is prevented from running on win32 via https://github.com/adoptium/jdk11u/commit/bfdd8a0d848467143b6a8df15a8eb1819744bdcd

Full output of failing test:
[code]

[2021-06-16 11:35] lumpfish commented on #2650
I'll created a PR to exclude until the test case is modified upstream.

[2021-06-16 20:25] smlambert opened #2651 "AQAvit Meeting: June 30, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- a couple new TRSS fea

[2021-06-16 20:25] smlambert commented on #2628
Meeting [recording link](https://bluejeans.com/s/cG5n5X411oV)

Link to next meeting: https://github.com/adoptium/aqa-tests/issues/2651

[2021-06-16 20:25] #2628 closed

[2021-06-17 09:46] lumpfish opened #2652 "openjdk tests fail on jdk17 with jtreg exception java.lang.IllegalArgumentException: 6+1"
openjdk tests are failing on jdk17 with this jtreg exception:
[code]
Example failing jobs: https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_x86-64_linux/

[2021-06-17 10:39] sophia-guo commented on #2652
Due to https://github.com/adoptium/ci-jenkins-pipelines/issues/165 we are not build jtreg5 or jtreg6 correctly.

[2021-06-17 12:03] lumpfish opened #2655 "extended.openjdk jdk_tools demo/jvmti tests fail because native libs cannot be found"
Some demo/jvmti tests fail with message similar to:
[code]
The tests only exist in jdk8.  All platforms are affected.

These are failing tests and the their associated missing native library:
[code]
Full output of a failing test:
[code]

[2021-06-17 14:17] lumpfish opened #2657 "extended.openjdk jdk_tools jdk8 tools/pack200/Pack200Test.java fails memory leak detected"
Test suite: extended.openjdk
Test target: jdk_tools
Release(s): jdk8
Platform(s): all

Test tools/pack200/Pack200Test.java fails with "memory leak detected".  The exact value of memory leak reported varies across platforms:
[code]
Full output of a failing test:
[code]
To rerun (amend platform as required): https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=hotspot&JDK_VENDO

[2021-06-17 16:14] lumpfish opened #2659 "extended.openjdk hotspot_jre jdk8 runtime/SharedArchiveFile tests fail with Error: Unimplemented()"
Test suite: extended.openjdk
Test target: hotspot_jre
Release(s): jdk8
Platform(s): ppc_aix, ppcle64_linux

The following tests fail on jdk8 ppc_aix and ppcle64_linux platforms with an "Unimplemented" error.
[code]
Example failing test output:
[code]

[2021-06-17 16:14] lumpfish commented on #2659
I'll create a PR to exclude the tests from ppc_aix and ppcle64_linux.

[2021-06-18 18:02] #2642 closed

[2021-06-18 18:35] sophia-guo commented on #2652
Fixed. Close it.

[2021-06-18 18:35] #2652 closed

[2021-06-20 18:50] emmasaroyan commented on #2614
@smlambert is this issue still open? Could you please provide its description?

[2021-06-20 21:23] smlambert commented on #2614
hi @emmasaroyan - This issue is an "epic", which is really just a holder for a set of related issues.  As I look at the 8 sub-issues, they are now all completed/closed, so we can close this Epic.  Please take a look at some other issues or let me know if you want help selecting something.  Cheers!

[2021-06-20 21:23] #2614 closed

[2021-06-21 10:07] lumpfish opened #2665 "extended.openjdk jdk_tools jdk8 sun/tools/clhsdb/Basic.sh and sun/tools/hsdb/Basic.sh fail on ppc_aix, ppcle64_linux, arm_linux"
extended.openjdk jdk_tools tests `sun/tools/clhsdb/Basic.sh` and `sun/tools/hsdb/Basic.sh` fail on ppc_aix, ppcle64_linux and arm_linux jdk8 with the messages:
[code]
https://bugs.openjdk.java.net/browse/JDK-8226870 is possibly related?

To rerun (on ppcle64_linux): https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=hotspot&JDK_VENDOR=Temurin&BUILD_LIST=openjdk&PLATFORM=ppc

[2021-06-21 10:14] emmasaroyan commented on #2614
@smlambert hi! I am working on a task as part of OSD Mentor application and looking for a good issue to solve.
I'd appreciate your help with that. Thank you!

[2021-06-21 10:20] SAY-droid427 commented on #2076
I am adding the link of the testing document here and I will keep it updated regularly.
[Analysis of external tests which can be run through external_custom_target](https://docs.google.com/document/d/1eeXGlnlRQUgcJNg-MXUhBTKnov3BRxu-G1uGxDW1eH4/edit?usp=sharing)

[2021-06-21 10:21] lumpfish commented on #2665
On Windows the tests are reported as passing, but again the output contains suspect error messages:
[code]
[code]

[2021-06-21 10:25] lumpfish commented on #2665
Raised PR https://github.com/adoptium/aqa-tests/pull/2666 to exclude the tests on all platforms pending further investigation.

[2021-06-21 10:27] SAY-droid427 commented on #2076
@smlambert  We need to implement the EXTERNAL_TEST_CMD  now and also make changes so that if the branch name is not master then the tests run. Could you please provide some guidance on how I should begin working on this?

[2021-06-21 10:46] lumpfish commented on #2659
Two additional tests fail in the same way:
[code]
Adding those to https://github.com/adoptium/aqa-tests/pull/2661

[2021-06-21 11:32] lumpfish opened #2667 "extended.openjdk jdk_tools windows jdk8 sun/tools/native2ascii/Native2AsciiTests.sh fails"
extended.openjdk jdk_tools test sun/tools/native2ascii/Native2AsciiTests.sh fails on win32 and win64 jdk8 with the output message:
[code]
Downloading the test files and viewing them in a hex editor shows that:
x.out.expected file, length 129 bytes, ends in hex '0A'
x.out.1 file, length 130 bytes, ends in hex '0D0A'

So it looks like the test writes an output file with Windows CRLF but the test onl

[2021-06-21 11:39] lumpfish commented on #2667
Raised https://github.com/adoptium/aqa-tests/pull/2668 pending a fix.

[2021-06-21 12:27] lumpfish opened #2669 "extended.openjdk jdk_tools compiler/intrinsics/bmi/verifycode/LZcntTestI.java TZcntTestI.java fail jdk8 windows"
extended.openjdk jdk_tools test `compiler/intrinsics/bmi/verifycode/LZcntTestI.java` and `compiler/intrinsics/bmi/verifycode/TZcntTestI.java` fail on windows on jdk8

To rerun: https://ci.adoptopenjdk.net/job/Grinder/parambuild/?JDK_VERSION=8&JDK_IMPL=hotspot&JDK_VENDOR=Temurin&BUILD_LIST=openjdk&PLATFORM=x86-64_windows_xl&TARGET=hotspot_jre

Output from failing tests:
[code]

[2021-06-21 15:28] lumpfish commented on #2154
So it looks like this test fails with a 'path too long' message on machines with the Jenkins workspace set to
[code]
and passes on machines with the Jenkins workspace set to
[code]

[2021-06-21 15:57] lumpfish opened #2671 "extended.openjdk compiler/tiered/Level2RecompilationTest.java fails on some platforms"
extended.openjdk hotspot_jre compiler/tiered/Level2RecompilationTest.java fails on the following platforms / releases:
[code]
The output is similar in all cases:
[code]
I assume 'Tiered compilation' is not valid on these platforms?

[2021-06-21 20:34] smlambert commented on #2614
hi @emmasaroyan - for a good first warm-up issue, you could take on xxx. For something more complex, https://github.com/adoptium/aqa-tests/issues/2368 or https://github.com/adoptium/aqa-tests/issues/1966 may be of interest.

[2021-06-21 20:53] #2370 closed

[2021-06-22 03:59] smlambert commented on #2355
how is this issue different than #2350 - they look like duplicates, can one of the 2 be closed as dup?

[2021-06-22 04:20] smlambert commented on #2293
If the fix is backported, we should expect to see it passing now, a retest would be useful now.

Looks like it is still seen in June 19th run: https://trss.adoptium.net/output/test?id=60cea34d3f2fbf5bdac4a84d

[2021-06-22 08:51] lumpfish commented on #2355
Not duplicates - but it is debatable whether this test should be changed..

This test succeeds if the https://github.com/adoptium/aqa-tests/issues/2350 test is excluded (as it now is), and that test could be changed to not leave behind the data which causes this test to fail. (It has another issue also which is the port it uses).

But this test could also be changed to catch the exception describe

[2021-06-22 14:14] llxia opened #2674 "Accept ADOPTOPENJDK_SHA in test pipeline"
In order to support [Reproducible Tests ](https://github.com/adoptium/aqa-tests/issues/2347), our test pipeline should accept  ADOPTOPENJDK_SHA. The user/upstream should be able to set ADOPTOPENJDK_SHA, similar to OPENJ9_SHA. The test pipeline will use `ADOPTOPENJDK_SHA` if it is provided. If not, `ADOPTOPENJDK_BRANCH` will be used.

[2021-06-24 12:00] psoujany commented on #1297
Excluding below tests on OpenJ9 for JDK11+ releases.
com/sun/management/DiagnosticCommandMBean/DcmdMBeanDoubleInvocationTest.java
com/sun/management/DiagnosticCommandMBean/DcmdMBeanInvocationTest.java
com/sun/management/DiagnosticCommandMBean/DcmdMBeanPermissionsTest.java
com/sun/management/DiagnosticCommandMBean/DcmdMBeanTest.java

[2021-06-24 20:35] sophia-guo opened #2678 "Support Red Hat builds publish at the Adoptium marketplace"
Red Hat wants to publish Red Hat builds at the Adoptium marketplace (for 2 platforms, xlinux and win64 for jdk8/jdk11), which means those jdk need to need to run AQA tests first.

This is a place holder to record the issues we hit when trying this either by jenkins job or locally.

[2021-06-25 01:38] smlambert commented on #2678
It should be noted that we will use this work as a precursor to work related to https://github.com/adoptium/adoptium/issues/21#issuecomment-862667639 (using RH builds for the trial run for Adoptium marketplace AQAvit features with plan to enable other WG member binaries next).

[2021-06-25 17:27] llxia opened #2679 "Add PLATFORM examples in testJobTemplate"
It would be nice to have PLATFORM examples in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L267

We should list commonly used PLATFORM examples and add a link to https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests

For example:
[code]

[2021-06-25 17:46] llxia opened #2680 "Accept STF sha in test pipeline"
In order to support [Reproducible Tests ](https://github.com/adoptium/aqa-tests/issues/2347), our test pipeline should accept STF sha from [STF repo](https://github.com/adoptium/STF). The user/upstream should be able to set STF sha. The test pipeline will use STF sha if it is provided. If not, the branch will be used.

In order to avoid parameter explosion, we should reuse `STF_OWNER_BRANCH`, so i

[2021-06-26 00:09] smlambert commented on #2674
We need this one before GHC open-source day, but still tagging it in the event it still exists by then.

[2021-06-26 00:12] smlambert commented on #2539
Closing this as not valid / won't fix (given machine was not tagged for use by test).

[2021-06-26 00:12] #2539 closed

[2021-06-26 00:14] smlambert commented on #2399
Believe this has now been accomplished, further enhancement (like making more things reusable) can be addressed in a separate enhancement issue.

[2021-06-26 00:14] #2399 closed

[2021-06-26 00:16] smlambert commented on #2369
Let's either add more specifics on what we would like here, or close the issue until we have clarity.

[2021-06-26 00:29] smlambert commented on #2227
Yes.  'all' does not mean literally all.   While we will not rename it to 'most' or 'primary' platforms, that was the intent.  By design, it's 'all primary platforms of interest'.

We will address this by a combination of updating the comment under the Jenkins parameter and removing any _XL jobs that may get triggered.

It is uncertain whether we can easily enforce ordering.  That may need more in

[2021-06-26 00:33] smlambert commented on #2211
They now do exist in the build page (not just in console), see Generated Items just above TAP Extended Test Results:

<img width="556" alt="Screen Shot 2021-06-25 at 8 32 08 PM" src="https://user-images.githubusercontent.com/2836948/123496108-8d0b5a00-d5f4-11eb-8c74-555ad1437a22.png">

Closing as completed.

[2021-06-26 00:33] #2211 closed

[2021-06-26 00:38] smlambert commented on #1933
I will plan to break this up into sections and divide it amongst GHC open-source day participants.  (fyi @llxia @sophia-guo )

[2021-06-26 01:02] smlambert opened #2681 "Rerun in Grinder links populate Parameter Separators and Help Text as String params"
The [code used to generate the rerun in Grinder links](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L877-L887) loops through all params and presents them as String params.

If it is possible, for Parameter separators types it would be preferred to keep them as their original type, or remove them from the set of parameters that get set in the Grinder job that i

[2021-06-26 01:02] #2016 closed

[2021-06-26 01:05] smlambert commented on #1853
We can break this issue down to smaller tasks to use for the GHC opensource day (FYI @llxia @sophia-guo).

[2021-06-26 14:45] smlambert opened #2682 "Check for TESTDIR needs to include previous named repo"
The code in get.sh that checks if TESTDIR exists (see [get.sh#L157-L161](https://github.com/adoptium/aqa-tests/blob/master/get.sh#L157-L161)) works well for those who have forked the adoptium/aqa-tests repo.  It does not work for those who have forked prior to the renaming of aqa-tests (from openjdk-tests repo).   [Lots of members](https://github.com/adoptium/aqa-tests/network/members) with forks

[2021-06-28 14:40] sophia-guo commented on #1933
Note: jlink links in https://github.com/adoptium/aqa-tests/issues/1933#issuecomment-671942884 doesn't work anymore?

[2021-06-28 17:55] llxia opened #2683 "Add a link to Grinder wiki in testJobTemplate"
We should add a link to Grinder wiki https://github.com/adoptium/aqa-tests/wiki/How-to-Run-a-Grinder-Build-on-Jenkins in testJobTemplate https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate

Grinder wiki contains a more detailed description/examples of the parameters.

[2021-06-28 20:32] aahlenst commented on #1933
@sophia-guo Yes, I canceled the account hosting the binaries. They would not have been of much use anyway because of their age. Recreating them shouldn't be very difficult: Dump the list of modules with `java --list-modules` on the legacy JRE image and throw away what looks fishy on JRE 14 and newer. Back then, some parts started to leak into the JRE from the JDK. I'm not sure if that's still the

[2021-06-28 21:26] sophia-guo commented on #2682
I'm not sure if we still need the parameter `--testdir`. Most of functions have been moved out the initial get.sh file ( TKG, dependent lib setup, etc.) current requirement is TKG has to be under the same directory of get.sh or aqa-test(openjdk-tests) root directory no matter what the directory name is. The default value `TESTDIR="$(pwd)` should work good.

[2021-06-29 03:06] smlambert commented on #2682
I agree, we did not originally have it... I looked to see history of how we came to have the check:
https://github.com/adoptium/aqa-tests/pull/1646
introduced it.  Presumably its to support a case where someone wants to put test material elsewhere, but that not be preferred (or needed).

I can close this and we can create a new "good first issue" to remove the check, or we can just reuse this one.

[2021-06-29 03:24] SAY-droid427 opened #2685 "Update Jenkinsfilebase with new parameters for Tweetest"

[2021-06-29 03:25] SAY-droid427 opened #2686 "Test new Tweetest Parameters with a fresh set of application repositories"

[2021-06-29 12:43] adamfarley commented on #2293
Heya Shelley, apologies for the delay in my reply.

I checked out the relevant method at Adoptium's [jdk11u repo](https://github.com/adoptium/jdk11u/blob/bb5b2cb9d3a1cfcd040d295ab6f6b54eaf88483f/src/hotspot/share/opto/stringopts.cpp#L1146), and the fix doesn't appear to be there. I looked at the [same place in the OpenJDK project's jdk11u git repo](https://github.com/openjdk/jdk11u/blob/bb5b2cb9d3

[2021-06-29 15:53] llxia commented on #2682
In the test job, we run `get.sh` from the parent dir (not directly under aqa-tests) (see below). In that case, `--testdir|-t ` (TESTDIR) has to be set as the default `$(pwd)` value is not correct.

[code]
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/997

If we want to remove `--testdir|-t `, then we need to update test jobs to run `.get.sh` directly under `aqa-tests`.  And https://git

[2021-06-29 16:27] smlambert commented on #2682
Yes, let's spin this out into the 2 separate issues then, thanks for clarifying @llxia !

[2021-06-29 17:35] llxia opened #2690 "Remove the checks for TESTDIR"
In get.sh, we can remove the checks for TESTDIR.

https://github.com/adoptium/aqa-tests/blob/master/get.sh#L157-L161

We are planning to remove `--testdir|-t` parameter as we can use the current dir. Removing the checks for TESTDIR  is the first step of clean up the code.

Related: https://github.com/adoptium/aqa-tests/issues/2682

[2021-06-29 17:40] smlambert commented on #1606
Believe this is now resolved via https://github.com/adoptium/aqa-tests/pull/2689

[2021-06-29 17:40] #1606 closed

[2021-06-29 17:46] llxia opened #2691 "Remove remove --testdir|-t parameter in get.sh"
We would like to remove  --testdir|-t in [get.sh](https://github.com/adoptium/aqa-tests/blob/master/get.sh) as it is no longer needed. get.sh should be run directly under `aqa-tests ` folder.

Step 1: update [get.sh](https://github.com/adoptium/aqa-tests/blob/master/get.sh) to remove  --testdir|-t option
Step 2: update [jenkinsfilebase](https://github.com/adoptium/aqa-tests/blob/master/buildenv/je

[2021-06-29 17:48] llxia commented on #2682
https://github.com/adoptium/aqa-tests/issues/2690 and https://github.com/adoptium/aqa-tests/issues/2691 are created.

[2021-06-29 17:56] smlambert commented on #2682
Thanks @llxia - I will close this one in favour of the 2 #2690 and #2691.

[2021-06-29 17:56] #2682 closed

[2021-06-29 18:37] sophia-guo opened #2692 "Update langtools_custom target"
Currently we run specific langtools testscase using jdk_custom target, which is a little bit confusing ( especially the description is wrong https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L313, for the target both langtools and jdk custom should use the same target jdk_custom).

It would be nice to add a separate langtools_custom for langtools tests especially l

[2021-06-29 18:47] sophia-guo opened #2693 "Simplify the git clone repo to openjdk-jdk folder"
For openjdk tests we need to git clone openjdk repo to specific folder openjdk-jdk. Currently it's done by two steps in a couple places https://github.com/adoptium/aqa-tests/blob/master/openjdk/build.xml#L247

1. git clone to default folder
2. ` <move file="${jdkName}" tofile="openjdk-jdk"/>`

It would be nice to use one single straightforward command `git clone git@github.com:whatever folder-name

[2021-06-29 19:07] smlambert commented on #2692
So the task here, to clarify for some new person that does not have any context, is to add a langtools_custom target into https://github.com/adoptium/aqa-tests/blob/master/openjdk/playlist.xml, much like the [jdk_custom target](https://github.com/adoptium/aqa-tests/blob/master/openjdk/playlist.xml#L17-L38).

Essentially need to add a new block `<test>` block with the testCaseName called langtools_

[2021-06-29 20:41] smlambert commented on #799
https://github.com/adoptium/ci-jenkins-pipelines/issues/115 was created to add regularity to testing on these 2 platforms (sparcv9_solaris and x86-64_solaris).  All changes required to run tests are in, so this issue can be closed (noting that we are even able to run JCKs on these two platforms along with the AQA test groups).

[2021-06-29 20:41] #799 closed

[2021-06-30 10:27] andrew-m-leonard opened #2696 "sanity.openjdk pLinux: SimulResumerTest: java.lang.IndexOutOfBoundsException"
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_ppc64le_linux/530/consoleFull

[code]

[2021-06-30 10:39] andrew-m-leonard commented on #2696
maybe a connection glitch:
[code]

[2021-06-30 11:16] andrew-m-leonard commented on #2263
Fails consistently on latest hs jdk8 nightlies: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_arm_linux/224/

[2021-06-30 12:13] andrew-m-leonard commented on #2263
The following individual tests fail, they are all lambda stream testcases:
[code]

[2021-06-30 13:14] llxia opened #2697 "Comment triggered PR build (run aqa) failed with KeyError: 'custom_openj9_repo'"
Comment triggered PR build (run aqa) failed with KeyError: 'custom_openj9_repo' in aqa-tests repo

https://github.com/adoptium/aqa-tests/pull/2695#issuecomment-871089710

[code]

For now, [runAqaConfig.json ](https://github.com/adoptium/aqa-tests/blob/master/.github/workflows/runAqaConfig.json) needs to be updated to set `"custom_openj9_repo": true`.

As mentioned in https://github.com/eclipse-ope

[2021-06-30 16:24] llxia opened #2698 "Parse problem list and generate json file"
As part of [Create a Disabled tests pipeline](https://github.com/adoptium/aqa-tests/issues/1853), we need to parse openjdk problemlist and get json file:

- input: problem list
https://github.com/adoptium/aqa-tests/tree/master/openjdk/excludes
- expected output:
[code]

[2021-06-30 16:33] llxia opened #3345 "Parse playlist.xml and generate json file"
As part of [Create a Disabled tests pipeline](https://github.com/adoptium/aqa-tests/issues/1853), we need to parse playlist.xml in multiple repos and generate json file:

- repo:
https://github.com/adoptium/aqa-tests
https://github.com/eclipse-openj9/openj9
- parse playlist and generate json file. For example,
   - input: https://github.com/adoptium/aqa-tests/blob/c81d573e3ee749b457ec10e7e4aaec69f

[2021-06-30 16:57] smlambert opened #2700 "AQAvit Meeting: July 14, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- comment-based run-aqa

[2021-06-30 16:58] smlambert commented on #2651
Meeting [recording link](https://bluejeans.com/s/bP4Ebc9dWSB)

Minutes:
- Lan demoed 2 TRSS features (adding build/smoke tests result link to grid view), adding junit link from deep history view) both of these are conveniences for TRSS users.  Talked about a few other upcoming changes (many we are reserving for GHC opensource day July 15)
- Sophia shared view of addition of smoke tests to [PR buil

[2021-06-30 16:58] #2651 closed

[2021-06-30 17:32] llxia opened #2701 "Query git issue url to get issue status"
As part of [Create a Disabled tests pipeline](https://github.com/adoptium/aqa-tests/issues/1853), we need to query `GIT_ISSUE` url to get the issue status (open/closed).

- input:

[code]

- query git to get the issue status and add GIT_ISSUE_STATUS in json. Expected output:
[code]

[2021-06-30 17:55] llxia opened #2702 "Read json file to trigger Jenkins Grinder"
As part of [Create a Disabled tests pipeline](https://github.com/adoptium/aqa-tests/issues/1853), we should read this JSON file and trigger Grinder for GIT_ISSUE_STATUS=closed

- input file:
[code]

- trigger Grinder for GIT_ISSUE_STATUS=closed. This can be a separate Jenkins job that does the following:
  - read JSON file in groovy
  - find the records with GIT_ISSUE_STATUS=closed
  - trigger [Gr

[2021-06-30 17:56] llxia commented on #1853
I tried to break this down into smaller tasks:
-  #2698
-  #2699
- #2701
- #2702

[2021-07-01 11:54] jfclere opened #2703 "Please use a released version of tomcat for the test."
https://github.com/adoptium/aqa-tests/blob/97830a294fb593edb3486b82fce39c99f18858c3/external/tomcat/test.properties#L4
10.0.0-M5 is old 10.0.7 is the actual one.

It would be nice to test the 9.0.x branch too as that is the most used version.

[2021-07-01 13:54] smlambert commented on #2703
related: https://github.com/adoptium/aqa-tests/issues/1971

[2021-07-01 15:03] andrew-m-leonard commented on #2263
Also failing with same error:
[code]

[2021-07-01 16:19] andrew-m-leonard commented on #2154
@sxa @Haroon-Khel oddly this is not a problem on build-ibmcloud-win2012r2-x64-2
despite it's PATH being way over 260... :
1) Do we have some Windows setting on this node that changes behavior?
2) Or Is there some PATH shortening Windows option to use short path names ~... ?
[code]

[2021-07-01 16:46] lumpfish commented on #2154
Do you have a link to a job passing on build-ibmcloud-win2012r2-x64-2 ?

[2021-07-01 17:15] andrew-m-leonard commented on #2154
@lumpfish do you know why the path is "converted" on some machines and not others?

[2021-07-01 17:19] andrew-m-leonard commented on #2154
@lumpfish ah nw, see what you're saying! it's converted on both, but on one it's slightly shorter...

[2021-07-02 02:59] smlambert commented on #2686
As a starting point at #172 (we should go through others in the list to see if they are suitable for external_custom, but starting at zookeeper)
- doc: https://cwiki.apache.org/confluence/display/ZOOKEEPER/HowToContribute
  - repo: https://github.com/apache/zookeeper
  - branch: git checkout -b ZOOKEEPER-1234
  - command: ant test

[2021-07-02 03:29] SAY-droid427 commented on #2686
@smlambert Thank you for pointing out the test! Should I check whether the tests can be run using the changes in https://github.com/adoptium/aqa-tests/pull/2660?

[2021-07-02 09:21] andrew-m-leonard commented on #2154
@sxa Stewart, do we think we can reduce the PATH length for the likes of this example from: test-packet-win2012r2-x64-1
[code]

[2021-07-02 12:49] andrew-m-leonard commented on #2154
i've added some debug:
[code]
The combination of <path>\<fname>.dll is greater than 260 chars.
Q: why is fname a path...?

[2021-07-02 14:31] smlambert commented on #2686
Yes, and in fact what I was hoping is that we can get #2660 merged, so then we can run testing in Grinder_Tweetest, to save you from having to run locally.  However, given many committers are out until Monday (so likely won't be merged until then), if you feel inspired please do so.

We should also review the remaining tests listed in #172 to see if others are appropriate candidates for external_c

[2021-07-02 14:32] andrew-m-leonard commented on #2154
Looks like testcase error, it should be using the absolute path option when specifying the full transport dll
[code]

[2021-07-02 14:34] andrew-m-leonard commented on #2154
This line is wrong: https://github.com/adoptium/jdk8u/blob/c7691288e1d7a9dd52e589967716fb425057fcd7/jdk/test/com/sun/jdi/PrivateTransportTest.sh#L197

[2021-07-02 14:55] andrew-m-leonard commented on #2154
Raised: https://bugs.openjdk.java.net/browse/JDK-8269822

[2021-07-02 15:07] SAY-droid427 commented on #2686
Thank you so much @smlambert ! I will try to run the test above and all those listed in the related issue list to check if they can be added to our eligible test lists :)

[2021-07-02 17:30] andrew-m-leonard commented on #2263
Fails on:
 test-docker-ubuntu2004-armv7l-2

[2021-07-03 22:04] renfeiw opened #2706 "Standardize platform naming"
Existing platform names listed in https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests are not unified. For example, some platform has -64 (e.g., x86-64_linux) but others has 64 (e.g., aarch64_linux). We would like use regex of platforms to specify test requirements, so it is needs to be standardized and intuitive to use.

[2021-07-05 03:38] SAY-droid427 commented on #2686
TEST RESULTS FOR ZOOKEEPER with the following parameters set:
EXTERNAL_CUSTOM_REPO:  https://github.com/apache/zookeeper
EXTERNAL_REPO_BRANCH: master
EXTERNAL_TEST_CMD: ant test

Results for make compile:
![make_compile_zookeeper](https://user-images.githubusercontent.com/59281636/124414514-8a390380-dd70-11eb-9010-dd36081fa255.png)

Results for make external_custom:
![make_external_zoo](https://us

[2021-07-05 03:54] SAY-droid427 commented on #2686
@smlambert I was running the tests and was wondering where could I find the EXTERNAL_TEST_CMD for each test?

[2021-07-05 09:17] lumpfish commented on #2655
Created PR https://github.com/adoptium/aqa-tests/pull/2707 to exclude the tests pending further investigation.

[2021-07-05 09:58] lumpfish opened #2708 "extended.openjdk hotspot_jre jdk8 gc/metaspace/TestMetaspaceMemoryPool.java fails java.lang.RuntimeException: Expected to find a memory pool with name Compressed Class Space"
extended.openjdk hotspot_jre jdk8 gc/metaspace/TestMetaspaceMemoryPool.java fails on 64 bit platforms with
[code]

The test case only executes the check which gives rise to the exception on 64 bit platforms (so the test "passes" on 32 bit).

Example failing job: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_aarch64_linux/28/consoleFull

To rerun: https://ci.adoptopenjdk.net/job

[2021-07-05 13:28] sophia-guo commented on #2708
@lumpfish confirmed that the test was excluded by problem list in upstream openjdk repo. That is it should also be excluded by default in aqa-tests, though it isn't. The reason is hotspot_jre testcase is using the same TEST_RESROOT as jdk, which should be updated to a specific test resource root directory for  jre.

[2021-07-05 13:35] sophia-guo commented on #2708
Similar to a few other test targets for hotspot components. Will update that.

[2021-07-05 13:58] lumpfish commented on #2708
I cannot see this test excluded in the default Problemlist.txt: https://github.com/adoptium/jdk8u/blob/master/hotspot/test/ProblemList.txt.  There are tests which are in the default exclude list which are not being excluded, but this test is not one of them.
Is there another exclude list I have missed?

[2021-07-05 14:03] sophia-guo commented on #2708
No, I'm actually talking about the `compiler/rtm/locking/TestRTMAbortRatio.java`. Didn't look at it carefully.

[2021-07-05 14:09] sophia-guo opened #2712 "Some testcase in default openjdk problemlist was not excluded by default in aqa-tests"
There are tests which are in the default exclude list which are not being exclude by default in aqa-tests. For example:

[compiler/rtm/locking/TestRTMAbortRatio.java](https://github.com/adoptium/jdk8u/blob/master/hotspot/test/ProblemList.txt)

The reason is problemlist file hasn't be added to some testcases in hotspot component.

[2021-07-05 14:26] llxia opened #2713 "Remove _mixed in playlist"
Since all platforms default to mixed (except zos), we can remove `(_mixed)?` in playlist.

For example: https://github.com/adoptium/aqa-tests/blob/master/jck/compiler.api/playlist.xml#L86

[2021-07-05 14:51] llxia commented on #1828
PR is delivered. Close this issue

[2021-07-05 14:51] #1828 closed

[2021-07-05 15:12] renfeiw opened #2714 "Update disable format"
We would like to update the disabled format of in all playlist.xml files, here is an example:
from
[code]
to
[code]
similar to the change in OpenJ9 repo: https://github.com/eclipse-openj9/openj9/pull/13105

[2021-07-05 15:57] smlambert opened #2715 "Update directoriesFilesChangePR workflow file to test with jdk16 instead of 15"
With the release cadence of Java marching forward, jdk15 is already done, we have moved to jdk16 and the PR testing needs to reflect that.  This is a good first issue to check the workflow files in the .github directory to ensure they are using jdk16 instead of jdk15 to test against.

For example:
https://github.com/adoptium/aqa-tests/blob/master/.github/workflows/directoriesFilesChangePR.yml#L37

[2021-07-05 16:10] smlambert opened #2716 "Unexclude tests related to infra/1274"
It is believed that https://github.com/adoptium/infrastructure/issues/1274 has been resolved.  In order to verify it is fixed, we need to remove the excludes relating to it and rerun testing.

The action to take is to remove the exclude entries from the 4 problemlist files, then we can rerun the tests to verify they are no longer failing.

From https://github.com/adoptium/infrastructure/issues/127

[2021-07-05 18:40] #2712 closed

[2021-07-06 12:53] #2483 closed

[2021-07-06 13:23] sophia-guo commented on #2678
Run jdk_math against jdk11,8 on windows and linux:
1. windows jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/114/
2. windows jdk8: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/112/
3. linux jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/109/
4. linux jdk8: https://ci.adoptopenjdk.net/view/work-in-progr

[2021-07-07 03:58] smlambert commented on #2703
Adding this to GHC opensource day, as described in the description, what is required is to update:
https://github.com/adoptium/aqa-tests/blob/master/external/tomcat/test.properties#L4 with tag_version=10.0.7

Reviewer can trigger testing to verify the change.

[2021-07-07 09:31] andrew-m-leonard opened #2719 "Parallel test jobs do not archive to Jenkins failed testoutput.jar results of children jck jobs"
Parallel run tests only get their TAP results copied, the testoutput.jar is not archived by the parent job:
https://github.com/adoptium/aqa-tests/blob/14f5a8348e22e5616dea2ea001ab8d693cddfeee/buildenv/jenkins/JenkinsfileBase#L911

[2021-07-10 12:10] SAY-droid427 opened #2724 "Prototype of Twitter API call to query hashtags"

[2021-07-10 12:12] SAY-droid427 commented on #2724
The basic prototype to query the hashtags:
[code]

[2021-07-10 12:20] Ayushdubey86 opened #2725 "Minor Enhancement in README.md"
There are several minor issues in the README.md that need to be fixed for the enhancement of the documentation.

[2021-07-10 13:49] Ayushdubey86 commented on #2725
Wait, I'll commit some changes and will revert back at you

[2021-07-10 16:43] smlambert commented on #2725
Hi @Ayushdubey86 - if you are looking to take on a good first issue, please have a look at the ones listed in https://github.com/orgs/adoptium/projects/2.

With reference to this issue, I have looked at your changes to the README and will not merge them.  I will also close this issue as it can be addressed under issue https://github.com/adoptium/aqa-tests/issues/1558, since we need to do an overha

[2021-07-10 16:43] #2725 closed

[2021-07-12 19:33] llxia opened #2730 "Move jenkinsfile.run_parallel_tests() in try block"
[jenkinsfile.run_parallel_tests()
](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L345) needs to be moved in try block. Otherwise, the error is misleading.

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1066/console

[code]

The real error is `Cannot delete workspace :Remote call on test-aws-rhel8-x64-1 failed`, not the `MissingPropertyException`.