[2021-07-13 05:41] unnati914 commented on #2716
i can work on this

[2021-07-13 12:43] SAY-droid427 commented on #2686
I am updating this doc with the list of all the tests with their required parameters for external_custom:
https://docs.google.com/document/d/1XBfUIhw6so6F1YCSiPEBVoMf-q4Pt_aMUSpvD2stS7o/edit?usp=sharing
This will be completed by tomorrow.

[2021-07-14 15:56] keshavgbpecdelhi commented on #2697
Assignment

[2021-07-14 16:50] smlambert opened #2734 "AQAvit Meeting: July 28, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Discuss AQAvit versio

[2021-07-14 16:51] smlambert commented on #2700
Meeting [recording link](https://bluejeans.com/s/VBFKB0LVdtH)

Minutes:
- @OscarQQ demoed the new feature that allows us to pull nightlies from artifactory servers by combining SDK_RESOURCE=nightly with CUSTOMIZED_SDK_URL=`link to artifactory build` - the PR related to this work is https://github.com/adoptium/aqa-tests/pull/2695.  This feature does not change or break existing functionality of SDK

[2021-07-14 16:51] #2700 closed

[2021-07-14 21:34] chanseokoh opened #2738 "`make compile` fails due to trying to pulling non-existing branch of `apache/camel-quarkus` repo"
**Describe the bug**
`BUILD_LIST=external make compile` fails when checking out `https://github.com/apache/camel-quarkus.git`. The `camel-quarkus` repo doesn't have the `master` branch but `main`. I think they renamed it at some point.

[code]

**To Reproduce**
[code]

[2021-07-14 23:23] smlambert commented on #2738
Note we intend to eventually read from the test.properties file, but for now still read from common_functions.sh, so to fix this issue, updates needed at:

https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L189
and
https://github.com/adoptium/aqa-tests/blob/master/external/camel/test.properties#L5

Also note if you want to run a particular external test, set BUILD_LIST

[2021-07-15 10:27] unnati914 commented on #2738
could i work on this?

[2021-07-15 11:57] smlambert commented on #2738
Yes please @unnati914 !

[2021-07-15 12:27] smlambert opened #2739 "Move jck-runtime-api-java_net and jck-runtime-api-javax_security to special level"
In keeping with our use of the different levels we created (**sanity** for fast running tests that test things that are often changing, **extended** for longer running tests and for code that changes less often and **special** for tests that require special setup/configuration or time), we need to move 2 targets (jck-runtime-api-java_net and jck-runtime-api-javax_security) to the special level, as

[2021-07-15 16:54] llxia commented on #2697
PR #2733 is delivered. Close this issue

[2021-07-15 16:54] #2697 closed

[2021-07-15 18:48] smlambert commented on #2716
Closed via https://github.com/adoptium/aqa-tests/pull/2731

[2021-07-15 18:48] #2716 closed

[2021-07-15 22:08] chanseokoh commented on #2738
Thanks for the explanation. That helps.

Another error while trying to run all the "external" tests. Is AdoptOpenJDK not being tested daily with "external" tests? I can understand that these tests can be flaky and will probably need constant maintenance, but I am surprised that there are multiple broken tests, meaning that they are probably not being utilized for AdoptOpenJDK 11 at least. Or, is i

[2021-07-15 22:53] smlambert commented on #2738
we are in the process of overhauling the external tests, so have turned off daily builds... the overhaul is being done under a summer project under the Outreachy program (1 intern working on it).  If you have an interest and are willing to help us lift them up faster, that would be wonderful!  Otherwise, the plan is to continue to work on them for the remainder of the summer term to see if we can

[2021-07-16 14:37] ManasviGoyal commented on #2739
working on it

[2021-07-16 15:31] smlambert commented on #2683
One way to address this issue is to add that Grinder link to the description of the generated job, which shows up right at the top of a generated job page.

So, updating the description at https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L196 to have an extra sentence at the end that says "For more information about job parameters, see https://github.com/adoptium/

[2021-07-16 15:43] #2739 closed

[2021-07-16 15:57] ManasviGoyal commented on #2690
working on this

[2021-07-16 16:11] ManasviGoyal commented on #2683
working on this

[2021-07-16 16:27] ManasviGoyal commented on #2683
@smlambert done. please check

[2021-07-16 18:53] ManasviGoyal commented on #2690
@smlambert @Mesbah-Alam done please check

[2021-07-16 19:04] ManasviGoyal commented on #2715
@smlambert please check

[2021-07-16 20:08] smlambert commented on #2683
Not sure why that error is thrown, when I rerun the ECA validation it passes, but doesn't explain why it fails on first try.

[2021-07-16 20:09] ManasviGoyal commented on #2683
So, do I need to make any changes or it works fine now?

[2021-07-16 20:12] smlambert commented on #2683
It is now marked as 'passed', so no action from you is needed.

[2021-07-17 03:37] unnati914 commented on #2738
I could help if i can :)

[2021-07-17 18:05] smlambert commented on #2738
Yes please help @unnati914 - I have assigned this issue to you, please create a PR if you have the time and interest.

[2021-07-17 19:17] jeffalder commented on #1728
@llxia @smlambert - I created a draft PR for this; I'll move it into "ready for review" if it's OK that I grab this issue, since it appears abandoned.

I _think_ the ECA is good now; someone needs to approve running GH workflows as a first-time contributor.

[2021-07-17 19:33] smlambert commented on #1728
fricken' awesome @jeffalder !  ECA is good and GH workflow approved 👍

[2021-07-18 05:28] unnati914 commented on #2738
hi what could configure from this issue is.. that while cloning the repo i have to mention the branch name..  is there anything else i need to do?

[2021-07-18 12:11] smlambert commented on #2738
All you need to do for this issue is to create a PR with the change to the branch name in the 2 files as described in https://github.com/adoptium/aqa-tests/issues/2738#issuecomment-880274081.

Once you create a PR, the reviewers will run a test to see that the test works.  You can also try to run the test locally following the instructions in https://github.com/adoptium/aqa-tests/tree/master/exter

[2021-07-18 16:04] smlambert opened #2754 "Pre-release triage of weekly test runs"
This report represents this view:

<img width="207" alt="Screen Shot 2021-07-18 at 11 11 43 AM" src="https://user-images.githubusercontent.com/2836948/126072423-8c3a393f-36c4-48c6-90e6-8e562898038e.png">

Notable:
- all failures on mac related to https://github.com/adoptium/infrastructure/issues/2281 (3 machines in bad state)
- most failures on aix related to https://github.com/adoptium/infrastruc

[2021-07-19 13:45] smlambert commented on #2754
Note: jdk_jfr target seems to be failing on many platforms with "needs -nativepath" error (jdk/jfr/event/sampling/TestNative.java testcase in that target that requires it), perhaps need to do a similar thing that has been done for jdk_foreign_native target?  or simply exclude jdk/jfr/event/sampling/TestNative.java in problem list if its failing everywhere.

FYI @sophia-guo

[2021-07-19 13:47] smlambert commented on #2754
jdk_jmx target failing with:
[code]

[2021-07-19 14:59] sophia-guo commented on #2754
We don't build test images for jdk8 so I will exclude it for 8.

Curious thing is the test isn't excluded for jdk11 however it doesn't run in jdk11. https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk11_hs_extended.openjdk_x86-64_linux_testList_2/7/testReport/

Tried with jdk_custom with jdk11 and looks like it failed. https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbo

[2021-07-19 15:34] sophia-guo commented on #2754
Re https://github.com/adoptium/aqa-tests/issues/2754#issuecomment-882562339

Yes, looks like it was backported to

JDK-8263145 | 8u301 | Yoshiki Sato | P3 | Resolved | Fixed | b01
 https://bugs.openjdk.java.net/browse/JDK-8263145

Though I don't quite understand the backport process. Check the HG https://hg.openjdk.java.net/jdk8u/jdk8u/ and github https://github.com/openjdk/jdk8u/blob/master/jdk/t

[2021-07-19 18:31] smlambert commented on #2754
Issues on x86_solaris:

- Looks like there is an issue with creating TAP reports on the x86_solaris machines (likely a machine config issue or jenkins user permission issue).
- jdk_jfr testcases causing crashes (see core files generated in attached test output file) / should exclude this target on this platform for now
- hitting the 10hr timeout for some test runs (possibly because of the many cra

[2021-07-19 19:18] ManasviGoyal commented on #2714
i am working on this

[2021-07-19 19:33] #2685 closed

[2021-07-19 20:08] sophia-guo commented on #2754
Issues for perf on sparcv9_solaris:

Test renaissance-scala-kmeans_0 failed without any error message. Suspect the way the test is triggered may have some issue. Looking at the passing test on linux, there is message **Warning!!! Affinity is NOT set. Affinity tool may NOT be installed/supported.**
Believe that something wrong dynamically set CPU affinities added in https://github.com/adoptium/aqa-

[2021-07-19 20:55] #2715 closed

[2021-07-19 21:08] #2690 closed

[2021-07-19 21:35] #2683 closed

[2021-07-19 23:35] ManasviGoyal commented on #2703
@smlambert pls check

[2021-07-20 12:44] ManasviGoyal commented on #2691
@llxia @sophia-guo pls review

[2021-07-20 14:55] #2703 closed

[2021-07-20 16:11] sophia-guo commented on #1971
It turns out if you don't explicitly create a release help.github.com/articles/creating-releases the tags are not actually being listed as releases. They just look like the release.

If we visit the Releases of openjdk/jtreg we can see that there are many Tags, but no Releases, whereas in the Releases of adoptium/run-aqa 1 we can see there are many Releases.
The difference between a Release and a

[2021-07-20 18:36] sophia-guo commented on #1971
Instead of using github REST api, we can use git command `git tag --sort=taggerdate | tail -1`. The only drawback is we have to first git clone the repo.

[2021-07-20 20:59] sophia-guo commented on #2754
jdk_util test java/util/stream/test/org/openjdk/tests/java/util/stream/MapOpTest.java intermittently failed on arm build
[Test_openjdk8_hs_sanity.openjdk_arm_linux](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_arm_linux/247/)
It is also machine related.  Suspect related with arm memory size? And this is not a regression failure, which should not block the release, will exclude i

[2021-07-20 21:18] sophia-guo commented on #2754
[Test_openjdk8_hs_sanity.openjdk_x86-64_windows](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_x86-64_windows/509/) failed with `fatal: unable to access 'https://github.com/eclipse-openj9/openj9.git/'`. Either it's a network issue or a machine issue? Re-ran: will see if there is specific test failures

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_x86-64_windows

[2021-07-21 05:06] smlambert opened #2763 "MBCS_Tests_annotation_Ja_JP_aix_0 target from special.functional fails on AIX"
Deep history of this test target: https://trss.adoptium.net/deepHistory?testId=60f7826273f1507c79eed3d7
shows it was passing at some point in the past (Jan 20, 2021?) on test-ibm-aix71-ppc64-1.

Rerun in grinder on test-ibm-aix71-ppc64-1 using July release build fails - https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1133/

Not sure if this is a change to the AIX machines (if these MBCS

[2021-07-21 05:08] smlambert commented on #2763
FYI @takiguc @KKES335

[2021-07-21 11:28] takiguc commented on #2763
@smlambert
This issue is related following issue, and it's not backported to JDK8.
[JDK-8202329](https://bugs.openjdk.java.net/browse/JDK-8202329) Codepage mappings for IBM-943 and Big5 (aix)
This issue is just for hotspot jvm, openj9 jvm works fiine without this code.
annotation testcase should be executed by 11+ on AIX Ja_JP locale.
I'd like to handle this issue.
Thanks.

[2021-07-21 12:25] smlambert commented on #2763
Thanks for the clarification and assistance @takiguc !

[2021-07-21 16:52] sophia-guo commented on #2754
Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1
jdk_management_1 => deep history 1/2 passed | possible issues

[Test com/sun/management/OperatingSystemMXBean/TestTotalSwap.java fails when run in container](https://bugs.openjdk.java.net/browse/JDK-8255263) exclude for platform run in container.

[2021-07-21 20:30] sophia-guo commented on #2754
[Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_0/9/)

hotspot_jre_0 => deep history 0/1 passed | possible issues:

Following test failures were reported in https://bugs.openjdk.java.net/browse/JDK-8180723?focusedCommentId=14086592&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpa

[2021-07-21 21:09] sophia-guo opened #2766 "jdk8: jdk/jfr/jcmd/TestJcmdDumpPathToGCRoots.java failed with error message: "Execution failed: `main' threw exception: java.lang.Exception: Expected chains but found none ""
jdk8: jdk/jfr/jcmd/TestJcmdDumpPathToGCRoots.java  failed with error message: "Execution failed: `main' threw exception: java.lang.Exception: Expected chains but found none "

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_0/9/testReport/junit/jdk_jfr_jcmd_TestJcmdDumpPathToGCRoots/java/TestJcmdDumpPathToGCRoots/
[code]

[2021-07-21 21:16] sophia-guo commented on #2754
Test_openjdk8_hs_extended.openjdk_x86-32_windows
Failed tests specific to x86-32:

jdk/jfr/event/compiler/TestCompilerPhase.java.TestCompilerPhase

 Stack TraceExecution failed: `main' threw exception: java.lang.RuntimeException: No events: expected false, was true      Standard Output Standard Error | 2 sec | 2
-- | -- | --
jdk/jfr/event/oldobject/TestObjectDescription.java.TestObjectDescription 

[2021-07-22 18:02] smlambert opened #2770 "jck-runtime-api-java_nio jck test target should get put into special level"
This target contains testcases that require jckservices machine to be present, so the target should get moved from extended to special, since it requires special setup.  (similar to: https://github.com/adoptium/aqa-tests/pull/2746).

[2021-07-23 08:41] Aryamanz29 commented on #2770
I would like to work on this issue

[2021-07-23 09:30] Aryamanz29 commented on #2679
I would like to work on this 🙃

[2021-07-23 09:52] ManasviGoyal commented on #2714
@smlambert  pls check

[2021-07-25 14:45] SAY-droid427 commented on #2724
I have received access to the Standard Twitter API and so using that I will start work this week.

[2021-07-27 16:11] sophia-guo opened #2773 "Functional tests CloseScope0Tests_0 failed on all platforms with hotspot ever since it was added."
Functional tests CloseScope0Tests_0 failed on all platforms with hotspot ever since it was added https://github.com/eclipse-openj9/openj9/pull/12857/files . Suspect it doesn't work for hotspot and should be disabled for hotspot.

Error: org.openj9.test.foreignMemoryAccess.TestCloseScope0.closeScopeDuringAccess

[code]
https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_sanity.functional_s390x_linux/

[2021-07-27 16:18] sophia-guo opened #2774 "Functional test FileTest.modifyTest() failed on some machines."
Functional test FileTest.modifyTest() failed on some machines and passed on others.
https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_special.functional_x86-64_linux

[code]

Suspect those machines don't support micro seconds. Test should be updated https://github.com/adoptium/aqa-tests/blob/master/functional/MBCS_Tests/datetime/src/FileTest.java#L125-L143

[2021-07-27 16:27] sophia-guo opened #2775 "Functional MBCS_Tests datetime tests are duplicate running twice for each build."
Functional MBCS_Tests datetime tests are defined in https://github.com/adoptium/aqa-tests/blob/master/functional/MBCS_Tests/datetime/testng.xml and https://github.com/adoptium/aqa-tests/blob/master/functional/MBCS_Tests/datetime/testng11.xml.

Tests are defined running in https://github.com/adoptium/aqa-tests/blob/master/functional/MBCS_Tests/datetime/playlist.xml#L17 and https://github.com/adopti

[2021-07-27 16:41] smlambert commented on #2773
This is a reminder that we should also look to add very basic PR testing at the OpenJ9 project to compile and run some functional tests against a hotspot build, to ensure test changes do not fail on that implementation.

[2021-07-27 17:37] llxia commented on #2773
I think this test should be disabled for hotspot.

[2021-07-28 02:39] smlambert opened #2776 "Establish a versioning and branching scheme for AQAvit project"
For several reasons, it is time for us to implement a versioning/branching story for AQAvit.  Reasons include:
- help us clarify and define the steps for marketplace vendors to use
- aids in the reproducible test story
- allow us to continue working in tip while we release, as we can use a branch for the release (we are having so many PRs backlogged during code freeze, that this will be very helpf

[2021-07-28 14:22] jeffalder commented on #2363
This is the same file I'm editing on #2753; I'm not sure if I should just do this change as well?

[2021-07-28 14:50] llxia commented on #2363
This one is a little complicated as we also need to update other files (i.e., [JenkinsfileBase](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase)) to use PLATFORM instead of SPEC. Maybe a separate PR be is better. It will be easier for testing. Also, to avoid merge conflict, I would suggest waiting until #2753 is merged.

[2021-07-28 16:27] smlambert opened #2778 "AQAvit Meeting: August 11, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- TRSS updates, swagger

[2021-07-28 16:28] smlambert commented on #2734
Meeting [recording link](https://bluejeans.com/s/6Kc1PVzouK3)

Minutes:
- Reviewed the background and requirements related to the AQAvit versioning/branching proposal in #2776, ask for feedback over the course of the next week, then begin to use the proposed scheme to tag all 7 AQAvit repos
- Take a quick look at some issues that came out of this July release AQA triage (#2773, #2774, #2775 and ht

[2021-07-28 16:28] #2734 closed

[2021-07-29 13:23] smlambert commented on #1971
FYI @SAY-droid427

[2021-07-29 13:33] SAY-droid427 commented on #1971
Thank you @smlambert ! I will work on this issue this week.

[2021-07-29 18:13] #2770 closed

[2021-07-29 18:15] #2714 closed

[2021-08-04 18:37] SAY-droid427 commented on #2724
Using bearer token authentication, and the following GET request: https://api.twitter.com/2/tweets/counts/recent?query=%23tests
This returns the count of the number of tweets containing the #tests.

[code]

[2021-08-05 14:01] #1728 closed

[2021-08-05 14:03] SAY-droid427 commented on #2076
@smlambert This issue can be closed because the related PR has been merged already. Thanks!

[2021-08-05 14:05] SAY-droid427 opened #2785 "Tweetest: Fetching tweets related to external tests"
For the Tweetest project, we need to fetch the tweets which have certain keywords like external_custom, etc. We will list the criteria that a tweet should match in order to be fetched via the Twitter v2 API in this issue.
@smlambert @sophia-guo @llxia

[2021-08-05 15:12] #2691 closed

[2021-08-05 15:40] #2763 closed

[2021-08-05 19:38] smlambert commented on #2076
Great thanks for the reminder @SAY-droid427 ! (in future you can [use keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) like close closes fix fixes in the PRs and issues will get automatically closed when they merge!).

[2021-08-05 19:38] #2076 closed

[2021-08-05 20:32] LongyuZhang opened #2789 "extended.openjdk jdk_nio java/nio/file/Files/InputStreamTest.java Assertion Failed"
**Describe the bug**
Failure links:
- hotspot: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1191/testReport/java_nio_file_Files_InputStreamTest/java/InputStreamTest/
- openj9:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1192/testReport/java_nio_file_Files_InputStreamTest/java/InputStreamTest/
- test category: extended.openjdk
- test target name: jdk_nio
- OS/architecture

[2021-08-05 20:32] LongyuZhang opened #2790 "extended.openjdk jdk_security1 java/security/KeyFactory/KeyFactoryGetKeySpecForInvalidSpec.java failed with exception"
**Describe the bug**
Failure links:
- hotspot: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1191/testReport/java_security_KeyFactory_KeyFactoryGetKeySpecForInvalidSpec/java/KeyFactoryGetKeySpecForInvalidSpec/
- openj9:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1192/testReport/java_security_KeyFactory_KeyFactoryGetKeySpecForInvalidSpec/java/KeyFactoryGetKeySpecForInvali

[2021-08-07 13:51] smlambert commented on #2659
I see another test that has this same Unimplemented error, runtime/CompressedOops/CompressedClassPointers.java on ppc64le during release testing at https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64le_linux_testList_0/11/testReport/runtime_CompressedOops_CompressedClassPointers/java/CompressedClassPointers/

[2021-08-07 14:36] smlambert commented on #970
#2294 and this issue are duplicates - closing this one as the excludes reference 2294.

[2021-08-07 14:36] #970 closed

[2021-08-07 14:42] smlambert opened #2792 "jdk_management_1 FAILED in Test_openjdk8_hs_extended.openjdk_ppc64le_linux_testList_1"
From jdk_management test target, the sun/management/jmxremote/bootstrap/CustomLauncherTest.java test fails with a NullPointerException:
[code]

**Test Info**
Test Name: jdk_management_1
Test Duration: 1 min 33 sec
Machine: test-osuosl-ubuntu1804-ppc64le-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=60f785e673f1507c79eedb95

**Build Info**
Build Name: Test_openjdk8_hs_ex

[2021-08-08 18:23] jeffalder commented on #2363
@llxia I was browsing through this. I could replace all of the references to `SPEC.startsWith` to `PLATFORM.contains`, and that should cover the removal of `SPEC`. However, I find that approach somewhat fragile, as it requires that `PLATFORM` always match a certain pattern. That may or may not surprise people adding new platform support.

I'd like to fix this by replacing `SPEC` with `BASE_OS`; `B

[2021-08-09 14:24] sophia-guo commented on #2138
Another one https://github.com/adoptium/adoptium/issues/63#issuecomment-894501202

[2021-08-09 15:10] llxia commented on #2363
Thanks @jeffalder for working on this.  Talked with @renfeiw , since there are other dependencies on `PLATFORM_MAP`, we need to approach this progressively. Sorry about the confusion.

For now, we can only remove SPEC references [JenkinsfileBase](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase). We do not need to update openjdk_tests or any of the build.xml.
For

[2021-08-09 15:33] pshipton opened #2795 "OpenJDK java/foreign/stackwalk tests excluded for OpenJ9 but still running"
**Describe the bug**
java/foreign/stackwalk/TestStackWalk.java and java/foreign/stackwalk/TestAsyncStackWalk.java are excluded via the following, but are still running in OpenJ9 jdk17 testing.
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_sanity.openjdk_x86-64_linux_OpenJDK17/9/#showFailuresLink

https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk17-ope

[2021-08-09 15:35] pshipton commented on #2795
@llxia fyi

[2021-08-09 15:36] pshipton commented on #2795
Do the individual sub-tests like #default_gc.TestAsyncStackWalk_default_gc need to be excluded instead?

[2021-08-09 15:43] pshipton commented on #2795
Created https://github.com/adoptium/aqa-tests/pull/2796 and I'll run a test using that.

[2021-08-09 19:39] sophia-guo opened #2798 "System tests run with hotspot failed with `openj9-systemtest/openj9.test.sharedClasses.jvmti/bin/native does not exist`"
System tests run with hotspot failed with message:

[code]
https://ci.adoptopenjdk.net/job/Grinder_iteration_1/45/consoleFull

The reason is `system/openj9-systemtest` directory only exist with `JVM_VESION` with `openj9` or `ibm`.
https://github.com/adoptium/aqa-tests/blob/master/system/common.xml#L180-L199

Hence build failed with `system/openj9-systemtest/openj9.test.sharedClasses.jvmti/bin/nati

[2021-08-09 19:40] sophia-guo commented on #2798
@Mesbah-Alam could you please take a look at this? Thanks.

[2021-08-10 01:57] #2798 closed

[2021-08-10 04:37] SAY-droid427 commented on #2785
@smlambert @llxia @sophia-guo I have written the code for fetching the tweets related to the external_custom hashtags. I have currently stored the code in a repository https://github.com/SAY-droid427/testTweet/blob/main/index.js. Where should I put the code in the aqa-test repo?

[2021-08-10 04:41] SAY-droid427 commented on #2785
The outputs now relate to all tests, however we can change it to external_test(currently there are no tweets related to external_custom)
![Uploading SSS.png…]()

[2021-08-10 12:20] smlambert commented on #2785
Nice @SAY-droid427 !
I was thinking this can go into a subdir of buildenv called tweetest:
https://github.com/adoptium/aqa-tests/tree/master/buildenv/tweetest

But will ask @sophia-guo and @llxia to weigh in with their thoughts on location.

[2021-08-10 12:23] sxa commented on #2138
@sophia-guo That looks like the tests have a dependency on the `fakeroot` tool which I wasn't aware we required. Can yuou supply a Grinder re-run link for that problem, as I'm not sure it'll be specific to docker - we do not have `fakeroot` available on all of our systems at present.

[2021-08-10 13:38] smlambert commented on #2138
Example run in Grinder: https://ci.adoptopenjdk.net/job/Grinder/1203

[Rerun in Grinder on same machine](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=nightly&TARGET=jdk_tools_1&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=AdoptOpenJDK%3Amaster&TEST_PARALLELIZATION_PARAMS=&OPENJ9_SYSTEMTEST_O

[2021-08-10 17:30] smlambert opened #2801 "Use test-arg concurrency=cpus for most jck test targets to improve jck execution time"
Given https://github.com/adoptium/aqa-systemtest/blob/master/openjdk.test.jck/src/test.jck/net/adoptopenjdk/stf/Jck.java#L541-L545, we know that we can use availableProcessors to optimize use of machine for most of the test targets.  There are a select set that do not respond well to this setting.

We can update [jck.mk](https://github.com/adoptium/aqa-tests/blob/master/jck/jck.mk) or the [playlis

[2021-08-10 18:18] sophia-guo commented on #2138
@sxa if I login in test machine I can run `fakeroot`, which means it is installed by default in Linux probably. Though aarch64 has the same issue, which I will open an issue in infra. https://github.com/adoptium/infrastructure/issues/2291

[2021-08-10 19:05] smlambert opened #2802 "Select JRE versus JDK based environment variable for certain test runs"
We'd like to be able to swap between JDK and JRE for certain groups of test targets.  We already do this for a single target called hotspot_jre, but want to be able to do it en masse for an entire test run in some cases.

[2021-08-10 21:39] sophia-guo opened #2804 "Exclude compiler/graalunit/* tests as no graalunit.libs compiled"
Exclude compiler/graalunit/* tests as no graalunit.libs compiled

Related with https://github.com/adoptium/adoptium/issues/63

[2021-08-11 03:20] sophia-guo opened #2805 "java/beans/PropertyEditor/* tests failed on Mac"
java/beans/PropertyEditor/* tests failed on Mac with jdk11 and jdk16.

The error messages are similar for each PropertyEditor tests. One example:

[code]

Related https://github.com/adoptium/adoptium/issues/62
https://github.com/adoptium/adoptium/issues/63

JBS reported happened to all platforms with jdk9 and fixed. https://bugs.openjdk.java.net/browse/JDK-8173082. Looks same issue has not be fixe

[2021-08-11 03:29] SAY-droid427 commented on #2785
Should I go ahead with this? @lxia @sophia-guo

[2021-08-11 14:42] sophia-guo opened #2808 "Three tests under sun/management/jmxremote/startstop/ failed intermittently on ppc64le with jdk16"
Three tests under sun/management/jmxremote/startstop/ failed intermittently on ppc64le with jdk16

sun/management/jmxremote/startstop/JMXStartStopTest.java.JMXStartStopTest
sun/management/jmxremote/startstop/JMXStatusPerfCountersTest.java.JMXStatusPerfCountersTest
sun/management/jmxremote/startstop/JMXStatusTest.java.JMXStatusTest

Reran 100 times.
JMXStartStopTest.java 3/100 failed
JMXStatusPerfC

[2021-08-11 15:19] sophia-guo opened #2809 "Four tests under sun/management/jdp/ get the error message `Caused by: java.lang.IllegalArgumentException: IPv6 socket cannot join IPv4 multicast group` on AIX with jdk16"
sun/management/jdp/JdpDefaultsTest.java.JdpDefaultsTest
sun/management/jdp/JdpJmxRemoteDynamicPortTest.java
sun/management/jdp/JdpOffTest.java.JdpOffTest
sun/management/jdp/JdpSpecificAddressTest.java.JdpSpecificAddressTest

[code]

Related https://github.com/adoptium/adoptium/issues/63

[2021-08-11 15:35] sophia-guo opened #2810 "java/beans/XMLEncoder/* failed on AIX jdk16 with `java.awt.AWTError: Can't connect to X11 window server using ':0' as the value of the DISPLAY variable.`"
java/beans/XMLEncoder/* failed on AIX jdk16 with `_X11TransTRANS(ibmSHMConnect) () can't connect: errno = 78
java.awt.AWTError: Can't connect to X11 window server using ':0' as the value of the DISPLAY variable.`

java/beans/XMLEncoder/Test4631471.java.Test4631471
java/beans/XMLEncoder/Test4652928.java.Test4652928
java/beans/XMLEncoder/Test4822050.java.Test4822050
java/beans/XMLEncoder/Test4903007

[2021-08-11 16:51] smlambert commented on #2778
Meeting [recording link](https://bluejeans.com/s/Ca6s1n4emYd)

[2021-08-11 16:55] smlambert commented on #2809
What happens when you add -Djava.net.preferIPv4Stack=true as an option?  (Are the tests smart enough to skip portions specific to the Multicast config on the machine?  I have not looked at the test code, there are a different set of multicast tests that benefit from using this option on AIX).

[2021-08-11 18:56] smlambert opened #2812 "AQAvit Meeting: Sept 8, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Dynamic compilation -

[2021-08-11 18:57] #2778 closed

[2021-08-11 21:09] sophia-guo opened #2813 "sun/security/krb5/auto/Unreachable.java consistently timeout on aix jdk8"
sun/security/krb5/auto/Unreachable.java consistently timeout on aix jdk8

[code]
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/250/

related https://github.com/adoptium/adoptium/issues/58

[2021-08-11 21:22] sophia-guo opened #2814 "javax/imageio/plugins/shared/ImageWriterCompressionTest.java failed on aix with jdk11"
javax/imageio/plugins/shared/ImageWriterCompressionTest.java failed on aix with jdk11

[code]

Related https://github.com/adoptium/adoptium/issues/62

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/249/

[2021-08-12 03:30] sophia-guo opened #2816 "jdk16: java/nio/channels/DatagramChannel/SendReceiveMaxSize.java failed on AIX"
jdk16: [java/nio/channels/DatagramChannel/SendReceiveMaxSize.java failed on AIX ](https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.openjdk_ppc64_aix_testList_2/9/console)with message:

[code]

reran got different error: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/247/console

[code]

related https://github.com/adoptium/adoptium/issues/63

[2021-08-12 15:03] sophia-guo commented on #2659
This did happen to hotspot_jre_1

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64le_linux_testList_2/11/#showFailuresLink

[2021-08-12 18:53] sophia-guo opened #2818 "Tests doesn't work for AIX"
JDK8:
runtime/7110720/Test7110720.sh.Test7110720
 compiler/6894807/IsInstanceTest.java.IsInstanceTest

doesn't work for AIX
https://github.com/adoptium/jdk8u/blob/master/hotspot/test/compiler/6894807/Test6894807.sh#L23-L43
https://github.com/adoptium/jdk8u/blob/master/hotspot/test/runtime/7110720/Test7110720.sh#L30-L59

Need to exclude, or need to update upstream testcase.

compiler/8004051/Test80

[2021-08-16 13:12] #2785 closed

[2021-08-16 14:59] sophia-guo opened #2820 "com/sun/jndi/dns/ConfigTests/Timeout.java failed on s390 with jdk11, 16"
com/sun/jndi/dns/ConfigTests/Timeout.java failed on s390 with jdk11, 16 with error message:

[code]

 https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.openjdk_s390x_linux_testList_1/9/

[2021-08-16 19:49] sophia-guo commented on #2809
Yes, with change the test itself https://github.com/adoptium/jdk16u/compare/master...sophia-guo:ipv6?expand=1, test passed.

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/265/

All four tests similar. Need to update test itself, which means we need someone to create the issue in JBS and update it if we'd like them to run on AIX.

[2021-08-17 15:39] SashaPepin opened #2826 "Support Azul Zulu builds of OpenJDK publishing at the Adoptium marketplace"
Azul wants to publish Azul Zulu builds of OpenJDK at the Adoptium marketplace.

The aqa-tests results for Linux platform build (zulu8.54.0.21-ca-jdk8.0.292-linux_x64) for sanity.system, extended.system, special.system, sanity.functional, extended.functional, special.functional, sanity.openjdk, extended.openjdk and special.openjdk test suites can be found here:
https://cdn.azul.com/aqavit/zulu8.54.

[2021-08-17 18:31] #2804 closed

[2021-08-17 18:31] #2818 closed

[2021-08-17 19:57] sophia-guo commented on #2810
Trying with `env.DISPLAY = ":1"` will get similar error `_X11TransTRANS(ibmSHMConnect) () can't connect: errno = 68
java.awt.AWTError: Can't connect to X11 window server using ':1' as the value of the DISPLAY variable.`

[2021-08-17 20:10] smlambert commented on #2810
https://www.ibm.com/docs/en/db2woc?topic=message-tcpip-errors

errno = 68 -> EADDRNOTAVAIL The specified host name or IP address is not available from the local system.

[2021-08-18 13:02] sophia-guo commented on #2810
The error code could be different everytime. In the release build, the errno = 78, timeout.

[2021-08-18 13:06] sophia-guo commented on #2810
Refer to https://github.com/adoptium/aqa-tests/issues/2810, close this one.

[2021-08-18 13:07] #2810 closed

[2021-08-18 14:56] sxa opened #2828 "Compare AIX openjdk jtreg exclusion list with SAP's"
We should compare SAP's list of AIX test exclusions [as posted to the ppc-aix-port-dev list](https://mail.openjdk.java.net/pipermail/ppc-aix-port-dev/2021-July/thread.html) with the [exclusions that we have in this repository](https://github.com/adoptium/aqa-tests/tree/master/openjdk/excludes), and sync them as appropriate to ensure consistent coverage with the team that had been working on the po

[2021-08-18 17:47] #2801 closed

[2021-08-25 09:45] sxa commented on #2826
We do not have the marketplace fully set up yet, but since Azul is a working group member we expect they'll be available via the marketplace in due course once it is ready :-)

[2021-08-26 12:31] adamfarley opened #2832 "Windows 32bit JDK16 - extended.OpenJDK Triage issue for July Release"
**Summary**

There are a number of failures here, so this is a temporary issue to list them all and to assess whether they block release.

**[jdk_vector_2 failures](https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.openjdk_x86-32_windows_testList_2/7/consoleFull)**
TESTS:
- jdk/incubator/vector/AddTest.java
- jdk/incubator/vector/Byte256VectorLoadStoreTests.java
- jdk/incubator/vector/Byt

[2021-08-27 15:17] andrew-m-leonard opened #2837 "jdk11 Win32 OnJcmdTest fails : Debugging has not been started: Could not find jdwp agent."
**Describe the bug**
Triage of jdk-11.0.12+7 shows a repeatable failure for com/sun/jdi/OnJcmdTest.java
https://github.com/adoptium/adoptium/issues/62#issuecomment-907259150
I'm not sure this test has ever passed on Win32 jdk-11.

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1316/console

Rerun in [Grinder link]

[2021-08-31 12:22] adamfarley opened #2840 "Windows 32bit: HelpFlagsTest fails due to missing specifications"
**Describe the bug**
OpenJDK Test tools/launcher/HelpFlagsTest.java fails on Windows 32bit, JDK11 and JDK16, due to an apparent test config issue.

JDK11: https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-32_windows_testList_0/10/console
JDK16: https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.openjdk_x86-32_windows_testList_0/7/consoleFull

[Earlier reference.](https

[2021-08-31 14:06] smlambert commented on #2840
I am presuming the jdkTools array is in upstream code, in which case this issue should get reported and fixed upstream.

[2021-09-01 12:24] adamfarley commented on #2840
Issue reported here: https://bugs.openjdk.java.net/browse/JDK-8273235

Seems a simple enough fix now I've read the code. Have added notes on the fix to that bug.

[2021-09-01 17:10] deepak-gittyup commented on #2698
Can I pick up this task ?

[2021-09-01 17:22] smlambert commented on #2698
Yes, certainly @deepak-gittyup !  Please ask questions in this issue if you have any.

[2021-09-01 18:26] deepak-gittyup commented on #2698
Thanks @smlambert

Here is my understanding of the requirement:
I need to write a parser (`in JAVA`) that takes the `excludes` directory as its input and creates a json file adhering to the format shown in the `expected output` shown above

What should be `JDK_IMPL` field ?
I see that the problem list files look like:
ProblemList_openjdk<JDK_VERSION>-<JDK_IMPL>.txt // For JDK_IMPL = `openj9` and `

[2021-09-01 20:02] llxia opened #2841 "Support server and client testing"
In some cases, two machines are needed for testing. For example, some performance tests will need to communicate between server and client. We need to update our test pipeline to support this case.

Proposed solution:
- create a Jenkins job `Machine-Reservation` - this is a simple job to grep user-specified machine and sleep for the user-specified time. The main idea is to reserve the machine.
- i

[2021-09-01 20:18] awsafsakif commented on #2841
We also need a check to see if `CLIENT_NODE` machine is idle before triggering the reservation job. Otherwise we will run into an issue where if the client machine is already busy running a different benchmark, the reservation job will be scheduled but not triggered.

Extra variables required: TIMEOUT: How long server machine will be active in jenkins till job is cancelled, INTERVAL: How often to

[2021-09-01 20:26] llxia commented on #2841
Yes, for checking if a node is available https://stackoverflow.com/questions/37227562/how-to-know-whether-the-jenkins-build-executors-are-idle-or-not-in-jenkins-using/37238045

Also, we have similar code to use the API: https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L300

[2021-09-02 10:12] adamfarley commented on #2832
Things I've tried:

**Re-run the tests**

Can't. Upstream job's artifacts (the build) have expired.

**Re-run the tests against another copy of the build**

The only other copy of the build on that server is located [here](https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk16-pipeline/432/artifact/target/windows/x86-32/hotspot/OpenJDK16U-jdk_x86-32_windows_hotspot_16.0.2_7.zip)

Attempting t

[2021-09-07 20:08] smlambert commented on #2698
hi @deepak-gittyup - @llxia will give you some direction on this issue.

[2021-09-08 01:05] llxia commented on #2701
example: https://github.com/adoptium/aqa-test-tools/blob/master/MachineLearningPrototype/dataCollection/collect_data.py

[2021-09-08 01:09] llxia commented on #2698
Personally, I think python will be much simpler. I know this makes python one of the prerequisites, but we should only run this script on xlinux for parsing. Plus, we have some code for[ Query git issue url to get issue status](https://github.com/adoptium/aqa-tests/issues/2701) in python already.

I see that the problem list files look like:
ProblemList_openjdk<JDK_VERSION>-<JDK_IMPL>.txt // For J

[2021-09-08 16:57] smlambert opened #2844 "AQAvit meeting: Sept 22, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- update on dynamic com

[2021-09-08 16:57] smlambert commented on #2812
Meeting [recording link](https://bluejeans.com/s/9lNu@ggEx7O)

Meeting minutes:
- Renfei discussed the Dynamic compilation feature, and the work that has already been delivered in relation to it.  Essentially this effort accomplishes a few positive outcomes, overall reduction in compilation time, less intimate knowledge of which test targets belong to which test group & BUILD_LIST making it easier

[2021-09-08 16:57] #2812 closed

[2021-09-08 21:20] sophia-guo opened #2845 "jvm_compiler tests got `Error: Bad parameters specified: One of the files you specified was not found. ` with jdk17"
jvm_compiler tests got `Error: Bad parameters specified: One of the files you specified was not found. ` with jdk17.

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk17_hs_extended.openjdk_x86-64_mac_testList_2/9/console

[2021-09-08 21:22] sophia-guo commented on #2845
Graal was removed from JDK16+. No graal unit tests problem list file available. Will limit that problemlist to jdk11 and jdk16.

[2021-09-08 21:22] smlambert commented on #2845
Yes, indeed I think we could use the openjdk.mk file to define that parameter and in that way for 17+ it can be blank.

[2021-09-09 03:23] SAY-droid427 commented on #1971
@llxia @smlambert @sophia-guo May I make a PR with the .yaml file as discussed previously in the meet?

[2021-09-09 15:27] smlambert opened #2847 "Tests running on alpine-linux do not get DISPLAY variable set in Jenkins"
**Describe the bug**
xvfb Jenkins plugin is not triggered for alpine-linux platform because the groovy script checks for if a SPEC startsWith "linux", rather than contains "linux".

Updating this line to use contains versus startsWith should resolve the issue:
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L602

This then means that the DISPLAY variable is not s

[2021-09-09 15:27] sophia-guo opened #2848 "java/beans/XMLEncoder/java_awt_ScrollPane.java failed with `java.awt.HeadlessException` on Mac"
java/beans/XMLEncoder/java_awt_ScrollPane.java failed with `java.awt.HeadlessException` on Mac.

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk16_hs_extended.openjdk_x86-64_mac_testList_1/10/testReport/java_beans_XMLEncoder_java_awt_ScrollPane/java/java_awt_ScrollPane/

[2021-09-10 02:19] deepak-gittyup commented on #2698
Thanks for the clarification @llxia
Couple of other questions

What should be the value of the `TARGET`?
In the examples above, I see that both of them are set to `jdk_custom`
"TARGET" : "jdk_custom"

What should be the value of `PLATFORM` ?
The first example entry above seems to be picked up from `ProblemList_openjdk17.txt`
Here is the line
[code]
So `generic-all` here is mapped to "PLATFORM" : "

[2021-09-10 09:02] andrew-m-leonard opened #2851 "Arm32 linux build: jdk8u302-b08-aarch32-20210726 various JVM Crashes"
sanity.openjdk: java/lang/invoke/LFCaching/LFMultiThreadCachingTest.java
[code]

sanity.perf: renaissance-future-genetic_0
[code]

sanity.system: TestJlmRemoteMemoryAuth_2
[code]

JVM Crash:
[code]
From core:
[code]

[2021-09-10 12:46] #2847 closed

[2021-09-10 13:10] karianna opened #2852 "AQAVit Test Eclipse Temurin 17 binaries"
This epic covers the AQAVit testing of the core binaries only.  Binary Production, Linux Installers, Containers, Compliance Testing, Website, API, and communication activities will be covered in separate Epics in their relevant repository.

[2021-09-10 13:23] llxia commented on #2698
@deepak-gittyup Thanks for looking into this.

"TARGET" : "jdk_custom"
This is the same for all tests. `CUSTOM_TARGET ` should set to the *.java file path.

The `PLATFORM` that we are using is https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L3. You can ignore SPEC and LABEL.
The value in problemlist has to match with `PLATFORM`. We can have an array that contains `

[2021-09-10 13:39] karianna opened #2853 "Triage JDK 17 Primary Platform Pipeline"
#### Release Summary Report for openjdk17-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=61411ffdc6182d021721328b&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=61411ffdc6182d021721328b)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/187/
Started by user Martijn Ver

[2021-09-10 13:40] karianna opened #2854 "Triage JDK 17 Secondary Platform Pipeline"
Summarize AQA test results. Find the launched build pipeline in [TRSS](https://trss.adoptium.net/) to view a summary of test results. Can use the Release Summary Report feature in TRSS to generate a summary of failures, history, and possible issues in markup format to be added to this issue as a comment ready for triage.

Triage each build and test failure in the release summary report (following

[2021-09-10 13:49] andrew-m-leonard commented on #2851
sanity.system: TestJlmRemoteMemoryAuth_2
Re-runs on various machines:
test-docker-ubuntu2004-armv7l-1 : Failed
build-equinix-ubuntu1604-armv7l-1 : Passed
test-sxamb-armv7l-raspbian-pi4 : Passed

[2021-09-10 13:55] andrew-m-leonard commented on #2851
**sanity.openjdk: java/lang/invoke/LFCaching/LFMultiThreadCachingTest.java**
Re-runs on various machines:
test-sxamb-armv7l-raspbian-pi4 :
test-docker-ubuntu2004-armv7l-1 :
build-equinix-ubuntu1604-armv7l-1 :

[2021-09-10 14:48] andrew-m-leonard commented on #2851
**sanity.perf: renaissance-future-genetic_0**
Re-runs on various machines:
test-sxamb-armv7l-raspbian-pi4 : Passed
test-docker-ubuntu2004-armv7l-1 : Passed
build-equinix-ubuntu1604-armv7l-1 : Passed

[2021-09-10 15:43] deepak-gittyup commented on #2698
I extracted all the unique Platform values from all the ProblemList*.txt files (deliberately omitting `*-all` for now):
LIST1
[code]

Here is all the supported Platform from PLATFORM_MAP (extracted from https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L3):
LIST2
[code]

My understanding is that now I have to map items in LIST1 to items in LIST2 before adding them to

[2021-09-10 16:19] sophia-guo opened #2855 "JDK16+ some JFR tests failed with fatal errors on window32"
JDK16+ some JFR tests failed with fatal errors on window32.

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk16_hs_extended.openjdk_x86-32_windows_testList_1/9/testReport/junit/jdk_jfr_event_oldobject_TestAllocationTime/java/TestAllocationTime/

There are 17 tests failed. Some of them with different error message, but may be affected by this issue.
jdk/jfr/event/oldobject/Test

[2021-09-10 18:22] sophia-guo commented on #2837
Same for jdk16+. Will exclude it.

[2021-09-10 19:48] sophia-guo opened #2857 "jdk17+ tools/jlink/JLinkTest.java failed on window32"
jdk17+ tools/jlink/JLinkTest.java failed on window32

[code]
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0/lastCompletedBuild/testReport/junit/tools_jlink_JLinkTest/java/JLinkTest/

The failure test was recently committed by https://bugs.openjdk.java.net/browse/JDK-8240349
 https://github.com/openjdk/jdk17/commit/4d1cf51b1d4a5e812c9f

[2021-09-10 19:53] llxia commented on #2698
You can ignore `*_xl`. We will remove them in the future. I think `windows-x86` matches with `x86-64_windows` and `x86-32_windows`

We need to map problemlist value to `PLATFORM`. Not the other way around.

yes

Use `"PLATFORM" : "all"`

[2021-09-11 08:51] deepak-gittyup commented on #2698
Thanks for quick reply @llxia

Yes
What I was trying to say is, currently list of all supported PLATFORM types is known
But say tomorrow one of the entires in problem list line appears like this:
[code]
Then the mapping will fail since I currently don't know what the problemlist value `linux-alpine-x64` should map to
Visually I can see that it should be mapped to `x86-64_alpine-linux`

Just like w

[2021-09-11 18:23] jeffalder commented on #2363
Hey, I let this go on too long. I'm not going to complete it, and I'm yielding my hold on this. My apologies!

[2021-09-13 08:32] andrew-m-leonard commented on #2851
The above indicate all three crashes are intermittent.
I will raise a openjdk bug for each with crash data.

[2021-09-13 10:15] andrew-m-leonard commented on #2851
sanity.system: TestJlmRemoteMemoryAuth_2 bug raised upstream: https://bugs.openjdk.java.net/browse/JDK-8273652

[2021-09-13 12:41] andrew-m-leonard commented on #2851
Unable to re-create sanity.perf: renaissance-future-genetic_0 after numerous re-tries

[2021-09-14 13:42] #2845 closed

[2021-09-14 15:48] karianna opened #2860 "PRE RELEASE - Triage JDK 17 Primary Platform Pipeline"
**PRE-RELEASE**

TRSS [link](https://trss.adoptopenjdk.net/buildDetail?parentId=613fa2afc6182d02171feba4&testSummaryResult=failed&buildNameRegex=%5ETest)
Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/185/
Started by user Martijn Verburg
### ⚠️  [refactor_openjdk_release_tool](undefined) has a build result of undefined ⚠️

[**Test_openjdk17_hs_extended.openjdk_x86-6

[2021-09-14 15:50] karianna opened #2861 "PRE RELEASE - Triage JDK 17 Secondary Platform Pipeline"
TRSS [link](https://trss.adoptopenjdk.net/buildDetail?parentId=613fa2afc6182d02171feba2&testSummaryResult=failed&buildNameRegex=%5ETest)
Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/186/
Started by user Martijn Verburg
### ⚠️  [refactor_openjdk_release_tool](undefined) has a build result of undefined ⚠️

[**Test_openjdk17_hs_extended.openjdk_s390x_linux**](https:/

[2021-09-14 17:56] sophia-guo commented on #2860
Linux:

TRSS [link](https://trss.adoptopenjdk.net/buildDetail?parentId=613fa2afc6182d02171feba4&testSummaryResult=failed&buildNameRegex=%5ETest)
Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/185/
Started by user Martijn Verburg
### ⚠️  [refactor_openjdk_release_tool](undefined) has a build result of undefined ⚠️

[**Test_openjdk17_hs_extended.openjdk_x86-64_linux_t

[2021-09-14 20:17] smlambert commented on #2860
@karianna - it appears you are pulling TRSS report from an old TRSS instance, is that the case?

This is the release report generated from the public TRSS instance at: https://trss.adoptium.net/ (which has the latest updates to generate the report faster and put it in a more pleasing order)...  Noting the that 'undefined' child jobs are most likely due to the bot not having read access to those jo

[2021-09-15 06:40] kerthcet commented on #474
have you solve the problem?

[2021-09-15 08:12] karianna commented on #2860
I'm going to close this issue to avoid confusion although it can be used for reference.

[2021-09-15 08:12] #2860 closed

[2021-09-15 08:12] karianna commented on #2861
I'm going to close this issue to avoid confusion although it can be used for reference.

[2021-09-15 08:12] #2861 closed

[2021-09-15 12:15] smlambert commented on #2853
@karianna - did you see any of the notes I put in the pre-release issue or https://github.com/adoptium/aqa-test-tools/issues/541 - you have pasted the 'old style' report to this issue, below is the new style report...

Also, last week, @sophia-guo and I assigned ourselves to the triage EPIC under which this issue lives, so we will be 'helping' triage today.

---------------------

#### Release Sum

[2021-09-15 13:41] karianna opened #2862 "ZGC Failure in Windows 17 x64 Smoke test"
failing with java.lang.AssertionError: Expected ZGC to be present but it is absent. expected [0] but found [1] need to confirm whether it is no longer expected to be present in JDK17 on Win64

[2021-09-15 14:28] smlambert commented on #2853
Shelley on Win64 triage

[2021-09-15 14:31] andrew-m-leonard commented on #2853
Andrew looking at win64 smoke test issue: failing with java.lang.AssertionError: Expected ZGC to be present but it is absent.

[2021-09-15 15:44] sophia-guo commented on #2853
Sophia on Linux triage

[2021-09-15 16:00] sophia-guo commented on #2853
Sophia on Linux triage .

- [ ] Test_openjdk17_hs_extended.openjdk_x86-64_linux_testList_0 ⚠️ UNSTABLE ⚠️ - **OK to Release**

jdk_security_infra_1 => deep history 1/3 passed | possible issues From @andrew-m-leonard

3 testcases failing with Execution failed: main' threw exception: java.lang.RuntimeException: TEST FAILED: couldn't determine EE certificate status `, deep history shows it passing on

[2021-09-15 16:25] sophia-guo commented on #2854
Sophia on aarch64 triage

[2021-09-15 17:51] sophia-guo commented on #2854
Test_openjdk17_hs_extended.openjdk_aarch64_linux ⚠️ UNSTABLE ⚠️ : **OK to Release**
jdk_tools_1 => deep history 2/4 passed | possible issues : machine issue, https://github.com/adoptium/infrastructure/issues/2291
jdk_tools_0 => deep history 2/4 passed | possible issues: machine issue, https://github.com/adoptium/infrastructure/issues/2291

Test_openjdk17_hs_sanity.system_aarch64_linux ⚠️ UNSTABLE

[2021-09-15 19:53] sophia-guo commented on #2854
Arm linux triage

- [ ] Test_openjdk17_hs_extended.openjdk_arm_linux ⚠️ UNSTABLE ⚠️

- [ ] Test_openjdk17_hs_extended.openjdk_arm_linux_testList_0 ⚠️ UNSTABLE ⚠️

jdk_beans_2 => deep history 1/4 passed | possible issues
jdk_management_2 => deep history 0/4 passed | possible issues
jdk_tools_2 => deep history 0/4 passed | possible issues

- [ ] Test_openjdk17_hs_extended.openjdk_arm_linux_testList_

[2021-09-15 20:08] sophia-guo commented on #2857
Same issue on arm-linux
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_arm_linux_testList_0/12/testReport/junit/tools_jlink_JLinkTest/java/JLinkTest/

[2021-09-15 21:06] sophia-guo opened #2865 "jdk16+ JFR test jdk/jfr/jmx/streaming/TestClose.java got ` java.lang.Exception: Expected repository to be empty ` on win32 and arm-linux"
jdk16+ JFR test jdk/jfr/jmx/streaming/TestClose.java got ` java.lang.Exception: Expected repository to be empty ` on win32 and arm-linux

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_arm_linux_testList_1/12/
https://ci.adoptopenjdk.net/job/Test_openjdk16_hs_extended.openjdk_arm_linux_testList_1/11/testReport/junit/jdk_jfr_jmx_streaming_TestClose/java/TestClose/
https://ci.ado

[2021-09-15 21:13] sophia-guo opened #2866 "jdk16+ 6 JFR tests got timeout on win32 and arm-linux"
Following tests got java timeout error consistently on all win32 and arm-linux machines
`Program `/home/jenkins/workspace/Test_openjdk17_hs_extended.openjdk_arm_linux_testList_1/openjdkbinary/j2sdk-image/bin/java' timed out (timeout set to 960000ms, elapsed time including timeout handling was 960346ms). `

jdk/jfr/jmx/streaming/TestDelegated.java.TestDelegated
jdk/jfr/jmx/streaming/TestEnableDisab

[2021-09-16 09:11] karianna commented on #2854
#### Release Summary Report for openjdk17-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=6141fb5dc6182d021723825c&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=6141fb5dc6182d021723825c)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/191/
Started by user George Adam

[2021-09-16 09:44] andrew-m-leonard commented on #2854
[**Test_openjdk17_hs_extended.openjdk_x86-32_windows**](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows/28/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0**](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0/8/) ⚠️ UNSTABLE ⚠️
jdk_tools_2 => [deep history 0/4 passed](https://trss.adoptium

[2021-09-16 09:47] karianna commented on #2853
@ShelleyLambert and @sophia-guo - Looks like this is now complete thank you! Are you happy for me to close this?

[2021-09-16 09:54] karianna opened #2867 "Java 17 AIX PPC - tools/jlink/JLinkReproducible3Test fails"
[2021-09-15T18:17:31.643Z]         JLinkReproducible3Test
[2021-09-15T18:17:31.643Z] stderr:
[2021-09-15T18:17:31.643Z] WARNING: A terminally deprecated method in java.lang.System has been called
[2021-09-15T18:17:31.643Z] WARNING: System::setSecurityManager has been called by com.sun.javatest.regtest.agent.RegressionSecurityManager (file:/home/jenkins/workspace/Test_openjdk17_hs_extended.openjdk_

[2021-09-16 09:58] karianna opened #2868 "Java 17 AIX - java/nio/channels/DatagramChannel/SendReceiveMaxSize.java fails"
[2021-09-15T16:52:51.904Z] ACTION: testng -- Failed. Execution failed: `main' threw exception: java.lang.Exception: failures: 2
[2021-09-15T16:52:51.904Z] REASON: User specified action: run testng/othervm SendReceiveMaxSize
[2021-09-15T16:52:51.904Z] TIME:   0.843 seconds
[2021-09-15T16:52:51.904Z] messages:
[2021-09-15T16:52:51.904Z] command: testng SendReceiveMaxSize
[2021-09-15T16:52:51.904Z] r

[2021-09-16 10:22] karianna opened #2869 "AIX Java 17 - jdk/java/beans/PropertyChangeSupport/Test4682386.java fails"
ACTION: main -- Failed. Execution failed: `main' threw exception: java.lang.Error: Probable fatal error: No physical fonts found.

[2021-09-16 13:36] llxia commented on #172
We may also consider adding jython test suite: https://github.com/jython/jython/tree/master/tests
Related openj9 issue: https://github.com/eclipse-openj9/openj9/issues/12238

[2021-09-16 13:45] sophia-guo opened #2870 "jdk16+ jdk/jfr/event/allocation/TestObjectAllocationInNewTLABEvent.java got `ava.lang.RuntimeException: Too few tlab objects allocated: expected 50 >= 80` on win32 and arm-linux"
jdk16+ jdk/jfr/event/allocation/TestObjectAllocationInNewTLABEvent.java got `ava.lang.RuntimeException: Too few tlab objects allocated: expected 50 >= 80` on win32 and arm-linux

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk16_hs_extended.openjdk_x86-32_windows_testList_1/9/testReport/junit/jdk_jfr_event_allocation_TestObjectAllocationInNewTLABEvent/java/TestObjectAllocationInNewT

[2021-09-16 14:58] sophia-guo opened #2871 "jdk17 java/nio/file/spi/SetDefaultProvider.java got `Error occurred during initialization of VM` on arm"
jdk17 java/nio/file/spi/SetDefaultProvider.java got `Error occurred during initialization of VM` on arm

[code]

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_arm_linux_testList_2/12/consoleFull

https://github.com/adoptium/aqa-tests/issues/2854

[2021-09-16 15:01] llxia commented on #2698
@deepak-gittyup thanks for PR. I am ok with hardcoded the map for the initial version. For enhancement, I think we can split the value in problem list by `-`. The matching PLATFORM should contain the tokens with a few exceptions.

[2021-09-16 17:27] andrew-m-leonard opened #2872 "jdk17+35: Win32: EXCEPTION_ACCESS_VIOLATION (0xc0000005) : # V [jvm.dll+0x29f34]"
Two testcases hit this issue:
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/8/testReport/
[code]
[code]

[code]

[2021-09-16 17:46] karianna commented on #2854
#### Release Summary Report for openjdk17-pipeline - Alpine Linux

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=61430cb9c6182d021723a2cb&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=61430cb9c6182d021723a2cb)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/192/
Started by

[2021-09-16 18:35] andrew-m-leonard opened #2873 "tools/jpackage/windows/WinInstallerIconTest : light.exe : error LGHT0217 : Error executing ICE action 'ICE01'"
https://ci.adoptopenjdk.net/job/Grinder/1403/testReport/junit/tools_jpackage_windows_WinInstallerIconTest/java/WinInstallerIconTest/
[code]

[2021-09-16 18:49] sophia-guo opened #2874 "JDK16+ some tests under jdk/incubator/vector/ failed on arm"
jdk/incubator/vector/Byte512VectorLoadStoreTests.java.Byte512VectorLoadStoreTests
jdk/incubator/vector/Byte64VectorTests.java.Byte64VectorTests
jdk/incubator/vector/ByteMaxVectorTests.java.ByteMaxVectorTests
jdk/incubator/vector/Int64VectorTests.java.Int64VectorTests
jdk/incubator/vector/IntMaxVectorTests.java.IntMaxVectorTests
jdk/incubator/vector/Short64VectorTests.java.Short64VectorTests
jdk/in

[2021-09-16 18:55] sophia-guo commented on #2867
This is an known issue https://bugs.openjdk.java.net/browse/JDK-8253688. Will exclude it on aix.

[2021-09-16 19:26] sophia-guo commented on #2854
S90:

- [ ] Test_openjdk17_hs_extended.openjdk_s390x_linux ⚠️ UNSTABLE ⚠️

- [ ] Test_openjdk17_hs_extended.openjdk_s390x_linux_testList_0 ⚠️ UNSTABLE ⚠️

jdk_jdi_1 => deep history 2/4 passed | possible issues
jdk_other_0 => deep history 0/4 passed | possible issues

- [ ] Test_openjdk17_hs_extended.openjdk_s390x_linux_testList_1 ⚠️ UNSTABLE ⚠️

jdk_jdi_0 => deep history 1/4 passed | possible issu

[2021-09-16 19:39] sophia-guo opened #2876 "jdk11+ com/sun/jndi/dns/ConfigTests/Timeout.java failed on s390"
jdk11+ com/sun/jndi/dns/ConfigTests/Timeout.java  failed on s390. Failure also happened in April release. https://github.com/adoptium/adoptium/issues/63#issuecomment-899509264

[code]
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_s390x_linux_testList_1/12/testReport/com_sun_jndi_dns_ConfigTests_Timeout/java/Timeout/

https://github.com/adoptium/aqa-tests/issues/2854

[2021-09-16 20:16] sophia-guo commented on #2854
- [ ] Test_openjdk17_hs_sanity.functional_x86-64_alpine-linux ⚠️ UNSTABLE ⚠️

cmdLineTester_libpathTestRtfChild_0 => deep history 6/7 passed | possible issues

[2021-09-16 20:27] sophia-guo commented on #2854
Alpine sanity.system

Test_openjdk17_hs_sanity.system_x86-64_alpine-linux ⚠️ UNSTABLE ⚠️

All tests passed. Only the latest one built as headless one failed. Most likely transition to headless is the reason of failures ( like https://github.com/adoptium/aqa-tests/issues/2854#issuecomment-921214793). 70 failures need to go through one by one to confirm if that is the reason.

[2021-09-17 03:12] smlambert commented on #2853
Yes, all primary platforms are "OK to release"

[2021-09-17 03:12] #2853 closed

[2021-09-17 07:53] BrijeshNekkare commented on #2868
With send buffer size set to 65507 observe failure by tracing "send" system call via truss command
`_esendto(5, 0x0000000114C05D70, 65507, 0, 0x0000000114C03C90, 28, 0x0000000000000000) Err#59 EMSGSIZE
`EMSGSIZE - The message is too large to be sent all at once as the socket requires.

Success case returns number of characters sent, in this case 65487 - courtesy lumpfish test case at issue [2535](

[2021-09-17 09:11] karianna commented on #2868
Duplication of #2535

[2021-09-17 10:18] andrew-m-leonard commented on #2854
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_arm_linux_testList_0/12/#showFailuresLink
jdk_beans_2 : Grinder re-run on node test-sxamb-armv7l-raspbian-pi4 : https://ci.adoptopenjdk.net/job/Grinder/1408/
jdk_management_2
jdk_tools_2

[2021-09-17 13:10] sophia-guo commented on #2854
Alpine sanity.openjdk

- [ ] Test_openjdk17_hs_extended.openjdk_x86-64_alpine-linux_testList_0 ⚠️ UNSTABLE ⚠️

jdk_beans_1 => deep history 2/4 passed | possible issues
jdk_beans_0 => deep history 2/4 passed | possible issues
jdk_other_1 => deep history 3/4 passed | possible issues
jdk_tools_1 => deep history 0/4 passed | possible issues
jdk_imageio_1 => deep history 2/4 passed | possible issues
jd

[2021-09-17 14:23] sophia-guo opened #2877 "Tests doesn't work for headless alpine linux"
alpine linux jdk built as headless, some tests ( for example jdk_awt) will not work for this jdk. The issue is to make a note of all known tests, which should be excluded or update test code for this jdk.

Functional:
cmdLineTester_libpathTestRtfChild

openjdk:

sun/tools/jconsole/ResourceCheckTest.java
tools/jpackage/share/jdk/jpackage/tests/JavaOptionsTest.java
tools/jpackage/share/AddLauncherTe

[2021-09-17 14:54] sophia-guo commented on #2854
Alpine sanity.openjdk
Test_openjdk17_hs_sanity.openjdk_x86-64_alpine-linux ⚠️ UNSTABLE ⚠️
jdk_util_0 => deep history 6/7 passed | possible issues
jdk_lang_1 => deep history 0/7 passed | possible issues
jdk_lang_0 => deep history 0/7 passed | possible issues
jdk_util_1 => deep history 6/7 passed | possible issues

[2021-09-17 15:12] sophia-guo commented on #2385
This happened to jdk17, https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_x86-64_alpine-linux/64/consoleFull.

[2021-09-17 15:12] sophia-guo commented on #2854
Alpine is done.

[2021-09-17 16:37] BrijeshNekkare commented on #2535
Courtesy lumpfish test case:

With send buffer size set to 65507 observe failure by tracing AIX "send" system call via truss command
`_esendto(5, 0x0000000114C05D70, 65507, 0, 0x0000000114C03C90, 28, 0x0000000000000000) Err#59 `EMSGSIZE EMSGSIZE - The message is too large to be sent all at once as the socket requires.

Success case returns number of characters sent, in this case 65487
`_esendto(5,

[2021-09-17 16:41] sophia-guo commented on #2698
@llxia that must be added by mistake. The correct format for exclude lable should be OSNAME-ARCH. That is saying linux-arm, windows-x64 are the correct one.

[2021-09-17 16:42] BrijeshNekkare commented on #2535
Investigating further on standalone test provided here, which is based on UDP messages using IPv6

Total UDP packet size = size of (UDP header + IPv4/IPv6 header + Application Message)
[code]
Max UDP message size including the header seems to be 64K

So I modified the test to run on IPv4 as well as IPv6
1. With IPv4 max message size sent is 65507
2. With IPv6 max message size sent is 65487

[2021-09-17 17:26] sophia-guo opened #2878 "Add hotspot_custom for hotspot component"
It would be nice to add hotspot specific custom testcase, which would enable us to run a specific hotspot test or hostspot tests under specific path easily in jenkins grinder.

Adding hotspot_custom is really similar to add langtools_custom testcase, https://github.com/adoptium/aqa-tests/issues/2692#issuecomment-870844104 .

[2021-09-17 17:40] psaunderualberta commented on #2702
I'll take this Shelley

[2021-09-17 19:07] llxia opened #2879 "Cannot run `make compile` twice with openjdk tests"
In the local run, if we follow [the doc](https://github.com/eclipse-openj9/openj9/wiki/Reproducing-Test-Failures-Locally#run-specific-test-class-from-openjdk-tests-on-jdk11-linux-s390x-openj9-sdk) to run openjdk test. We found that we cannot run `make compile` twice with openjdk tests.

[code]

I suspect when we run it the second time, the jtreg.jar is download and it fails to unzip again https://

[2021-09-18 17:16] unnati914 commented on #2878
could i work on this?

[2021-09-18 17:17] unnati914 commented on #2878
@sophia-guo

[2021-09-18 19:29] xius666 commented on #2701
I finished and please review it thanks

[2021-09-18 20:43] amandanguyeen commented on #2879
I can take this!

[2021-09-18 21:39] smlambert commented on #2878
Go for it @unnati914 !

[2021-09-19 03:36] BrijeshNekkare commented on #2535
This is consistent with AIX documentation update at https://www.ibm.com/docs/en/aix/7.1?topic=tuning-udp

So my understanding is, this needs a test update

[2021-09-19 04:14] BrijeshNekkare commented on #2535
Above observations are consistent with AIX documentation update at https://www.ibm.com/docs/en/aix/7.1?topic=tuning-udp

So my understanding is, this needs a test update and is not a JDK bug.

[2021-09-20 04:03] BrijeshNekkare commented on #2535
@karianna @lumpfish FYA

[2021-09-20 08:06] #2868 closed

[2021-09-20 09:32] unnati914 commented on #2878
I have to do something similar to #2743 right?

[2021-09-20 10:17] karianna commented on #2854
For some reason Mac Aarch64 test results never arrived in TRSS

[2021-09-20 10:19] karianna opened #2884 "Mac Aarch64 test results never arrived in TRSS for Java 17 release"
https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/188/ is the pipeline that kicked off the build

https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17/job/jdk17-mac-aarch64-hotspot/46/console is the build job that then triggers the test job (which all completed)

NOTE: The test runs were delayed due to an offline machine, but once switched on it went to completion.

[2021-09-20 10:20] karianna commented on #2884
We can manually check each test job for failures to triage so not a blocker for the release.

[2021-09-20 10:25] karianna commented on #2854
Mac Aarch64 manual triage:

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_aarch64_mac/10/ failures:

- [ ] jdk_net_0
- [ ] jdk_net_1  
- [ ] jdk_net_2

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.system_aarch64_mac/26/ failures:

- [ ] Jlink_ReqMod_0
- [ ] Jlink_ReqMod_1
- [ ] Jlink_ReqMod_2

[2021-09-20 10:39] karianna opened #2885 "Java 17 jlink fails on Mac OS X Aarch64 due to incorrect architecture"
STF 18:20:58.492 - Running command: /Users/jenkins/workspace/Test_openjdk17_hs_sanity.system_aarch64_mac/openjdkbinary/j2sdk-image/Contents/Home/bin/jlink --module-path /Users/jenkins/workspace/Test_openjdk17_hs_sanity.system_aarch64_mac/openjdkbinary/j2sdk-image/Contents/Home/jmods:/Users/jenkins/workspace/Test_openjdk17_hs_sanity.system_aarch64_mac/aqa-tests/TKG/output_16316650461897/Jlink_ReqMo

[2021-09-20 11:45] smlambert commented on #2878
2743 links to the issue that describes it better: https://github.com/adoptium/aqa-tests/issues/2692

@sophia-guo can clarify best, but I believe this issue is to add support for hotspot_custom target, which will require these changes:

- adding a `<test><testCaseName>hotspot_custom</testCaseName>...</test>` to a playlist.xml file (in the same playlist.xml file that the [jdk_custom](https://github.

[2021-09-20 17:54] sophia-guo commented on #2878
@unnati914 yes, please see @smlambert comment  https://github.com/adoptium/aqa-tests/issues/2878#issuecomment-922853843.

[2021-09-20 20:13] llxia opened #2887 "Accept system test sha in test pipeline"
The task is very similar to https://github.com/adoptium/aqa-tests/issues/2680. We need to update ant, so we can set sha, tag, or branch in ADOPTOPENJDK_SYSTEMTEST_OWNER_BRANCH and OPENJ9_SYSTEMTEST_OWNER_BRANCH.

Code needs to be updated in:
https://github.com/adoptium/aqa-tests/blob/master/system/common.xml#L87
https://github.com/adoptium/aqa-tests/blob/master/system/common.xml#L122

[2021-09-20 21:55] llxia opened #2889 "Generate property file with SHA info"
Currently, we generate [SHA.txt](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1452/artifact/aqa-tests/TKG/SHA.txt) for capture test repo shas. This file is easy to read, but it can not be used directly to set env value.

Maybe it is easier to create a property file with key and value pairs. The key should match with [get.sh parameters](https://github.com/adoptium/aqa-tests/blob/master

[2021-09-20 21:58] llxia commented on #2347
Discussed with @smlambert , here is the overview of the workflow:
The test build (both automated and local runs) will generate a property file (similar to the current SHA.txt) to capture the SHA that we use in each repo. The property file will replace the existing SHA.txt. In the release branch, the property file will be checked into the repo. In the case of reproducing the build, this property fi

[2021-09-20 22:13] llxia commented on #2674
This issue is no longer needed. SHA/tag/branch can be set in `ADOPTOPENJDK_BRANCH`

[2021-09-20 22:13] #2674 closed

[2021-09-21 09:43] BrijeshNekkare commented on #2828
We observe a large amount of differences between SAP JDK-8 tests excluded in

Versus the one maintained at Adoptium repo

Minimal set of AIX specific test exclusions (tag=aix-all) can be seen at OpenJDK repo: https://github.com/openjdk/jdk8u/blob/master/jdk/test/ProblemList.txt and another few on top of it with tag=generic-all

So,
1. Are the SAP test excludes listed in email, maintained internall

[2021-09-21 15:14] sophia-guo commented on #2885
Move to https://github.com/adoptium/aqa-systemtest/issues/463

[2021-09-21 15:14] #2885 closed

[2021-09-21 15:18] smlambert commented on #2885
FYI for future reference, @sophia-guo - you can actually transfer issues to other repos using the 'Transfer issue' option on the right side of the page:
<img width="382" alt="Screen Shot 2021-09-21 at 11 17 04 AM" src="https://user-images.githubusercontent.com/2836948/134198653-33442952-3927-4674-91e5-85c3426661b6.png">

I believe as a committer you have permissions to do that.

[2021-09-21 15:39] smlambert commented on #2854
AQA triage is complete, spinoff issues have been created to address remaining (non-blocking) failures, so closing this.

[2021-09-21 15:39] #2854 closed

[2021-09-21 16:46] smlambert commented on #2869
A note: when spinning off triage issues, its still helpful to put a link to the Jenkins job (or even better to a "rerun in Grinder" link from that job to help the next person get started digging into it...

[Rerun in Grinder](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=jdk_beans&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=Test_openjdk17_hs_extended.openjdk_ppc64_aix&DOCK

[2021-09-23 01:12] sophia-guo commented on #2879
The reason is jtreg.tar exists so gzip would exit as error as failonerror has been set. The solution is using -f option in https://github.com/adoptium/aqa-tests/blob/master/openjdk/build.xml#L77.

`<arg line="-df ${jtregTar}.tar.gz" />`

[2021-09-23 01:23] smlambert commented on #2844
Meeting [recording link](https://bluejeans.com/s/dWA1XuFEniL)

[2021-09-23 07:19] xius666 commented on #2680
I would like to take this issue thanks

[2021-09-23 16:07] llxia commented on #2713
I think this issue is resolved.

[2021-09-23 16:07] #2713 closed

[2021-09-24 00:26] xius666 commented on #2887
Can I take this issue thanks

[2021-09-24 01:25] xius666 commented on #2680
-Grinder STF_OWNER_BRANCH example and its output

1.

adoptium:master
output from grinder:
<img width="1074" alt="Screen Shot 2021-09-23 at 1 20 56 AM" src="https://user-images.githubusercontent.com/55036290/134604034-1c9a501c-9cbd-41d5-b231-b09e3f7f0b13.png">

2.

adoptium:2129b191b1111b665758fb755851025e35888a1b
output from grinder:
<img width="1015" alt="Screen Shot 2021-09-23 at 7 23 49 PM" sr

[2021-09-24 02:07] psaunderualberta commented on #2889
I will take this for now, I'll likely end up breaking it into smaller issues like recommended.

[2021-09-24 04:57] BrijeshNekkare commented on #2828
Observe Test groups are listed at [here](https://github.com/adoptium/jdk8u/blob/c7691288e1d7a9dd52e589967716fb425057fcd7/jdk/test/TEST.groups)

**For example - jdk_security3**

I read the above as :
All test folders listed under **jdk_security3** group should be executed, exception being the ones preceded by '-' as in -javax/security/auth/kerberos and other similar such entries. Is my understandin

[2021-09-24 11:42] BrijeshNekkare opened #2896 "On AIX platform : Executing java/nio/channels/DatagramChannel/SendReceiveMaxSize.java results in java.net.SocketException"
**Describe the bug**
On AIX platforms executing  java/nio/channels/DatagramChannel/SendReceiveMaxSize.java results in java.net.SocketException

This is observed for both JDK-16 and JDK-17

**To Reproduce**
For details please refer https://github.com/adoptium/aqa-tests/issues/2535

**Expected behavior**
1. With IPv4, largest UDP datagram size that can be sent is 65507
2. With IPv6, largest UDP data

[2021-09-24 12:02] smlambert commented on #2896
So a test fix needs to be contributed to the upstream project (openjdk) where we are pulling this test material from...

[2021-09-24 12:05] smlambert commented on #2896
Related:
https://bugs.openjdk.java.net/browse/JDK-8250889

Similar reported for MacOS:
https://bugs.openjdk.java.net/browse/JDK-8250886

[2021-09-24 13:10] llxia commented on #2889
Thanks @psaunderualberta . Please check [meeting recording](https://drive.google.com/file/d/1wUIsszOU4jR1q9Zcljzkd--byy8CesQa/view?usp=sharing) for details.

For the first issue - generate the testenv.properties file and archive testenv.properties
I think it is easier just update the existing logic of generating SHA.txt :
https://github.com/adoptium/aqa-tests/blob/master/get.sh#L619
https://github

[2021-09-24 18:52] sophia-guo opened #2898 "Remove stale code in get.sh"
The option --testdir|-t has been removed by https://github.com/adoptium/aqa-tests/pull/2760. The code of parsing that option https://github.com/adoptium/aqa-tests/blob/master/get.sh#L75-L77 stays, which is confusing. Those code should be removed.

[2021-09-25 15:53] BrijeshNekkare commented on #2828
Thanks to @ShelleyLambert,  Am able to rule out some more tests based on targets disabled in [playlist.xml](https://github.com/adoptium/aqa-tests/blob/master/openjdk/playlist.xml) file

jdk_swing are currently disabled for all platforms including AIX.

jdk_awt are currently disabled for all platforms including AIX.

jdk_2d are currently disabled for all platforms including AIX.

jdk_security3 are

[2021-09-25 16:03] BrijeshNekkare commented on #2828
Following targets are enabled in playlist.xml file, whereas SAP has excluded the specific tests

[2021-09-25 16:23] BrijeshNekkare commented on #2828
**Pending tests to check:**

jdk/security/infra/java/security/cert/CertPathValidator/certification/HaricaCA.java   generic-all
sun/security/tools/keytool/printssl.sh                        windows-all

runtime/CompressedOops/CompressedClassPointers.java         generic-ppc64
runtime/NMT/VirtualAllocCommitUncommitRecommit.java         generic-ppc64

compiler/ciReplay/TestSA.sh

[2021-09-25 19:15] amandanguyeen commented on #2879
Updated with the new -f option! Here's the grinder job for the recent change: https://ci.adoptopenjdk.net/job/Grinder/1475/

[2021-09-26 02:37] yadongw commented on #2391
@sxa The testing progress of bishengjdk riscv have been pended for months due to lack of hardware. Recently, we've got several unmatched broads  exclusively used to do the test.  Shall we restart this work?

[2021-09-27 09:48] sxa commented on #2391
Yes please :-) I've put in a [PR to enable testing on JDK11](https://github.com/adoptium/ci-jenkins-pipelines/pull/193). I'm currently [running tests](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk17_hs_sanity.openjdk_riscv64_linux/) on an Unleashed and a a Beagleboard Starlight prototype board so we have some capacity but more is always welcome!

[2021-09-27 13:41] llxia commented on #2879
Thanks @amandanguyeen for the update. Either solution is fine with me.

[2021-09-27 17:36] LongyuZhang opened #2900 "External wildfly, spring, system-test, and functional-test failed with “git not found” error"
Testname: external/wildfly, external/spring, external/system-test, external/functional-test
jdk_impl: openj9
jdk_verison: 11
platform: xlinux
test_link:
- https://ci.adoptopenjdk.net/job/Grinder_wildfly/2/console
- https://ci.adoptopenjdk.net/job/Grinder_spring/2/console
- https://ci.adoptopenjdk.net/job/Grinder_system-test/2/console
- https://ci.adoptopenjdk.net/job/Grinder_functional-test/2/cons

[2021-09-27 17:37] LongyuZhang opened #2901 "External camel test failed with “pathspec master did not match” error"
Testname: external/camel
jdk_impl: openj9
jdk_verison: 11
platform: xlinux
test_link: https://ci.adoptopenjdk.net/job/Grinder_camel/2/console
[code]

[2021-09-27 17:38] LongyuZhang opened #2902 "External openliberty-mp-tck test failed with IllegalArgumentException error"
Testname: external/openliberty-mp-tck
jdk_impl: openj9
jdk_verison: 11
platform: xlinux
test_link: https://ci.adoptopenjdk.net/job/Grinder_openliberty-mp-tck/2/console
[code]

[2021-09-27 17:39] LongyuZhang opened #2903 "External external_custom test failed with “exec returned 255” error"
Testname: external/external_custom
jdk_impl: openj9
jdk_verison: 11
platform: xlinux
test_link: https://ci.adoptopenjdk.net/job/Grinder_external_custom/2/console
[code]

[2021-09-27 17:39] LongyuZhang opened #2904 "External quarkus_quickstarts test failed with “unhandled asynchronous exception” error"
Testname: external/quarkus_quickstarts
jdk_impl: openj9
jdk_verison: 11
platform: xlinux
test_link: https://ci.adoptopenjdk.net/job/Grinder_quarkus_quickstarts/2/console
[code]

[2021-09-27 18:19] sophia-guo commented on #2900
Looking at the output `Step 8/18 : RUN apt-get update 	&& apt-get install -y --no-install-recommends  	&& rm -rf /var/lib/apt/lists/*`, which means no git installed. That is the docker file is not correctly generated. Might be related with https://github.com/adoptium/aqa-tests/pull/2761,  see https://github.com/adoptium/aqa-tests/pull/2761#issuecomment-887479474

[2021-09-27 18:34] smlambert commented on #2900
Note also we will have to do a major overhaul of external tests, as we are currently pulling from the AdoptOpenJDK docker location, which I do not know whether is being updated with new images or not... suspect not.

This is not an excuse for why it should not work with the latest available 'nightly' tag, but perhaps we need to look at what is being generated 'FROM' that nightly image.

[2021-09-27 18:34] sophia-guo commented on #2900
Another issue is `${test_tag}` was replaced correctly when dockerfile was generated.
`Step 13/18 : ENV SPRING_TAG=$SPRING_TAG`

[2021-09-27 18:36] sophia-guo commented on #2901
Similar to https://github.com/adoptium/aqa-tests/issues/2900#issuecomment-928165860

$CAMEL_TAG wasn't parsed as `master` so `git checkout $CAMEL_TAG` failed.

[2021-09-28 13:40] #2879 closed

[2021-09-28 13:46] #2867 closed

[2021-09-28 14:39] llxia commented on #2698
@sophia-guo could you please open issues for them? I think they are good first issues.

[2021-09-28 15:53] sophia-guo commented on #2698
Yes, Will do. @llxia

[2021-09-28 16:13] sophia-guo opened #2905 "Support other bug tracker when parse problem list and query corresponding bug tracker status"
For now we also exclude test by [openjdk bug tracker](https://bugs.openjdk.java.net/projects/JDK/issues/JDK-8274381?filter=allopenissues) in Adoptium/aqa-tests. Probably azure devops also has its bug trackers or other vedors may have their own bug trackers.

To support that we can

1. Enhance #2858 by updating GIT_ISSUE to ISSUE_TRACKER
2. Enhance #2882 by updating GIT_ISSUE_STATUS to ISSUE_TRACKE

[2021-09-28 16:20] sophia-guo opened #2906 "Support other issue or bug tracker when parsing problem list"
In Adoptium we also we also exclude test by openjdk bug tracker in Adoptium/aqa-tests. Probably azure devops also has its bug trackers or other vendors may have their own bug trackers.

To support that we need to update GIT_ISSUE to ISSUE_TRACKER when generating problem list.

Those following lines need to be updated.

- update https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/g

[2021-09-28 16:29] sophia-guo opened #2907 "Support query openjdk bug tracker to get tracker status"
We also exclude tests by [openjdk bug tracker](https://bugs.openjdk.java.net/projects/JDK/issues/JDK-8274381?filter=allopenissues) would prefer to query [openjdk bug tracker](https://bugs.openjdk.java.net/projects/JDK/issues/JDK-8274381?filter=allopenissues) status when updating [ProblemList.json](https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/ProblemList.json)

In [issue_sta

[2021-09-28 17:20] sophia-guo opened #2908 "Correct wrong OSNAME-ARCH in problemlist*.txt"
In Openjdk list of quarantined tests followed by labels as:

-  generic-all   Problems on all platforms
-  generic-ARCH  Where ARCH is one of: sparc, sparcv9, x64, i586, etc.
-  OSNAME-all    Where OSNAME is one of: solaris, linux, windows, macosx, aix
-  OSNAME-ARCH   Specific on to one OSNAME and ARCH, e.g. solaris-amd64
-  OSNAME-REV    Specific on to one OSNAME and REV, e.g. solaris-5.8

There

[2021-09-28 20:45] sophia-guo opened #2909 "Switch to the Adoptium api to get the latest nightly builds"
Currently we are still using the Adoptopenjdk api to get expected jdk, which should switch to the Adoptium api to get the latest nightly builds.

Update

`https://api.adoptopenjdk.net/v3/binary/latest/${JDK_VERSION}/${release_type}/${os}/${arch}/jdk/${JDK_IMPL}/${heap_size}/adoptopenjdk`

to
`https://api.adoptium.net/v3/binary/latest/${JDK_VERSION}/${release_type}/${os}/${arch}/jdk/${JDK_IMPL}/${h

[2021-09-28 21:11] llxia opened #2910 "Dynamically map platforms from ProblemList to PLATFORM"
Currently, we have a [hardcoded map ](https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/generateDisabledTestListJson.py#L7) to map [platform value in problem list](https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk11-openj9.txt#L30) to [PLATFORM](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L3). For enhancem

[2021-09-29 18:53] #2900 closed

[2021-09-29 21:52] #2901 closed

[2021-09-29 21:52] #2904 closed

[2021-09-30 18:31] llxia opened #2916 "generate the testenv.properties file and archive testenv.properties"
For detail: https://github.com/adoptium/aqa-tests/issues/2889

I think it is easier just update the existing logic of generating SHA.txt :
https://github.com/adoptium/aqa-tests/blob/master/get.sh#L619
https://github.com/adoptium/aqa-tests/blob/master/get.sh#L626
https://github.com/adoptium/TKG/blob/07171520f8b0849d922125d35380d45193f9c5bf/scripts/getSHA.sh

[2021-09-30 18:39] llxia opened #2917 "add USE_TESTENV_PROPERTIES flag"
Add USE_TESTENV_PROPERTIES boolean flag in [Jenkinsfilebase](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase). If it is set, consume [testenv.properties](https://github.com/adoptium/aqa-tests/blob/master/testenv/testenv.properties) in get.sh

details in https://github.com/adoptium/aqa-tests/issues/2889

[2021-09-30 18:47] llxia opened #2918 "consume testenv.properties in system tests"
details in: https://github.com/adoptium/aqa-tests/issues/2889

testenv.properties is in testenv folder. See https://github.com/adoptium/aqa-tests/pull/2921

[2021-09-30 18:53] prahasR commented on #2910
Hi @llxia can you please elaborate a little more over this. What exactly do you mean by dynamical mapping? I am getting it as that the "platform_map" is a dictionary that stores string as keys and list as values. So you want to split the keys by - and then map the splitted keys to the list?

[2021-09-30 19:12] psaunderualberta commented on #2916
Currently working on this

[2021-10-01 12:40] smlambert opened #2919 "jdk_jfr_0 FAILED in Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0"
**Test Info**
Test Name: jdk_jfr_0
Test Duration: 3 hr 15 min 48 sec
Machine: build-packet_esxi-solaris10u11-x64-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=60f8f09b73f1507c79f203c9

**Build Info**
Build Name: Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0
Jenkins Build start time: Jul 21 2021, 04:05 am
Jenkins Build URL: https://ci.adoptopenjdk.net/job/T

[2021-10-01 12:55] smlambert commented on #2919
auto exclude test jdk_jfr plat=.*x86-64_solaris.*

[2021-10-01 13:03] smlambert commented on #2919
Related: https://github.com/adoptium/infrastructure/issues/2332

[2021-10-01 16:34] rainadaniella commented on #2693
i can work on this

[2021-10-01 16:37] alem-m commented on #2898
I would like to work on this issue.

[2021-10-01 16:42] RashmiNandikur commented on #2906
I can work on this

[2021-10-01 16:46] mittaljethwa commented on #2908
I would like to work on this issue.

[2021-10-01 16:50] RashmiNandikur commented on #2906
I can work on this

[2021-10-01 16:57] llxia commented on #2910
For example, if we get `linux-ppc32`, we can set `PLATFORM` to be `ppc32_linux` by split the value using `-` and reverse the first and the second token. We do not really need a hardcoded map.

There are a few mistakes in the map:
https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/generateDisabledTestListJson.py#L8
https://github.com/adoptium/aqa-tests/blob/master/disabledTestPars

[2021-10-01 17:02] llxia opened #2923 "Clean platform_map in generateDisabledTestListJson"
We would like to clean platform_map  in generateDisabledTestListJson.py.

- remove  `"arm-linux": ["arm_linux"],`
https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/generateDisabledTestListJson.py#L8
- `"windows-x86": ["x86-64_windows", "x86-32_windows"],` should be `"windows-x86": ["x86-32_windows"],`
 https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/generate

[2021-10-01 17:02] smlambert commented on #2693
Great, thanks @rainadaniella !

[2021-10-01 17:03] smlambert commented on #2679
This issue is still up for grabs...

[2021-10-01 17:05] tejaswini0604 commented on #2923
I would like to work on this issue

[2021-10-01 17:13] llxia commented on #2923
Thanks @tejaswini0604

[2021-10-01 17:23] pacificPlumeria commented on #2907
I can try this out 😊

[2021-10-01 17:26] smlambert commented on #2907
Thanks @pacificPlumeria !  If you have questions, don't hesitate to ask (either in this issue or in Slack)!

[2021-10-01 17:34] keerthi-kamath commented on #1754
I would love to give it a try!

[2021-10-01 17:50] prahasR commented on #2910
I think that one of the possible solution is to directly add the result we get by doing above mentioned operation over `unresolved_platform_name` in the `revolved_platform_list` instead of doing it by `if-elif` conditions here https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/generateDisabledTestListJson.py#L49. I am working toward this @llxia, please assign this issue to me.

[2021-10-01 17:58] llxia commented on #1754
Thanks @keerthi-kamath !

[2021-10-01 18:00] JasmineEHurst commented on #2775
May I work on this issue?

[2021-10-01 18:11] keerthi-kamath commented on #1754
@llxia Going through the steps and comments, I just have one confusion. Do I paste the logic before the endif statement in
ifneq ($(filter openj9 ibm, $(JDK_IMPL)),)
 OTHER_OPTS=-Xtrace:maximal=all{level2}
endif

[2021-10-01 18:11] llxia commented on #2775
Please do. Thanks @JasmineEHurst

[2021-10-01 18:29] llxia commented on #1754
Yes, we need something like following in in https://github.com/adoptium/aqa-tests/blob/master/jck/jck.mk
[code]

[2021-10-01 18:38] vegasood commented on #2679
Hi @smlambert, I am interested in working on this.
I understand what we need to add. But could you provide more clarity on where do I need to add the list of commonly used PLATFORM examples and the link?

[2021-10-01 18:48] smlambert commented on #2679
yes, so this line `stringParam('PLATFORM', "${ARCH_OS}", "Platform to be tested")` can be updated to include some names of platforms we test, so it could be updated to
`stringParam('PLATFORM', "${ARCH_OS}", "Platform to be tested:<br/> aarch64_linux<br/> ppc64_aix<br/> ppc64le_linux\n`

where `<br/>` will insert a break, so that the view in the Jenkins job will look like:
[code]

[2021-10-01 18:50] smlambert commented on #2679
Once you have a PR @vegasood, I will help to test it

[2021-10-01 18:55] vegasood commented on #2679
Okay thank you for clarifying Shelley :)
Excited to make my first contribution to an OS project

[2021-10-01 19:11] #2898 closed

[2021-10-01 19:17] pacificPlumeria commented on #2907
Im sorry im not sure i grasp what need to be done!

[2021-10-01 19:26] llxia commented on #2923
Thanks @tejaswini0604 for the PR https://github.com/adoptium/aqa-tests/pull/2925

[2021-10-01 19:26] #2923 closed

[2021-10-01 19:26] #2775 closed

[2021-10-01 19:27] sophia-guo opened #2931 "Switch to the Adoptium api to get the latest nightly builds testimage"
Currently we are still using the Adoptopenjdk api to get expected jdk testimage, which should switch to the Adoptium api.

Update
`https://api.adoptopenjdk.net/v3/binary/latest/${JDK_VERSION}/${release_type}/${os}/${arch}/testimage/${JDK_IMPL}/${heap_size}/adoptopenjdk`

to
`https://api.adoptium.net.net/v3/binary/latest/${JDK_VERSION}/${release_type}/${os}/${arch}/testimage/${JDK_IMPL}/${heap_size

[2021-10-01 19:27] sophia-guo commented on #2931
Similar to #https://github.com/adoptium/aqa-tests/issues/2909

[2021-10-01 19:37] smlambert commented on #2907
Essentially my understanding of this one is that the python script [issue_status.py](https://github.com/adoptium/aqa-tests/blob/master/disabledTestParser/issue_status.py) reads ProblemList.txt files (found in this excludes directory).  There are 2 types of Issue URLs, one for github issues, and one called JBS at https://bugs.openjdk.java.net/.

If you look at an example ProblemList file, at these

[2021-10-01 19:43] dingx170 commented on #2931
Hi @sophia-guo, can I try to solve this issue?

[2021-10-01 19:46] llxia opened #2932 "Update TARGET description in testJobTemplate #2679"
It would be nice to have TARGET description updated as following in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L311

[code]

[2021-10-01 19:50] sophia-guo commented on #2931
Yes, please go ahead.

[2021-10-01 19:59] llxia opened #2934 "Update BUILD_LIST description in testJobTemplate"
It would be nice to have`BUILD_LIST ` description updated as following in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L310

[code]

[2021-10-01 20:05] Ainazik02 commented on #2932
I want to try this)

[2021-10-01 20:06] llxia opened #2935 "Update SDK_RESOURCE description in testJobTemplate"
It would be nice to have `SDK_RESOURCE` description updated as following in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L289

[code]

[2021-10-01 20:09] llxia commented on #2932
Please do! Thanks @Ainazik02

[2021-10-01 20:44] totorororo commented on #2692
I can try to solve this

[2021-10-01 20:58] #2679 closed

[2021-10-01 21:07] nikita-parmar commented on #2934
Can I work on this?

[2021-10-01 21:10] #2935 closed

[2021-10-01 21:25] smlambert commented on #2934
For sure @nikita-parmar !

[2021-10-01 21:36] smlambert commented on #2692
Great @totorororo !

[2021-10-01 22:10] #2908 closed

[2021-10-01 22:58] smlambert commented on #2878
Clearing assignee as we have not heard back!

[2021-10-01 23:05] llxia opened #2940 "Update UPSTREAM_JOB_NAME and UPSTREAM_JOB_NUMBER description"
It would be nice to have `UPSTREAM_JOB_NAME` and `UPSTREAM_JOB_NUMBER` description updated as following in testJobTemplate

https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L312-L313

UPSTREAM_JOB_NAME
[code]

UPSTREAM_JOB_NUMBER
[code]

[2021-10-01 23:09] llxia opened #2941 "Update ITERATIONS description in testJobTemplate"
It would be nice to have `ITERATIONS` description updated as following in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L358

[code]

[2021-10-01 23:20] sophia-guo commented on #2878
The default testcase can be set as `gc/stress/gclocker/TestExcessGCLockerCollections.java`

[2021-10-01 23:23] llxia opened #2943 "Update PARALLEL description in testJobTemplate"
It would be nice to have `PARALLEL` description updated as following in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L374

[code]

[2021-10-01 23:24] sophia-guo commented on #2878
Before line 114 [ifneq (,$(findstring $(JDK_VERSION),8-9))](https://github.com/adoptium/aqa-tests/blob/master/openjdk/openjdk.mk#L114 set  HOTSPOT_CUSTOM_TARGET default value `HOTSPOT_CUSTOM_TARGET ?= gc/stress/gclocker/TestExcessGCLockerCollections.java`

[2021-10-01 23:27] llxia opened #2944 "Update NUM_MACHINES description in testJobTemplate"
It would be nice to have NUM_MACHINES description updated as following in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L375

[code]

[2021-10-01 23:51] #2692 closed

[2021-10-02 02:33] prahasR commented on #2941
@llxia please assign this to me. I want to contribute to this.

[2021-10-02 02:37] prahasR commented on #2910
Is the solution seems correct to you? Should I start working toward this @llxia ?

[2021-10-02 14:13] prahasR commented on #2941
@llxia please review

[2021-10-02 16:35] smlambert commented on #2869
Rerun the single testcase on same machine: https://ci.adoptopenjdk.net/job/Grinder/1546
Rerun the single testcase on any AIX machine: https://ci.adoptopenjdk.net/job/Grinder/1547

[2021-10-03 15:20] smlambert commented on #2869
This issue was first reported in https://github.com/adoptium/infrastructure/issues/2141 and while that issue is closed, its not clear that the fonts issue was addressed.

Rerunning on same machine x 20 iterations to see if reproducible:
https://ci.adoptopenjdk.net/job/Grinder/1548/

[2021-10-03 21:37] smlambert commented on #2869
Will close this as unreproducible as the 40x grinder run on the machine where this was first seen showed 'all pass'.

[2021-10-03 21:37] #2869 closed

[2021-10-03 21:38] smlambert commented on #2852
All issues contained in this EPIC are now closed.

[2021-10-03 21:38] #2852 closed

[2021-10-04 00:44] smlambert commented on #321
Did https://github.com/adoptium/aqa-tests/pull/317 address this sufficiently?  This issue is very old, I doubt we will do anything more with this.  I believe we have documentation in Grinders to help people navigate passing of difficult special character options through the various frameworks we support.

[2021-10-04 00:44] #321 closed

[2021-10-04 00:45] smlambert commented on #665
Closing this as won't fix.

[2021-10-04 00:45] #665 closed

[2021-10-04 00:47] smlambert commented on #791
We now run as type=normal (versus native) gets rid of issues with native test images not being available.

[2021-10-04 00:47] #791 closed

[2021-10-04 00:48] smlambert commented on #795
Closing this issue as stale (likely dup of newer openjdk issues raised.

[2021-10-04 00:48] #795 closed

[2021-10-04 00:54] smlambert commented on #861
@llxia - is this something that you would want to archive to test jobs in the event of test failure?

[2021-10-04 00:57] smlambert commented on #889
This feature request assumes we want to enforce a certain type of behaviour and usage of the CI system.  This is beyond the scope of what we wish to design and enforce from the AQAvit / Jenkinsfilebase perspective.  If we need a similar functionality going forward, we can raise a fresh issue or reopen this one.

[2021-10-04 00:57] #889 closed

[2021-10-04 06:18] BrijeshNekkare commented on #2828
Am unsure about how to confirm the pending test case exclusions.

If I have access to Jenkins console output when the full suite of test cases was run for AIX platform, perhaps that is one way. If this is the right approach can someone please point me to the Jenkins link. Any help most appreciated.

[2021-10-04 12:01] smlambert commented on #2828
Anyone should be able to see the console output of the test runs.

Many of the test targets being discussed in this issue are categorized into the extended.openjdk group, which can be found here for jdk8:
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix/

So looking at a recent [job 25](https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_

[2021-10-04 13:43] #2934 closed

[2021-10-04 13:47] #2878 closed

[2021-10-04 14:05] smlambert commented on #2941
Closed via https://github.com/adoptium/aqa-tests/pull/2945

[2021-10-04 14:05] #2941 closed

[2021-10-04 17:36] llxia commented on #861
Yes, we should archive it if we haven't already done so. Move this issue to TKG repo as the test framework should set the SCC path.

[2021-10-05 14:38] llxia commented on #2889
preliminary `testenv.properties` is created: https://github.com/adoptium/aqa-tests/pull/2921

[2021-10-05 14:48] ManasviGoyal commented on #2944
i would like to work on this

[2021-10-05 14:53] ManasviGoyal commented on #2940
i would like to work on this

[2021-10-05 15:52] #2931 closed

[2021-10-05 18:22] #2909 closed

[2021-10-05 18:36] xius666 commented on #2917
Can I take this issue?

[2021-10-05 19:09] sophia-guo opened #2949 "update sytem stf project name"
System stf git repo name/project has changed to `STF`,  to make it work on case-sensitive platform we need to update the name accordingly. Otherwise we will get the following error

[code]

For example it happened run-aqa github action on linux
https://github.com/adoptium/run-aqa/runs/3796240585?check_suite_focus=true

To fix it, the `stf` in https://github.com/adoptium/aqa-tests/blob/master/syste

[2021-10-05 19:21] llxia commented on #2917
Thanks @xius666

[2021-10-05 19:24] llxia commented on #2917
[The grinder](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder) is updated to have USE_TESTENV_PROPERTIES

[2021-10-05 19:39] sophia-guo commented on #2949
Looks like https://github.com/adoptium/STF may need to update. I will take a look and if the change should be there I will transfer this PR to STF repo.

[2021-10-05 20:52] sophia-guo opened #2950 "Switch api query back to AdoptOpenjdk for openj9 jdk"
Adoptium api can get the latest nightly builds, however it doesn't support openj9 jdk anymore. We should switch api back to AdoptOpenJDK for openj9 specifically.

We need to add a condition block for openj9 query for the the following blocks:
https://github.com/adoptium/aqa-tests/blob/master/get.sh#L226-L232

For hotspot jdk and testimage we keep using Adoptium. (Note, hotspot testimage is not ava

[2021-10-06 08:49] Preethi2706 opened #2953 "JAVA11 zos system tests failing because of stf repo in the zos machine"
**Describe the bug**
When JAVA11 zos system tests are submitted in jenkins , submissions get failed because of the git checkout issue with the stf repo.

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):

**Expected behavior**
When we are able to run system tests without any issue.

**Screenshots**
N/A

**Additional context**
N.A

[2021-10-06 13:26] llxia commented on #2916
preliminary testenv.properties is added: https://github.com/adoptium/aqa-tests/blob/master/testenv/testenv.properties

[2021-10-06 13:56] smlambert opened #2956 "AQAvit Meeting: Oct 6, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- docker-based developm

[2021-10-06 13:58] smlambert commented on #2844
Link to next meeting: https://github.com/adoptium/aqa-tests/issues/2956

[2021-10-06 13:58] #2844 closed

[2021-10-06 15:24] llxia commented on #2953
It looks like an extra `'` is added in front of the SHA by ant script. Not sure why this is happening. Need further investigation. The same logic in ant works on other platforms. The same logic in shell script works fine on zos. This only happens in ant on zos.

[2021-10-06 20:24] smlambert opened #2959 "AQAvit meeting: Nov 3, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Update on CanOSP work

[2021-10-07 15:20] sophia-guo opened #2962 "Remove redundant dependent properties in test.properties files under external category"
Remove all redundant properties declaration in all test.properties files under external category.

For example file https://github.com/adoptium/aqa-tests/blob/master/external/camel/test.properties

we'd like to remove the following 4 lines as those are redundant dependent properties.

https://github.com/adoptium/aqa-tests/blob/master/external/camel/test.properties#L8
https://github.com/adoptium/aq

[2021-10-07 15:48] llxia opened #2963 "consume testenv.properties in openjdk tests"
details in: https://github.com/adoptium/aqa-tests/issues/2889

testenv.properties is in testenv folder. See https://github.com/adoptium/aqa-tests/pull/2921

Since testenv.properties file may contain multiple JDK_REPO and JDK_BRANCH, we need to add parsing logic in openjdk/build.xml to set the correct JDK_REPO and JDK_BRANCH based on JDK_VERSION and JDK_IMPL.

For example,
if JDK_VERSION is 8, JDK8

[2021-10-07 15:51] sophia-guo opened #2964 "Update logic in set_test_info()"
Depends on  #2962, when the redundant property definition is removed the logic in [set_test_info()](https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L222-L231) can be simplified to work with the new files.

[2021-10-07 15:57] sophia-guo opened #2965 "Update third party applications information setting"
In external tests, each third party application has its own test.properties file, which is used to set up docker environments with all necessary tools installed.

 Right now some properties are set by other property, which causes duplication and make the parsing logic complex.

For example, `debianslim_packages` and `ubuntu_packages` are set by `debian_packages`

[code]
https://github.com/adoptium

[2021-10-07 16:11] sophia-guo opened #2966 "enhance the function getProperty() to deal with quotations"
There are duplicate[ logic of removing the quotations](https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L210, https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L212, https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L217) after calling [getProperty() ](https://github.com/adoptium/aqa-tests/blob/master/external/

[2021-10-08 14:09] smlambert commented on #1802
At least the initial part (of raising awareness) is being addressed via https://github.com/adoptium/ci-jenkins-pipelines/pull/204 - thanks @jerboaa !  Closing this as further enhancements can be raised in the relevant repository.

[2021-10-08 14:09] #1802 closed

[2021-10-08 20:13] abigailsleek commented on #2949
I will like to assign this to myself.

[2021-10-08 20:25] #2940 closed

[2021-10-08 21:19] smlambert commented on #2943
Very good!  thanks @abigailsleek!

[2021-10-09 09:09] ManasviGoyal commented on #2962
I would like to work on this

[2021-10-10 14:50] abigailsleek commented on #2943
Hi Shelley,

I hope you are doing well.

I just created a pull request for this issue. I was wondering if you have
seen it, and if you have any feedback on it.

Thank you.

On Fri, 8 Oct 2021 at 10:19 PM, Shelley Lambert ***@***.***>
wrote:

--
Nneamaka Chalokwu

[2021-10-11 08:30] Lovelynchristian commented on #2949
I would love this to be assigned to me.

[2021-10-11 10:01] norbline commented on #2966
Hi, i am Norbline an outreachy applicant, I would like to work on this issue

[2021-10-12 12:08] mimietruddy commented on #2964
Hey, I would like to contribute to this.
Thanks

[2021-10-12 13:46] CtripleU commented on #2738
Hi @smlambert. I am an Outreachy applicant. Is it okay for me to work on this?

[2021-10-12 13:51] CtripleU commented on #2906
Hello, Shelley!

Is it okay for me to work on this?

[2021-10-13 01:43] smlambert opened #2982 "Add USE_JRE to Jenkinsfilebase and testJobTemplate"
To enable better automation for JRE testing, we can add USE_JRE parameter to JenkinsfileBase and testJobTemplate (to the JDK Selection Parameters when a link to the JRE is included in the CUSTOMIZED_SDK_URL there is the option to use it rather than the JDK that is also present in the CUSTOMIZED_SDK_URL parameter).

[2021-10-13 03:41] smlambert opened #2984 "Exclude Test8167409.sh because hotspot_jre FAILED in Test_openjdk8_hs_extended.openjdk_aarch64_linux"
**Test Info**
Test Name: hotspot_jre_0
Test Duration: 9 min 54 sec
Machine: test-docker-ubuntu2004-armv8l-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=6161bdd4c6182d0217676078

**Build Info**
Build Name: Test_openjdk8_hs_extended.openjdk_aarch64_linux
Jenkins Build start time: Oct 09 2021, 08:17 am
Jenkins Build URL: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_ext

[2021-10-13 03:44] julian55455 commented on #2966
Hi @andrew-m-leonard  can I take on this

[2021-10-13 03:46] smlambert commented on #2966
@norbline is assigned to this issue

[2021-10-13 03:48] julian55455 commented on #2966
Oooops sorry I was so fast I dint notice that it was assigned.... I will see through others
Thanks

[2021-10-13 04:08] smlambert opened #2985 "Exclude 2 testcases in jdk_jfr test target that FAILED in Test_openjdk8_hs_extended.openjdk_aarch64_linux"
**Test Info**
Test Name: jdk_jfr_0
Test Duration: 20 min 39 sec
Machine: test-docker-ubuntu2004-armv8l-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=6161bdd4c6182d02176760b1

**Build Info**
Build Name: Test_openjdk8_hs_extended.openjdk_aarch64_linux
Jenkins Build start time: Oct 09 2021, 08:17 am
Jenkins Build URL: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extend

[2021-10-13 04:19] smlambert opened #2986 "Exclude CatchExceptionTest.java as jdk_lang_2 intermittently crashes in Test_openjdk8_hs_sanity.openjdk_arm_linux"
**Test Info**
Test Name: jdk_lang_2
Test Duration: 2 min 17 sec
Machine: test-docker-ubuntu2004-armv7l-3
TRSS link for the test output: https://trss.adoptium.net/output/test?id=6161fe10c6182d0217680ba8

**Build Info**
Build Name: Test_openjdk8_hs_sanity.openjdk_arm_linux
Jenkins Build start time: Oct 09 2021, 08:22 am
Jenkins Build URL: https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openj

[2021-10-13 05:16] JaniPaasiluoto commented on #2986
Can you assign this for me?

[2021-10-13 14:07] sophia-guo opened #2987 "PRE RELEASE - Triage JDK8"
JDK8:

#### Release Summary Report for openjdk8-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=61647d7bc6182d02176c4cb2&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=61647d7bc6182d02176c4cb2)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/1814/
Started by timer at 1

[2021-10-13 14:16] sophia-guo opened #2989 "PRE RELEASE - Triage JDK11"
weekly jdk11 build: 1683 - 1687. https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1683/ -https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1687/

1684 is openj9.

1687:
#### Release Summary Report for openjdk11-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=6161cc72c6182d0217678450&testSummaryResult=failed&buildNameRegex=%5ETest) and TRS

[2021-10-13 14:47] sophia-guo opened #2991 "PRE RELEASE - Triage JDK17"
#### Release Summary Report for openjdk17-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=6162da54c6182d02176aa6f8&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=6162da54c6182d02176aa6f8)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/207/
Started by upstream project

[2021-10-13 16:42] sophia-guo commented on #2991
Failure on alpine
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.system_x86-64_alpine-linux/64/:
70 tests failed due to `Test machine has only 2991 Mb free on drive containing `, known issue https://github.com/adoptium/infrastructure/issues/2320#issuecomment-942490899

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.functional_x86-64_alpine-linux/69/
cmdLineTester_libpathTestRtf

[2021-10-13 16:43] smlambert commented on #2987
openjdk8-pipeline 1814 is a nightly build which does not include extended.openjdk.  I have begun triaging the weekly run from the weekend which includes the full set of tests that will be run as part of a release, [openjdk8-pipeline 1809](https://trss.adoptium.net/buildDetail?parentId=61618901c6182d0217673aa3)

[2021-10-13 18:04] sophia-guo opened #2992 "Exclude 2 vector tests on arm for jdk17"
Tests jdk/incubator/vector/Byte256VectorLoadStoreTests.java.Byte256VectorLoadStoreTests
jdk/incubator/vector/ByteMaxVectorLoadStoreTests.java.ByteMaxVectorLoadStoreTests failed the job https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_arm_linux/ with crash.

[code]
Issue related: https://github.com/adoptium/aqa-tests/issues/2874

To exclude: adding two exclusion statements in http

[2021-10-14 03:23] smlambert commented on #2227
Hi @Codesuha, there are a couple of parts to this issue, the first part is:

- updating the [testJobTemplate](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate) to add some extra information for the user
  - changing https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L280 from `all platforms: all (actual platforms will change based o

[2021-10-14 03:46] MenusGarg5981 commented on #2907
Hey @sophia-guo , I want to take up this issue.

[2021-10-14 06:07] HarrietAkot commented on #2992
Thank you for the detailed tutorial @smlambert.

[2021-10-14 06:07] SehrishHussain commented on #2401
@smlambert I would like to work on this issue.

[2021-10-14 14:45] sophia-guo opened #2996 "Exclude java/net/ipv6tests/UdpTest.java on s390 with jdk17"
Test  java/net/ipv6tests/UdpTest.java intermittently fails with timeout on s390 with jdk17. It is a known issue in JBS, https://bugs.openjdk.java.net/browse/JDK-8198266.
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_s390x_linux_testList_0/14/consoleFull

To exclude: adding one exclusion statements in https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemLis

[2021-10-14 15:30] sophia-guo opened #2997 "exclude runtime/Nestmates/protectionDomain/TestDifferentProtectionDomains.java on win32 with jdk17"
Test runtime/Nestmates/protectionDomain/TestDifferentProtectionDomains.java timeout on win32 with jdk17. It is a known issue in JBS, https://bugs.openjdk.java.net/browse/JDK-8269135.
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/10/testReport/junit/runtime_Nestmates_protectionDomain_TestDifferentProtectionDomains/java/TestDifferentProtectionDomains/

[2021-10-14 15:46] King-kay commented on #2997
[https://github.com/adoptium/aqa-tests/pull/2998]

[2021-10-14 21:12] sophia-guo commented on #2996
Thanks @King-kay

[2021-10-15 00:28] sophia-guo opened #3001 "Exclude 2 tests on window32 with jdk17"
Two openjdk tests failed with known issues. Need to exclude them.

To exclude exclusion statements should be added in https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk17.txt.

After https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk17.txt#L224 add a exclusion statement as
`tools/jpackage/windows/WinInstallerIconTest.java know

[2021-10-15 00:40] sophia-guo opened #3002 "Exclude java/lang/String/StringRepeat.java on windows32 with jdk17"
Test java/lang/String/StringRepeat.java failed on window32 with jdk17, which is a  known bug https://bugs.openjdk.java.net/browse/JDK-8221400. Fixes in. However probably old 32-bit system was forgot. https://github.com/adoptium/aqa-tests/issues/1272#issuecomment-522137671

In this case we'd like to exclude this test.

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_x86-32_windows/

[2021-10-15 01:10] julian55455 commented on #3001
Hi @sophia-guo can I work on this!

[2021-10-15 03:17] sophia-guo opened #3004 "Exclude win32 compiler tests with JDK17"
Compiler tests on win32 failed with errort`Unrecognized VM options`, looks like those options are only recognized by a GC implementation which is not built on win32.
https://github.com/adoptium/aqa-tests/issues/2382

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0/10/

Those test should be excluded on win32.

The following section should be added in htt

[2021-10-15 04:29] julian55455 commented on #3002
Hi @sophia-guo  @AdamBrousseau  Do you mind providing an exclusion statement here!

[2021-10-15 06:07] King-kay commented on #3004
can i have this issue?

[2021-10-15 15:17] #1506 closed

[2021-10-15 20:41] sophia-guo commented on #2097
The logic is a little bit different as now we also allow users to provide a base artifactory URL (URL before the build number). For this issue we can update jenkinsfileBase only. No need to update get.sh anymore.

For jenkinsfileBase the Line360-L365 https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L360-L365 should be updated.

Customized SDK URL only set when SDK

[2021-10-15 22:38] #2997 closed

[2021-10-16 02:39] #2950 closed

[2021-10-16 02:41] #2996 closed

[2021-10-16 03:02] #2962 closed

[2021-10-16 08:20] abigailsleek commented on #2097
Thank you for the clarification.

On Fri, 15 Oct 2021 at 9:41 PM, sophia-guo ***@***.***> wrote:

--
Nneamaka Chalokwu

[2021-10-16 21:40] abigailsleek commented on #2097
Hello Sophia,

Please kindly review my pull request on this issue, and share with me
your feedback.

Thank you.

On Sat, 16 Oct 2021 at 9:20 AM, Nneamaka Chalokwu ***@***.***>
wrote:

--
Nneamaka Chalokwu

[2021-10-18 02:27] smlambert opened #3012 "Verify status of JBS issues in ProblemList files"
We would like to verify whether we still need exclude statements that relate to issues tracked in the JBS (Java Bug System) issues.  This is an EPIC that will cover the checking of jdk8, jdk11, jdk17 files.  What this involves is to look up the JBS issues (the URLs containing https://bugs.openjdk.java.net), see if their Status indicates the issue is resolved.

<img width="668" alt="Screen Shot 202

[2021-10-18 02:27] smlambert opened #3013 "Verify status of JBS issues in ProblemList_openjdk8.txt file"
We would like to verify whether we still need exclude statements that relate to issues tracked in the JBS (Java Bug System) issues.  What this involves is to look up the JBS issues (the URLs containing https://bugs.openjdk.java.net), see if their Status indicates the issue is resolved.

<img width="668" alt="Screen Shot 2021-10-17 at 9 43 08 PM" src="https://user-images.githubusercontent.com/28369

[2021-10-18 02:27] smlambert opened #3014 "Verify status of JBS issues in ProblemList_openjdk8-openj9.txt file"
We would like to verify whether we still need exclude statements that relate to issues tracked in the JBS (Java Bug System) issues.  What this involves is to look up the JBS issues (the URLs containing https://bugs.openjdk.java.net), see if their Status indicates the issue is resolved.

<img width="668" alt="Screen Shot 2021-10-17 at 9 43 08 PM" src="https://user-images.githubusercontent.com/28369

[2021-10-18 02:27] smlambert opened #3015 "Verify status of JBS issues in ProblemList_openjdk11.txt file"
We would like to verify whether we still need exclude statements that relate to issues tracked in the JBS (Java Bug System) issues.  What this involves is to look up the JBS issues (the URLs containing https://bugs.openjdk.java.net), see if their Status indicates the issue is resolved.

<img width="668" alt="Screen Shot 2021-10-17 at 9 43 08 PM" src="https://user-images.githubusercontent.com/28369

[2021-10-18 02:27] smlambert opened #3016 "Verify status of JBS issues in ProblemList_openjdk11-openj9.txt file"
We would like to verify whether we still need exclude statements that relate to issues tracked in the JBS (Java Bug System) issues.  What this involves is to look up the JBS issues (the URLs containing https://bugs.openjdk.java.net), see if their Status indicates the issue is resolved.

<img width="668" alt="Screen Shot 2021-10-17 at 9 43 08 PM" src="https://user-images.githubusercontent.com/28369

[2021-10-18 02:27] smlambert opened #3017 "Verify status of JBS issues in ProblemList_openjdk17.txt file"
We would like to verify whether we still need exclude statements that relate to issues tracked in the JBS (Java Bug System) issues.  What this involves is to look up the JBS issues (the URLs containing https://bugs.openjdk.java.net), see if their Status indicates the issue is resolved.

<img width="668" alt="Screen Shot 2021-10-17 at 9 43 08 PM" src="https://user-images.githubusercontent.com/28369

[2021-10-18 02:27] smlambert opened #3018 "Verify status of JBS issues in ProblemList_openjdk17-openj9.txt file"

[2021-10-18 03:07] smlambert opened #3019 "Create ProblemList_openjdk18.txt and ProblemList_openjdk18-openj9.txt"
Since jdk18 is now being built and tested, we need to add exclude files for it (in https://github.com/adoptium/aqa-tests/tree/master/openjdk/excludes).

While the contents of the 2 new files that we wish to add could start by copying the contents of the ProblemList_openjdk17.txt and ProblemList_openjdk17-openj9.txt files, it is necessary to assess the openjdk test results of a jdk18 test run by lo

[2021-10-18 06:30] olusanwo commented on #3014
Hi @smlambert , I am from Outreachy. Will be glad to work on this issue. Can I ?

[2021-10-18 07:06] julian55455 commented on #3016
Hello @smlambert can I work on this!

[2021-10-18 08:42] sainamercy commented on #2533
Hi, @smlambert  I would like to work on this issue

[2021-10-18 09:38] Haroon-Khel commented on #2989
Build 1692 https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1693/ Corretto

#### Release Summary Report for openjdk11-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=616b0998c6182d021773f194&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=616b0998c6182d021773f194)
Jenkins Build URL https

[2021-10-18 09:41] Haroon-Khel commented on #2989
Build 1694 https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1694/ Dragonwell

Release Summary Report for openjdk11-pipeline
#### Release Summary Report for openjdk11-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=616b095ec6182d021773f164&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=6

[2021-10-18 10:54] Haroon-Khel opened #3020 "Test_openjdk11_hs_sanity.system_arm_linux has been failing repeatedly"
Latest failure https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.system_arm_linux/118/

Last success https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.system_arm_linux/108/ (9th Sep)

Fails while compiling test

[code]

The last successful job was on test-docker-ubuntu2004-armv7l-1, but has failed since then on that same machine (and others) twice

[2021-10-18 10:59] Haroon-Khel commented on #2989
Arm32:

Test_openjdk11_hs_sanity.system_arm_linux ❌ FAILURE ❌ Issue raised https://github.com/adoptium/aqa-tests/issues/3020

[2021-10-18 12:16] smlambert commented on #3013
Yes, thanks @maiia-pi !  and can I ask that you add a comment to this issue that contains a table with each JBS entry and its status, and a column where we will put the Grinder job links.

Like this:

| URL to JBS issue | Reported Status | Rerun in Grinder link |
| --------------- | ---------------| -------------------|
| | |

How to add tables in github comments: https://docs.github.com/en/github

[2021-10-18 13:09] llxia commented on #2097
Please note that our scenario has changed. We also have the following case where:
SDK_RESOURCE=nightly
CUSTOMIZED_SDK_URL=`<base URL from artifactory>`
In this case, our script will try to find the latest URL link.

[2021-10-18 15:44] keithc-ca commented on #2949
It might be better to go the other way: update scripts to use a working directory based on the actual repo name (`STF` instead of `stf`).

[2021-10-18 15:49] llxia commented on #2097
Thanks @abigailsleek . Could you please create one PR per issue?

[2021-10-18 16:33] smlambert commented on #3018
That is because I have not added you yet.  Once I see the list of JBS issues we are going to test, as requested in https://github.com/adoptium/aqa-tests/issues/3018#issuecomment-945841698, I will instruct on how to run the tests.

[2021-10-18 17:12] sophia-guo commented on #2991
[**Test_openjdk17_hs_extended.openjdk_x86-64_mac**](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_mac/24/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk17_hs_extended.openjdk_x86-64_mac_testList_1**](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_mac_testList_1/13/) ⚠️ UNSTABLE ⚠️
jvm_compiler_0 => [deep history 1/2 passed](https://trss.adoptium.net/deepHis

[2021-10-18 19:26] maiia-pi commented on #3013
@smlambert  Sorry if it's a too silly question, I've checked https://bugs.openjdk.java.net/ where I should look up for the JBS issues and there are several projects. Do I need to make a list of issues for checking for JBS issues for all these projects?

If I use search to find all issues mentioning JBS and then check if they resolved or not and then add them if they are resolved to the list, will

[2021-10-18 19:57] llxia commented on #2949
@Lovelynchristian do you have any questions regarding this issue?

[2021-10-18 20:41] abigailsleek commented on #2097
Sure, I will do that.

On Mon, 18 Oct 2021 at 4:49 PM, Lan Xia ***@***.***> wrote:

--
Nneamaka Chalokwu

[2021-10-19 01:36] sophia-guo commented on #2991
[**Test_openjdk17_hs_extended.openjdk_x86-64_windows**](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_windows/28/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0**](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0/15/) ⚠️ UNSTABLE ⚠️
jdk_tools_0 => [deep history 0/2 passed](https://trss.adoptiu

[2021-10-19 09:55] LizyBbethy commented on #2906
hi @smlambert here is a PR for this issue https://github.com/adoptium/aqa-tests/pull/3030

[2021-10-19 12:00] farwa-batool commented on #3017
Hi @smlambert, I'd like to work on this issue. May I?

[2021-10-19 14:50] llxia opened #3031 "Add DYNAMIC_COMPILE in testJobTemplate"
Add DYNAMIC_COMPILE and its description after BUILD_LIST in testJobTemplate
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L330

[code]

[2021-10-19 15:01] llxia opened #3032 "Remove JRE_IMAGE in openjdk.mk"
JRE_IMAGE is defined in [TKG](https://github.com/adoptium/TKG/blob/master/settings.mk#L63). We can remove the logic in openjdk.mk.

Please remove the following lines:
https://github.com/adoptium/aqa-tests/blob/282e83f27f4dd51cf7ad807720d69139045960d7/openjdk/openjdk.mk#L101-L104

We should run `jdk_math_jre` to verify the result.
https://github.com/adoptium/aqa-tests/blob/2998b0480edaa5f48ded2d063

[2021-10-19 15:06] llxia opened #3033 "Remove JRE_IMAGE in jck.mk"
JRE_IMAGE and JRE_COMMAND  are defined in [TKG](https://github.com/adoptium/TKG/blob/master/settings.mk#L63). We can remove the logic in jck.mk.

Please remove the following lines:
https://github.com/adoptium/aqa-tests/blob/599df39672904dec9b3ffb7670bf15d9dfb4e7e4/jck/jck.mk#L75-L79

The change can be verified using USE_JRE in Grinder (USE_JRE will be added via PR https://github.com/adoptium/aqa-t

[2021-10-19 15:21] harshikaninawe commented on #3033
Can I work on this please?

[2021-10-19 15:51] #2991 closed, assigned to nobody

[2021-10-19 17:30] SehrishHussain opened #3034 "jdk_nio_0 and jdk_nio_1 FAILED in Test_openjdk18_hs_extended.openjdk_aarch64_linux, aix-ppc64"
**java/nio/channels/Channels/ReadXBytes.java** [Jenkin test](https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_aarch64_linux/7/testReport/junit/java_nio_channels_Channels_ReadXBytes/java/ReadXBytes/) for aarch64-linux and aix-ppc64

**Test Info**
Test Name: jdk_nio_1
Test Duration: 13 min 2 sec
Machine: test-docker-ubuntu1804-armv8l-4
TRSS link for the test output: https://trss.ad

[2021-10-19 19:55] llxia commented on #2949
Thanks @xius666

[2021-10-20 01:06] smlambert commented on #1169
If you look at the description, there are 3 pieces of information we thought we'd need back when we first created this issue.  The first of the 3 is the testenv.properties file (SHAs of the test repos).

The next 2 things are essentially the TAP files and the TAP summary that gets produced at the end of a test run.

This issue is still valid and it involves us both ensure that all of these files g

[2021-10-20 01:45] psaunderualberta commented on #1169
I can take this then. I'll talk to Sophia to learn more about what specifically needs to be done.

[2021-10-20 11:13] karianna opened #3040 "DisableRMIOverHTTPTest fails consistently on test-macstadium-macos1013-x64-1 & test-macstadium-macos1013-x64-2 with Connection Refused"
https://trss.adoptium.net/output/test?id=616ff8ccc6182d02178e14ab

[2021-10-20T01:25:26.561Z] rerun:
[2021-10-20T01:25:26.561Z] cd /Users/jenkins/workspace/Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_0/aqa-tests/TKG/output_16346914568779/jdk_rmi_1/work/sun/rmi/transport/tcp/DisableRMIOverHttp/DisableRMIOverHTTPTest && \
[2021-10-20T01:25:26.561Z] HOME=/Users/jenkins \
[2021-10-20T01:25:2

[2021-10-20 11:21] karianna opened #3041 "BootClassPathTest.sh test fails due to java.lang.ClassNotFoundException: AgentSupport on test-macstadium-macos1013-x64-1 and other macstadium hosts"
[2021-10-20T01:29:52.603Z] --------------------------------------------------
[2021-10-20T01:29:52.603Z] TEST: java/lang/instrument/BootClassPath/BootClassPathTest.sh
[2021-10-20T01:29:52.603Z] TEST JDK: /Users/jenkins/workspace/Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_0/openjdkbinary/j2sdk-image/Contents/Home/bin/..
[2021-10-20T01:29:52.603Z]
[2021-10-20T01:29:52.603Z] ACTION: shell

[2021-10-20 11:26] karianna opened #3042 "TestCodeCacheFull crashes JVM on Mac"
[2021-10-20T00:38:28.705Z] rerun:
[2021-10-20T00:38:28.705Z] cd /Users/jenkins/workspace/Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_1/aqa-tests/TKG/output_16346876972532/jdk_jfr_0/work/scratch/1 && \
[2021-10-20T00:38:28.705Z] HOME=/Users/jenkins \
[2021-10-20T00:38:28.705Z] PATH=/bin:/usr/bin:/usr/sbin \
[2021-10-20T00:38:28.705Z]     /Users/jenkins/workspace/Test_openjdk8_hs_extended.

[2021-10-20 11:31] karianna opened #3043 "JFR TestCodeSweeper crashes JVM on Mac"
https://trss.adoptium.net/output/test?id=616f9197c6182d02178a6904

[2021-10-20T00:47:13.185Z] rerun:
[2021-10-20T00:47:13.185Z] cd /Users/jenkins/workspace/Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_1/aqa-tests/TKG/output_16346876972532/jdk_jfr_1/work/scratch/3 && \
[2021-10-20T00:47:13.185Z] HOME=/Users/jenkins \
[2021-10-20T00:47:13.185Z] PATH=/bin:/usr/bin:/usr/sbin \
[2021-10-20T00:

[2021-10-20 12:31] karianna opened #3045 "jfr TestCompilerPhase test fails on win-32"
[2021-10-20T01:08:59.665Z] rerun:
[2021-10-20T01:08:59.665Z] cd 'E:\workspace\Test_openjdk8_hs_extended.openjdk_x86-32_windows_testList_2\aqa-tests\TKG\output_16346911874799\jdk_jfr_2\work\scratch\2' && \
[2021-10-20T01:08:59.665Z] PATH='C:\Program Files\Temurin\jdk-8.0.302.8-hotspot\bin;C:\cygwin64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v

[2021-10-20 12:39] karianna opened #3046 "JFR TestCompilerCompile times out on Windows 32"
https://trss.adoptium.net/output/test?id=616f6997c6182d021789a649

[2021-10-19T23:12:48.473Z] rerun:
[2021-10-19T23:12:48.473Z] cd 'E:\workspace\Test_openjdk8_hs_extended.openjdk_x86-64_windows_testList_1\aqa-tests\TKG\output_16346820155578\jdk_jfr_1\work\scratch\2' && \
[2021-10-19T23:12:48.473Z] PATH='C:\cygwin64\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\Win

[2021-10-20 13:48] karianna opened #3048 "Sparc solaris on Java 8 runs out of memory for JRE test"
https://trss.adoptium.net/output/test?id=616ff8d4c6182d02178e151b

[2021-10-20T06:45:52.625Z] rerun:
[2021-10-20T06:45:52.625Z] cd /export/home/jenkins/workspace/Test_openjdk8_hs_extended.openjdk_sparcv9_solaris_testList_1/aqa-tests/TKG/output_16347118216003/hotspot_jre_0/work/scratch && \
[2021-10-20T06:45:52.625Z] DISPLAY=:2 \
[2021-10-20T06:45:52.625Z] HOME=/export/home/jenkins/ \
[2021-10-20T0

[2021-10-20 14:34] sophia-guo commented on #2949
Agreed https://github.com/adoptium/aqa-tests/issues/2949#issuecomment-945911127. There are multiple places in aqa-tests and aqa-systemtest are using as `directoryVariable/stf/....`. Setting a working directory based on the actual repo name (STF instead of stf) should make the job easier. For now we'd like this first be addressed.

Probably open a separate issue to improve this(Setting a working di

[2021-10-20 15:38] sophia-guo opened #3050 "JDK8 linux x64: compiler/rtm/locking/TestRTMTotalCountIncrRate.java failed with `Total locks should be exactly the same as amount of iterations`"
JDK8 linux x64: compiler/rtm/locking/TestRTMTotalCountIncrRate.java failed with `Total locks should be exactly the same as amount of iterations`

[code]

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_2/17/console

rerun:https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/373/

[2021-10-20 15:42] karianna opened #3051 "TCKDateTimeFormatterBuilder had two failures (but output was hidden) for Mac OS X"
https://trss.adoptium.net/output/test?id=6170339bc6182d02178fc4bd

[2021-10-20T11:23:01.364Z] ===============================================
[2021-10-20T11:23:01.364Z] java/time/tck/java/time/format/TCKDateTimeFormatterBuilder.java
[2021-10-20T11:23:01.364Z] Total tests run: 962, Failures: 2, Skips: 0
[2021-10-20T11:23:01.364Z] ===============================================
[2021-10-20T11:23:01.

[2021-10-20 15:52] sophia-guo opened #3052 "jdk8 linux x86-64: jdk/jfr/jcmd/TestJcmdDumpPathToGCRoots.java got `Expected chains but found none`"
jdk8 linux x86-64:   jdk/jfr/jcmd/TestJcmdDumpPathToGCRoots.java got `Expected chains but found none`

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/17/testReport/jdk_jfr_jcmd_TestJcmdDumpPathToGCRoots/java/TestJcmdDumpPathToGCRoots/

[code]

[2021-10-20 15:53] karianna opened #3053 "JFR Test TestIsEnabledMultiple fails on Windows 32 for Java 11 (only failed on 11.0.13 release)"
https://trss.adoptium.net/output/test?id=616fa10cc6182d02178ac78c

[2021-10-20T03:36:28.121Z] rerun:
[2021-10-20T03:36:28.121Z] cd 'C:\Users\jenkins\workspace\Test_openjdk11_hs_extended.openjdk_x86-32_windows_testList_1\aqa-tests\TKG\output_16346938117250\jdk_jfr_2\work\scratch' && \
[2021-10-20T03:36:28.121Z] PATH='C:\cygwin64\bin;C:\windows\system32;C:\windows;C:\windows\System32\Wbem;C:\windows

[2021-10-20 15:57] sophia-guo opened #3054 "jdk8 linux x86-64 : jdk/jfr/jcmd/TestJcmdDumpPathToGCRoots.java got `Expected chains but found none`"
jdk8 linux x86-64 : jdk/jfr/jcmd/TestJcmdDumpPathToGCRoots.java got `Expected chains but found none`
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/17/testReport/jdk_jfr_jcmd_TestJcmdDumpPathToGCRoots/java/TestJcmdDumpPathToGCRoots/

[code]

[2021-10-20 16:28] karianna opened #3055 "Java 11 Alpine Linux networking tests fail due to connection refused"
https://trss.adoptium.net/output/test?id=616f8f2ec6182d02178a5cd3

[2021-10-20T02:49:21.738Z] rerun:
[2021-10-20T02:49:21.738Z] cd /home/jenkins/workspace/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux_testList_0/aqa-tests/TKG/output_16346961944475/jdk_net_0/work/scratch/6 && \
[2021-10-20T02:49:21.738Z] DISPLAY=:0 \
[2021-10-20T02:49:21.738Z] HOME=/home/jenkins \
[2021-10-20T02:49:21.738Z

[2021-10-20 16:34] karianna opened #3056 "some security tests fail for Java 11 Alpine Linux likely due to connectivity"
https://trss.adoptium.net/output/test?id=616f8f2ec6182d02178a5ce0

Last part of failure:

[2021-10-20T03:07:31.644Z] All Test Results
[2021-10-20T03:07:31.644Z] ================
[2021-10-20T03:07:31.644Z]         req**  client    service  acceptor   Result
[2021-10-20T03:07:31.644Z] ----  -------  ------  ---------  --------  -------
[2021-10-20T03:07:31.644Z]   0:      0**      c0    s4  (0)

[2021-10-20 17:22] karianna opened #3057 "Java 11 - Alpine Linux fails AWT test (this likely makes sense as we're building headless)"
https://trss.adoptium.net/output/test?id=616f8d8bc6182d02178a4cb4

tests/TKG/../TKG/output_16346861212239/cmdLineTester_libpathTestRtfChild_0"; else echo ""; echo "cmdLineTester_libpathTestRtfChild_0""_FAILED"; echo ""; fi; } 2>&1 | tee -a "/home/jenkins/workspace/Test_openjdk11_hs_sanity.functional_x86-64_alpine-linux/aqa-tests/TKG/../TKG/output_16346861212239/TestTargetResult";
[2021-10-19T23:28

[2021-10-20 17:27] karianna opened #3058 "Java 11 Alpine Linux test failures due to ./prog not being able to be run"
https://trss.adoptium.net/output/test?id=616f8db7c6182d02178a4e73

2021-10-19T23:55:41.968Z] ACTION: main -- Failed. Execution failed: `main' threw exception: java.lang.AssertionError: Some tests failed
[2021-10-19T23:55:41.968Z] REASON: User specified action: run main/othervm/timeout=300 -Djdk.lang.Process.launchMechanism=posix_spawn Basic
[2021-10-19T23:55:41.968Z] TIME:   12.175 seconds
[2021-1

[2021-10-20 17:37] smlambert commented on #3058
This should likely transfer to infrastructure repo, if prog is not available in the alpine-linux docker images.

[2021-10-20 17:40] karianna commented on #3058
Yeah I think there are a few classes of 'Set this special thing up for Alpine' that I'll ask George and Stephanie to look at.  Overall pretty impressed with Alpine's stability on hotspot and class lib tests

[2021-10-20 17:52] Haroon-Khel opened #3059 "Various hotspot_jre_1 and jdk_management test failures on ppc64 linux JDK 8"
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64le_linux_testList_2/18/testReport/

`compiler/6865265/StackOverflowBug.java.StackOverflowBug`
`compiler/8009761/Test8009761.java.Test800976`
`compiler/exceptions/TestRecursiveReplacedException.java.TestRecursiveReplacedException`
`compiler/uncommontrap/StackOverflowGuardPagesOff.java.StackOverflowGuardPagesOff`
`compiler/uncomm

[2021-10-20 18:21] sophia-guo opened #3061 "exclude jdk_tools testcases due to upsteam known issue"
We'd like to exclude following tests due to the know upstream issue in our problem list on linux-all.

sun/tools/jstatd/TestJstatdExternalRegistry.java
sun/tools/jstatd/TestJstatdPort.java
sun/tools/jstatd/TestJstatdPortAndServer.java

https://bugs.openjdk.java.net/browse/JDK-8081569

[2021-10-20 18:28] karianna commented on #2766
Recently https://trss.adoptium.net/output/test?id=616f6997c6182d021789a648

[2021-10-20 18:53] sophia-guo commented on #3056
Upstream issue https://bugs.openjdk.java.net/browse/JDK-8258855, close this one

[2021-10-20 18:53] #3056 closed

[2021-10-20 18:58] smlambert commented on #3056
Are these tests excluded under that defect now?  https://bugs.openjdk.java.net/browse/JDK-8258855 - I do not see it mentioned in the ProblemList_openjdk11.txt file.

[2021-10-20 19:02] #2992 closed

[2021-10-20 19:06] sophia-guo opened #3065 "exclude two security tests in jdk11 for upstream know issue"
sun/security/krb5/auto/ReplayCacheTestProc.java
sun/security/krb5/auto/rcache_usemd5.sh

https://bugs.openjdk.java.net/browse/JDK-8258855
platform: linux

[2021-10-20 19:25] llxia opened #3066 "Set TAP file name Jenkins pipeline"
We need to set TAP file name Jenkins pipeline. This work needs to be delivered together with https://github.com/adoptium/TKG/issues/236.

In [Jenkinsfilebase](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L74), we need to set `env.TAP_NAME=JOB_NAME`.

Please verify the result in Grinder in both regular and parallel cases:
- PARALLEL=None
- PARALLEL=Dynamic and

[2021-10-20 20:02] sophia-guo opened #3067 "Exclude upstream known issue on arm jdk11"
On arm:
jdk_management:
com/sun/management/OperatingSystemMXBean/TestTotalSwap.java https://bugs.openjdk.java.net/browse/JDK-8255263

jvm_compiler:
compiler/c2/Test8202414.java https://bugs.openjdk.java.net/browse/JDK-8251152

jdk_jfr:
jdk/jfr/jvm/TestJFRIntrinsic.java https://bugs.openjdk.java.net/browse/JDK-8239423
jdk/jfr/api/consumer/TestRecordedFrame.java https://bugs.openjdk.java.net/browse/

[2021-10-20 20:49] sophia-guo opened #3068 "jdk_nio_2 FAILED in Test_openjdk11_hs_extended.openjdk_arm_linux_testList_2"
**Test Info**
Test Name: jdk_nio_2
Test Duration: 4 min 43 sec
Machine: test-docker-ubuntu2004-armv7l-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=616f517bc6182d02178947bc

**Build Info**
Build Name: Test_openjdk11_hs_extended.openjdk_arm_linux_testList_2
Jenkins Build start time: Oct 19 2021, 05:26 pm
Jenkins Build URL: https://ci.adoptopenjdk.net/job/Test_openjdk11_h

[2021-10-20 21:38] amandanguyeen commented on #3066
I can take this!

[2021-10-20 21:51] julian55455 commented on #3015
| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |

[2021-10-21 01:17] smlambert commented on #3015
Grinder link for java/beans/PropertyEditor/TestFontClass.java retest:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1908/

See the parameters that were set for Grinder/1908:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/1908/rebuild/parameterized

You can change the CUSTOM_TARGET value to be security/infra/java/security/cert/CertPathValidator/certification/LetsEncryptCA.jav

[2021-10-21 04:44] norbline commented on #2645
@smlambert please can i take this

[2021-10-21 05:24] LizyBbethy commented on #3067
@sophia-guo @smlambert   does this involve placing those exclusions on the particular sections as stated above?

[2021-10-21 05:41] LizyBbethy commented on #3065
@sophia-guo  are these to e excluded under # jdk_management section?

[2021-10-21 06:02] LizyBbethy commented on #3061
I can take this on !

[2021-10-21 12:50] SehrishHussain opened #3072 "jdk_imageio_2 FAILED in Test_openjdk18_hs_extended.openjdk_arm_linux_testList_2"
**javax/imageio/plugins/shared/ImageWriterCompressionTest**
[ImageWriterCompressionTest](https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_arm_linux_testList_2/6/testReport/junit/javax_imageio_plugins_shared_ImageWriterCompressionTest/java/ImageWriterCompressionTest/)

**Test Info**
Test Name: jdk_imageio_2
Test Duration: 3 min 13 sec
Machine: test-docker-ubuntu2004-armv7l-1
TRSS

[2021-10-21 13:41] SehrishHussain commented on #2919
**jdk/jfr/jcmd/TestJcmdDump.java** [Test Fail](https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_aarch64_linux/7/testReport/junit/jdk_jfr_jcmd_TestJcmdDump/java/TestJcmdDump/)
for aarch64-linux

[2021-10-21 14:30] sophia-guo opened #3074 "Update jtreg to jtreg-6.1+1 for jdk18"
Since yesterday OpenJDK 18 (current mainline development tree) requires jtreg-6.1+1 due to removal of Security Manager.
https://github.com/adoptium/ci-jenkins-pipelines/issues/211#issue-1032442818

We need to update jtreg from jtreg-6+1 to jtreg-6.1+1 for jdk18

jtreg-6.1+1 is ready for consumption https://ci.adoptopenjdk.net/view/Dependencies/job/dependency_pipeline/223/, which was a testing run.

[2021-10-21 14:32] SehrishHussain commented on #1920
Another test fail:
**java/lang/ProcessBuilder/Basic.java**
Jenkins Link: https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_sanity.openjdk_ppc64_aix/16/testReport/junit/java_lang_ProcessBuilder_Basic/java_id0/Basic_id0/
TRSS Link: https://trss.adoptium.net/allTestsInfo?buildId=616d7be7c6182d02177fff67&limit=5&hasChildren=false

[2021-10-21 15:18] SehrishHussain commented on #1267
Another test fail for openjdk18 on aix-ppc64:
**java/lang/System/FileEncodingTest**
Jenkins URL: https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_sanity.openjdk_ppc64_aix/16/testReport/junit/java_lang_ProcessBuilder_Basic/java_id0/Basic_id0/
TRSS Link: https://trss.adoptium.net/allTestsInfo?buildId=616d7be7c6182d02177fff67&limit=5&hasChildren=false

[2021-10-21 15:18] Haroon-Khel opened #3075 "JDK17 jdk_lang_1 test failure on ppc aix"
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_ppc64_aix/71/testReport/

The following test in jdk_lang_1 from the sanity openjdk test suite fails repeatedly on aix
`java/lang/invoke/MethodHandlesSpreadArgumentsTest.java.MethodHandlesSpreadArgumentsTest`

[code]

https://trss.adoptium.net/output/test?id=6170bdbcc6182d021792679d

It is excluded on windows platforms, as of https://

[2021-10-21 17:01] sophia-guo opened #3076 "Exclude java/nio/file/spi/SetDefaultProvider.java on win32 jdk17"
java/nio/file/spi/SetDefaultProvider.java should be excluded on win32 jdk17.

Move the following line from jdk_net section
java/nio/file/spi/SetDefaultProvider.java	https://github.com/adoptium/aqa-tests/issues/2871 linux-arm https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk17.txt#L136

 to jdk_nio section
https://github.com/adoptium/aqa-tests/blob/master/openjd

[2021-10-21 17:21] #3054 closed, assigned to nobody

[2021-10-21 17:22] #3052 closed, assigned to nobody

[2021-10-21 18:30] llxia opened #3077 "Parent test build result can be false positive"
We notice parent test build result can be false positive even if all child build results are FAILURE.

[code]

Test_openjdk8_j9_special.system_x86-64_linux/121

[2021-10-21 18:49] smlambert opened #3078 "Update external tests to use different Docker images"
- [x] #3079
- [x] #3080
- [x] For other testing, support being able to use images from other registries (https://github.com/adoptium/aqa-tests/issues/2645)

[2021-10-21 18:52] smlambert opened #3079 "For temurin testing use images from https://hub.docker.com/_/eclipse-temurin"

[2021-10-21 18:52] smlambert opened #3080 "For openj9 testing, use images from https://hub.docker.com/_/ibm-semeru-runtimes"

[2021-10-21 20:25] julian55455 commented on #3015
@smlambert I don't have the rights to edit CUSTOM_TARGET value to anything or re-run in Grinder. Whenever I try I get this message I get
**Access Denied
julian55455 is missing the Job/Build permission**

[2021-10-21 20:26] LizyBbethy commented on #3065
i have had to close two PRs due to another contributor using the same branch name .their contribution landed into my branch...i think the naming convention using issue numbers deserves emphasis
working around it

[2021-10-21 22:55] psaunderualberta opened #3084 "Archive testenv.properties"
Parent: #2916

Creating the testenv.properties file has already been done [here](https://github.com/adoptium/aqa-tests/blob/master/testenv/testenv.properties). We need to archive the file so it persists after the Grinder job terminates.

[2021-10-21 23:42] #3065 closed

[2021-10-21 23:45] smlambert commented on #3015
You have not accepted the invitation to the outreachy_f2021 github team, once you do, you will have access.  Please check your email or https://github.com/notifications to accept the invite.

[2021-10-22 06:35] SehrishHussain opened #3086 "jdk_nio_0 FAILED in Test_openjdk18_hs_extended.openjdk_ppc64_aix_testList_2"
Set of tests fail for Openjdk18 aix-ppc64
java/nio/channels/FileChannel:

java/nio/channels/FileChannel/LargeGatheringWrite.java.LargeGatheringWrite
java/nio/channels/FileChannel/Transfer2GPlus.java.Transfer2GPlus
java/nio/channels/DatagramChannel/AfterDisconnect.java.AfterDisconnect
java/nio/channels/DatagramChannel/SendReceiveMaxSize.java.SendReceiveMaxSize
java/nio/Buffer/DirectBufferAllocTest.

[2021-10-22 10:42] SehrishHussain opened #3087 "jdk_jmx_0 FAILED in Test_openjdk18_hs_extended.openjdk_ppc64le_linux_testList_0"
Set of tests fail for javax_management:
javax/management/remote/mandatory/connection/RMIConnectionIdTest.java
javax/management/remote/mandatory/notif/RMINotifTest.java
javax/management/remote/mandatory/passwordAuthenticator/RMIAltAuthTest.java
javax/management/remote/mandatory/passwordAuthenticator/RMIPasswdAuthTest.java
javax/management/remote/mandatory/socketFactories/RMISocketFactoriesTest.java

[2021-10-22 10:56] SehrishHussain opened #3088 "jdk_net_0 FAILED in Test_openjdk18_hs_extended.openjdk_ppc64le_linux_testList_0"
Set of tests fail for jdk/net openjdk18, ppc64le_linux:

java/net/CookieHandler/CookieManagerTest.java.CookieManagerTest
java/net/DatagramPacket/ReuseBuf.java.ReuseBuf
java/net/DatagramSocket/GetLocalAddress.java.GetLocalAddress
java/net/DatagramSocket/PortUnreachable.java.PortUnreachable
java/net/DatagramSocket/ReuseAddressTest.java.ReuseAddressTest
java/net/DatagramSocket/Send12k.java.Send12k
ja

[2021-10-22 15:16] #2987 closed, assigned to nobody

[2021-10-22 15:16] #2989 closed, assigned to nobody

[2021-10-22 16:37] sophia-guo opened #3090 "some platforms are running with unexpected mode1000"
Mode1000 is set for 32 bit platform only. We can see it is running on aarch64_mac and x86-64_solaris.

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_x86-64_solaris/31/console
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk17_hs_sanity.openjdk_aarch64_mac/36/console

sparcv9_solaris is only running with mode150, -XX:+UseCompressedOops.  mode650 isn

[2021-10-22 16:46] sophia-guo opened #3091 "exclude two tests on osx_aarch64, windows, solaris for jdk17"
Following two tests intermittently failed with different error message. And they are known upstream issues
java/net/httpclient/ShortResponseBody.java.
java/net/httpclient/ShortResponseBodyWithRetry.java
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_aarch64_mac_testList_0/14/
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_aarch64_mac_testList_1/12/

https://

[2021-10-22 18:28] #3004 closed, assigned to King-kay

[2021-10-23 10:18] aixtools opened #3094 "jdk_net_0, jdk_net_1 failures in AIX"
**Describe the bug**
The (weekly) run of https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.openjdk_ppc64_aix/ is not finishing green. Examination of the last week shows in: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.openjdk_ppc64_aix/34/ one build artifact and three Generated items: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_extended.openjdk_ppc64_aix_testList_0/, h

[2021-10-25 09:39] andrew-m-leonard opened #3098 "JavaTestRunner fails to run jck-compiler-lang-EXPR-group1"
JavaTestRunner fails with "Bad Tests" when run against jck-compiler-lang-EXPR-group1
Passes when run with: oct-2021-prerelease

[2021-10-25 14:33] #2964 closed, assigned to mimietruddy

[2021-10-25 14:51] #3091 closed, assigned to jnjerin

[2021-10-26 23:29] psaunderualberta opened #3102 "Add properties not accessible from get.sh to testenv.properties"
Issue: #2916
Get the properties which are only accessible from the build.xml files, and add them to testenv.properties.

[2021-10-28 23:21] xius666 opened #3108 "Adding logic to openjdk to accept SHA from testenv.property file"
currently Openjdk build.xml lacks the logic to accept the SHA after consuming the testenv.property file , it is necessary to consume the SHA coming from testenv.property file

[2021-10-29 19:20] llxia commented on #3032
Thanks @akanbifatimah .
This is fixed via https://github.com/adoptium/aqa-tests/pull/3036

[2021-10-29 19:20] #3032 closed

[2021-10-31 12:53] olusanwo commented on #3014
Hi @smlambert, you havn't responded. Can I proceed to create a pull request for the exclusion of line 314 since all the test passed with none failed?

[2021-10-31 12:54] olusanwo commented on #3014
Hi @smlambert, you havn't responded. Can I proceed to create a pull request for the exclusion of line 314 since all the test passed with none failed?

[2021-10-31 16:00] maiia-pi commented on #3013
@smlambert  Please have a look if I did it right.

I can't check status of this one https://bugs.openjdk.java.net/browse/JDK-8031145
as it requires to log in for some reason so I haven't run Grinder for it.

| URL to JBS issue  | Reported Status | Rerun in Grinder link | Cases |
| ------------- | ------------- | ------------- | ------------- |
| https://bugs.openjdk.java.net/browse/JDK-8226236 | R

[2021-11-01 14:31] sophia-guo commented on #3074
All openjdk18 tests failed with error Error: The testsuite at /home/jenkins/workspace/Test_openjdk18_hs_sanity.openjdk_x86-64_linux/aqa-tests/openjdk/openjdk-jdk/test/jdk requires jtreg version 6.1 b1 or higher and this is jtreg version 6-dev+0.

https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk18_hs_sanity.openjdk_x86-64_linux/27/console

We will need to update to use jtreg-6.1+1 for

[2021-11-01 14:41] #3066 closed

[2021-11-01 15:36] smlambert commented on #3013
Wonderful, thanks @maiia-pi !

For the cases where all tests pass, we can then remove the line in the exclude file, in other words,  now you can create a PR to edit ProblemList_openjdk8.txt and remove the lines for the testcases that now are passing on all platforms.

I think I see one or two cases in your Grinders where they fail with "cannot find file" so we can also double-check if we have the

[2021-11-01 16:49] smlambert commented on #3013
For https://ci.adoptopenjdk.net/job/Grinder/2214/, its not finding the test class file, which means either its not in the jdk_custom target (but rather in some other target, like hotspot_custom or langtools_custom, or the path we are using to the file in the CUSTOM_TARGET field is not quite right, needs to match the location in the repo, everything after https://github.com/adoptium/jdk8u/blob/mast

[2021-11-02 12:48] llxia commented on #3031
Thanks @akanbifatimah . PR https://github.com/adoptium/aqa-tests/issues/3031 is delivered.

[2021-11-02 12:48] #3031 closed

[2021-11-02 14:08] llxia opened #3114 "HCRLateAttachWorkload_previewEnabled sets -java-args twice"
`-java-args` is set twice in the following command in [HCRLateAttachWorkload_previewEnabled](https://github.com/adoptium/aqa-tests/blob/b64c08354d5acbb17e478e0d9a79f3abbac05f52/system/otherLoadTest/playlist.xml#L235). I think the original value is overridden.

[code]

`SYSTEMTEST_CMD_TEMPLATE` contains `-java-args`. If additional `-java-args` is added in the `command` in playlist, `$(JVM_OPTIONS)`

[2021-11-02 14:28] llxia commented on #3114
FYI @Mesbah-Alam

[2021-11-02 15:40] Haroon-Khel opened #3115 "Multiple tests from jdk_jfr_2 fail on arm32 due to dump related issues"
Many failed tests in jdk_jfr_2 in the extended openjdk suite on arm32

The list of failed tests are in https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_arm_linux_testList_2/16/testReport/
There are 335 failed tests in total so wont be posting all of them here

All of the test failures have a similar error log

[code]

[2021-11-02 16:55] sophia-guo opened #3116 "update external test to run with docker images provided by adoptium"
For external tests we support images defined by following variables. That is 10 * 2 * 8 * 2 * 2 * 20=12800. That is a huge number. As we moved to adoptium official adoptium images  of the Eclipse Temurin Distribution has been adjusted we will also adjust our supported images.
[code]

For now we will adjust to

[code]

The definition is in https://github.com/adoptium/aqa-tests/blob/master/external/

[2021-11-02 17:20] Haroon-Khel opened #3117 "JDK8 arm32 TestJlmRemote test failures"
The following tests from the sanity system suite are failing on jdk 8 arm 32

[code]
Latest failure
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.system_arm_linux/79/tapResults/

TestJlmRemoteClassNoAuth_2

[code]

These two tests have a similar error log:
TestJlmRemoteMemoryAuth_2
TestJlmRemoteMemoryNoAuth_2

[code]

TestJlmRemoteThreadNoAuth_2

[code]

[2021-11-03 12:37] Haroon-Khel opened #3118 "jdk_util_2 test failures on JDK8 arm32"
Many tests from jdk_util_2 in the hs sanity openjdk test suite fail on arm32

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_arm_linux/280/testReport/

Null pointers errors
java/util/concurrent/BlockingQueue/MultipleProducersSingleConsumerLoops.java.MultipleProducersSingleConsumerLoops
java/util/concurrent/ExecutorCompletionService/ExecutorCompletionServiceLoops.java.ExecutorCompl

[2021-11-03 13:21] LizyBbethy commented on #3116
hi @sophia-guo i would like to give this a spin

[2021-11-03 13:44] LizyBbethy opened #3119 "Documentation update"
**Describe the bug**
re-pharasing under Jacoco

[2021-11-03 14:19] Haroon-Khel opened #3122 "test dacapo-xalan_0 fail on JDK8 Arm32"
test dacapo-xalan_0 in the jdk8 hs extended perf test suite fails on arm32

Latest failure https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.perf_arm_linux/26/tapResults/
I have rerun the test on other arm32 machines, still fails

[code]

[2021-11-03 15:14] babsingh commented on #3114
@Mesbah-Alam is there a workaround to the above problem?

[2021-11-03 15:30] llxia commented on #3114
In your personal branch, change
`-java-args=$(Q)--enable-preview --add-exports java.base/jdk.internal.org.objectweb.asm=ALL-UNNAMED$(Q)`
to
`-java-args=$(Q)--enable-preview --add-exports java.base/jdk.internal.org.objectweb.asm=ALL-UNNAMED $(JVM_OPTIONS)$(Q)`
https://github.com/adoptium/aqa-tests/blob/b64c08354d5acbb17e478e0d9a79f3abbac05f52/system/otherLoadTest/playlist.xml#L241

[2021-11-03 15:43] Mesbah-Alam commented on #3114
Another thing that can be tried out in personal branch is, in the [test command line](https://github.com/adoptium/aqa-tests/blob/b64c08354d5acbb17e478e0d9a79f3abbac05f52/system/otherLoadTest/playlist.xml#L241),  replace `-java-args` with `java-args-execute`.

[2021-11-03 16:19] smlambert opened #3124 "AQAvit meeting: Dec 1, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Dynamic compilation i

[2021-11-03 16:19] smlambert commented on #2959
Meeting [recording link](https://bluejeans.com/s/fEaazqiBEuy)

This meeting took a look at the progress being made by the CanOSP (canosp.ca) students working at our project.
Thanks to Amanda, Shiyu and Paul for the progress they have made so far!  We are at the mid-point in their term and today's demos were a check-in regarding what different pieces have been tackled:
- consumption of contents of

[2021-11-03 16:19] #2959 closed

[2021-11-03 16:25] smlambert opened #3125 "AQAvit meeting: Oct 20, 2021"
Join via https://bluejeans.com/724807178/2833?src=calendarLink

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Outreachy contrib per

[2021-11-03 16:25] smlambert commented on #3125
Meeting [recording link](https://bluejeans.com/s/tW4guYvrq@3)

Link to next meeting: https://github.com/adoptium/aqa-tests/issues/2959

[2021-11-03 16:25] #3125 closed

[2021-11-03 16:37] #3119 closed

[2021-11-03 20:20] babsingh commented on #3114
I tried both options: https://github.com/babsingh/aqa-tests/commits/master.

But, the grinder cloned `adoptium/aqa-tests` instead of `babsingh/aqa-tests`.

Grinder: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_iteration_7/322/consoleFull

[2021-11-03 21:00] llxia commented on #3114
Adopt repo and branch are special parameters. In order for Adopt repo and branch to be set, `LIGHT_WEIGHT_CHECKOUT ` has to be false for generating child Grinder jobs. I will update the description in Grinder.

Rebuild: https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19248/

[2021-11-04 11:52] maiia-pi commented on #3013
@smlambert I've checked issues again with different Target setting, it worked for some, I've updated their status and going to send another PR with these updates.
The rest still finishes with failures.

| URL to JBS issue  | Reported Status | Rerun in Grinder link | Cases |
| ------------- | ------------- | ------------- | ------------- |
| https://bugs.openjdk.java.net/browse/JDK-8226236 | RESOLV

[2021-11-04 12:59] Haroon-Khel commented on #3118
These tests passed on build-equinix-ubuntu1604-armv7l-1. It seems its an infrastructure issue https://ci.adoptopenjdk.net/job/Grinder/2429/console

[2021-11-04 14:00] llxia opened #3128 "TEST_JDK_HOME should be detected in get.sh"
In the current logic, CI layer (i.e., Jenkins, etc) sets a TEST_JDK_HOME value. And get.sh will try to detect TEST_JDK_HOME if the path `openjdkbinary/j2sdk-image` is not correct. Only when this happens, we will generate job.properties for CI layer to consume.

https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L59
https://github.com/adoptium/aqa-tests/blob/master/g

[2021-11-04 17:08] Haroon-Khel commented on #3117
These tests passed on build-equinix-ubuntu1604-armv7l-1 https://ci.adoptopenjdk.net/job/Grinder/2434/console

[2021-11-04 17:14] Haroon-Khel commented on #3118
Moved over to infra repo https://github.com/adoptium/infrastructure/issues/2376

[2021-11-04 17:14] #3118 closed

[2021-11-04 17:14] Haroon-Khel commented on #3117
Moved over to infra repo https://github.com/adoptium/infrastructure/issues/2376

[2021-11-04 17:14] #3117 closed

[2021-11-05 02:57] smlambert commented on #2966
Closed via #3008

[2021-11-05 02:57] #2966 closed

[2021-11-05 06:50] maiia-pi commented on #3017
Hello @smlambert
Here's the table of issues on the list

| URL to JBS issue  | Reported Status | Rerun in Grinder link |
| ------------- | ------------- | ------------- |
| https://bugs.openjdk.java.net/browse/JDK-8173082| Closed | [Test was successful](https://ci.adoptopenjdk.net/job/Grinder/2462/)|
| https://bugs.openjdk.java.net/browse/JDK-8221400  | Resolved | [Test was successful](https://ci.

[2021-11-08 15:01] jnjerin commented on #3116
I would like to work on this too as it gives a better understanding to another issue I've been working on. @sophia-guo @ShelleyLambert

[2021-11-09 06:22] LizyBbethy commented on #3116
Hi @sophia-guo @smlambert  here is the PR for the cleanup as required https://github.com/adoptium/aqa-tests/pull/3131

[2021-11-09 16:34] smlambert opened #3132 "Consider and size the effort needed to change the terms used for levels in AQAvit"
We have divided the AQA test suite into both groups and levels to support graduated and granular testing.
Current naming is:
Levels: sanity, extended, special
Groups: functional, external, openjdk, perf, system

There is a suggestion for us to consider no longer use 'sanity' as it can be considered a term that is derogatory to neurodiverse people.  While we have had no actual feedback from the com

[2021-11-09 19:17] #3014 closed

[2021-11-09 20:15] Mesbah-Alam commented on #3098
This should be fixed via: https://github.com/adoptium/aqa-tests/pull/3104

[2021-11-10 00:05] #3098 closed

[2021-11-10 16:54] pshipton opened #3136 "OpenJDK tests on jdk18 result in error about wrong jtreg version"
i.e. https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/367/console

`Error: The testsuite at /home/jenkins/workspace/Grinder/aqa-tests/openjdk/openjdk-jdk/test/jdk requires jtreg version 6.1 b1 or higher and this is jtreg version 6-dev+0.`

@llxia fyi

[2021-11-11 15:53] smlambert commented on #3136
This one was also needed and has just been merged: https://github.com/adoptium/ci-jenkins-pipelines/pull/212

[2021-11-16 11:26] sxa opened #3140 "Set timeoutFactor to 20 for RISC-V tests"
This is based on the suggestion in slack at https://adoptium.slack.com/archives/D02FJ8V16Q6/p1637061299000100?thread_ts=1632900859.002400&cid=D02FJ8V16Q6 - many of the Bisheng11 sanity.openjdk suite tests hit timeouts at the moment.

[2021-11-16 14:19] #3074 closed

[2021-11-16 14:27] llxia commented on #3136
PR #3112 and https://github.com/adoptium/TKG/pull/247 are merged. test.getDependency job at 3 Jenkins servers are updated.
Running Grinder: https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/390/

[2021-11-16 15:05] llxia commented on #3136
Noticed the failure in Grinder https://github.com/adoptium/TKG/pull/247#issuecomment-970346423. We are working on the fix.

[2021-11-16 16:13] llxia commented on #3136
https://openj9-jenkins.osuosl.org/job/Grinder/395/

[2021-11-16 16:14] llxia commented on #3136
Grinder passed with JDK18. The issue is resolved.

[2021-11-16 16:14] #3136 closed

[2021-11-17 04:22] smlambert commented on #3124
Cancelling Nov 17th meeting, will reconvene on Dec 1st.

[2021-11-18 11:08] feilongjiang commented on #3140
Hi @sxa, I'm looking for the result of RISC-V tests with larger timeoutFactor, where  can I find it :eyes:?

[2021-11-18 11:32] sxa commented on #3140
This issue has been raised to over making the change to increase the timeout factor. It has not been done yet.

[2021-11-18 12:31] feilongjiang commented on #3140
Thanks for your information. Please me know if there is any failed test, we can take a look at it.

[2021-11-18 19:43] #3116 closed

[2021-11-23 17:57] #2615 closed

[2021-11-23 17:57] #2617 closed

[2021-11-23 17:57] #2616 closed

[2021-11-28 15:06] llxia commented on #3114
@Mesbah-Alam could you take care of this issue? Thanks

[2021-11-30 14:18] llxia commented on #3084
The PR is merged. Thanks @psaunderualberta

[2021-11-30 14:18] #3084 closed

[2021-11-30 15:06] llxia opened #3153 "wycheproof failed during build_image"
Test_openjdk11_j9_sanity.external_x86-64_linux/29 `Couldn't find any package by regex 'gcc-c+'`

[code]

[2021-12-02 08:41] LizyBbethy commented on #3153
hi @llxia  i this this PR https://github.com/adoptium/aqa-tests/pull/3145 address this issue
fresh grinder  https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/2694/console

[2021-12-02 19:16] smlambert opened #3156 "Update github workflows to use LTS jdk versions"
We should check what is currently being used in all of the various workflow yaml files and update them if they are found to be using versions that are no longer interesting:

For example, 16 can be updated to 17 (which is an LTS version):
https://github.com/adoptium/aqa-tests/blob/master/.github/workflows/directoriesFilesChangePR.yml#L37

[2021-12-02 19:23] #3114 closed

[2021-12-02 19:30] LizyBbethy opened #3157 "Standardize testCaseName for each of the external tests"
**Describe the bug**
current test name does not flow with the workflow

SL/Dec2: Since we are improving the automation of the external tests and continuing to reduce the duplication, it is important that we establish a testCaseName naming pattern that is easy to predict (and avoids needing to look into the playlist file to read the testCaseName when we want to know the TARGET to use).

| directory

[2021-12-03 12:58] smlambert commented on #2840
Closed now that #3149 is merged.

[2021-12-03 12:58] #2840 closed

[2021-12-06 17:22] llxia opened #3163 "Remove runAqaConfig.json"
I think [runAqaConfig.json](https://github.com/adoptium/aqa-tests/blob/master/.github/workflows/runAqaConfig.json) was originally created to track if the user can set a custom value or not. As a result, every new custom param needs to be added to the file. And we store the copy in all three repos (i.e, aqa-tests, TKG and openj9). This causes unnecessary updates and confusion.

Related issues and P

[2021-12-07 23:11] llxia opened #3167 "Add SCC/AOT test with varying heap size"
A customer found a problem where changing the heap size between JVM invocations using AOT. The problem is observed on aarch64.  Thanks Akira for providing us with the detailed step of reproducing it using the benchmark.
[code]

It would be nice if we can run this using system tests in the open (i.e., [MiniMix_5m](https://github.com/adoptium/aqa-tests/blob/b64c08354d5acbb17e478e0d9a79f3abbac05f52/s

[2021-12-07 23:11] llxia commented on #3167
I am not able to reproduce the issue in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/view/Test_grinder/job/Grinder/19907/) using [Openj9 0.29.0](https://github.com/ibmruntimes/semeru11-binaries/releases/download/jdk-11.0.13%2B8_openj9-0.29.0/ibm-semeru-open-jdk_aarch64_linux_11.0.13_8_openj9-0.29.0.tar.gz).

Console output:
[code]

[2021-12-07 23:22] llxia commented on #3167
Akira thinks "AOT is not used by loadTest workload because the SCC has been populated with the different configuration by the java process launched at the generation phase."
@Mesbah-Alam  Can we pass jvm options in the generation phase?

[2021-12-08 00:45] Akira1Saitoh commented on #3167
Thanks, @llxia
The generation phase seems to accept `java-debug-args` option, so I gave it a shot. I could reproduce the problem in [Grinder](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder/19910/) by adding `-debug-generation -java-debug-args=$(Q)-Xmx3g -Xms3g$(Q)` to the STF command args.
However, the option name suggests that it is for the debugging purpose and I do not think it is appr

[2021-12-13 15:39] llxia opened #3175 "systemtest.getDependency is broken"
https://ci.adoptopenjdk.net/job/systemtest.getDependency/ has been broken for a while

[code]
The above is the most common error ([link to job](https://ci.adoptopenjdk.net/job/systemtest.getDependency/147/)), but I have seen other errors.

[2021-12-13 16:14] sophia-guo commented on #3175
Looks like all others are error:

[code]

And running on docker machines.

[2021-12-13 16:19] llxia commented on #3175
`Buildfile: ./openjdk-systemtest/openjdk.build/build.xml does not exist!` is a common error on all Jenkins (including internal).
https://openj9-jenkins.osuosl.org/job/systemtest.getDependency/

[2021-12-13 16:21] sophia-guo commented on #3175
Ok, I didn't count the internal. Only checked https://ci.adoptopenjdk.net/job/systemtest.getDependency/.

[2021-12-13 16:48] llxia commented on #3175
I suspect the issue is due to system test repo rename.

[2021-12-13 18:29] #3175 closed

[2021-12-14 02:08] Akira1Saitoh commented on #3167
Opened https://github.com/adoptium/aqa-tests/pull/3178

[2021-12-14 14:34] llxia opened #3180 "Ensure log4j is up to date in external and perf tests"
Due to security issues, we need to check each external test repo for the inclusion of log4j. For example, check log4j in pom files and/or equivalent. If they include log4j, we need to make sure they are running log4j v2.15.0+.

Step1: identify the external tests that use log4j and version
Step2: Open issue in the external repo that uses log4j version below 2.15.0
Step3: exclude the test with the i

[2021-12-14 14:42] smlambert opened #3181 "Remove external/example-test and update relating documentation"
There is no reason to keep [example-test](https://github.com/adoptium/aqa-tests/tree/master/external/example-test) any more.  It is outdated (uses a static docker file rather than the auto-generated dockerfile) and is no longer useful as a copy/paste example to introduce new external tests.

We should update our documentation, specifically this section: https://github.com/adoptium/aqa-tests/tree/m

[2021-12-14 14:47] smlambert opened #3182 "Remove external/thorntail-mp-tck"
We have had the [thorntail_microprofile_tck disabled](https://github.com/adoptium/aqa-tests/blob/master/external/thorntail-mp-tck/playlist.xml#L31-L34) for a while now, and there is no intention of re-enabling it, since it announced its end-of-life (see https://github.com/adoptium/aqa-tests/issues/1855#issuecomment-707764068).

We should fully remove the subfolder and test and any related document

[2021-12-14 16:51] llxia commented on #2917
PR is delivered. Close this issue.

[2021-12-14 16:51] #2917 closed

[2021-12-14 16:52] llxia commented on #2918
The feature is implemented. Close this issue.

[2021-12-14 16:52] #2918 closed

[2021-12-14 19:54] sophia-guo commented on #3182
<img width="1199" alt="Screen Shot 2021-12-14 at 2 53 23 PM" src="https://user-images.githubusercontent.com/18030625/146069845-086d048c-67af-4a5d-a66e-788877c90c22.png">

Probably take a look why we need to define the supported_tests twice, which can be done in a separate issue or pr.

[2021-12-14 20:00] sophia-guo opened #3186 "Clean the function parse_tag() in external/external.sh"
[External tests has been updated to run with docker images provided by adoptium](https://github.com/adoptium/aqa-tests/issues/3116), [function parse_tag() in external/external.sh](https://github.com/adoptium/aqa-tests/blob/master/external/external.sh#L120) should also been cleaned up.

[2021-12-15 13:23] smlambert opened #3187 "Assess the health of external test group"
For each of the tests listed in https://github.com/adoptium/aqa-tests/tree/master/external we should assess their current health and status for all versions and implementations.

- [Hotspot spreadsheet](https://docs.google.com/spreadsheets/d/1kcHs1f7H1bmlLvkRBZ0CMdTaGBa3DWEXP86bYRefxg8/edit?usp=sharing)
- [OpenJ9 spreadsheet](https://docs.google.com/spreadsheets/d/197JBPA9hyYDLwc7xNncUKoXiKj9B7BH2

[2021-12-15 13:30] smlambert opened #3188 "Remove or replace unnecessary/deprecated external tests"
- #3181
- #3182
- Investigate replacing elasticsearch with opensearch

[2021-12-15 16:16] smlambert commented on #3124
Meeting [recording link](https://bluejeans.com/s/6zZAya7AgKt)

Minutes:
- Renfei demonstrated the Dynamic compilation work that will improve our test compilation time and make our regular test runs more efficient.  It is also a simplification for developers (who no longer need to supply a BUILD_LIST variable in order to determine what needs to be compiled.
- CanOSP term ending (focus on Reproducib

[2021-12-15 16:16] #3124 closed

[2021-12-15 16:31] llxia commented on #3167
Thanks @Akira1Saitoh . The PR is delivered.

[2021-12-15 16:31] #3167 closed

[2021-12-17 00:18] smlambert opened #3189 "Assess the health of the perf test group"
- Look at weekly perf runs and check that all perf targets that are enabled are passing (on all versions/impls/platforms), if not then annotate the failing targets (first in this issue - then we can assess and if needed find existing issues or raise new ones as required.
- Likely easiest to start by looking at the grid view of the latest weekly run to assess what is running and its status, example

[2021-12-17 00:25] smlambert commented on #2252
Closing this as stale (and as it was a working document for a now retired build).

[2021-12-17 00:25] #2252 closed

[2021-12-17 00:26] smlambert commented on #2028
Closing this as we no longer build/release jdk8 hs on s390x.

[2021-12-17 00:26] #2028 closed

[2021-12-17 00:30] smlambert commented on #1932
@norbline - we can try to rerun this disabled test target against a JDK_VERSION=17 build in a Grinder to see how it behaves

[2021-12-17 00:32] smlambert commented on #2050
Closing this as we no longer build/release/test the jdk8 s390x hotspot build (as it has no JIT and is too slow to offer to anyone).

[2021-12-17 00:32] #2050 closed

[2021-12-17 00:35] smlambert commented on #2183
Close as won't fix (we are now directing perf tests to ci.role.perf labelled resources which does not include test-azure* machines.

[2021-12-17 00:35] #2183 closed

[2021-12-17 00:37] smlambert commented on #2255
We should try running this test against a jdk17 build and confirm this exception still occurs.

[2021-12-17 00:51] #2401 closed

[2021-12-17 07:33] norbline commented on #1932
test passed https://ci.adoptopenjdk.net/job/Grinder/2817/

[2021-12-17 17:51] smlambert commented on #1932
Rerun of the 2817 with TARGET=disabled.renaissance-naive-bayes (so that the disabled test target is not skipped):
https://ci.adoptopenjdk.net/job/Grinder/2819/tapResults/

[2021-12-22 13:36] takiguc opened #3191 "MBCS_Tests/CLDR_11 testcase was failed by 11.0.14"
**Describe the bug**
According to following link, CLDR_11 testcase was failed by 11.0.14+b05
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Simple/284/tapResults/
371 tests, 79 ok, 4 not ok, 288 skipped, 0 ToDo, 0 Bail Out!
* MBCS_Tests_CLDR_11_ja_JP_linux_0
* MBCS_Tests_CLDR_11_ko_KR_linux_0
* MBCS_Tests_CLDR_11_zh_CN_linux_0
* MBCS_Tests_CLDR_11_zh_TW_linux_0

**MBCS_Tests_CLDR_11_ja_

[2022-01-02 13:37] smlambert commented on #3189
Activity update:
- many of the failures in the perf group are due to certain benchmarks in the renaissance suite that check whether the environment where they are running is sufficient.  These benchmarks use Apache Spark and this is related to the [Apache Spark configuration](https://books.japila.pl/apache-spark-internals/spark-properties/).  We currently are using the default values found in  spa

[2022-01-03 14:58] jnjerin commented on #3182
@smlambert I'll take this up

[2022-01-03 16:09] smlambert commented on #3182
Thanks @jnjerin !

[2022-01-04 09:42] norbline commented on #3189
As Mentioned by @smlambert  These two platforms below seem to be affected after [running tests](https://ci.adoptopenjdk.net/job/Grinder/2903/console) check on the failed Benchmarks.

**Affected Platforms**
- arm_linux
- x86-32_windows

**Failed Benchmarks**
- renaissance-als
- renaissance-chi-square
- renaissance-dec-tree
- renaissance-gauss-mix
- renaissance-log-regression
- renaissance-movie-len

[2022-01-04 19:40] smlambert commented on #3189
As mentioned in all-hands call, @norbline will create a PR to exclude these 6 benchmarks from those 2 platforms for now (by disabling each of the 6 tests in the playlist, for reference: https://github.com/adoptium/aqa-tests/blob/master/doc/userGuide.md#exclude-a-test-against-specific-platform).

[2022-01-04 20:45] #3191 closed

[2022-01-04 21:39] smlambert commented on #3187
Based on the work done to date and the notes in the spreadsheet, here is a recent activity update:
- Wycheproof - a prereq for this test is bazel which is no longer being correctly added to the auto-generated Dockerfile ([dockerfile_functions.sh](https://github.com/adoptium/aqa-tests/blob/master/external/dockerfile_functions.sh#L361-L388)  and likely [wycheproof/test.properties](https://github.com

[2022-01-05 18:32] #3182 closed

[2022-01-05 21:20] llxia commented on #2963
Thanks to @xius666 . This issue is resolved.

[2022-01-05 21:20] #2963 closed

[2022-01-06 11:05] jnjerin commented on #1855
Since removal of this test from external tests, can we close this issue as well? @smlambert @sophia-guo @llxia

[2022-01-06 11:08] jnjerin opened #3198 "Update external test documentation"
As we do a clean-up, modifications, and additions of external tests, there's need to update the documentation to reflect the new changes.

- Remove external/example-test  #3181
- Thorntail_microprofile_tck removal #3182
- Standardize testCaseName for external tests #3157 #3158

[2022-01-06 13:47] jnjerin opened #3199 "Investigate and remove duplication of supported tests in common_functions.sh and external.sh"
The supported_tests are defined twice, both on [common_functions.sh](https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh) and [external.sh](https://github.com/adoptium/aqa-tests/blob/master/external/external.sh)
We should investigate why this is so and remove that duplication if need be.

[2022-01-06 18:42] smlambert commented on #1855
yes, thanks @jnjerin !

[2022-01-06 18:42] #1855 closed

[2022-01-10 19:39] LizyBbethy commented on #3186
hi @ShelleyLambert @sophia-guo  here are some changes for review

[2022-01-11 13:38] smlambert opened #3207 "AQAvit Meeting: Jan 12, 2022"
Join via https://bluejeans.com/917304424

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- Advanced search feature in TRSS - @llxia
-

[2022-01-11 13:56] smlambert opened #3208 "getTestenvProperties.sh does not run well on alpine-linux"
**Describe the bug**
getTestenvProperties.sh must call grep with an option that is not supported on alpine-linux, as it reports this message
`grep: unrecognized option: P`

**To Reproduce**
Run any test on alpine-linux and see the console output during the setup phase.
[Rerun in Grinder link](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?TARGET=jdk_math&SDK_RESOURCE=nightly&TEST_FLAG=&UPSTRE

[2022-01-11 15:56] #3157 closed

[2022-01-11 19:21] llxia commented on #3102
Close this issue as the PRs are delivered.

[2022-01-11 19:21] #3102 closed

[2022-01-11 19:22] llxia commented on #2916
Close this issue as PRs are delivered.

[2022-01-11 19:22] #2916 closed

[2022-01-12 00:10] llxia commented on #2730
This issue is fixed.

[2022-01-12 00:10] #2730 closed

[2022-01-12 16:47] #3208 closed

[2022-01-12 17:36] smlambert opened #3212 "AQAvit meeting: Jan 26, 2022"
Join via https://bluejeans.com/917304424

Add the [recurring bi-weekly AQAvit meeting to your calendar](https://calendar.google.com/event?action=TEMPLATE&tmeid=MHA0ODE3bTJsYnIybHA3MXMxdm81c2swbzdfMjAyMTAzMTBUMTYzMDAwWiBjX3Vhbm5vdW1zNWhvMG9saGprM3VsZWNka2JjQGc&tmsrc=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&scp=ALL).

**Proposed Agenda**:
- AQAvit certification update - @llxia @smlam

[2022-01-12 17:45] smlambert commented on #3207
Meeting [recording link](https://bluejeans.com/s/B7Njx_rGZiC)

Minutes:
- Lan discusses the WIP advanced search feature in TRSS (current search is per build pipeline instance, challenges and investigation of adding this advanced search feature) - see aqa-test-tools/ https://github.com/adoptium/aqa-test-tools/issues/584
- Discussion on TKG PRs in prep for upcoming January release (Stewart's PRs in

[2022-01-12 17:45] #3207 closed

[2022-01-12 18:02] #3186 closed

[2022-01-12 22:28] sophia-guo opened #3214 "Re-enable tests excluded by issue 248"
Re-enable tests excluded by [issue 248](https://github.com/adoptium/temurin-build/issues/248)

[ Issue 248](https://github.com/adoptium/temurin-build/issues/248) has been resolved, that is testImage is generated by jenkins build jobs. Also corresponding option -nativepath has also been added and updated gradually. Those tests should be re-enabled.

[2022-01-12 22:29] sophia-guo commented on #3214
Related with #2368

[2022-01-13 13:57] llxia commented on #3214
Detail Steps:
- do a search in https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes, and find all exclude that are related to `https://github.com/adoptium/temurin-build/issues/248` in the Problem List.

For example https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk18.txt#L51

[code]
- To reenable, we just need to remove the entry.
- If have permiss

[2022-01-13 16:19] Haroon-Khel opened #3215 "PRE RELEASE - TRIAGE JDK11"
**Recent weekend's runs (15/1) commented below**

8th Jan weekly jdk11 pipeline, hotspot https://trss.adoptium.net/buildDetail?parentId=61d9c6e2a7df1a2924da3eab&buildResult=!SUCCESS

https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1782/console

#### Release Summary Report for openjdk11-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=61d9c6e2a7df1a2924da3ea

[2022-01-13 17:00] sophia-guo commented on #3214
Probably keep it as is for the retired openjdk. That is we will only re-enable for jdk11, jdk17+ ( native tests has been disabled for jdk8 ).

[2022-01-13 22:12] sophia-guo opened #3217 "PRE RELEASE - TRIAGE JDK8"
8th Jan weekly jdk8 pipeline

https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/1920

or the newest one if finish in time.

https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk8-pipeline/1930/
@sxa looks like this is used as a pre release try? looks like failed. will use 1920

#### Release Summary Report for openjdk8-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetai

[2022-01-14 14:35] karianna commented on #3180
We are not running this test suite for the Jan 2022 PSU so can deal with it post that event

[2022-01-14 15:15] llxia opened #3219 "Create Rerun failed tests in Grinder link"
**Background**:
We have  `Rerun in Grinder` link in Jenkins job. It captures all parameters and allows the users to rerun the job easily.

![image](https://user-images.githubusercontent.com/19273206/149536166-f31c3bec-da85-4844-b3d0-64456d73944e.png)

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/

However, one common use case is that users need to rerun for failed test target(s). `TAR

[2022-01-14 15:20] smlambert commented on #3180
As we are reviewing the test material that we pull in for running in from other sources (not in our repositories), I've broadened this issue to also look at the perf group.

Adding this comment as part of the investigation.  I will note that during our look at the perf set, we see that some (6) of the renaissance benchmarks use Spark, which appears to use log4j for logging (looking at the console

[2022-01-14 19:35] sophia-guo commented on #3217
arm:

- [ ] Test_openjdk8_hs_extended.functional_arm_linux ❌ FAILURE ❌

- [ ] Test_openjdk8_hs_special.functional_arm_linux ❌ FAILURE ❌

- [ ] Test_openjdk8_hs_extended.openjdk_arm_linux ❌ FAILURE ❌

        Test_openjdk8_hs_extended.openjdk_arm_linux_testList_0 ❌ FAILURE ❌

       Test_openjdk8_hs_extended.openjdk_arm_linux_testList_1 ❌ FAILURE ❌

       Test_openjdk8_hs_extended.openjdk_arm_linu

[2022-01-14 20:35] sophia-guo commented on #3217
aarch64_linux:

- [ ] Test_openjdk8_hs_extended.openjdk_aarch64_linux ⚠️ UNSTABLE ⚠️

jdk_nio_0 => deep history 3/4 passed | possible issues
jdk_nio_1 => deep history 3/4 passed | possible issues
jdk_management_0 => deep history 0/4 passed | possible issues
jdk_management_1 => deep history 0/4 passed | possible issues
jdk_jfr_1 => deep history 2/4 passed | possible issues
jdk_imageio_0 => deep his

[2022-01-17 07:45] aixtools commented on #3219
YES! Wonderful!

The links are often hard to find - until you already know _exactly_ what to look for.

[2022-01-17 15:15] sophia-guo opened #3223 "PRE RELEASE - TRIAGE JDK17"
#### Release Summary Report for openjdk17-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=61e409fba7df1a2924fa0c5f&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=61e409fba7df1a2924fa0c5f)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/279/
Started by upstream project

[2022-01-17 15:27] sophia-guo commented on #3223
x86-64_linux:  Failed for docker ones : no space left.

- [ ] Test_openjdk17_hs_extended.openjdk_x86-64_linux ❌ FAILURE ❌

Test_openjdk17_hs_extended.openjdk_x86-64_linux_testList_1 ❌ FAILURE ❌ : test-docker-fedora33-x64-2

Test_openjdk17_hs_extended.openjdk_x86-64_linux_testList_2 ❌ FAILURE ❌ :  test-docker-fedora33-x64-1

- [ ] Test_openjdk17_hs_extended.system_x86-64_linux ❌ FAILURE ❌ : test-do

[2022-01-17 16:00] smlambert commented on #2776
Tag naming scheme is vMAJOR.MINOR.PATCH
and release branch naming scheme is vMAJOR.MINOR.PATCH-release.

Release branches will have their [testenv.properties](https://github.com/adoptium/aqa-tests/blob/master/testenv/testenv.properties) file updated to the appropriate key/value pairs for the main repositories that are pulled in and used as part of the AQAvit project (including TKG, aqa-systemtest,

[2022-01-17 17:48] sophia-guo commented on #3223
x86-64_windows:

- [ ] Test_openjdk17_hs_extended.openjdk_x86-64_windows ⚠️ UNSTABLE ⚠️

Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0 ⚠️ UNSTABLE ⚠️
jdk_tools_0 => deep history 0/5 passed | possible issues

Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_2 ⚠️ UNSTABLE ⚠️
jdk_tools_1 => deep history 0/4 passed | possible issues

- [ ] Test_openjdk17_hs_extended.system_x86

[2022-01-17 19:35] sophia-guo commented on #3223
x86-64_mac:

- [ ] Test_openjdk17_hs_extended.system_x86-64_mac ⚠️ UNSTABLE ⚠️

ConcurrentLoadTest_5m_0 => deep history 11/12 passed | possible issues
OAuthTest_0 => deep history 0/22 passed | possible issues : https://github.com/adoptium/aqa-systemtest/issues/474
OAuthTest_0 => deep history 0/22 passed | possible issues : https://github.com/adoptium/aqa-systemtest/issues/474

[2022-01-17 19:43] sophia-guo commented on #3223
x86-64_alpine-linux:

- [ ]  Test_openjdk17_hs_extended.functional_x86-64_alpine-linux ❌ FAILURE ❌: test-docker-alpine311-x64-1 : no space left

[2022-01-17 21:59] sophia-guo commented on #3223
aarch64_linux:

- [ ] Test_openjdk17_hs_extended.openjdk_aarch64_linux ❌ ABORTED ❌ : timeout

- [ ] Test_openjdk17_hs_extended.system_aarch64_linux ⚠️ UNSTABLE ⚠️ : https://github.com/adoptium/aqa-systemtest/issues/474

OAuthTest_0 => deep history 0/19 passed | possible issues
OAuthTest_0 => deep history 0/19 passed | possible issues

- [ ] Test_openjdk17_hs_sanity.functional_aarch64_linux ❌ ABORT

[2022-01-17 22:02] sophia-guo commented on #3223
arm_linux:

- [ ] Test_openjdk17_hs_extended.openjdk_arm_linux ⚠️ UNSTABLE ⚠️

Test_openjdk17_hs_extended.openjdk_arm_linux_testList_1 ⚠️ UNSTABLE ⚠️
jdk_vector_2 => deep history 0/3 passed | possible issues

- [ ] Test_openjdk17_hs_extended.system_arm_linux ⚠️ UNSTABLE ⚠️: Test_openjdk17_hs_sanity.system_arm_linux ⚠️ UNSTABLE ⚠️
TestJlmRemoteMemoryAuth_2 => deep history 7/10 passed | possible iss

[2022-01-17 22:26] sophia-guo commented on #2874
jdk/incubator/vector/Byte128VectorLoadStoreTests.java same issue in jdk17

[2022-01-17 22:29] sophia-guo commented on #3223
ppc64_aix:

Test_openjdk17_hs_extended.openjdk_ppc64_aix ⚠️ UNSTABLE ⚠️

Test_openjdk17_hs_extended.openjdk_ppc64_aix_testList_0 ⚠️ UNSTABLE ⚠️
jdk_net_0 => deep history 0/3 passed | possible issues
jdk_tools_0 => deep history 0/3 passed | possible issues

Test_openjdk17_hs_extended.openjdk_ppc64_aix_testList_1 ⚠️ UNSTABLE ⚠️
jvm_compiler_0 => deep history 2/3 passed | possible issues
jdk_beans_1

[2022-01-18 14:52] sophia-guo commented on #3223
reran OS: [x64Linux:[hotspot], x64AlpineLinux:[hotspot]] as the current run those test jobs hit the out of space issue.

https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/281/console

[2022-01-18 16:34] sophia-guo commented on #3223
PPC64le:
Test_openjdk17_hs_extended.system_ppc64le_linux ⚠️ UNSTABLE ⚠️
OAuthTest_0 => deep history 0/21 passed | possible issues : known issue

[2022-01-18 16:36] sophia-guo commented on #3223
x86-32_windows:

Test_openjdk17_hs_extended.openjdk_x86-32_windows ⚠️ UNSTABLE ⚠️

Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0 ⚠️ UNSTABLE ⚠️
jvm_compiler_2 => deep history 0/5 passed | possible issues

Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1 ⚠️ UNSTABLE ⚠️
runtime_nestmate_2 => deep history 0/4 passed | possible issues
jdk_jfr_2 => deep history 0/5 passed | p

[2022-01-18 16:45] smlambert commented on #3223
if OAuthTest has not passed on jdk17, I think we should exclude if for now for that version (and up).

@joeyleeeeeee97 - is it expected that OAuth test runs against jdk17+?

[2022-01-18 16:55] sophia-guo opened #3230 "MiniMix_aot_5m_0 failed on windows32 with jdk11, jdk17"
MiniMix_aot_5m_0 failed on windows32 with with jdk11, jdk17. Might happen to other version? Deep history shows it has been failed since Dec26 (maybe earlier than that, as earlier history is deleted)

[code]

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.system_x86-32_windows/134/consoleFull
https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.system_ppc64le_linux/587/

[2022-01-18 17:19] smlambert commented on #3230
like the 6 perf benchmarks that we exclude on win32 (and arm_linux, see https://github.com/adoptium/aqa-tests/pull/3201), it may be that we permanently exclude some tests on certain platforms that have limitations

[2022-01-18 18:00] Mesbah-Alam commented on #3230
Similar behaviour was seen on Openj9 and the test was excluded from Openj9 and IBM: https://github.com/adoptium/aqa-tests/pull/3193.

Quoting Pete on the failure: "It indicates a problem with the test. The test is trying to use a bigger object heap than is available on the 32-bit systems"

[2022-01-18 20:22] Haroon-Khel commented on #3215
`tools/launcher/Test7029048.java#id1.Test7029048_id1` is still failing for aix https://ci.adoptopenjdk.net/job/Grinder/3023/console, from Test_openjdk11_hs_extended.openjdk_ppc64_aix

`Test7029048 FAIL Case 2: LD_LIBRARY_PATH should be set: expected 4 but got 5`

[2022-01-18 20:30] Haroon-Khel commented on #3215
[**Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux**](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/15/) ❌ FAILURE ❌

Disk space issues on test-docker-alpine311-x64-1

Rerunning https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/17/console

Failed tests from the re run

[code]

[code]

[2022-01-18 20:42] Haroon-Khel commented on #3215
[**Test_openjdk11_hs_extended.openjdk_x86-64_linux**](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_linux/53/) ❌ FAILURE ❌

Disk space issue on test-docker-fedora33-x64-2

Rerunning https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_linux/54/console

Some tests failed on the rerun

[code]

[2022-01-19 11:01] joeyleeeeeee97 commented on #3223
@smlambert Hi, OAuth should support jdk17+ by design.
I am trying to find out where this failure comes from, most likely some API or function behaves differently in 17+, I will create a PR to fix this as soon as possible

[2022-01-19 11:27] Haroon-Khel opened #3232 "Failing openjdk17 alpine-linux jdk_tools tests"
The failed tests are

tools/jpackage/share/AppLauncherEnvTest.java.AppLauncherEnvTest
tools/jpackage/share/jdk/jpackage/tests/JavaOptionsTest.java.JavaOptionsTest
tools/jpackage/share/AddLauncherTest.java#id1.AddLauncherTest_id1
tools/jpackage/share/ArgumentsTest.java.ArgumentsTest
tools/jpackage/share/EmptyFolderTest.java.EmptyFolderTest
tools/jpackage/share/jdk/jpackage/tests/AppVersionTest.java

[2022-01-19 11:50] sxa commented on #3068
(Missed this during the last cycle, but now that we're pushing AQA certification I think we need to be sure to do the full triage for all platforms that we ship now)

[2022-01-19 12:03] karianna opened #3233 "jdk_tools_0 on Java 11 AIX fails test7029048, Case 1: LD_LIBRARY_PATH should be set [2022-01-19T04:04:47.911Z] expected 4 but got 5"
[2022-01-19T03:49:57.049Z] Running test jdk_tools_0 ...
[2022-01-19T03:49:57.049Z] ===============================================
[2022-01-19T03:49:57.049Z] jdk_tools_0 Start Time: Wed Jan 19 03:49:55 2022 Epoch Time (ms): 1642564195041
[2022-01-19T03:49:57.049Z] Nothing to be done for setup.
[2022-01-19T03:49:57.049Z] variation: Mode150
[2022-01-19T03:49:57.049Z] JVM_OPTIONS:  -XX:+UseCompressed

[2022-01-19 12:04] karianna commented on #3233
This was spotted in the Pre release triage as well.  I note that in the test output above the error message that it talks about skipping other LD_LIBRARY_PATH tests as AIX handles this on its own.  So perhaps naively we should be skipping this test.

[2022-01-19 12:32] karianna opened #3234 "Linux x86-64 jdk_build_1 failed AbsPathsInImage with ArrayIndexOutOfBoundsException"
[2022-01-19T03:29:17.587Z] Running test jdk_build_1 ...
[2022-01-19T03:29:17.587Z] ===============================================
[2022-01-19T03:29:17.587Z] jdk_build_1 Start Time: Wed Jan 19 02:47:56 2022 Epoch Time (ms): 1642560476172
[2022-01-19T03:29:17.587Z] Nothing to be done for setup.
[2022-01-19T03:29:17.587Z] variation: Mode650
[2022-01-19T03:29:17.587Z] JVM_OPTIONS:  -XX:-UseCompressed

[2022-01-19 12:33] karianna commented on #3234
This failed in the 11.0.13 release but passed after 10 grinders.  Seems Intermittent

[2022-01-19 12:37] sxa commented on #3232
Re-running the whole extended suite without `PARALLEL=dynamic` so I can look at the space used and determine what we can skip to get most of the tests throgh: https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/20/ (Running on on test-docker-alpine312-x64-2 which is hosted on the `amd-1` host

[2022-01-19 13:47] karianna opened #3236 "renaissance test Java 11 Linux x86-64 - java.net.UnknownHostException: test-packet-ubuntu1604-x64-2.adoptopenjdk.net: Name or service not known (only fails on that host)"
https://trss.adoptium.net/output/test?id=61e78b73a7df1a2924021901

[2022-01-18T22:26:05.656Z] Running test renaissance-als_0 ...
[2022-01-18T22:26:05.656Z] ===============================================
[2022-01-18T22:26:05.656Z] renaissance-als_0 Start Time: Tue Jan 18 22:26:04 2022 Epoch Time (ms): 1642544764616
[2022-01-18T22:26:05.656Z] Nothing to be done for setup.
[2022-01-18T22:26:05.656Z]

[2022-01-19 14:00] karianna opened #3237 "Intermittent OAuthTest Test failed on different platforms with jdk11 - Connection Refused"
Test Results Summary Service
By Pipeline
Test Compare
Perf Related
Perf Test
Perf Compare
Tabular View
Dashboard
Third Party Applications
openjdk11-pipeline #1795/jdk11u-linux-arm-hotspot #921/Test_openjdk11_hs_extended.system_arm_linux #157/OAuthTest_0
OAuthTest_0

[2022-01-18T23:27:02.643Z] Running test OAuthTest_0 ...
[2022-01-18T23:27:02.643Z] ===============================================
[2

[2022-01-19 14:01] karianna commented on #3237
build-equinix-ubuntu1604-armv7l-1

[2022-01-19 14:14] karianna commented on #2332
This needs to be reported to JBS

[2022-01-19 14:56] sxa commented on #3232
There are two separate issues here - the disk space one which I am trying to track down, and the failure of some of the suites such as `jdk_management_[01]` and `jdk_tools_[01]` which will need to be separately diagnosed.

[2022-01-19 15:05] Haroon-Khel commented on #3232
Links to the job failures
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_alpine-linux_testList_0/28/console
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_alpine-linux_testList_2/16/console