[2022-09-20 20:47] llxia commented on #3974
It looks like we have two copies of the same TAP file. One is under aqa-tests/TKG/output_16636148928013 and the other one is under jvmtest/TKG/output_16636148928013.

[aqa-tests/TKG/output_16636148928013/Grinder_iteration_7_20220919190813.tap](https://hyc-runtimes-jenkins.swg-devops.com/job/Grinder_iteration_7/477/artifact/aqa-tests/TKG/output_16636148928013/Grinder_iteration_7_20220919190813.tap/

[2022-09-20 20:56] renfeiw commented on #3974
The tap file in the jvmtest folder was copied from the previous iteration. This problem will solved when the latest TKG iteration work is done. Related issue: https://github.com/adoptium/TKG/issues/352

[2022-09-20 21:04] llxia commented on #3974
Yes, we can also see this from collected TAP files. 39 TAP files were captured for 20 iterations. The 20 TAP files under aqa-tests/TKG were from the real runs. The 19 TAP files under jvmtest/TKG were copies from the previous iteration.

![image](https://user-images.githubusercontent.com/19273206/191363782-c29bdb80-076f-42be-ab1a-24926a1d953f.png)

[2022-09-21 00:45] d3r3kk commented on #3930
@smlambert I don't see a ticket for the Sept. 21st community meeting?

I'd love to discuss next steps for including Annie's work in the TRSS at the next meeting, if time allows! ;)

[2022-09-21 07:06] gdams opened #3976 "jdk19+36 release triage"
~TRSS [link](https://trss.adoptium.net/buildDetail?parentId=6329d70293ac60470bc24b54&testSummaryResult=failed&buildNameRegex=%5ETest)~
~Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk19-pipeline/207/~
~Started by user George Adams~

~### ⚠️  [jdk19-linux-x64-temurin](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk19/job/jdk19-linux-x64-temurin/67/) has a build re

[2022-09-21 14:50] smlambert commented on #3930
hi @d3r3kk - I've put a note in the channel today, as many are travelling we will not have a regularly scheduled meeting to discuss that work.  We will have to organize something off schedule.  I should be back in Canada next week and will plan to book something with you, @JL03-Yue and @llxia.  As the branch stands right now, we would not be able to merge it (it would break our current approach).

[2022-09-22 07:57] gdams commented on #3976
TRSS [link](https://trss.adoptium.net/buildDetail?parentId=632b10da93ac60470bc6487e&testSummaryResult=failed&buildNameRegex=%5ETest)
Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk19-pipeline/216/
Started by user George Adams

[**Test_openjdk19_hs_extended.system_x86-64_windows**](https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.system_x86-64_windows/113/)
HCRLateAtta

[2022-09-22 07:58] gdams commented on #3976
TRSS [link](https://trss.adoptium.net/buildDetail?parentId=632b10da93ac60470bc6487c&testSummaryResult=failed&buildNameRegex=%5ETest)
Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk19-pipeline/217/
Started by user George Adams

[**Test_openjdk19_hs_extended.openjdk_x86-64_alpine-linux**](https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.openjdk_x86-64_alpine-linux/29/)

[2022-09-22 10:39] karianna opened #3979 "java/util/Properties/StoreReproducibilityTest.java fails IST Date comparison on Java 19"
Possibly a machine TZ setup problem (machine reported Dublin/Europe TZ) but not sure.  [TRSS Test Output](https://trss.adoptium.net/output/test?id=632b55fe93ac60470bc694d0) and [TRSS Test Output](https://trss.adoptium.net/output/test?id=632b55fe93ac60470bc694d1)

Execution failed: `main' threw exception: java.lang.RuntimeException: Expected date comment Wed Sep 21 15:38:13 IST 2022 to be after Wed

[2022-09-22 11:02] karianna opened #3980 "jpackage dpkg commands fails in Linux for Java 19 due to missing libs"
Java 19 [TRSS Test Output(https://trss.adoptium.net/output/test?id=632b5f0493ac60470bc6acad)

e.g. <snippet only>

[2022-09-21T17:12:21.687Z] [17:09:29.266] Command [PID: 1511582]:
[2022-09-21T17:12:21.687Z]     dpkg -S /lib/x86_64-linux-gnu/libXtst.so.6
[2022-09-21T17:12:21.687Z] [17:09:29.266] Output:
[2022-09-21T17:12:21.687Z]     dpkg-query: no path found matching pattern /lib/x86_64-linux-gnu

[2022-09-22 11:05] smlambert commented on #3980
[deep history](https://trss.adoptium.net/deepHistory?testId=632b5f0493ac60470bc6acad)

[2022-09-22 12:11] karianna opened #3981 "jdk_net_0 BlockingSocketOps times out on ppc64 aix for Java 19"
[TRSS Test Output](https://trss.adoptium.net/output/test?id=632bf1b993ac60470bc854ff) - contains full thread dump

e.g.,

[2022-09-21T22:27:38.048Z] rerun:
[2022-09-21T22:27:38.048Z] cd /home/jenkins/workspace/Test_openjdk19_hs_extended.openjdk_ppc64_aix_testList_1/aqa-tests/TKG/output_1663787279976/jdk_net_1/work/scratch && \
[2022-09-21T22:27:38.048Z] DISPLAY=unix:0 \
[2022-09-21T22:27:38.048Z]

[2022-09-22 12:16] karianna opened #3982 "jdk_vector_1 tests times out on ppc64 aix for Java 19"
[TRSS Test Output](https://trss.adoptium.net/output/test?id=632bf1b993ac60470bc8551a)

[2022-09-22 12:21] karianna opened #3983 "jdk_nio_0 and java_nio_1 BlockingChannelOps times out on ppc64 aix for Java 19"
[TRSS Test Output](https://trss.adoptium.net/output/test?id=632bf1c193ac60470bc85542) and
[TRSS Test Output](https://trss.adoptium.net/output/test?id=632bf1c193ac60470bc85543)

[2022-09-22 12:27] karianna opened #3984 "testClassArrayType fails for Alpine Aarch64 on Java 19"
[TRSS Test Output](https://trss.adoptium.net/output/test?id=632b9c1693ac60470bc771bb)

Seems to be a recent failure.

[2022-09-21T13:34:09.013Z] FAILED: testClassArrayType
[2022-09-21T13:34:09.014Z] java.lang.UnsupportedOperationException: java.lang.IllegalArgumentException
[2022-09-21T13:34:09.014Z] 	at java.base/java.lang.Class.arrayType(Class.java:4508)
[2022-09-21T13:34:09.014Z] 	at org.openj9

[2022-09-22 12:34] smlambert commented on #3981
Looks like its vthread preview feature related

Also from that jdk_net target see:

https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.openjdk_ppc64_aix_testList_0/25/testReport/java_net_vthread_HttpALot/java/HttpALot/

[code]
Will presume since they are not implemented these need to be excluded for AIX.

[2022-09-22 13:30] smlambert commented on #3984
Interesting, an UnsupportedOperationException seen first on Sept 20th, passing in the Sept 14th run, someone needs to look at both the test material and product code and check what has changed in between.

**Test Info**
Test Name: Jep334Tests_0
Test Duration: 1 sec
Machine: test-docker-alpine314-aarch64-1
TRSS link for the test output: https://trss.adoptium.net/output/test?id=632b9c1693ac60470bc77

[2022-09-22 19:31] pshipton opened #3985 "Debug image loaded when not requested?"
**Describe the bug**
Not that it matters too much, just happened to notice the grinder loaded the debug image (when using a nightly build), although debug image is disabled.
https://openj9-jenkins.osuosl.org/job/Grinder/1292/console
`--debug_images_required false`
[code]

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):

**Expected behavior**
A clear and concise descriptio

[2022-09-22 19:34] pshipton opened #3986 "Is the grinder doing more work than required?"
**Describe the bug**
I started a grinder using "NodesByIterations" on 5 machines. The parent job loads all the repos and downloads the JVM, only to create 5 child jobs that actually runs the testing. It seems loading the repos and downloading the JVM in the parent job is a waste of time.
https://openj9-jenkins.osuosl.org/job/Grinder/1292/console

**To Reproduce**
Steps to reproduce the behavior (o

[2022-09-22 20:39] llxia commented on #3985
Yes, this is a known issue. Due of https://github.com/adoptium/aqa-tests/issues/3957

[2022-09-22 20:39] #3985 closed

[2022-09-22 22:03] llxia commented on #3986
I agree. We only need to download JVM to run TKG when PARALLEL=Dynamic. In other parallel cases (i.e., NodesByIterations, Subdir), we do not need to download JVM and clone test repos.

[2022-09-23 11:00] karianna opened #3988 "AbsPathsInImage fails for Java 19 on Alpine x86-64 with Out of Heap"
AbsPathsInImage failed with outofheap - [TRSS Test Output](https://trss.adoptium.net/output/test?id=632b6e3493ac60470bc6df0a)

[2022-09-21T17:04:30.661Z]  [2022-09-21T17:04:30.661Z] ACTION: main -- Failed. Execution failed: `main' threw exception: java.lang.OutOfMemoryError: Java heap space [2022-09-21T17:04:30.661Z] REASON: User specified action: run main AbsPathsInImage  [2022-09-21T17:04:30.661

[2022-09-26 09:06] sendaoYan opened #3991 "The sanity.openjdk and extended.openjdk test target run 168 duplicate testcases"
**Describe the bug**
The sanity.openjdk and extended.openjdk test target run 168 duplicate testcases

duplicate testcases:

[duplicate-testcases.txt](https://github.com/adoptium/aqa-tests/files/9644718/duplicate-testcases.txt)

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):
[code]

**Expected behavior**
The sanity.openjdk and extended.openjdk test target has no any dupli

[2022-09-26 09:26] sendaoYan opened #3992 "jdk11_tier1_cipher(sanity.openjdk) is subset of jdk_security2(extened.openjdk)"
**Describe the bug**
jdk11_tier1_cipher is subset of jdk_security2

jdk11_tier1_cipher:

![image](https://user-images.githubusercontent.com/24123821/192240925-ad0127b9-6925-4744-a5b0-dae8ebc8fae0.png)

jdk_security2:

![image](https://user-images.githubusercontent.com/24123821/192241057-a1dfb449-8fdf-4d9c-b932-ea0ae3526d32.png)

The test/jdk/TEST.groups descripte jdk_security2 test group include a

[2022-09-26 09:28] sendaoYan commented on #3991
https://github.com/adoptium/aqa-tests/issues/3992

[2022-09-26 11:36] smlambert commented on #2347
I think we can close this as the last item in the checklist was marked optional.

[2022-09-26 11:36] #2347 closed

[2022-09-26 12:56] sendaoYan opened #3993 "jdk_svc_sanity and jdk_jdi has 32 duplicated testcases, which both include jdk_jdi_sanity"
**Describe the bug**
jdk_svc_sanity and jdk_jdi has 32 duplicate testcases, which both include jdk_jdi_sanity

jdk_svc_sanity:

![image](https://user-images.githubusercontent.com/24123821/192280806-062baaa6-b50e-4a11-ba85-92cd97ea8068.png)

jdk_jdi:

![image](https://user-images.githubusercontent.com/24123821/192280925-a3544545-b642-4a88-b8ff-a4a1bbfe4475.png)

jdk_svc_sanity include jdk_jdi_sanit

[2022-09-26 12:57] sendaoYan commented on #3991
https://github.com/adoptium/aqa-tests/issues/3993

[2022-09-26 13:02] smlambert commented on #3992
Indeed we should not duplicate testcases.

Some options:
- simplest: remove jdk11_tier1_cipher target (if we really want to be running these tests more regularly, thus keep in sanity level)
- alternate: move the other 3 dirs in jdk_security2 into a different target or targets that stay in extended level
- alternate: remove jdk11_tier1_cipher and move jdk_security2 into sanity level

[2022-09-26 15:49] #3992 closed

[2022-09-27 12:15] sendaoYan commented on #3993
Mine solution: delete jdk_jdi_sanity in jdk_svc_sanity:

[code]

[2022-09-27 12:17] takiguc opened #3996 "MBCS_Tests_CLDR_11 was failed by 11.0.17-beta+6"
**Describe the bug**
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Simple/339/tapResults/
371 tests, 79 ok, 4 not ok, 288 skipped, 0 ToDo, 0 Bail Out!

[code]

Java version information
[code]

**To Reproduce**
Grinder_Simple parameters link is as follows:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Simple/339/
PLATFORM: x86-64_linux
BUILD_LIST: functional/MBCS_Tests
TARGE

[2022-09-27 12:37] pshipton opened #3997 "AIX system tests failed to compile - java os.name property value ${buildjdk.os.name} not recognised"
**Describe the bug**
It must be an intermittent or timing problem? The other child jobs compiled fine.

https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_ppc64_aix_Nightly_testList_0/363/console - [p8-java1-ibm11](https://openj9-jenkins.osuosl.org/computer/p8-java1-ibm11)
[code]

@llxia fyi

[2022-09-27 12:50] sendaoYan opened #3998 "jdk11_tier1_buffer is subset of jdk_nio, which cause 13 duplicated testcases"
**Describe the bug**

jdk11_tier1_buffer in openjdk/playlist.xml

![image](https://user-images.githubusercontent.com/24123821/192526367-bbdac706-da7a-40e8-8dbb-b601a8a3939b.png)

jdk_nio in openjdk/playlist.xml

![image](https://user-images.githubusercontent.com/24123821/192527313-3177c419-4772-480f-8d47-553a1008935a.png)

jdk_nio in jdk11u/test/jdk/TEST.groups:

![image](https://user-images.githu

[2022-09-27 13:05] pshipton opened #3999 "Failures to run test that may be restartable"
Examples of failures to run testing, that may be restartable.

https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_sanity.system_x86-64_windows_Nightly_testList_2/361/console
[code]

[2022-09-27 14:45] sendaoYan commented on #3991
https://github.com/adoptium/aqa-tests/issues/3998

[2022-09-27 17:02] smlambert commented on #3993
This approach seems reasonable.

[2022-09-28 14:15] smlambert commented on #3925
Can we grab the TAP files so we can close these older triage issues?

[2022-09-28 14:17] smlambert opened #4001 "AQAvit meeting: Oct 5, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ics)

**Proposed Agenda*

[2022-09-28 14:18] #3930 closed

[2022-09-28 15:02] smlambert opened #4002 "jdk_security3_0 FAILED in Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0"
**Test Info**
Test Name: jdk_security3_0
Test Duration: 57 min 1 sec
Machine: build-packet_esxi-solaris10u11-x64-1
TRSS link for the test output: https://trss.adoptium.net/output/test?id=631cf47b93ac60470b5b0528

**Build Info**
Build Name: Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0
Jenkins Build start time: Sep 10 2022, 09:22 am
Jenkins Build URL: https://ci.adoptopenjdk.net/job/T

[2022-09-28 15:19] smlambert commented on #3947
Believe some of the same issues are described in https://github.com/adoptium/aqa-tests/issues/2123 but that issue is not Solaris specific, some of the testcases identified in that issue have been excluded across all platforms.

Now that https://github.com/adoptium/aqa-tests/issues/3792 is fixed, it is easier to see the specific output related to the test targets in questions.  Looking at a [recent

[2022-09-28 15:19] #3947 closed

[2022-09-28 15:26] smlambert commented on #827
Doing a review of old issues, @sophia-guo is this an issue that needs to remain?  It is somewhat general and does not include some of information that we would hope to capture and there are also no PRs linked to this issue, though I have not looked in ProblemLists if there is mention of it.  There are 3 other issues that have referenced it.

[2022-09-28 15:43] smlambert commented on #3799
Have these been observed lately?

[2022-09-29 12:30] Haroon-Khel commented on #3925
[x86-64_windowstap.zip](https://github.com/adoptium/aqa-tests/files/9674592/x86-64_windowstap.zip)
[x86-32_windowstap.zip](https://github.com/adoptium/aqa-tests/files/9674594/x86-32_windowstap.zip)
[aarch64_mactap.zip](https://github.com/adoptium/aqa-tests/files/9674596/aarch64_mactap.zip)
[x86-64_mactap.zip](https://github.com/adoptium/aqa-tests/files/9674597/x86-64_mactap.zip)
[x86-64_linuxtap.z

[2022-09-29 12:30] #3925 closed

[2022-09-30 17:14] smlambert opened #4004 "Update references to openjdk-test with aqa-tests in the buildenv/docker/README"
Search for the 3 places where openjdk-tests is used and replace with aqa-tests instead (in this file: https://github.com/adoptium/aqa-tests/blob/master/buildenv/docker/README.md)

[2022-10-03 02:40] sophia-guo commented on #3993
jdk_jfr_sanity( also a subset of jdk_svc_sanity) and jdk_jfr have the exactly same issue. We may need to open an issue for that too.

@sendaoYan Is there a way to do a minus jdk_jdi_sanity from jdk_jdi instead of minus jdk_jdi_sanity from jdk_svc_sanity? jdk_svc_sanity is part of sanity level. The solution of https://github.com/adoptium/aqa-tests/issues/3993#issuecomment-1259419584 will move jdk_j

[2022-10-04 09:54] jabrena commented on #3546
What is the next step?

[2022-10-04 10:11] jabrena commented on #4004
I will do later

[2022-10-04 12:29] smlambert commented on #3546
Next step is that we will create a job that runs these targets weekly and monitor them.

I also see in one of the Grinders that jcstress_StampedLockPairwiseTests target takes 176 minutes to run (seems to be one of the longest running targets).  I was going observe the execution time of that target in particular across all the platforms to see if we need to consider disabling it for practical reaso

[2022-10-04 13:33] jabrena commented on #3546
Oki, what pipeline do you recommend to copy and adapt for that purpose?

[2022-10-04 13:54] sxa opened #4005 "Produce a lightning talk video for release triage"
Related: https://github.com/adoptium/aqa-tests/issues/3327

We have a few short videos on the [Adoptium youtube channel](https://www.youtube.com/c/EclipseAdoptium). As noted in the referenced issue the Triage docs could use a little TLC, and I believe a short 5-10 minute video on how to perform release triage to include the following points would be useful for the project, and also for new people

[2022-10-04 13:56] smlambert commented on #4005
@sxa - please add me as editor to the youtube channel, and I will begin to upload videos to it.

[2022-10-04 13:56] sxa opened #4006 "Could we have spotted the missing `jvmti` support in JDK19 on non-x64/aarch64 platforms?"
Under some of the testing performed during the release cycle for JDK19 we discovered that the `--enable-preview` option resulted in `jvmti` support not being available on certain platforms (Notably the ones where a full Virtual Threads implementation was not available - everything except the x86-64 and aarch64 platforms).

Could we have pre-emptively caught this as part of the regular test cycles

[2022-10-04 15:04] sxa commented on #4005
That ended up being more of a hassle than I expected to achieve, but hopefully you now have an invite pending in your work email account :-)

[2022-10-04 16:37] smlambert commented on #3546
I am running it via the AQA_Test_Pipeline job, which is a job that can launch and run any test target on any platform and is also being monitored by [TRSS](https://trss.adoptium.net/builds?buildName=AQA_Test_Pipeline&url=https%3A%2F%2Fci.adoptopenjdk.net&type=Test)

Today I have launched https://ci.adoptopenjdk.net/job/AQA_Test_Pipeline/92/ - I launch other runs on other platforms on a weekly sche

[2022-10-04 16:47] #3546 closed

[2022-10-04 17:02] smlambert commented on #4006
The answer is yes, if someone had been triaging the jdk19 pipelines, those failures were present in nightly and weekly runs.

Example:
https://trss.adoptium.net/output/test?id=63130ae993ac60470b274021

[code]

Also if the advisement of the [release checklist](https://github.com/adoptium/adoptium/blob/main/.github/ISSUE_TEMPLATE/release-checklist.md) to **run a trial release pipeline** a week ahead

[2022-10-04 17:10] smlambert commented on #2391
Closing this as complete (and also noting the risc-v builds are not currently running, once they are back up, we can always create a new issue if there are any issues with running tests).

[2022-10-04 17:10] #2391 closed

[2022-10-04 17:21] smlambert commented on #2037
Closing this as stale and no longer relevant.

The queries linked in the table above (which call an API in TRSS) are still valid and could be used to tabulate data in the future should it be needed, example:

https://trss.adoptopenjdk.net/api/getTestAvgDuration?level=sanity&jdkVersion=8&group=openjdk&platform=x86-64_linux

[2022-10-04 17:21] #2037 closed

[2022-10-04 17:24] smlambert commented on #1522
Closing as complete.

Also noting, we now have defined the initial set of required targets needed for AQAvit verification (as described in https://adoptium.net/docs/aqavit-verification/ and listed for programmatic reference in [AQA_REQUIRED_TARGETS](https://github.com/adoptium/aqa-tests/blob/master/testenv/testenv.properties#L23).

[2022-10-04 17:24] #1522 closed

[2022-10-04 17:29] smlambert commented on #1809
Closing this as not an issue that needs to be handled in aqa-tests.

See related: https://github.com/adoptium/containers/issues/267 and https://github.com/adoptium/containers/pull/260#issuecomment-1227801055

[2022-10-04 17:29] #1809 closed

[2022-10-04 17:32] smlambert commented on #2077
Closing as stale.

[2022-10-04 17:32] #2077 closed

[2022-10-04 17:35] jabrena commented on #4004
PR: https://github.com/adoptium/aqa-tests/pull/4008

[2022-10-04 17:36] smlambert commented on #3929
Should we keep this issue open, or is it now determined to be an "elsewhere" problem?

[2022-10-04 17:37] llxia opened #4009 "Trigger Cleanup-Nodes job when there is not enough space error"
In the test pipeline, it checks console output for specific errors. For example, if there is an error for `There is not enough space in the file system`, the test pipeline will mark the node offline and send a message in the slack channel.
https://github.com/adoptium/aqa-tests/blob/cec0b4a25e65de87e9a2c6efed29d48b682b70e1/buildenv/jenkins/openjdk_tests#L342-L353

Instead of marking the node offlin

[2022-10-04 20:25] smlambert opened #4010 "Some openjdk test targets need to be updated with 'native' tag"
When you run `_sanity.openjdk.regular` and `_extended.openjdk.regular` the expectation is that it will run test targets that do not require the native test binaries (pointed at via -nativepath option).  This is no longer the case likely because new test cases have been added to targets that now expect the native libraries.

We should identify which targets need to be updated with
[code]

Similar a

[2022-10-05 11:14] andrew-m-leonard commented on #3929
I believe the problem is elsewhere... from my testing, as to where... it's not conclusive!

[2022-10-05 11:14] #3929 closed

[2022-10-05 11:49] sxa commented on #4006
Those failures are in the FFI tests which is equally valid although digging into jvmti it looks like they might be excluded somewhere so we wouldn't have picked them up:

Looking at https://github.com/adoptium/aqa-tests/blob/f494e46151a96f625bfb24f12a6cc3241721405b/openjdk/playlist.xml#L189 it looks like `hotspot_serviceability` which contains the [jvmti tests](https://github.com/adoptium/jdk8u/tr

[2022-10-05 12:28] karianna commented on #3976
NOTE:  I didn't raise the various problem listing tickets in aqa-test as I should have.

[2022-10-05 13:51] sxa commented on #4006
FYI @sophia-guo since we were discussing this earlier.
It probably makes sense to either change the title on this issue now or open a new one to cover attempting to re-enable jvmti. While the FFI tests are also failing, those are enabled and running so could have been caught, but not the jvmti ones.

[2022-10-06 11:18] sxa commented on #2391
There are definitely issues with running them, but at least for now the ones I've sen are not related to the automation around it - the jobs run as well as can be expected so thanks for closing this one.

[2022-10-06 19:04] sophia-guo opened #4013 "jdk_svc_sanity and jdk_jfi has duplicate subset testcases jdk_jfi_sanity"
jdk_svc_sanity = \
    :jdk_management_sanity \
    :jdk_instrument_sanity \
    :jdk_jmx_sanity \
    :jdk_jdi_sanity \
    :jdk_jfr_sanity \
    :svc_tools_sanity

jdk_jfr = \
    jdk/jfr

jdk_jfr_sanity = \
    jdk/jfr/api/recording/event/TestLoadEventAfterStart.java \
    jdk/jfr/api/recording/state/TestState.java \
    jdk/jfr/event/os/TestCPULoad.java \
    jdk/jfr/event/compiler/TestAllocIn

[2022-10-06 19:06] sophia-guo opened #4014 "Review of openjdk test targets"
Most of openjdk test targets were created at the initial stage of aqa-tests. Some of them might need to be updated as test environment has been changed or test groups in upstream openjdk have updates.

[ ]  targets limited to jdk8 and jdk9 - disabled for 11+ as originally no test images available

- hotspot_serviceability
- all target start with hotspot_

[ ] some testcases might be duplicate in m

[2022-10-06 19:10] sophia-guo opened #4015 "Support multiple testcases for jdk_custom"
There has always be the requirement for supporting multiple testcases for jdk_custom target. Based on the solution for a different issue https://github.com/adoptium/aqa-tests/issues/3993#issuecomment-1259419584 it might be worth to try and support that feature.

[2022-10-06 19:13] Mesbah-Alam commented on #3997
Wondering if this could be an Ant issue on the machine.

MachineInfo already reads the `os.name` property on this machine :

[code]

This should have been the value STF detects from `os.name` system property too: https://github.com/adoptium/STF/blob/master/stf.build/include/top.xml#L535.

---

I don't have permission to run Grinder @ openj9-jenkins, but can we run one on the failing machine using

[2022-10-06 19:32] pshipton commented on #3997
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1328/

[2022-10-06 19:41] pshipton commented on #3997
The grinder on the same machine (p8-java1-ibm11) worked. Seems this was just some unexplained rare occurrence that we shouldn't worry about unless it starts happening again.

[2022-10-06 21:52] Mesbah-Alam commented on #3997
Thanks for checking. Closing the issue based on https://github.com/adoptium/aqa-tests/issues/3997#issuecomment-1270594346.

[2022-10-06 21:52] #3997 closed

[2022-10-06 23:47] smlambert commented on #1558
[code]

[2022-10-07 04:08] #3996 closed

[2022-10-07 15:31] #3864 closed

[2022-10-08 02:45] sendaoYan commented on #4014
[ ] some testcases might be missed from all targets ?

- hotspot_gc

[2022-10-08 03:10] sendaoYan commented on #3993
I have no idea how to minus jdk_jdi_sanity from jdk_jdi.
The solution of [#3993 (comment)](https://github.com/adoptium/aqa-tests/issues/3993#issuecomment-1259419584) is delete jdk_jdi_sanity from sanity. I think extended.openjdk may include some of the sanity test targets(jdk_jdi include jdk_jdi_sanity).

[2022-10-08 09:23] sendaoYan commented on #4013
jdk_jfi  ->  jdk_jfr

[2022-10-08 09:28] sendaoYan commented on #3991
https://github.com/adoptium/aqa-tests/issues/4013

[2022-10-08 11:37] sendaoYan opened #4020 "jdk11_tier1_iso8859 is subset of jdk_nio, which cause duplicate testcase sun/nio/cs/ISO8859x.java"
**Describe the bug**
jdk11_tier1_iso8859 is subset of jdk_nio, which cause duplicate testcase sun/nio/cs/ISO8859x.java

- jdk_nio in openjdk/playlist.xml:

![image](https://user-images.githubusercontent.com/24123821/194705256-55b9337d-ac0f-4bc8-aa48-75783005dd63.png)

jdk_nio in TEST.groups:

![image](https://user-images.githubusercontent.com/24123821/194705448-ac8209f7-fe72-4f38-b1ce-03beeed9b1de

[2022-10-08 11:52] sendaoYan opened #4021 "jdk11_tier1_pack200 is subset of jdk_tools which cause 18 duplicated testcases"
**Describe the bug**
A clear and concise description of what the bug is.

jdk11_tier1_pack200 in openjdk/playlist.xml:

![image](https://user-images.githubusercontent.com/24123821/194705804-7efe7acd-4f6d-4591-bbdc-d35f7d00faec.png)

jdk_tools in openjdk/playlist.xml:

![image](https://user-images.githubusercontent.com/24123821/194705894-8c9269f5-6732-4a9d-b074-68e46bf64808.png)

jdk_tools in TEST.

[2022-10-08 11:54] sendaoYan commented on #3991
https://github.com/adoptium/aqa-tests/issues/4021

[2022-10-08 11:55] sendaoYan commented on #3991
https://github.com/adoptium/aqa-tests/issues/4020

[2022-10-09 14:28] smlambert commented on #4004
Closed via https://github.com/adoptium/aqa-tests/pull/4008

[2022-10-09 14:28] #4004 closed

[2022-10-09 14:28] julian55455 commented on #3959
Hi @smlambert  I would like to work on this

[2022-10-09 15:11] julian55455 commented on #3337
Hi @smlambert would like to take this issue

[2022-10-09 15:20] smlambert commented on #2387
Closing as won't fix, as we will move more and more away from running systemtest material independently from TKG (hopefully to the point where we can remove the extra make layer and technical debt that accumulates by having 2 layers to support).

[2022-10-09 15:20] #2387 closed

[2022-10-09 20:07] julian55455 commented on #3360
Hi @ShelleyLambert  I would like to work on this

[2022-10-09 20:37] #3959 closed

[2022-10-09 21:37] Emidowojo commented on #3360
Hello @smlambert can I work on this?

[2022-10-10 10:40] andrew-m-leonard commented on #3982
I think the job hit the 10 hour time limit, rather than vector hanging ?

[2022-10-10 14:29] smlambert opened #4024 "vthread testcases that need to be excluded on unsupported platforms"
While it would be expected that these exclusions should happen in the upstream ProblemLists, since they are not, we will exclude them in our ProblemList files.

This is an umbrella issue to capture all of the related issues seen in jdk19 test runs:
- https://github.com/adoptium/aqa-tests/issues/3981
-

[2022-10-10 14:29] smlambert commented on #3981
The action to take here is to exclude the java/net/vthread/HttpALot.java test case on AIX (and other platforms where it is not supported.

This can be done by adding a line into the ProblemList file, at the end of the jdk_net section:
https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk19.txt#L206

`java/net/vthread/HttpALot.java https://github.com/adoptium/aqa-te

[2022-10-10 14:33] lumuchris256 commented on #3981
hi @smlambert  i would want to take on this one

[2022-10-10 14:40] smlambert commented on #3981
Looking at the live test runs, there are 3 more testcases that should get excluded as part of this issue:
https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.openjdk_ppc64_aix_testList_0/25/testReport/

[code]

[2022-10-10 14:45] smlambert commented on #3983
This is due to vthread testcases failing as unsupported on AIX.

Similar to https://github.com/adoptium/aqa-tests/issues/3981, the action to take is to exclude the failing jdk_nio test cases on AIX.  This can be done by updating the ProblemList at the end of the jdk_nio section (https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk19.txt#L238) with the following:

[2022-10-10 14:51] smlambert commented on #3858
I will propose tagging this issue for Outreachy candidates to take on, if we are ready to do this reorganization.

[2022-10-10 14:56] smlambert commented on #3360
@julian55455 - since you have already done a couple of good first issues, I will direct you to take on a good second issue (I will send you a Slack msg with a suggestion).  Next in line for this issue will be @Emidowojo .

[2022-10-10 14:57] smlambert commented on #3817
That link is now stale.  When possible, issues should be created with Re-run links to aid in the assignment of the issue to others.  (related: https://github.com/adoptium/aqa-tests/blob/master/.github/ISSUE_TEMPLATE/bug_report.md and https://github.com/adoptium/aqa-tests/issues/3793)

[2022-10-10 16:53] lumuchris256 commented on #3981
i am going to take on this as well

[2022-10-10 16:58] Adeosunomoshalewa commented on #3983
i'd like to work on this issue

[2022-10-10 19:07] Emidowojo commented on #3360
Thank you @smlambert

[2022-10-10 19:50] smlambert opened #4027 "Adopt_HS_FeatureTests_0 FAILED in jdk19-windows-aarch64-temurin_SmokeTests"
**Test Info**
Test Name: Adopt_HS_FeatureTests_0
Test Duration: 2 sec
Machine: test-azure-win11-aarch64-1
TRSS link for the test output: https://trss.adoptium.net/output/test?id=63431d57b0877c29adce7bb9

**Build Info**
Build Name: jdk19-windows-aarch64-temurin_SmokeTests
Jenkins Build start time: Oct 09 2022, 02:53 pm
Jenkins Build URL: https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jd

[2022-10-11 07:47] AyBims commented on #3327
Hi, can I be assigned this issue

[2022-10-11 15:07] pshipton commented on #3858
I never did any OpenJ9 testing, but I've started some on jdk8 now. If this works I'll try other versions as well.
https://openj9-jenkins.osuosl.org/view/Test/job/Grinder/1340/

[2022-10-11 17:22] lumuchris256 commented on #3793
hi @smlambert i would want to take a spin on this

[2022-10-11 18:43] smlambert commented on #3793
@lumuchris256 - you have already completed several good first issues.  I do not want you to take any more good first issues from the list.  Leave them for other candidates.  Now you should be shopping for more complex issues (that are not labelled "good first issue").  I can suggest some for you if you do not find ones ones you want to work on.

[2022-10-11 19:23] lumuchris256 commented on #3829
hi @smlambert i would like to take a spin on this , more detail is welcome

[2022-10-11 20:13] #3993 closed

[2022-10-11 20:15] sophia-guo commented on #4014
Note:

Those jdk**_tier1_** targets were originally setup to ensure all tier1 targets are covered by level sanity. So tests can be run nightly and if there is a failure it can be noticed immediately. All those tier1_** targets are subset of other targets of extended, which means there are duplicate testcases running in sanity and extended.

Those two are similar situation.
Deleting those targets h

[2022-10-12 00:36] smlambert commented on #3829
Thanks @lumuchris256 - this is a much desired feature, and it will be great if you help to add these new security tests!

It will be helpful for you to look at the README of each of the 2 repositories of test material we wish to add:
https://github.com/rh-openjdk/CryptoTest/blob/master/README.md
tells how to build the test material and how to run tests.

To incorporate new test material, we typica

[2022-10-12 01:38] smlambert commented on #3360
@Emidowojo - I should clarify what is needed to resolve this issue.

Ultimately we can delete the 3 .svg files that are referenced in this comment, and the document where they are referenced can be updated with the mermaid code that can replace them.

So updating https://github.com/adoptium/aqa-tests/blob/master/README.md on
Line 26 - to replace ![overview of tests](doc/diagrams/overviewOfAdoptTes

[2022-10-12 02:01] Emidowojo commented on #3360
@smlambert Alright then, I'd get to it. Thank you!

[2022-10-12 02:19] Emidowojo commented on #3360
I have now made the changes to the README.md file, please let me know if there's anything else.

[2022-10-12 19:26] #3360 closed

[2022-10-13 03:02] sendaoYan commented on #3889
I can't replay this fail now. I think we should reopen this issue if it occur again.

[2022-10-13 03:02] #3889 closed

[2022-10-13 07:37] julian55455 commented on #2097
@zdtsw Can I take up this as we wait for feedback from [this](https://github.com/adoptium/temurin-build/issues/2058) issue

[2022-10-13 07:42] zdtsw commented on #2097
@smlambert can you assign it to @julian55455 ?

[2022-10-13 10:08] sendaoYan opened #4032 "jtreg fail to excluded testcase when the case excluded twice and the first exclude condition is not match"
**Describe the bug**
jtreg fail to excluded testcase when the case excluded twice and the first exclude condition not match

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):
[code]

![image](https://user-images.githubusercontent.com/24123821/195567505-825a6af7-9a9a-4e0f-bc3e-841954af41f5.png)

**Expected behavior**
The testcase "java/nio/Buffer/EqualsCompareTest.java" shou

[2022-10-13 13:35] Nuel-Eneji commented on #3793
Thanks
Can I please get a briefing on how to go about it ?

[2022-10-13 13:54] llxia opened #4033 "Add jtreg doc link in openjdk/README.md"
It would be helpful if we provide jtreg doc https://openjdk.org/jtreg/command-help.html for some advanced users in openjdk/README.md. After https://github.com/adoptium/aqa-tests/blob/master/openjdk/README.md?plain=1#L17

[2022-10-13 13:58] llxia opened #4034 "Replace adoptopenjdk.net with adoptium.net"
We should update the old adoptopenjdk.net to adoptium.net

https://github.com/adoptium/aqa-tests/blob/master/openjdk/README.md?plain=1#L24

[2022-10-13 14:15] sophia-guo commented on #2415
https://bugs.openjdk.org/browse/JDK-8295164, once this in we can remove tests referenced with https://github.com/adoptium/aqa-tests/issues/2415 from problem list.

[2022-10-13 14:37] smlambert commented on #3793
To resolve this issue:
- you will delete/remove the [release pipeline triage report](https://github.com/adoptium/aqa-tests/blob/master/.github/ISSUE_TEMPLATE/release-pipeline-triage-report.md) template
- you will update the [bug report](https://github.com/adoptium/aqa-tests/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) template to include more information (to be similar to the information ment

[2022-10-13 14:55] sophia-guo commented on #2097
@llxia Has the mismatch been done https://github.com/adoptium/aqa-tests/issues/2097#issuecomment-1148716147 ?

[2022-10-13 15:25] llxia commented on #2097
No, it is a good first issue.

[2022-10-13 16:43] sophia-guo commented on #2097
@llxia , it's a good first issue under https://github.com/ibmruntimes/ci-jenkins-pipelines? Seems I can't even have the permission to see issues. Is it open to all people or only to ibmers?

[2022-10-13 16:54] sophia-guo commented on #4032
This is expected jtreg feature that if same testcase has been excluded twice the first one is overridden or ignored even if the exclude condition is different. ( exclude from different os-arch, or exclude for different reason - url).

[2022-10-13 16:54] #4032 closed

[2022-10-13 18:46] sophia-guo commented on #827
All tests mentioned here are referenced by ProblemLists. The exclusion may be done combined with others so no PR is linked.

[2022-10-13 19:43] yukiyuli commented on #4034
@llxia Can you please assign this to me? Thanks.

[2022-10-13 19:46] yukiyuli commented on #4033
@llxia Can you please assign this to me? Thanks.

[2022-10-13 20:14] #3981 closed

[2022-10-13 20:56] sophia-guo commented on #4006
Enable serviceability_jvmti tests (serviceability/jvmti) for 19+ https://github.com/adoptium/aqa-tests/pull/4035/files. Note those tests are not running with option `--enable-preview`, which probably should be solved by adding option tests in upstream openjdk repo.

All Loom related targets are as following, which can be gradually enabled when it's ready.
tier1_loom = \
  :tier1_loom_runtime \
  :

[2022-10-14 06:17] bopesha commented on #3327
Hi @smlambert ! May I be a second in the queue for this issue assignment, please?

[2022-10-14 08:40] zdtsw opened #4038 "jdk-11.0.17 Release Triage"
- [x] **Winx86-64:** **OK to release:**

#### Release Summary Report for openjdk11-pipeline
**Report generated at:** Wed, 19 Oct 2022 12:52:35 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=634f7e39ed0b30773b60ffaf&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=634f7e39ed0b30773b60ffaf)
Jenkins Build URL http

[2022-10-14 08:42] zdtsw opened #4039 "jdk-17.0.5 release triage"
<img width="240" alt="Screen Shot 2022-10-19 at 9 40 51 PM" src="https://user-images.githubusercontent.com/2836948/196836209-400a1691-5a2f-4126-a9b2-af2886e89aab.png">

#### Release Summary Report for openjdk17-pipeline
**Report generated at:** Thu, 20 Oct 2022 01:39:40 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=634f7e3ded0b30773b60ffb3&testSummaryResult=failed&buildNameRegex

[2022-10-14 08:43] zdtsw opened #4040 "jdk-19.0.1 Release Triage"
# **Windows X64:**
Link to the [TRSS](https://trss.adoptium.net/builds?buildName=openjdk19-pipeline&url=https%3A%2F%2Fci.adoptopenjdk.net%2Fjob%2Fbuild-scripts&type=Test ) [Grid](https://trss.adoptium.net/resultSummary?parentId=635005e8ed0b30773b629c18) view of the pipeline:

#### Release Summary Report for openjdk19-pipeline
**Report generated at:** Thu, 20 Oct 2022 04:22:46 GMT

TRSS [Build](htt

[2022-10-14 08:45] zdtsw opened #4041 "jdk8u352-b08 Release Triage"
# windows x64
#### Release Summary Report for openjdk8-pipeline
**Report generated at:** Thu, 20 Oct 2022 14:11:31 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=63510d9ced0b30773b663c8a&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=63510d9ced0b30773b663c8a)
Jenkins Build URL https://ci.adoptopenjdk.net/job/

[2022-10-14 09:04] jerboaa commented on #4006
See also: https://bugs.openjdk.org/browse/JDK-8287726 Does aquavit handle `\@require` tags in jtreg?

[2022-10-14 10:30] Haroon-Khel commented on #3940
[windows_x86-64_AQAvitTaps.zip](https://github.com/adoptium/aqa-tests/files/9785181/windows_x86-64_AQAvitTaps.zip)
[windows_x86-32_AQAvitTaps.zip](https://github.com/adoptium/aqa-tests/files/9785182/windows_x86-32_AQAvitTaps.zip)
[mac_aarch64_AQAvitTaps.zip](https://github.com/adoptium/aqa-tests/files/9785183/mac_aarch64_AQAvitTaps.zip)
[mac_x64_AQAvitTaps.zip](https://github.com/adoptium/aqa-test

[2022-10-14 10:30] #3940 closed

[2022-10-14 13:33] sophia-guo commented on #4006
Yes, aqavit using jtreg running openjdk tests. All jtreg features are supported by default.

[2022-10-14 17:40] smlambert opened #4044 "Update the Contributing.md guide with a new eca-sign-off link"
In the Eclipse Contributor Agreement section of the Contributing.md file, we should update the old documentation link (https://github.com/adoptium/documentation/blob/main/documentation-documentation/eca-sign-off.adoc) with the updated guide found on the website https://adoptium.net/docs/eca-sign-off.

[2022-10-14 17:42] Adeosunomoshalewa commented on #4044
I’d like to work on this

[2022-10-15 17:28] Nuel-Eneji commented on #3793
Salutations, @smlambert Sorry for the delay; I had a minor power issue that has been resolved.
For the given task, I created a pull request.
Can I please get a review?
Thanks

[2022-10-15 17:30] Nuel-Eneji commented on #3327
hello @smlambert Good day! can i please be assigned this issue?

[2022-10-16 18:10] #3983 closed

[2022-10-16 18:37] Tishly commented on #3327
Hi @smlambert, I would like to work on this issue. Could I get it assigned to me?

[2022-10-16 18:40] Tishly commented on #2097
Hi @llxia, Is this issue still open? I would like to work on it.

[2022-10-17 05:27] zdtsw commented on #2097
I think @julian55455 is on it already? I do not have permission on this repo to assign her, maybe @smlambert or @llxia can help

[2022-10-17 09:09] sxa opened #4047 "JDK19/s390x/extended_openjdk regularly failing"
**Describe the bug**
Multiple failures in https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk19_hs_extended.openjdk_s390x_linux/28/console - this was spotted last week while looking to verify/compare with some results from another test suite (Multicast/jvmti failures)

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link): Re-run the appropriate job e.g. the one linke

[2022-10-17 13:07] llxia commented on #2097
@julian55455 I assigned this issue to you. Thanks

[2022-10-17 14:53] smlambert commented on #4044
For this issue, the action you will take is to make a change to the Contributing.md file:
https://github.com/adoptium/aqa-tests/blob/master/Contributing.md

You will follow the same instructions as you did for your previous PR to fix issue 3983, but now you will create a branch (likely called issue4044), make the necessary change to the Contributing.md file (https://github.com/adoptium/aqa-tests/b

[2022-10-17 14:55] Adeosunomoshalewa commented on #4044
Okay, Noted
Thanks .

On Mon, Oct 17, 2022 at 3:53 PM Shelley Lambert ***@***.***>
wrote:

[2022-10-18 12:24] sxa opened #4048 "Identify process required when replacing perf machines in the infrastructure"
Since performance results are dependent on the machines that are used for performance, we should put a process together to document what we should do when we are required to migrate to alternate (usually newer) hardware in order to avoid any misinterpretation of performance results.

Recently we [replaced a number of the s390x machines](https://ci.adoptopenjdk.net/label/ci.role.perf&&hw.arch.s390x

[2022-10-18 15:41] llxia opened #4049 "Rerun in Grinder with failed test targets link does not capture all params"
**Describe the bug**
Rerun in Grinder with failed test targets link on test job does not capture all parameters info. For example, in https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_mac/96/ , Rerun in Grinder with failed test targets link only has params for SDK_RESOURCE and TARGET : `https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=testLis

[2022-10-19 02:07] smlambert opened #4054 "AQAvit Meeting: Oct 19, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ics)

**Proposed Agenda*

[2022-10-19 03:55] smlambert commented on #4001
Link to recording:

Link to next meeting: https://github.com/adoptium/aqa-tests/issues/4054

[2022-10-19 03:55] #4001 closed

[2022-10-19 12:57] smlambert opened #4055 "parse_issues.yml workflow reporting deprecated use of set-output"
This workflow https://github.com/adoptium/aqa-tests/blob/master/.github/workflows/parse-issues.yml (which is scheduled to run weekly, see https://github.com/adoptium/aqa-tests/actions/workflows/parse-issues.yml)

is now reporting this new deprecation:
Warning: The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: http

[2022-10-19 12:57] sophia-guo commented on #4038
x86-64_Win64:

[Test_openjdk11_hs_extended.openjdk_x86-64_windows](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_windows/95/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_x86-64_windows_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_windows_testList_0/63/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/test?id=6

[2022-10-19 13:08] AdamBrousseau opened #4056 "Test pipeline initial clone retry should have cleanWs added"
**Describe the bug**
When the initial clone in a test pipeline happens on a node, if the clone fails and we go into retry, subsequent clones will fail if the .git folder has been created.

**To Reproduce**
Kill a clone after it has started to force into retry loop.

**Expected behavior**
Clone passes on retry

**Screenshots**
In this example, the machine was out of space, so the initial clone fail

[2022-10-19 13:40] llxia commented on #4056
I think we can move
https://github.com/adoptium/aqa-tests/blob/29bead466eff2edb987a7bbf62ad28199b479fa5/buildenv/jenkins/openjdk_tests#L279-L281

inside of 2 `retry {}` and before the git clone :

https://github.com/adoptium/aqa-tests/blob/29bead466eff2edb987a7bbf62ad28199b479fa5/buildenv/jenkins/openjdk_tests#L303

https://github.com/adoptium/aqa-tests/blob/29bead466eff2edb987a7bbf62ad28199b479fa

[2022-10-19 13:51] llxia commented on #4056
@renfeiw could you take care of this? Thanks

[2022-10-19 16:15] smlambert opened #4058 "Rerun build with failed targets seems to not be populating all of the correct fields"
Using this as an example
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_mac_testList_1/63/

Clicking on the Rerun Build with Failed targets seems to just set the defaults and does not keep PLATFORM, SDK_RESOURCE and other parameters.  Not sure if this is a side-effect of USE_TESTENV_PROPERTIES or not, but its is a bug that we will need to look into.

[2022-10-19 17:52] #4044 closed

[2022-10-19 18:27] sophia-guo commented on #4038
Note: all jdk_net failures are same failures as on x86-64_windows https://github.com/adoptium/aqa-tests/issues/4038#issuecomment-1283974354, which should be resolved by update jdk11 tags. Rerun in grinder for each platforms with update release tags.

[2022-10-19 18:28] sophia-guo commented on #4038
- [ ] **aarch64_linux:**

[Test_openjdk11_hs_extended.openjdk_aarch64_linux](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_aarch64_linux/97/) ⚠️ UNSTABLE ⚠️
Rerun [all](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=extended.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_AR

[2022-10-19 18:51] sophia-guo commented on #4038
- [ ] **aarch64_mac**

[Test_openjdk11_hs_extended.openjdk_aarch64_mac](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_aarch64_mac/28/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_aarch64_mac_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_aarch64_mac_testList_0/29/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/test?id=634fd

[2022-10-19 18:54] sophia-guo commented on #4038
- [ ] **arm_linux**

[Test_openjdk11_hs_extended.openjdk_arm_linux](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_arm_linux/67/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_arm_linux_testList_1](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_arm_linux_testList_1/60/) ⚠️ UNSTABLE ⚠️
[jdk_net_2](https://trss.adoptium.net/output/test?id=634ff686ed0b307

[2022-10-19 18:56] sophia-guo commented on #4038
- [ ] **ppc64_aix**

[Test_openjdk11_hs_extended.openjdk_ppc64_aix](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_ppc64_aix/84/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_ppc64_aix_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_ppc64_aix_testList_0/58/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/test?id=63501f32ed0b307

[2022-10-19 19:01] sophia-guo commented on #4038
- [ ] **ppc64le_linux**

[Test_openjdk11_hs_extended.openjdk_ppc64le_linux](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_ppc64le_linux/93/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_ppc64le_linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_ppc64le_linux_testList_0/66/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/tes

[2022-10-19 19:05] sophia-guo commented on #4038
[Test_openjdk11_hs_extended.openjdk_s390x_linux](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_s390x_linux/90/) ❌ ABORTED ❌

[Test_openjdk11_hs_extended.openjdk_s390x_linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_s390x_linux_testList_0/63/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/test?id=63503929ed0b30773b63d5a5) => [d

[2022-10-19 19:07] sophia-guo commented on #4038
- [ ] **x86-32_windows**

[Test_openjdk11_hs_extended.openjdk_x86-32_windows](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-32_windows/92/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_x86-32_windows_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-32_windows_testList_0/63/) ⚠️ UNSTABLE ⚠️
[jvm_compiler_2](https://trss.adoptium.net/

[2022-10-19 20:01] sophia-guo commented on #4038
- [ ] **x86-64_alpine-linux**

[Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/58/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux_testList_0/45/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https:

[2022-10-19 20:08] sophia-guo commented on #4038
- [ ] **x86-64_linux**

[Test_openjdk11_hs_extended.openjdk_x86-64_linux](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_linux/95/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_x86-64_linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_linux_testList_0/65/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/test?id=

[2022-10-19 20:12] sophia-guo commented on #4038
- [ ] **x86-64_mac**

[Test_openjdk11_hs_extended.openjdk_x86-64_mac](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_mac/97/) ⚠️ UNSTABLE ⚠️

[Test_openjdk11_hs_extended.openjdk_x86-64_mac_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_mac_testList_0/67/) ⚠️ UNSTABLE ⚠️
[jdk_management_0](https://trss.adoptium.net/output/test?id=634

[2022-10-19 20:56] sophia-guo commented on #4014
Note : some sanity tests has been moved from sanity to extended
https://github.com/adoptium/aqa-tests/pull/3994
https://github.com/adoptium/aqa-tests/pull/4019

When reorganize the tier1 and tier1 targets probably need to move those tests back.

Another issue is #4019 make sanity aix failed with no test selected. https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_ppc64_aix/530/

[2022-10-19 21:19] sophia-guo opened #4062 "external test aot_test is running with no TEST_FLAG is set"
external test aot_test is setting with feature AOT, which means it should only run when TEST_FLAG is setting to AOT. However it runs with no TEST_FLAT is set

https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.external_x86-64_linux/550/consoleFull

[code]

@LongyuZhang is that expected?

[2022-10-19 21:36] sophia-guo commented on #4039
All jdk_net failures are similar to jdk11, which should be fixed by https://github.com/adoptium/aqa-tests/pull/4057. Can be double checked by rerun.

[2022-10-19 23:23] LongyuZhang commented on #4062
For aot_test, we are testing the jdk inside of the docker image, instead of the mounted jdk, so it also runs without TEST_FLAG `AOT`.
I just manually tested the docker image `eclipse-temurin`, it doesn't recognize `-Xjit:verbose`, so maybe we need to limit this test to `openj9` only.

[2022-10-19 23:49] smlambert commented on #4039
aarch64_alpine-linux
- jdk_net rerun on https://ci.adoptopenjdk.net/job/Grinder/5803

[2022-10-19 23:53] smlambert commented on #4039
aarch64_linux
- jdk_net rerun on https://ci.adoptopenjdk.net/job/Grinder/5812

[2022-10-19 23:55] smlambert commented on #4039
aarch64_mac
- jdk_net rerun on https://ci.adoptopenjdk.net/job/Grinder/5813

[2022-10-20 02:03] smlambert commented on #4039
arm_linux
- failed tests rerun on https://ci.adoptopenjdk.net/job/Grinder/5815

[2022-10-20 02:06] smlambert commented on #4039
ppc64le_linux
- failed tests rerun at https://ci.adoptopenjdk.net/job/Grinder/5816

[2022-10-20 02:18] smlambert commented on #4039
x86-32_windows
- failed tests rerun at https://ci.adoptopenjdk.net/job/Grinder/5817

[2022-10-20 02:21] smlambert commented on #4039
x86-64_mac
- failed tests rerun at https://ci.adoptopenjdk.net/job/Grinder/5818

[2022-10-20 02:35] smlambert commented on #4039
ppc64_aix
- failed tests rerun at https://ci.adoptopenjdk.net/job/Grinder/5827

[2022-10-20 02:45] smlambert opened #4063 "Rerun build with failed targets has an unnecessary extra space in front of comma"
TARGET parameter is populated with the list of failed targets and there is an unneeded space inserted, see this example:

`testList TESTLIST=jdk_nio_0 ,jdk_imageio_0 ,jdk_net_0 ,jdk_security3_0 ,jdk_security3_1 ,jdk_tools_1 ,jdk_imageio_1`

We should determine where this extra space is coming from and remove the extra space, see the code that generates the link in the [addFailedTestsGrinderLink me

[2022-10-20 02:48] sophia-guo commented on #4039
Win32 jvm_compile_2 failures should be excluded by https://github.com/adoptium/aqa-tests/pull/4064, which will also be backport to release branch when ready.
[Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_0/59/) ⚠️ UNSTABLE ⚠️
[jvm_compiler_2](https://trss.adoptium.net/output/test?id=634ff1a3

[2022-10-20 02:52] sophia-guo commented on #4039
[ppc64_aix](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_ppc64_aix/185/) jdk_svc_sanity tests failed with no tests selected. testcases updated by https://github.com/adoptium/aqa-tests/pull/4019. Can be ignored, similar to jdk11

[jdk_svc_sanity_0](https://trss.adoptium.net/output/test?id=63500d08ed0b30773b62caaa) => [deep history 3/6 passed](https://trss.adoptium.net/deepHistor

[2022-10-20 05:28] zdtsw commented on #4040
windows x64 jdk_net re-run grinder https://ci.adoptopenjdk.net/job/Grinder/5832/console

[2022-10-20 06:43] zdtsw commented on #4040
**aarch64 linux**
jdk_security3
jdk_net

[2022-10-20 06:44] zdtsw commented on #4040
**aarch64 mac**
- jdk_net
- jdk_security3

[2022-10-20 06:46] zdtsw commented on #4040
**arm linux**
- jvm_compiler_2  -- never passed in the past 5
- jvm_security3 -- never passed in the past 5
- jdk_net
- jdk_beans -- never passed in the past 5
-

[2022-10-20 06:46] zdtsw commented on #4040
**ppc64le**
- jdk_security3 -- never passed
- jdk_beans -- never passed
- jdk_net

[2022-10-20 06:48] zdtsw commented on #4040
s390x
- jvm_compiler -- not passed in the past 3
- jdk_beans  -- not passed in the past 4
- jdk_security3
- jdk_net
- jdk_tools
- jdk_management
- jdk_nio
- jdk_jmx
- jdk_rmi
- jdk_jfr

[2022-10-20 06:50] zdtsw commented on #4040
**x86_32 windows**
- jvm_compiler -- not passed in 4
- jdk_time -- not passed in 5
- jdk_security3 -- not passed in 4
- jdk_beans -- not passed in 4
- jdk_tools
- jdk_net

[2022-10-20 06:51] zdtsw commented on #4040
x64 alpine
- jdk_build -- not passed in 4
- jdk_net
- jdk_security3 -- not passed in 5

[2022-10-20 06:52] zdtsw commented on #4040
**x64 linux**
- jdk_security3 -- not passed in 5
- jdk_net
- jdk_tools
-

[2022-10-20 06:53] zdtsw commented on #4040
x64 mac
- jdk_security3 -- not passed in 4
- jdk_net

[2022-10-20 07:05] zdtsw commented on #4040
**aarch64 alpine**

[2022-10-20 08:34] zdtsw commented on #4040
**ppc aix**

[2022-10-20 15:35] #4056 closed, assigned to renfeiw

[2022-10-20 15:44] llxia commented on #4033
The change is delivered via https://github.com/adoptium/aqa-tests/pull/4036

[2022-10-20 15:44] #4033 closed

[2022-10-20 19:05] smlambert commented on #4058
This is a duplicate of https://github.com/adoptium/aqa-tests/issues/4049

[2022-10-20 21:28] #4062 closed

[2022-10-21 03:16] smlambert commented on #4039
x86-64_alpine-linux
- failed targets rerun at https://ci.adoptopenjdk.net/job/Grinder/5880

[2022-10-21 03:35] smlambert commented on #4039
s390x_linux
- failed targets rerun at: https://ci.adoptopenjdk.net/job/Grinder/5882

[2022-10-21 03:40] smlambert opened #4071 "DBBLoadTest_5m & MiniMix_aot_5m FAIL on test-marist-rhel7-s390x-2 - NoRouteToHostException"
Fails on test-marist-rhel7-s390x-2
Passes on test-marist-ubuntu2004-s390x-1,test-marist-ubuntu1804-s390x-4 (historically)

**Test Info**
Test Name: DBBLoadTest_5m_0
Test Duration: 49 sec
Machine: test-marist-rhel7-s390x-2
TRSS link for the test output: https://trss.adoptium.net/output/test?id=63501642ed0b30773b6316ca

**Build Info**
Build Name: Test_openjdk17_hs_extended.system_s390x_linux
Jenkins

[2022-10-21 23:14] #4058 closed

[2022-10-22 10:13] Nuel-Eneji commented on #4063
Salutations, @smlambert I hope everything is good with you. I appreciate you giving me this assignment.
I kindly ask for assistance in setting up and executing the tests on my personal computer. I followed the instructions [here](https://github.com/adoptium/aqa-tests/blob/master/doc/userGuide.md#jenkins-configuration-with-customized-url) but I was unable to move past the process. I need assistance

[2022-10-22 13:43] smlambert commented on #4063
hi @Nuel-Eneji - those instructions are out-of-date.  For Jenkinsfile changes, the reviewers will run some tests on your branch or draft PR on our Jenkins server, or I can temporarily enable you to do so and together we can assess whether it resolves the problem or needs more adjustments.  Once you have some changes pushed to a draft PR, we can start to test it.  I am guessing for this issue, it i

[2022-10-23 23:14] Nuel-Eneji commented on #4063
Hello, @smlambert I hope everything is good with you.
I just made a draft pull request #4074 as directed and used the trim() function where it was thought to be suitable.
I would like to take part in the PR review process.
Thanks

[2022-10-23 23:28] Nuel-Eneji commented on #3793
Hello @smlambert Hope you're well?
I'm yet to get a review on this PR

[2022-10-24 04:01] Accelerator1996 opened #4075 "Test jobs always fails to pull code"
![image](https://user-images.githubusercontent.com/38688194/197446220-3541ca30-b53e-4b4c-860d-d3d43affd8ae.png)

[2022-10-24 10:52] Haroon-Khel commented on #4041
### x64 Linux

[**Test_openjdk8_hs_extended.openjdk_x86-64_linux**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux/98/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/66/) ⚠️ UNSTABLE ⚠️
[jdk_net_1](https://trss.adoptium.net/output/test?id=63513

[2022-10-24 10:52] Haroon-Khel commented on #4041
### x64 Mac

[**Test_openjdk8_hs_extended.openjdk_x86-64_mac**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_mac/103/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_2**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_2/62/) ⚠️ UNSTABLE ⚠️
[jdk_jfr_0](https://trss.adoptium.net/output/test?id=63529ec6ed0b30

[2022-10-24 10:53] Haroon-Khel commented on #4041
### x64 Windows

[**Test_openjdk8_hs_extended.openjdk_x86-64_windows**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_windows/109/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_x86-64_windows_testList_1**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_windows_testList_1/72/) ⚠️ UNSTABLE ⚠️
[jdk_net_1](https://trss.adoptium.net/output/te

[2022-10-24 12:46] llxia commented on #4075
May I know when did this happen? We recently added cleanWs() for every clone retry https://github.com/adoptium/aqa-tests/pull/4061

[2022-10-24 13:00] Haroon-Khel commented on #4041
### x64 Alpine-linux

[**Test_openjdk8_hs_extended.openjdk_x86-64_alpine-linux**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_alpine-linux/32/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_x86-64_alpine-linux_testList_0**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_alpine-linux_testList_0/31/) ⚠️ UNSTABLE ⚠️
[jdk_management_0](http

[2022-10-24 13:29] sophia-guo opened #4077 "Problemlist cacert test with jdk19"
Some of jdk_security tests - cacert tests should be problemlisted with jdk19?

Adoptium smoke tests have its own Cacerts.

Message https://github.com/adoptium/aqa-tests/issues/3976

[sun/security/lib/cacerts/VerifyCACerts.java.VerifyCACerts](https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.openjdk_x86-64_windows_testList_0/31/testReport/junit/sun_security_lib_cacerts_VerifyCACerts/java/V

[2022-10-24 13:31] sophia-guo commented on #4077
This may not limit to jdk19. We do have similar issues with other versions before.

[2022-10-24 14:43] pshipton opened #4080 ""Rerun in Grinder with failed test targets" uses wrong platform"
The "Rerun in Grinder with failed test targets" link from https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_x86-64_mac_Nightly/32/ creates a grinder on the default platform (x86-64_linux) instead of the same platform where the failure occurred (x86-64_mac). It doesn't set the BUILD_LIST or JDK_VERSION properly either.

https://openj9-jenkins.osuosl.org/job/Grinder/parambuild/?

[2022-10-24 15:15] sophia-guo opened #4082 "testJavaVersion() doesn't stop execution instantly after `java -version` return the non-zero status"
[`java -version ` ](https://github.com/adoptium/aqa-tests/blob/master/get.sh#L628) of testJavaVersion() in get.sh didn't stop execution instantly when return the non-zero status. Example is jdk has been pointed to wrong one ( for example , pointing a linux jdk on a mac platform), which makes the error message confusing.

At the begin part of get.sh flag `set -e` has been set to stop execution inst

[2022-10-24 15:24] llxia commented on #4080
We noticed that `Rerun in Grinder with failed test targets ` link does not capture all parameters for some reason. For now, please use `Rerun in Grinder` link. Close as dup of https://github.com/adoptium/aqa-tests/issues/4049

[2022-10-24 15:24] #4080 closed

[2022-10-24 15:32] sophia-guo commented on #4040
ppc64le

[Test_openjdk19_hs_extended.openjdk_ppc64le_linux](https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.openjdk_ppc64le_linux/35/) ⚠️ UNSTABLE ⚠️

[Test_openjdk19_hs_extended.openjdk_ppc64le_linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_extended.openjdk_ppc64le_linux_testList_0/34/) ⚠️ UNSTABLE ⚠️

[jdk_net_0](https://trss.adoptium.net/output/test?id=635021faed

[2022-10-24 15:52] sophia-guo commented on #4040
[Test_openjdk19_hs_sanity.openjdk_x86-64_linux](https://ci.adoptopenjdk.net/job/Test_openjdk19_hs_sanity.openjdk_x86-64_linux/115/) ⚠️ UNSTABLE ⚠️
Rerun [all](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=upstream&TARGET=sanity.openjdk&TEST_FLAG=&UPSTREAM_TEST_JOB_NAME=&DOCKER_REQUIRED=false&ACTIVE_NODE_TIMEOUT=0&VENDOR_TEST_DIRS=&EXTRA_DOCKER_ARGS=&TKG_OWNER_BRANCH=adoptium%3Am

[2022-10-24 16:13] Haroon-Khel commented on #4041
### ppc64le Linux

[**Test_openjdk8_hs_extended.openjdk_ppc64le_linux**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64le_linux/94/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_ppc64le_linux_testList_1**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64le_linux_testList_1/73/) ⚠️ UNSTABLE ⚠️
[jdk_net_1](https://trss.adoptium.net/output/test?

[2022-10-24 16:17] Haroon-Khel commented on #4041
### aarch64 Linux

[**Test_openjdk8_hs_extended.openjdk_aarch64_linux**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_aarch64_linux/91/) ⚠️ UNSTABLE ⚠️
Rerun [all](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=extended.openjdk&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DI

[2022-10-24 16:27] Haroon-Khel commented on #4041
### ppc64 Aix

[**Test_openjdk8_hs_extended.openjdk_ppc64_aix**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix/79/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_ppc64_aix_testList_1**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix_testList_1/62/) ⚠️ UNSTABLE ⚠️
[jdk_net_1](https://trss.adoptium.net/output/test?id=63515c83ed0b30773

[2022-10-25 04:21] sophia-guo commented on #4040
x64 Mac

jdk_net: https://ci.adoptopenjdk.net/job/Grinder/5941/

[2022-10-25 05:38] zdtsw commented on #4041
seems re-run grinder 5913 still failed?

[2022-10-25 05:39] zdtsw commented on #4041
5909 still failed?

[2022-10-25 09:30] Haroon-Khel commented on #4041
@zdtsw 5909 passed 4 out of 5 times, so thats fine. 5913 is an issue, I am rerunning that grinder on 6 different machines right now to see if it passes

[2022-10-25 09:32] zdtsw commented on #4041
ok, i mark `x64 Mac `as passed

[2022-10-25 09:40] Haroon-Khel commented on #4041
### x86-64 Solaris

[**Test_openjdk8_hs_extended.openjdk_x86-64_solaris**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_solaris/56/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0/52/) ⚠️ UNSTABLE ⚠️
[jdk_net_0](https://trss.adoptium.net/output/

[2022-10-25 09:41] Haroon-Khel commented on #4041
[**Test_openjdk8_hs_extended.system_sparcv9_solaris**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.system_sparcv9_solaris/189/) ⚠️ UNSTABLE ⚠️
Rerun [all](https://ci.adoptopenjdk.net/job/Grinder/parambuild/?SDK_RESOURCE=upstream&amp;TARGET=extended.system&amp;TEST_FLAG=&amp;UPSTREAM_TEST_JOB_NAME=&amp;DOCKER_REQUIRED=false&amp;ACTIVE_NODE_TIMEOUT=0&amp;VENDOR_TEST_DIRS=&amp;EXTRA_DOC

[2022-10-25 09:45] Haroon-Khel commented on #4041
### arm32 Linux

[**Test_openjdk8_hs_extended.openjdk_arm_linux**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_arm_linux/64/) ⚠️ UNSTABLE ⚠️

[**Test_openjdk8_hs_extended.openjdk_arm_linux_testList_0**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_arm_linux_testList_0/58/) ⚠️ UNSTABLE ⚠️
[jdk_net_2](https://trss.adoptium.net/output/test?id=6356ce31ed0b307

[2022-10-25 11:05] Haroon-Khel commented on #4041
### aarch64 alpine linux

[**Test_openjdk8_hs_extended.openjdk_aarch64_alpine-linux**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_aarch64_alpine-linux/19/) ❌ ABORTED ❌

[**Test_openjdk8_hs_extended.openjdk_aarch64_alpine-linux_testList_0**](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_aarch64_alpine-linux_testList_0/14/) ❌ ABORTED ❌
[jdk_jfr_1](https://t

[2022-10-25 13:23] sophia-guo commented on #4040
x64 Alpine

jdk_net, jdk_lang rerun
https://ci.adoptopenjdk.net/job/Grinder/5961/

[2022-10-26 09:29] andrew-m-leonard opened #4089 "Rerun in Grinder failures link not correct for TESTLIST"
**Describe the bug**
For a failing job it seems the Re-run in Grinder link for TESTLIST does not seem correct:
[code]

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other cont

[2022-10-26 12:25] Haroon-Khel commented on #4039
s390x linux continued

Failures from Shelleys rerun: https://ci.adoptopenjdk.net/job/Grinder/5897

https://ci.adoptopenjdk.net/job/Grinder_testList_1/152/testReport/
https://ci.adoptopenjdk.net/job/Grinder_testList_0/189/testReport/

jvm_compiler_0,jdk_net_1,jdk_tools_0,jdk_nio_1,jdk_management_1

Rerunning these failed targets https://ci.adoptopenjdk.net/job/Grinder/6027/console with extra timeou

[2022-10-26 12:30] Haroon-Khel commented on #4039
arm linux continued

Remaining failing test case

compiler/floatingpoint/TestFloatJNIArgs.java#id0.TestFloatJNIArgs_id0

Rerunning on all machines

[2022-10-26 12:52] Haroon-Khel commented on #4039
aix continued

Failing test cases

java/lang/invoke/MethodHandles/CatchExceptionTest.java.CatchExceptionTest
java/lang/invoke/MethodHandlesGeneralTest.java.MethodHandlesGeneralTest
java/lang/invoke/MethodHandlesSpreadArgumentsTest.java.MethodHandlesSpreadArgumentsTest

Shelleys grinder, https://ci.adoptopenjdk.net/job/Grinder/5871, and the original test job, https://ci.adoptopenjdk.net/job/Test_op

[2022-10-26 14:58] smlambert commented on #4089
Workaround for now is to use Re-run in grinder link versus Re-run in grinder with failed targets and manually update the TARGET parameter.  This appears to be a recent regression, but we will likely not be able to address during the release.

[2022-10-26 21:29] pshipton opened #4090 "jdk20 jtreg needs to run on aarch64 macos 11.5.2?"
I tried to run jdk20 sanity.openjdk tests on amac, nothing ran due to the following error.
https://openj9-jenkins.osuosl.org/job/Test_openjdknext_j9_sanity.openjdk_aarch64_mac_Nightly/2/console
[code]

It ran on https://openj9-jenkins.osuosl.org/computer/mac11-aarch64-7 and although this machine has a `sw.os.mac.11_5` label, `sw_vers` reports the following
[code]

I'm not sure where the 11.5.2 req

[2022-10-27 15:24] llxia opened #4092 "Capture TKG test result logic may not work with ITERATIONS"
**Describe the bug**
With the capture TKG test result, we can visualize the test summary in the Jenkins job (see below). This is really handy for the users.

![image](https://user-images.githubusercontent.com/19273206/198327679-6319182b-fa84-4533-80c7-0ebbad884137.png)

However, this feature may give false positives or false negatives when running with ITERATIONS. In the following case ([Grinder l

[2022-10-27 15:42] renfeiw commented on #4092
Currently we are using manager.getLogMatcher to get the match, but it only checks the first occurence. I will try parsing manager.build.logFile to see it works.

[2022-10-27 17:13] AdamBrousseau opened #4093 "Jenkins: Parallel option should be ignored when num machines is 1"
**Describe the bug**
If the number of machines, and therefore the number of child jobs, equals 1, I don't think we need to bother launching a child job.

**To Reproduce**
Launch a test with a parallel option and a build node label that only matches 1 machine

**Expected behavior**
Don't do parallel as it will create unnecessary overhead

**Screenshots**
If applicable, add screenshots to help expla

[2022-10-27 17:57] llxia commented on #4090
It looks like the error is from jtreg:
https://github.com/openjdk/jtreg/blob/7767297ca1946d2752cdb8a92b9659f8bae77d81/make/CheckJavaOSVersion.java#L42

[2022-10-27 18:02] pshipton commented on #4090
I think it's from here
https://github.com/openjdk/jtreg/blob/7767297ca1946d2752cdb8a92b9659f8bae77d81/make/build.sh#L400-L410

Something wrong with the machines? I did open the Openj9 intra issue, but if we can't fix the machines before we want to start running the test regularly, we'll be stuck only being able to use a single machine.

[2022-10-27 18:06] pshipton commented on #4090
Opened a new dedicated infra issue https://github.ibm.com/runtimes/infrastructure/issues/7412

[2022-10-27 18:16] pshipton commented on #4093
If we make this change, we could also change the parallel default in a grinder from "None" to (my preferred) "NodesByIterations".

[2022-10-27 18:18] pshipton commented on #4090
I'll close this for now, and reopen later if we get desperate for another solution other than fixing the machines..

[2022-10-27 18:18] #4090 closed

[2022-10-27 20:05] LongyuZhang opened #4094 "Add test for Unprivileged OpenJ9 CRIU"
Unprivileged OpenJ9 CRIU Support blog: https://blog.openj9.org/2022/09/29/unprivileged-openj9-criu-support/
Test scenario:
- start container with `privileged`
- create checkpoint
- upload test image
- start container with `unprivileged` (on different machines)
- perform `unprivileged` CRIU restore

@Tobi could you confirm the test scenario? Is this test limited on Ubuntu 22 only? Do we need to run

[2022-10-28 06:40] zdtsw commented on #4039
https://github.com/adoptium/aqa-tests/issues/4039#issuecomment-1291987791 does it mean AIX is done, or still failing need to check? @Haroon-Khel

[2022-10-28 10:46] Haroon-Khel commented on #4039
@zdtsw Its a bit confusing. The jdk_lang tests pass. The jdk_svc_0 and 1 tests are reporting a fail, but do not show any specific failing tests. It could be a false negative, or we are not running the test correctly

[2022-10-28 11:10] zdtsw commented on #4039
you mean jdk_svc_sanity not jdk_svc ?
according to https://github.com/adoptium/aqa-tests/issues/4039#issuecomment-1284841229, it can be ignored?

[2022-10-28 11:16] Haroon-Khel commented on #4039
Yeah, jdk_svc_sanity sorry. Oh yeah i guess it can be. I didn't see that comment. ppc64 aix is complete then

[2022-10-28 11:39] sxa commented on #4040
I don't know if there is one in the AQA tests repo yet. This is the first time it's been mentioned to me, but I expect it'll be related to a known specific issue with the Ubuntu zlib on s390x.

Also just to be clear on an earlier comment in this issue:

I said it was a known issue on Ubuntu, we should still attempt to get it to pass on a non-Ubuntu system. From your [grinder#6053](https://ci.adopt

[2022-10-28 14:11] #4038 closed

[2022-10-28 14:14] #4040 closed

[2022-10-28 16:34] llxia commented on #4009
Talked with @AdamBrousseau , if we trigger any other job for cleanup, it may get queued behind all the test builds landing on the bad machine.
The preferred approach is to add the cleanup script as a global library and then we can call the function directly while you have the node (similar to `library(identifier: 'openjdk-jenkins-helper@master').JobHelper`). While waiting for the global library to

[2022-10-30 12:58] Nuel-Eneji commented on #3500
Hello @smlambert trust you're very well.
Can i also take on this issue please.

[2022-10-30 18:27] Adeosunomoshalewa commented on #3500
I would like to work on this issue.

[2022-10-30 20:42] Emidowojo commented on #3500
Hi @smlambert Can I take this issue?

[2022-10-31 06:57] ultramancoder opened #4098 "Improve shell scripts by using shellcheck"
https://www.shellcheck.net/ is an awesome tool to find bugs in shell scripts. There are many shell scripts in the repo, and doing a quick test on compile.sh shellcheck gives many warnings. It would probably be good to fix these to improve the script. Thoughts?

[2022-10-31 13:43] llxia opened #4101 "Discussion: Remove Parallel=Subdir feature"
Parallel=Subdir feature was introduced before we had actual parallelization (i.e., Parallel=Dynamic or NodesByIterations). At that time, we ran tests in parallel according to subdir, which was used for external tests only. With the actual parallelization (i.e., Parallel=Dynamic), we do not use Parallel=Subdir feature anymore. The external tests are updated to use Parallel=Dynamic. As far as I know

[2022-10-31 15:20] LongyuZhang commented on #4094
Discussed this issue in the Criu meeting, currently the docker `CAP_CHECKPOINT_RESTORE` capability (mentioned in above blog) still hasn't been updated. We will wait for docker update on Jenkins machines then.

Currently, the weekly `CRIU_Image_Upload (hyc_jenkins/job/CRIU_Image_Upload/)` pipeline has been updated to build criu from source code with unprivileged support to facilitate local testing,

[2022-10-31 21:24] karianna commented on #4098
Would be good to add this as a GH Action (I believe it is in the temurin-build repo)

[2022-11-01 17:00] smlambert commented on #3500
I am assigning all 3 of you to this issue.

I think the starting point is to read the documentation at https://github.com/adoptium/aqa-tests/blob/master/scripts/disabled_tests/README.md and try running the disabled_tests scripts and sharing some of your output files (by attaching them as comments to this issue, with any notes you have regarding running the scripts or questions about the documentat

[2022-11-01 20:29] Emidowojo commented on #3500
Hi @smlambert thank you

[2022-11-01 20:31] Adeosunomoshalewa commented on #3500
Thank you @smlambert

[2022-11-02 05:33] Nuel-Eneji commented on #3500
[

[errors.log](https://github.com/adoptium/aqa-tests/files/9916495/errors.log)

[problem_list.json.txt](https://github.com/adoptium/aqa-tests/files/9916502/problem_list.json.txt)

](url)

Greetings @smlambert Hope you're well?
These are my output files from runing the exclude_parser command in the disabled tests
it seems one of the problem files in openjdk/excludes/vendors/azul/ is failing

From

[2022-11-02 05:39] Nuel-Eneji commented on #3500
Hello @Emidowojo and @Adeosunomoshalewa
Did you also notice a similar case with the `ls -1dq openjdk/excludes/* | python scripts/disabled_tests/exclude_parser.py > problem_list.json 2> errors.log` command ?

[2022-11-02 05:45] Adeosunomoshalewa commented on #3500
Hi @Nuel-Eneji , haven’t being able to get it from my end , it kept flagging syntax error

[2022-11-02 06:16] Nuel-Eneji commented on #3500
Maybe you should also try using this command `find openjdk/excludes/* -name "*.txt" | python3 scripts/disabled_tests/exclude_parser.py > problem_list.json 2> errors.log` @Adeosunomoshalewa

[2022-11-02 06:17] Adeosunomoshalewa commented on #3500
Okay i will do that , Thank you very much

[2022-11-02 11:06] takiguc opened #4104 "MBCS_Tests/CLDR_11 (fc33) testcase was failed on Japanese Windows"
**Describe the bug**

Adoptium TemurinJDK 11.0.17+8 - Windows x64 (release) was failed on MBCS_Tests/CLDR_11 (fc33) testcase with CJK Windows.
(CLDR_11 testcase worked fine as it only ran a limited part on English Windows)
I could not execute MBCS testcases on 11.0.17 because of adoptium/temurin-build#3052 .
I found this issue with 11.0.17 release build.
Failed by following output:
[code]

**To Re

[2022-11-02 11:55] smlambert commented on #4075
re:https://github.com/adoptium/aqa-tests/issues/4075#issuecomment-1288981919 based on the related PR, this issue relates to buildenv/jenkins/testJobTemplate rather than openjdk_tests & Jenkinsfilebase groovy scripts.

[2022-11-02 12:04] Nuel-Eneji commented on #4063
Hello @smlambert Hope you're well?
Can you please make this task as done?
Thanks

[2022-11-02 12:33] llxia commented on #4063
Resolved via https://github.com/adoptium/aqa-tests/pull/4074

[2022-11-02 12:33] #4063 closed

[2022-11-02 13:03] smlambert opened #4107 "AQAvit Meeting: Nov 2, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ics)

**Proposed Agenda*

[2022-11-02 13:03] #4104 closed

[2022-11-02 13:04] #4093 closed

[2022-11-02 13:17] smlambert commented on #4054
Recording [link](https://bluejeans.com/s/wWt9QdAjO3w/)

Link to next meeting: https://github.com/adoptium/aqa-tests/issues/4107

[2022-11-02 13:17] #4054 closed

[2022-11-02 14:26] smlambert opened #4108 "Create a draft AQAvit explainer video"
Attempt to have a draft in time for November events (Weavesphere), with the intention to polish it up further in December.

[2022-11-02 14:36] llxia commented on #3986
As @AdamBrousseau pointed out, there is another corner case where PARALLEL=Dynamic and NUM_MACHINES > 1, but the available machine is only 1. In this case, we should run it serially (not launching the child job).

[2022-11-02 16:22] smlambert opened #4109 "AQAvit Meeting: Nov 16, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ics)

**Proposed Agenda*

[2022-11-02 16:27] smlambert commented on #4107
Recording [link](https://bluejeans.com/s/7ptJr8rJ_9J)

Extra links based on demos and discussion:

Example TRSS getTestBuildsByMachine query (link won't work until we update the code on the adoptium TRSS instance):
http://trss.adoptium.net/api/getTestBuildsByMachine?machineRegex=test-docker.*&buildNameRegex=Test_openjdk11_hs*

More details on the CRIU feature:
https://blog.openj9.org/tag/criu/

Li

[2022-11-02 16:27] #4107 closed

[2022-11-02 20:22] llxia commented on #3974
While waiting for https://github.com/adoptium/TKG/issues/352, I am wondering if we can exclude `jvmtest` folder.

[2022-11-02 21:14] Nuel-Eneji commented on #4063
Thanks alot @llxia

[2022-11-02 21:51] Nuel-Eneji commented on #3793
Hello @smlambert
I'm still yet to get a review on this
Thanks

[2022-11-02 21:57] smlambert commented on #3500
To your question @Nuel-Eneji re: https://github.com/adoptium/aqa-tests/issues/3500#issuecomment-1299597527

This is what we hoped to do.  Your findings have shown that there is an _error_ in the azul/ProblemList_openjdk8.txt file, and the script has found it:
https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/vendors/azul/ProblemList_openjdk8.txt#L74

There should be 3 items per li

[2022-11-02 21:58] smlambert commented on #4101
I think this seems like a wise course of action.  We no longer need this feature and removing it removes complexity and potential tech debt of supporting an unused feature.

[2022-11-03 03:37] Accelerator1996 commented on #4075
If the current repo has no relevant history with the original repo with the same name, it will occur when the master node pulls the script code.I've read the merge request https://github.com/adoptium/aqa-tests/pull/4061,I'm sorry it cannot solve above problem.

[2022-11-03 10:11] sendaoYan opened #4113 "sun/security/provider/SecureRandom/AbstractDrbg/SpecTest.java intermittently timeout"
**Describe the bug**
sun/security/provider/SecureRandom/AbstractDrbg/SpecTest.java intermittently fail. When the /dev/random is empty, then this testcase will run timeout

**To Reproduce**
1. make /proc/sys/kernel/random/entropy_avail small than 1000
[code]
![image](https://user-images.githubusercontent.com/24123821/199694086-11ed8941-9c8f-481b-9a09-4ce620879078.png)

3. run the test
[code]

**res

[2022-11-03 14:31] #3974 closed

[2022-11-03 14:50] pshipton opened #4115 "Failures occurred, TAP results and TEST TARGETS SUMMARY don't report failures"
https://openj9-jenkins.osuosl.org/job/Test_openjdk19_j9_sanity.openjdk_aarch64_mac_Nightly/44/

jenkins (correctly) reports unstable. There is a Test Result reporting failures.
[code]

The TAP results don't report any failures, and TEST TARGETS SUMMARY shows ALL TESTS PASSED
[code]

@llxia

[2022-11-03 18:11] pshipton commented on #4115
I've also got some grinders that don't show any failures, but there are tests failing in the grinders.

https://openj9-jenkins.osuosl.org/job/Grinder/1492/consoleFull
[code]

Similarly in https://openj9-jenkins.osuosl.org/job/Grinder/1493/consoleFull

[2022-11-04 12:58] Nuel-Eneji commented on #3500
Greetings @ slambert I've bben going over the code for some time now but I don't seem to know the how next to proceed
please i need further guidiance
Thanks

[2022-11-04 13:21] smlambert commented on #3500
The task here was to run the scripts and identify incorrect entries in our ProblemLists files.  You found one, so now we can raise an issue stating the problem and then a PR to fix it (if we know the appropriate way to do so).

Raise an aqa-tests issue entitle "Incorrect formating in vendors/azul/ProblemList_openjdk8.txt file" and describe the issue in the description (you can take the text from m

[2022-11-04 13:49] Nuel-Eneji commented on #3500
Thanks @smlambert
I'll get on with it now

[2022-11-04 16:03] pshipton commented on #4115
This problem is impacting development and the ability to diagnose problems. Grinders are not reporting failures that occur. It needs to be fixed ASAP.

[2022-11-04 16:39] llxia commented on #4115
The test runs multiple commands. The first one failed and the last cmd was successful. As we only capture the last cmd result, the test result is successful.

We should not continue until the previous cmd is completed successfully. I will have a PR to fix this issue soon.

[2022-11-04 16:44] pshipton commented on #4115
Pls also check https://openj9-jenkins.osuosl.org/job/Grinder/1494/ is the same situation.
i.e. https://github.com/eclipse-openj9/openj9/issues/16259#issuecomment-1303781779

[2022-11-04 16:55] llxia commented on #4115
re https://github.com/adoptium/aqa-tests/issues/4115#issuecomment-1303860897, I do not think https://openj9-jenkins.osuosl.org/job/Grinder/1494/ is the same problem as vector tests.

[2022-11-04 16:56] babsingh commented on #4115
its the test report view: https://openj9-jenkins.osuosl.org/job/Grinder/1494/testReport/

[2022-11-04 18:52] llxia commented on #4115
@babsingh are you referring to the following case that it is in the failed test section, but showed passed?

![image](https://user-images.githubusercontent.com/19273206/200048028-cc3d38f2-dee7-463c-a3d9-831f3fc9a86f.png)

This is a different issue than vector test above. In this case, a 3rd party Jenkins JUnit plugin that reads jtr files that are generated from openjdk tests. We do not do any modi

[2022-11-04 18:57] babsingh commented on #4115
Yes. The same issue is also seen for `GetStackTraceALot.java`. For actual failures (`NullStackTrace.java`), I don't see the error output related to the segfault:

![image](https://user-images.githubusercontent.com/8634038/200053848-cea44e35-c068-4864-8ec9-dbe745f9841f.png)

[2022-11-04 19:06] llxia commented on #4115
It suggested `check console log for any additional details` in the message. You can see full result in jtf file. For example:

aqa-tests/TKG/output_16675036039469/jdk_lang_1/work/java/lang/Thread/NullStackTrace.jtr in the Grinder [Artifacts](https://openj9-artifactory.osuosl.org/artifactory/ci-openj9/Test/Grinder/1494/)

Or you can check [console output](https://openj9-jenkins.osuosl.org/job/Grind

[2022-11-04 19:10] #4115 closed

[2022-11-04 19:15] babsingh commented on #4115
re https://github.com/adoptium/aqa-tests/issues/4115#issuecomment-1304028629:

I generally look at the `Console Output`. I didn't know `console log` meant `Console Output`. Also, `Agent communication error: java.io.EOFException;` suggests a failure in the test framework. So, I was under the assumption that the test framework had an error

[2022-11-04 20:20] momanmalik commented on #4049
_"Rerun in Grinder with failed test targets:"_ returns incorrect TESTLIST. Observed in: https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_sanity.functional_aarch64_linux/285/.

**current output:** `TARGET=testList+TESTLIST=stringConcatOptTest_0 (success rate: 0/3),stringConcatOptTest_1 (success rate: 0/3)`.

**expected output example:**
`TARGET=testList+TESTLIST=jvm_compiler_0,jdk_

[2022-11-06 14:55] smlambert commented on #4039
@zdtsw - re: https://github.com/adoptium/aqa-tests/issues/4039#issuecomment-1286415061 - 1 testcase remains, it will get excluded, consider s390x_linux AQA triage completed and good to release.

[2022-11-07 13:34] llxia commented on #4049
re https://github.com/adoptium/aqa-tests/issues/4049#issuecomment-1304169974, it is related to TKG_ITERATIONS. @renfeiw could you please take a look? Thanks

[2022-11-07 15:44] pshipton commented on #3997
https://openj9-jenkins.osuosl.org/job/Test_openjdk8_j9_special.system_ppc64_aix_Personal_testList_2/33
[code]

[2022-11-08 00:29] smlambert commented on #4041
sparcv9 solaris

hotspot_jre_0:
[compiler/8209951/TestCipherBlockChainingEncrypt.java.TestCipherBlockChainingEncrypt](https://ci.adoptopenjdk.net/job/Grinder/6065/testReport/compiler_8209951_TestCipherBlockChainingEncrypt/java/TestCipherBlockChainingEncrypt/)

jdk_jfr_0: crashes in 6 tests (there are duplicate result files on machines, making it look like tests were run repeatedly, suspect a failu

[2022-11-08 17:29] Haroon-Khel commented on #4041
jdk_security_0

 javax/net/ssl/Stapling/HttpsUrlConnClient.java.HttpsUrlConnClient
 javax/net/ssl/Stapling/SSLSocketWithStapling.java.SSLSocketWithStapling
 javax/net/ssl/TLSCommon/ConcurrentClientAccessTest.java.ConcurrentClientAccessTest
 javax/net/ssl/TLSCommon/TestSessionLocalPrincipal.java.TestSessionLocalPrincipal
 sun/security/pkcs11/KeyStore/ClientAuth.sh.ClientAuth
 sun/security/pkcs11/fi

[2022-11-08 19:07] smlambert commented on #3189
We have done all that we will do at this time, closing issue now.

[2022-11-08 19:07] #3189 closed

[2022-11-08 19:38] smlambert opened #4127 "Try reorganizing openjdk tier1 and tier2 tests into sanity.openjdk top-level targets"
Relating to a number of issues:
- reduce duplication (related to https://github.com/adoptium/aqa-tests/issues/3991)
- bring security tests into sanity / nightly runs (https://github.com/adoptium/aqa-tests/issues/3858)
- align our levels closely with openjdk tiers (to aid in communication to the upstream teams)

[2022-11-08 20:29] smlambert opened #4128 "cleanWS does not appear to work on sparcv9 solaris"
We are seeing multiple TAP files and JUnit files on the sparcv9 solaris machine, some from weeks ago, indicating that cleaning the Jenkins workspace does not appear to be working.

Example:
Mentioned in https://github.com/adoptium/aqa-tests/issues/4041#issuecomment-1306419643

From https://ci.adoptopenjdk.net/job/Grinder/6065/
<img width="653" alt="Screen Shot 2022-11-08 at 3 26 34 PM" src="https:

[2022-11-08 22:00] smlambert opened #4129 "Some renaissance perf targets do not work on Windows ARM"
From Slack conversation with Joe Braley:

On Windows ARM64 we are seeing some errors for perf suite of tests. The error we are receiving is hadoop\bin\hadoop.dll: Can't load AMD 64-bit .dll on a ARM 64-bit platform  for the following perf tests:
renaissance-als_0
renaissance-chi-square_0
renaissance-dec-tree_0
renaissance-gauss-mix_0
renaissance-log-regression_0
renaissance-movie-lens_0

We pull r

[2022-11-08 22:04] smlambert commented on #4129
auto exclude test renaissance-als plat=aarch64_windows

[2022-11-08 22:08] smlambert commented on #4129
auto exclude test renaissance-chi-square plat=aarch64_windows

[2022-11-08 22:08] smlambert commented on #4129
auto exclude test renaissance-dec-tree plat=aarch64_windows

[2022-11-08 22:16] smlambert commented on #4129
auto exclude test renaissance-gauss-mix plat=aarch64_windows

[2022-11-08 22:17] smlambert commented on #4129
auto exclude test renaissance-log-regression plat=aarch64_windows

[2022-11-08 22:17] smlambert commented on #4129
auto exclude test renaissance-movie-lens plat=aarch64_windows

[2022-11-08 22:47] smlambert commented on #4041
Other console output from sparcv9 solaris runs, https://ci.adoptopenjdk.net/job/Grinder/6067/consoleFull:

[code]

[2022-11-09 13:18] Haroon-Khel commented on #4128
That grinder had 5 iterations, maybe thats why it created 5 TAP files?

[2022-11-09 13:19] Haroon-Khel commented on #4128
build-siteox-solaris10u11-sparcv9-1 has older TAP files in its Grinder directory which I have cleared

[2022-11-09 14:39] #4039 closed

[2022-11-09 15:42] sophia-guo commented on #4015
x64-linux: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/6133/
windows: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/6134/

[2022-11-09 17:40] smlambert commented on #4041
sparcv9 solaris:

jdk_math: https://ci.adoptopenjdk.net/job/Grinder/6137

[2022-11-09 17:50] Haroon-Khel commented on #4041
I see an upstream bug for [compiler/8209951/TestCipherBlockChainingEncrypt.java.TestCipherBlockChainingEncrypt](https://ci.adoptopenjdk.net/job/Grinder/6065/testReport/compiler_8209951_TestCipherBlockChainingEncrypt/java/TestCipherBlockChainingEncrypt/)

https://bugs.openjdk.org/browse/JDK-8209951?jql=text%20~%20%22compiler%2F8209951%2FTestCipherBlockChainingEncrypt%22

[2022-11-09 17:54] Haroon-Khel commented on #4041
Found an upstream bug for the failing jdk_math test on sparcv9 java/math/BigInteger/LargeValueExceptions.java.LargeValueExceptions.

https://bugs.openjdk.org/browse/JDK-8225352?jql=text%20~%20%22java%2Fmath%2FBigInteger%2FLargeValueExceptions%22

We are seeing a timeout failure, as is the upstream bug, and

[2022-11-09 18:08] smlambert commented on #4041
Good find, we should report that it is now reproducible (and either get https://bugs.openjdk.org/browse/JDK-8225352 reopened or open a new one).  In either case we will excluded the testcase for the sparcv9 solaris platform (presumably not seen on x86-64 solaris?).

[2022-11-09 21:20] sophia-guo commented on #4128
So probably we can close this ? @smlambert

[2022-11-10 00:40] smlambert commented on #4128
yep, I didn't even look to see ITERATIONS=5 !

[2022-11-10 00:40] #4128 closed

[2022-11-10 02:28] sendaoYan opened #4137 "sanity.jck and extended.jck has total 595 duplicated testcases(jck8c)"
**Describe the bug**
sanity.jck and extended.jck has total 595 duplicated testcases

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/24123821/200985553-324393fa-7728-4066-8c93-406e22b249a0.png)

**Expected behavior**
no any duplicated testcases.

[2022-11-10 02:30] sendaoYan commented on #4113
https://github.com/openjdk/jdk/pull/11014

[2022-11-10 10:48] Nuel-Eneji opened #4138 "Incorrect formating in vendors/azul/ProblemList_openjdk8.txt file"
there is an error in the azul/ProblemList_openjdk8.txt file, and the script has found it:
[https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/vendors/azul/ProblemList_openjdk8.txt#L74](https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/vendors/azul/ProblemList_openjdk8.txt#L74)

[2022-11-10 10:53] Nuel-Eneji commented on #3500
Hello, @smlambert I hope everything is good with you.
I did as advised and opened issue #4138.
I'm about to submit a pull request to address the problem.

[2022-11-10 13:32] pshipton commented on #3997
https://openj9-jenkins.osuosl.org/job/Test_openjdk17_j9_extended.system_ppc64_aix_Nightly_testList_1/341
[code]

[2022-11-10 20:49] Adeosunomoshalewa commented on #3500
Hi @smlambert , have been working with @Nuel-Eneji on this issue and the output I got from my end.
[errors.log](https://github.com/adoptium/aqa-tests/files/9984491/errors.log)

[2022-11-10 21:57] llxia opened #4141 "Upgrade TestNG to v7.6.1"
Currently, we are using [TestNG 6.14.2](https://mvnrepository.com/artifact/org.testng/testng/6.14.2). It is an old version that was released in 2018. We recently noticed a bug with `priority` annotation by using TestNG 6.14.2. (See https://github.com/eclipse-openj9/openj9/issues/16284). This issue is resolved in the latest version [TestNG 7.6.1 ](https://mvnrepository.com/artifact/org.testng/testn

[2022-11-10 23:04] smlambert commented on #3500
hi @Adeosunomoshalewa - your errors.log file shows that you do not have Python installed which is needed to run these scripts.

[2022-11-11 00:32] smlambert opened #4142 "jdk_tools_1 FAILED in Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0"
Error message from console suggests it may be a machine configuration issue:

light.exe : error LGHT0217 : Error executing ICE action 'ICE01'. The most common cause of this kind of ICE failure is an incorrectly registered scripting engine. See http://wixtoolset.org/documentation/error217/ for details and how to solve this problem. The following string format was not expected by the external UI mes

[2022-11-11 15:56] smlambert opened #4143 "Add hotspot_container tests to the openjdk test group"
We should be adding the hotspot_containers target to the openjdk/[playlist](https://github.com/adoptium/aqa-tests/blob/master/openjdk/playlist.xml) nearby the other [hotspot_misc](https://github.com/openjdk/jdk17u-dev/blob/master/test/hotspot/jtreg/TEST.groups#L58-L66) targets that we already have (see [hotspot_compiler, hotspot_gc, hotspot_runtime, hotspot_serviceability](https://github.com/adopt

[2022-11-11 16:48] jerboaa commented on #4143
These tests verify that the container detection code in OpenJDK works as expected. They'd be relevant for JDK 8, 11, 17 and latest. The basic mode of operation of those tests is that they build a `Dockerfile` (for the specific test) and then run the test JDK inside a container expecting specific behaviour. There will be some setup required (I think) as it's probably not a wise idea to run those te

[2022-11-11 18:06] sophia-guo opened #4146 "Add openjdk failed test case name information in tap files"

[2022-11-12 23:12] Adeosunomoshalewa commented on #3500
Hello @smlambert, after rerunning the text this is what I got
[errors.log](https://github.com/adoptium/aqa-tests/files/9996102/errors.log)

[2022-11-14 13:23] jerboaa commented on #3629
The correct fix for this is to specify `-Djdk.test.docker.image.name=<base-image-name>` and `-Djdk.test.docker.image.version=<image-version>` when running the test. That is, if you wanted to run the test on a `registry.fedoraproject.org/fedora:37` base image, one would set:

[code]

It's not a good idea to rely on the defaults for those container tests.

[2022-11-14 13:26] jerboaa commented on #3629
There really is nothing to report upstream, as that's the way to handle mismatches on the base image versions. See https://bugs.openjdk.org/browse/JDK-8221342

[2022-11-14 14:52] Haroon-Khel commented on #4041
Rerun of failing sparchv9 solaris tests against last release 8u345b01

hotspot_jre_0 https://ci.adoptopenjdk.net/job/Grinder/6182/console
jdk_jfr_0 https://ci.adoptopenjdk.net/job/Grinder/6183/console
jdk_security3_0 https://ci.adoptopenjdk.net/job/Grinder/6184/console
OAuthTest_0 https://ci.adoptopenjdk.net/job/Grinder/6186/console
java/math/BigInteger/LargeValueExceptions.java https://ci.adoptop

[2022-11-14 15:15] sophia-guo commented on #4015
Update documents :

- https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L358

[2022-11-14 19:48] #4015 closed

[2022-11-15 10:32] Haroon-Khel commented on #4041
So all but jdk/jfr/jcmd/TestJcmdStartStopDefault.java is a test that has failed on the last release. I'm re running this test again on the last release to ensure it is not a new failure

[2022-11-15 12:19] Haroon-Khel commented on #4041
The test fails on the last release https://ci.adoptopenjdk.net/job/Grinder/6190/testReport/. No regression

[2022-11-15 12:24] zdtsw commented on #4041
close issue as all AQA triage on jdk8 have been done

[2022-11-15 12:24] #4041 closed

[2022-11-15 13:27] jerboaa commented on #4143
I've opened an infra request ticket for cg v1 and cg v2 setups for Linux (x86_64 should be fine for starters): https://github.com/adoptium/infrastructure/issues/2817

[2022-11-15 13:33] Haroon-Khel opened #4150 "Exclude sparcv9 solaris jdk8 problem tests"
The following tests fail on the current (jdk8u352-b08) and last (8u345b01) release of jdk 8 on sparcv9 solaris and should be excluded

**jdk_jfr**

jdk/jfr/javaagent/TestLoadedAgent.java
jdk/jfr/jcmd/TestJcmdSaveToFile.java
jdk/jfr/jcmd/TestJcmdStartWithSettings.java
jdk/jfr/jcmd/TestJcmdStopInvalidFile.java
jdk/jfr/jcmd/TestJcmdStopReadOnlyFile.java

**jdk_security3**

javax/net/ssl/Stapling/Http

[2022-11-15 19:46] sophia-guo commented on #4082
again https://ci.adoptopenjdk.net/job/Grinder/6200/console

[code]

[2022-11-16 08:41] sendaoYan commented on #3629
Thanks for your advice.

[2022-11-16 08:41] #3629 closed

[2022-11-16 09:18] jerboaa commented on #4143
Once this is fixed, we should remove excluded tests for JDK 8 done by https://github.com/adoptium/aqa-tests/pull/3885. I see that those are excluded not only for `linux-aarch64`, but for `linux-all` by now.

The real fix is to use a base image which is available on those architectures. The [proposed UBI 8](https://github.com/jerboaa/aqa-tests/commit/ac2d774badac2d5b8e5b44c08e4d2675d8c7b0d6#diff-c3

[2022-11-16 14:40] smlambert opened #4152 "Sniff test the UBI images that are in plan"
We should verify that we can run the sanity.external target against the new UBI images being worked on.

Related: https://github.com/adoptium/containers/issues/308#issuecomment-1303647930

[2022-11-16 20:35] smlambert opened #4153 "AQAvit Meeting: Nov 30, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ics)

**Proposed Agenda*

[2022-11-16 22:08] sophia-guo commented on #4146
@smlambert 's nice suggestion to include the line of jtreg output that summarized the total testcases in the target.

`Test results: passed: 39; failed: 21`

https://github.com/adoptium/TKG/pull/367#issuecomment-1314201578

[2022-11-17 01:31] smlambert commented on #4109
Meeting [recording link](https://bluejeans.com/s/9iZU4PTBUyy)

Link to next meeting: https://github.com/adoptium/aqa-tests/issues/4153

[2022-11-17 01:31] #4109 closed

[2022-11-17 14:44] sophia-guo opened #4154 "Remove Tap plugin as Jenkins job status is supported by exit code of TKG and checkTestResults()"
Originally we are using Tap plugin to support test result files to Jenkins, which has caused some issues. Right now jenkins job status is set TKG exit code and checkTestResults(). Suggest to remove the tap plugin step `step([$class: "TapPublisher", testResults: "aqa-tests/TKG/**/*.tap", outputTapToConsole: false, failIfNoResults: true])` for following reasons

- tap plugin step is in post() stage,

[2022-11-17 18:05] Adeosunomoshalewa commented on #3500
hello @smlambert, I have rerun the text and have uploaded the file for you to view, kindly acknowledge

[2022-11-17 18:26] smlambert commented on #3500
hi @Adeosunomoshalewa - if you look inside the error.log you have produced, you now appear to have python installed, but there is an error.

You get a no such file or directory error.  You will have to figure out where the file actually is in order to get a proper result.  The error message is telling you that `C:\\Users\\USER\\OneDrive\\Documents\\GitHub\\Adeosunomoshalewa\\outreachy\\aqa-tests\\

[2022-11-17 18:31] Adeosunomoshalewa commented on #3500
okay @smlambert , will look into it, Thank you

[2022-11-17 22:50] joe-braley opened #4155 "Initial problem listing for Windows ARM64"
Please let me know if this should be broken up into separate GitHub issues!

Initial problem listing for Window AArch64 for JDK11 and JDK17:
[code]
With respect to `java/foreign/*` tests there is ongoing work to update the foreign function and memory API to work with Windows ARM64 so I believe that Temurin might be affected by these tests as well.

Example output:
[code]
[tentative-microsoft-exclu

[2022-11-18 14:56] sophia-guo commented on #4146
Done, close it.

[2022-11-18 15:24] sophia-guo opened #4157 "Delete code related upstream_openjdk_tests jenkins jobs"
Those jobs are not needed anymore and has been removed

details #3963

[2022-11-21 19:00] joe-braley commented on #4155
Adding to JDK17. These are issues with both 11 and 17 and fail in the same way.
[code]

[2022-11-22 00:41] smlambert commented on #4049
Now that TKG#373 is merged we should verify that this issue can be closed.

[2022-11-22 15:28] renfeiw commented on #4049
It generated the correct target in my grinder: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/6208/ @momanmalik Could you please verify if this solves your issue?

[2022-11-22 20:28] #4154 closed

[2022-11-23 14:32] #4143 closed

[2022-11-24 14:01] momanmalik commented on #4049
@renfeiw The issue appears to be resolved on my end.

[2022-11-24 15:00] #4049 closed

[2022-11-26 06:25] #4157 closed

[2022-11-28 00:16] smlambert commented on #3920
https://adoptium.slack.com/archives/C09NLQQAV/p1669581516908649

[2022-11-30 02:17] tommyreilly commented on #3812
Hi @tellison

Wondering if you might know if there is any progress on this topic of the Alpine 8 image and the missing ciphers?

Thanks

Tommy

[2022-11-30 08:06] tellison commented on #3812
AIUI it was being investigated by @calderast

/cc: @karianna

[2022-11-30 09:51] RadoslavCap commented on #4153
Pls add to the agenda: Add Windows Installer tests

[2022-11-30 17:40] smlambert opened #4175 "AQAvit Meeting: Dec 14, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ics)

**Proposed Agenda*

[2022-11-30 17:41] smlambert commented on #4153
Meeting [recording link](https://bluejeans.com/s/QqEpD0DQUpN)

Minutes: Added some notes & links into the agenda above.

Link to next meeting: https://github.com/adoptium/aqa-tests/issues/4175

[2022-11-30 17:50] #4153 closed

[2022-11-30 20:11] smlambert commented on #3812
This sounds like it would be a [new smoke test](https://github.com/adoptium/temurin-build/tree/master/test/functional/buildAndPackage) specific to Temurin binaries that would live in the temurin-build repository versus a new AQAvit verification suite test (in which case I will eventually transfer this issue to that repo).

In the meantime, can someone confirm what is the correct way to verify the