[2022-01-19 15:21] Haroon-Khel commented on #3232
Seeing alot of unsatisfied link errors in the output

[code]

[2022-01-19 15:45] Haroon-Khel commented on #3232
Found https://github.com/adoptium/aqa-tests/issues/2877 which accounts for the following tests

[code]

Still not accounted for
`tools/jpackage/share/AppLauncherEnvTest.java.AppLauncherEnvTest`

[2022-01-19 16:12] smlambert commented on #3223
Thanks @joeyleeeeeee97 !  Because its a new test, we won't block the release on it, but having a fix will be great as we will want to include it for jdk17+ going forward.  :)

[2022-01-19 16:22] smlambert commented on #3232
alpine-linux is a headless build (and we account for by this setting: https://github.com/adoptium/aqa-tests/blob/master/openjdk/openjdk.mk#L94-L100 so that the underlying jtreg framework will filter out tests that test a headful build).

Unsatisfied link errors unable to load a library that would not exist in a headless build  `libawt_xawt.so` makes me think that the jtreg filtering is not working

[2022-01-19 16:28] sophia-guo commented on #3223
#### Release Summary Report for openjdk17-pipeline
TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=61e6d704a7df1a2924016495&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=61e6d704a7df1a2924016495)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk17-pipeline/281/
Started by upstream project

[2022-01-19 16:59] sophia-guo commented on #3232
Yes, those tests have been tagged as 'not workable for headless alpine linux'  https://github.com/adoptium/aqa-tests/issues/2877.

Job output shows that option has been set up correctly.

[code]

Similar tests belong to jdk_bean category has been filtered as expected in same build. I suspect those tests could be excluded by jtreg filter.

[2022-01-20 05:31] #2500 closed

[2022-01-20 14:19] karianna opened #3238 "CustomeLauncherTest fails as its unable to find the launcher executable on Alpine Linux 11"
java.io.IOException: Cannot run program "/home/jenkins/workspace/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/aqa-tests/TKG/output_16425959244573/jdk_management_0/work/scratch/13/launcher": error=2, No such file or directory
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1128)
	at java.base/java.lang.ProcessBuilder.start(ProcessBuilder.java:1071)
	at jdk.testlibrary.Pro

[2022-01-20 14:19] karianna commented on #3238
I'm immediately suspicious about the really long path.

[2022-01-20 14:22] karianna opened #3239 "Alpine Java 11 - ExecutionEnvironment.testEcoFriendly() test failed with could not find LD_LIBRARY_PATH=/Bridge/On/The/River/Kwai"
Test void ExecutionEnvironment.testEcoFriendly() failed: java.lang.reflect.InvocationTargetException
----begin detailed exceptions----
java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.De

[2022-01-20 14:26] karianna opened #3240 "Test7029048 Failes on Alpine Linux 11 because of LD_LIBRARY_PATH issue"
Executed command: /home/jenkins/workspace/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/openjdkbinary/j2sdk-image/bin/java -server -jar /home/jenkins/workspace/Test_openjdk11_hs_extended.openjdk_x86-64_alpine-linux/aqa-tests/TKG/output_16425959244573/jdk_tools_0/work/scratch/4/EcoFriendly.jar

++++Begin Test Info++++
Test Status: PASS
++++Test Environment++++
  PATH=/bin:/usr/bin:/usr/sbi

[2022-01-20 14:57] Haroon-Khel opened #3242 "Test failures on openjdk8_hs_extended.openjdk solaris hotspot"
Failure link https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_solaris_testList_0/16/

`javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh.BadPluginConfigurationTest`
Error:
`jdk/jdk/test/javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh: syntax error at line 183: PLUGINDST_DIR=$' unexpected`
Trss link https://trss.adoptium.net/output/test?id=6

[2022-01-20 15:12] Haroon-Khel opened #3243 "com/sun/jdi/RedefineCrossEvent.java.RedefineCrossEvent from sanity.openjdk fails for jdk8"
The com/sun/jdi/RedefineCrossEvent.java.RedefineCrossEvent from the sanity openjdk test suite fails for jdk on xLinux, aarch64 linux and xSolaris

Error:
Execution failed: main' threw exception: java.lang.Exception: InstanceFilter: failed

xLinux https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_x86-64_linux/832/testReport/
aarc64 linux https://ci.adoptopenjdk.net/job/Test_openjdk8_h

[2022-01-20 15:19] Haroon-Khel opened #3244 "renaissance-scala-kmeans_0 fails on xSolaris jdk8 hs"
renaissance-scala-kmeans_0 from the sanity.perf suite fails on xSolaris hotspot

Failure link https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.perf_x86-64_solaris/46/tapResults/

Error:
[code]

[2022-01-20 17:38] Haroon-Khel opened #3247 "jdk_jfr tests fail on ppc linux jdk8 hotspot"
Test from jdk_jfr in the extended openjdk suite on ppc64le linux are failing

jdk/jfr/api/consumer/TestRecordedFrame.java.TestRecordedFrame
(Similar upstream issue https://bugs.openjdk.java.net/browse/JDK-8242188?jql=text%20~%20%22jdk%2Fjfr%2Fapi%2Fconsumer%2FTestRecordedFrame%22)

jdk/jfr/event/io/TestInstrumentation.java.TestInstrumentation
jdk/jfr/event/runtime/TestShutdownEvent.java.TestShutdo

[2022-01-20 19:18] calderast commented on #3058
We've seen this at msft for java/lang/ProcessBuilder/Basic.java#id0 and java/lang/ProcessBuilder/Basic.java#id1 on both jdk11 and jdk17, also on JBS: https://bugs.openjdk.java.net/browse/JDK-8245748

[2022-01-20 19:21] calderast commented on #2385
We've seen this failure at msft for java/lang/ProcessBuilder/Basic.java#id0 and java/lang/ProcessBuilder/Basic.java#id1 for Alpine on both jdk11 and jdk17, also on JBS: https://bugs.openjdk.java.net/browse/JDK-8245748

[2022-01-21 11:17] Haroon-Khel opened #3249 "jdk/jfr/event/io/TestInstrumentation fails on JDK8 Mac Hotspot"
The test jdk/jfr/event/io/TestInstrumentation from the extended openjdk test suite fails for jdk8 hotspot on MacOS

Failure link https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_mac_testList_1/33/testReport/jdk_jfr_event_io_TestInstrumentation/java/TestInstrumentation/

`Execution failed: `main' threw exception: java.lang.RuntimeException: Expected to get exit value of [0]`

[2022-01-21 12:08] Haroon-Khel opened #3250 "hotspot_jre test fails on JDK8 Hotspot xLinux"
Latest failure link https://ci.adoptopenjdk.net/job/Grinder/3078/testReport/

The runtime/containers/docker/TestMemoryAwareness.java.TestMemoryAwareness test from hotspot_jre in the extended openjdk suite fails on xLinux

Trss link https://trss.adoptium.net/output/test?id=61e848c3a7df1a2924028e68

[2022-01-21 12:34] Haroon-Khel opened #3251 "java/net/Socket/GetLocalAddress.java.GetLocalAddress fails on jdk8 hotspot aix"
Latest failure link https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_ppc64_aix_testList_1/25/testReport/

The test java/net/Socket/GetLocalAddress.java.GetLocalAddress from jdk_net_1 in the extended openjdk test suite fails on aix for jdk8 hotspot

[code]
Trss link
https://trss.adoptium.net/output/test?id=61e84e1fa7df1a2924029952

[2022-01-21 12:37] Haroon-Khel commented on #3251
Also fails with this error
[code]

[2022-01-21 14:42] llxia opened #3252 "Cannot get idle static machines when using CLOUD_PROVIDER"
When using CLOUD_PROVIDER, the correct logic is that we try to run on a static machine if there is any available. If not, then trigger cloud VM machine. However, I noticed that the test pipeline starts cloud VM machine, even if there are static machines available.

We need to investigate https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/openjdk_tests#L195-L207

I suspect `curl -s

[2022-01-21 15:01] Haroon-Khel opened #3253 "jdk_jfr tests fail on jdk8 hotspot xLinux"
The following tests from jdk_jfr in the extended openjdk test suite fail on xLinux

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/30/testReport/

`jdk/jfr/event/compiler/TestCompilerCompile.java.TestCompilerCompile`
[code]

jdk/jfr/event/runtime/TestShutdownEvent.java.TestShutdownEvent
[code]

jdk/jfr/event/runtime/TestShutdownEvent.java.TestShutdownEven

[2022-01-21 15:07] smlambert commented on #3250
I see in [Deep History](https://trss.adoptium.net/deepHistory?testId=61e848c3a7df1a2924028e68) view that this passed on test-docker-fedora33-x64-2, can this be rerun on that machine to see how it behaves, then can we understand what is different from that test-docker-fedora33-x64-2 machine and the other machines where this test fails?

[2022-01-21 15:11] smlambert commented on #3244
We should figure out why it appears that the benchmark does not appear to run at all.  This is very likely an issue with one or more of the scripts involved not running well on Solaris. Running with some extra verbosity turned on may help.  I would suspect run_with_affinity.sh, but the other benchmarks in the perf group also call this script, so it is odd that this particular benchmark is differen

[2022-01-21 15:26] Haroon-Khel commented on #3242
Fails for sparc too

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_sparcv9_solaris_testList_0/25/testReport/

[2022-01-21 15:50] Haroon-Khel opened #3254 "Extended openjdk jdk_jfr tests failed for sparc solaris jdk8 hotspot"
Some tests failed on sparc solaris from the extended openjdk suite for JDK 8 hotspot

https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_sparcv9_solaris_testList_1/23/testReport/

jdk/jfr/event/gc/heapsummary/TestHeapSummaryEventDefNewSerial.java.TestHeapSummaryEventDefNewSerial
jdk/jfr/event/gc/heapsummary/TestHeapSummaryEventG1.java.TestHeapSummaryEventG1
jdk/jfr/event/gc/heapsumm

[2022-01-21 15:54] smlambert commented on #3253
[Deep history](https://trss.adoptium.net/deepHistory?testId=61e848cba7df1a2924028e9a) shows this test passes occasionally.  Can we verify the status of the jdk_jfr tests from the October release on this platform?  If we hit the same issues with last release (and reran to see it passing), we will do the same with this release.  Try grinding on the machine its shown to pass in the deep history view

[2022-01-21 16:54] Haroon-Khel commented on #3244
Also failing on sparc https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.perf_sparcv9_solaris/89/

[2022-01-21 17:39] jerboaa commented on #3250
The test spawns a container and sets up a memory limit for it. The test that fails is `TestMemoryAwareness.testOOM()`. That test allocates more memory than the limit set via the container engine and expects it to fail (with OOM). That test is notoriously flaky as there is no guarantee for an OOM kill from the OS.

[2022-01-21 17:41] jerboaa commented on #3250
A backport of https://bugs.openjdk.java.net/browse/JDK-8229182 would likely make it more reliable.

[2022-01-21 18:12] sxa commented on #3250
@jerboaa Based on that, would it return a positive result if it was already being run in a container (based on Shelley's comment that it passed when run on a machine that's already within a docker container)

[2022-01-21 18:45] tommytwm commented on #3214
I can take jdk 11 :)

[2022-01-21 18:45] yinggzz commented on #3214
I can do jdk 17

[2022-01-21 18:46] gervaisj commented on #3214
I can do jdk 18

[2022-01-21 18:55] nadeensami commented on #3156
I'll take this one

[2022-01-21 19:14] sophia-guo commented on #3223
Move to release.

[2022-01-21 19:14] #3223 closed

[2022-01-21 20:03] YeeSkywalker commented on #2097
Hi there, I am wondering if I could take this one? It would be much appreciated!

[2022-01-21 20:11] llxia commented on #2702
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/triggerGrinder.groovy

[2022-01-21 20:12] amir-waheed commented on #2702
Can I have this assigned to me?

[2022-01-21 21:28] #3156 closed

[2022-01-21 23:03] nadeensami commented on #3163
Can I have this assigned to me?

[2022-01-22 04:36] smlambert commented on #3243
See https://bugs.openjdk.java.net/browse/JDK-8206330 (comment about needing to be backported to jdk8)

[2022-01-22 04:39] smlambert commented on #3250
Given the provided information and that we can run this test in certain environments and pass, we won't block on this failure, but it will be good to see a backported fix upstream. (if a backport would take a while, we should exclude with link to the JBS issue for now).

[2022-01-22 16:11] smlambert commented on #3019
Closed via #3044

[2022-01-22 16:11] #3019 closed

[2022-01-22 16:17] smlambert commented on #3033
Closed via https://github.com/adoptium/aqa-tests/pull/3159

[2022-01-22 16:17] #3033 closed

[2022-01-22 16:18] llxia opened #3264 "Archive the metadata file for AQAvit certification use case"
In https://github.com/adoptium/TKG/issues/260, we will generate a metadata file for AQAvit certification use case. In this issue, we need to update the Jenkins pipeline to archive this file. Similar to archiveTestenvFile() in JenkinsfileBase:

https://github.com/adoptium/aqa-tests/blob/1ee46d349543e08b42714b40ab89107c7b9eb4dd/buildenv/jenkins/JenkinsfileBase#L884

[2022-01-22 18:52] yinggzz commented on #2693
Can I work on this if it hasn't been resolved? @smlambert

[2022-01-22 19:42] smlambert commented on #2693
Go for it @yinggzz !  ;)

[2022-01-22 21:21] gervaisj commented on #2681
@llxia I've been trying to get this done by basing the filtering by the parameter type (which is the most maintainable way imo), which in our case should be [`ParameterSeparatorDefinition`](https://javadoc.jenkins.io/plugin/parameter-separator/jenkins/plugins/parameter_separator/ParameterSeparatorDefinition.html) but the exposed `params` object provided to jenkins steps is devoid of any type infor

[2022-01-22 21:30] smlambert commented on #3244
@JeromeJu - we can disable this test target https://github.com/adoptium/aqa-tests/blob/master/perf/renaissance/playlist.xml#L262-L272 on the 2 solaris platforms

by adding a `<disables>` block (see this documentation for details: https://github.com/adoptium/aqa-tests/blob/master/doc/userGuide.md#exclude-a-test-against-specific-platform

[code]

[2022-01-22 21:30] llxia opened #3269 "Set failIfNoResultsValue to true for all types of test jobs"
We should set failIfNoResultsValue to true for all types of test jobs:

Remove the following logic:
https://github.com/adoptium/aqa-tests/blob/1ee46d349543e08b42714b40ab89107c7b9eb4dd/buildenv/jenkins/JenkinsfileBase#L681-L683

Test:
- set PARALLEL=None
- set PARALLEL=Dynamic and NUM_MACHINES=2

[2022-01-22 22:56] gervaisj commented on #2681
The goal of this issue was not only to remove the parameters from link, but to correct the display of the form when clicking on the link (separators and help text have text boxes next to them).

![image](https://user-images.githubusercontent.com/50028573/150658019-0eee996c-f51f-4785-a9aa-149b810740fc.png)

https://github.com/adoptium/aqa-tests/pull/3273 fixes part of the issue by removing the para

[2022-01-22 23:01] #2681 closed

[2022-01-22 23:22] gervaisj commented on #2227
@smlambert I'll take the issue.

Regarding this:

No `_XL` platforms seem to get triggered (see `all` grinder runs below). Looking at the code confirms this.

![image](https://user-images.githubusercontent.com/50028573/150658561-036a3986-37fc-45c4-911c-fd6c1cc118ad.png)

[2022-01-22 23:25] smlambert commented on #2227
Ok great, re: _XL builds, they should no longer be included (ensure to double-check using SDK_RESOURCE=releases and JDK_IMPL=openj9).

[2022-01-22 23:29] gervaisj commented on #2227
I'll check!

[2022-01-22 23:41] #2227 closed

[2022-01-22 23:51] amir-waheed commented on #3269
I would like to work on this issue.

[2022-01-22 23:54] YeeSkywalker commented on #1754
Hi there, could I try on this one?

[2022-01-24 09:17] jerboaa commented on #3250
The test spawns a `docker`/`podman` command. I'm not sure what would happen if that runs nested (already in a container). It would likely fail the container engine start command and skip in that case. The logs would tell.

[2022-01-24 09:18] jerboaa commented on #3250
Either way (even a falsely passing test on some setup), I wouldn't see a failing test of this as a blocking issue. Agreed.

[2022-01-24 13:51] Haroon-Khel commented on #3253
Rerunning on the machine it last passed on, test-docker-ubuntu2010-x64-3, https://ci.adoptopenjdk.net/job/Grinder/3263/console

[2022-01-24 15:54] sophia-guo opened #3277 "jdk_jfr tests fail on jdk17 windows32"
jdk/jfr/event/compiler/TestCodeCacheFull.java.TestCodeCacheFull
jdk/jfr/event/compiler/TestCompilerInlining.java.TestCompilerInlining
jdk/jfr/event/compiler/TestCompilerPhase.java.TestCompilerPhase https://github.com/adoptium/aqa-tests/issues/3045
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/26/#showFailuresLink

jdk/jfr/event/compiler/TestCodeCacheF

[2022-01-24 15:57] sophia-guo commented on #3045
same on jdk17

[2022-01-24 16:22] sophia-guo opened #3278 "Exclude 2 vector tests on win32 for jdk17"
jdk/incubator/vector/Byte256VectorLoadStoreTests.java
jdk/incubator/vector/Byte512VectorLoadStoreTests.java

failed the job https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/26/#showFailuresLink with known issue https://github.com/adoptium/aqa-tests/issues/2874

To exclude: adding two exclusion statements in https://github.com/adoptium/aqa-tests/blob/mast

[2022-01-24 16:31] sophia-guo opened #3279 "vector issue on jdk17 win32"
jdk/incubator/vector/Short256VectorTests.java.Short256VectorTests
jdk/incubator/vector/ShortMaxVectorTests.java.ShortMaxVectorTests

Both tests failed the job with error:

[code]
https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/26/consoleFull

[2022-01-24 17:06] Haroon-Khel commented on #3249
Rerunning in grinder https://ci.adoptopenjdk.net/job/Grinder/3268/console

[2022-01-24 17:26] #2693 closed

[2022-01-24 17:50] LizyBbethy commented on #3061
@sophia-guo
1. do these qualify  under the # jdk_management ?
2. are these to be excluded on all openjdks (8 -18)?

[2022-01-24 20:03] sophia-guo commented on #3061
@LizyBbethy

 Under jdk_tools

yes, 8, 11, 17

[2022-01-24 20:22] sophia-guo opened #3282 "exclude tools/jlink/JLinkReproducibleTest.java on aix jdk17"
tools/jlink/JLinkReproducibleTest.java failed for known jbs issue https://bugs.openjdk.java.net/browse/JDK-8217166, which should be excluded under #jdk_tools

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_ppc64_aix_testList_2/20/#showFailuresLink

[2022-01-24 21:55] #3278 closed

[2022-01-24 22:38] Mesbah-Alam commented on #3077
Another instance of this issue :  https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_ibm_sanity.jck_s390x_zos_Nightly/283.

[2022-01-24 22:52] llxia commented on #3077
Re https://github.com/adoptium/aqa-tests/issues/3077#issuecomment-1020621500,
Console output:
[code]

It looks like TAP file did not get copied successfully from child test jobs. They all timed out `Cancelling nested steps due to timeout`.
Maybe we should set [failIfNoResults](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L988) to false

Also, @AdamBrousseau I

[2022-01-25 11:36] Haroon-Khel commented on #3249
The same test fails for sparc solaris and ppc linux https://github.com/adoptium/aqa-tests/issues/3254 and https://github.com/adoptium/aqa-tests/issues/3247

[2022-01-25 13:23] Haroon-Khel commented on #3242
Rerunning xSolaris failures https://ci.adoptopenjdk.net/job/Grinder/3274/console

[2022-01-25 13:25] Haroon-Khel commented on #3251
Rerunning on build-1 https://ci.adoptopenjdk.net/job/Grinder/3275/console

[2022-01-25 14:07] llxia commented on #3244
I believe this issue was closed accidentally. We only excluded the test, but the original issue is not resolved.

[2022-01-25 14:53] Haroon-Khel commented on #3251
Passes on build-osuosl-1 https://ci.adoptopenjdk.net/job/Grinder/3275/console. Possible infra issue. Rerunning again on test-osuosl-72-1 to confirm https://ci.adoptopenjdk.net/job/Grinder/3278/console

[2022-01-25 15:00] smlambert opened #3286 "Archive TAP files during post stage of Jenkins test pipeline"
We currently use TAP (Test Anything Protocol) files to determine state of test targets, and use the TAP Jenkins plugin to view them in a Jenkins job.  As those files will also be used as part of AQAvit certification, we should properly archive them during the [post stage](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L649) of our test pipeline.

In the case whe

[2022-01-25 15:36] smlambert commented on #3242
Some of the failures in this list look like issues with running some of the tools and sh scripts on these platforms.  It may be useful to log onto the machines and try to run the scripts directly to see how they do.  We have had the situation before where openjdk tests that are shell scripts are not written with solaris in mind and do not run well.  If this is the case with some failures, we shoul

[2022-01-25 15:37] jiekang commented on #3253
@Haroon-Khel @smlambert

The deep history log provides a dump when the timeout occurs:
https://trss.adoptium.net/output/test?id=61e848cba7df1a2924028e9a

TestCompilerCompiles has:
[code]
which is the test waiting for the request to compile the method via WhiteBox.

TestShutdownEvent has:
[code]
where it's waiting on the code to actually start up the subprocess. However the stdout has:

[code]

So

[2022-01-25 15:42] Haroon-Khel commented on #3251
Transferred over to infrastructure repo https://github.com/adoptium/infrastructure/issues/2456

[2022-01-25 15:42] #3251 closed

[2022-01-25 15:53] smlambert commented on #3253
Thanks for this assessment @jiekang - based on it and the fact that this test passes intermittently on some machines (test-docker-ubuntu2010-x64-3 has both passed and failed before which also potentially indicates infra/test issues), we will not block the release on these failures, but indeed we should figure out which subprocess is stuck and why...

@Haroon-Khel - could it be the case that there

[2022-01-25 16:53] Haroon-Khel commented on #3253
On test-docker-ubuntu2010-x64-3 there was a rogue Test_openjdk17_hs_extended.openjdk_x86-64_linux_testList_1 process from jan 18 still running.

Also, I noticed that test-docker-ubuntu2010-x64-3 is actually test-docker-fedora35-x64-1, I replaced test-docker-ubuntu2010-x64-3 with test-docker-ubuntu2110-x64-1 a few weeks back, and I must have forgotten to remove the jenkins node for test-docker-ubun

[2022-01-25 21:36] smlambert commented on #3250
https://github.com/openjdk/jdk11u/blob/master/doc/testing.md#docker-tests

[2022-01-25 21:51] smlambert commented on #3236
Closing this as the issue is now tracked under https://github.com/adoptium/infrastructure/issues/2452

[2022-01-25 21:51] #3236 closed

[2022-01-25 22:01] smlambert commented on #2841
Created https://ci.adoptopenjdk.net/job/Machine-Reservation job as a placeholder for a pipeline described in this issue.

@norbline - if you have not already done so, please rebase your branch (described in [Contributing.md](https://github.com/adoptium/aqa-tests/blob/master/Contributing.md)) in preparation to begin work on this issue.  I believe @llxia will share some code with you relating to Mac

[2022-01-25 22:37] smlambert opened #3289 "Archive Dockerfile generated during external test runs"
We auto-generate Dockerfiles as part of the external test runs.  We should archive the Dockerfile as an artifact to the Jenkins test job (during the [post stage](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L649) of the test pipeline).  This will help us debug issues as we encounter them.

[2022-01-26 13:20] Haroon-Khel commented on #3242
While testing javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh.BadPluginConfigurationTest on build-packet_esxi-solaris10u11-x64-1 in an ssh environment, it still fails with

`jdk/jdk/test/javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh: syntax error at line 183: PLUGINDST_DIR=$ unexpected`

https://github.com/adoptium/jdk8u/blob/master/jdk/test/javax/imageio/spi/

[2022-01-26 14:01] jiekang commented on #3242
@Haroon-Khel I would run the commands manually outside of the script in a ksh instance to confirm their correctness. Based on the error and my quick read of ksh syntax, I'd suspect the mktemp command is failing, but I don't have ideas on what might cause it to failure. Permissions of the user running jtreg? No space in /tmp?

[2022-01-26 14:25] #3061 closed

[2022-01-26 15:31] sophia-guo commented on #3289
My Draft https://github.com/adoptium/aqa-tests/compare/master...sophia-guo:Docker?expand=1

Need more work

[2022-01-26 17:29] sxa commented on #3242
(Apologies - I typed this immediately after our call earlier but apparently didn't hit the "comment" button)

This will be because the test is running under `sh` which does not support tthe `$()` syntax. I would normally suggest replacing it with backticks e.g.
[code]
but that will probably fall foul of the linter, so perhaps we'd have to feed it to a different shell (I'll be honest I throught we

[2022-01-26 17:31] smlambert opened #3291 "AQAvit Meeting: Feb 9, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&ctz=America%2FToronto), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ic

[2022-01-26 17:31] smlambert commented on #3212
Meeting [recording link](https://bluejeans.com/s/J0TmvsGYUcz)

Meeting Minutes:
- Shelley and Lan gave a presentation and demo of AQAvit certification
- Discussion on the current open-source programs
  - midway in Outreachy term, Tether team needing to reprioritize on some issues in order to be able to make quicker progress, Perforama team will meet on Thursday to discuss the big item on the roadm

[2022-01-26 17:31] #3212 closed

[2022-01-26 17:34] jiekang commented on #3242
Can machines be setup with ksh? That's the intended shell for this script and would reduce occurrences of these issues.

[2022-01-26 17:42] sophia-guo commented on #2246
one more java/net/MulticastSocket/SetOutgoingIf.java

[2022-01-26 18:19] sophia-guo opened #3292 "10 jdk_net tests failed with ` Can't assign requested address ` on jdk17 aix"
10 tests failed with Execution failed: `main' threw exception: java.net.BindException: Can't assign requested address   on jdk17 aix.

It happened on test aix machine test-osuosl-aix715-ppc64-3

https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_ppc64_aix_testList_0/20/#showFailuresLink

[code]

java/net/DatagramSocket/Send12k.java.Send12k
java/net/MulticastSocket/IPMulticastIF.jav

[2022-01-26 20:54] #3282 closed

[2022-01-26 22:53] yinggzz commented on #3264
I'd like to take this one

[2022-01-27 00:22] smlambert commented on #3264
You do not have to wait, if you have PRs in the queue waiting for review, you most certainly can be working on a next issue.  :) thanks @yinggzz !

[2022-01-27 07:39] aixtools commented on #2246
Well, my OCA has been processed - so I'll be in a position to look at upstream tests.

So, to aid my focus - please be clear wither these are 'upstream' tests (e.g., PingTest) or adoptium managed (aqua) tests.

Should I ever understand the cause - then I know where to post the patch request.

[2022-01-27 16:34] llxia commented on #2841
TODO:

- [ ] create Jenkins job Machine-Reservation https://ci.adoptopenjdk.net/view/Test_grinder/job/Machine-Reservation/

- [ ]  checkin initial Machine-Reservation script in aqa-tests repo (Lan)

- [ ] For now, If RELATED_NODES is provided and TARGET=IdleMicrobenchmark_HS, trigger Machine-Reservation job with RELATED_NODES and TIME_LIMIT

- [ ] Update IdleMicrobenchmark_HS to echo RELATED_NODES

[2022-01-27 16:56] smlambert commented on #2841
Hi @norbline - can you add a comment in this issue, so I can assign it to you?

Grinder_Perforama job is created for you to use to help test your work: https://ci.adoptopenjdk.net/job/Grinder_Perforama/

When you "Build with parameters, you should see the new parameter RELATED_NODES at the bottom just above the Build button.

[2022-01-27 17:02] norbline commented on #2841
Thanks, Shelley. All good to get on

On Thu, Jan 27, 2022, 5:56 PM Shelley Lambert ***@***.***>
wrote:

[2022-01-27 18:55] sophia-guo commented on #3277
Failures are not machine related.
https://ci.adoptopenjdk.net/job/Grinder/3315/
https://ci.adoptopenjdk.net/job/Grinder/3316/

Tests passed with earlier releases
https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.1%2B12/OpenJDK17U-jdk_x86-32_windows_hotspot_17.0.1_12.zip
https://ci.adoptopenjdk.net/job/Grinder/3310/
https://ci.adoptopenjdk.net/job/Grinder/3311/

Both test ca

[2022-01-27 18:57] sophia-guo commented on #3279
Failures are not machine related.
https://ci.adoptopenjdk.net/job/Grinder/3314/
https://ci.adoptopenjdk.net/job/Grinder/3317/

Tests passed with earlier releases
https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.1%2B12/OpenJDK17U-jdk_x86-32_windows_hotspot_17.0.1_12.zip
https://ci.adoptopenjdk.net/job/Grinder/3312/
https://ci.adoptopenjdk.net/job/Grinder/3313/

[2022-01-28 02:52] D-D-H commented on #2985
jdk/jfr/event/io/TestInstrumentation.java is also unstable.
Detail: https://bugs.openjdk.java.net/browse/JDK-8202142

[2022-01-28 03:17] smlambert commented on #3277
Running same test case (jdk/jfr/event/compiler/TestCompilerInlining) against azul win32 build https://cdn.azul.com/zulu/bin/zulu17.32.13-ca-jdk17.0.2-win_i686.zip in https://ci.adoptopenjdk.net/job/Grinder/3342/ indicates a passing run.

Given this passed last release and therefore is a regression for this release, we will need to understand why this is now consistently failing.

[2022-01-28 03:22] smlambert commented on #3279
Also running same test against a different vendor build (https://cdn.azul.com/zulu/bin/zulu17.32.13-ca-jdk17.0.2-win_i686.zip in https://ci.adoptopenjdk.net/job/Grinder/3343) to see how it behaves.

[2022-01-28 12:03] Haroon-Khel commented on #3292
Ref https://github.com/adoptium/aqa-tests/issues/3251 and https://github.com/adoptium/infrastructure/issues/2456
This might be an infra issue.

Try rerunning the failed tests on build-osuosl-aix71-ppc64-1. I didn't expect them to fail on build-osuosl-aix71-ppc64-2, but they might pass on -1

[2022-01-28 12:32] Haroon-Khel opened #3297 "hotspot_jre_2 failures jdk8 arm32 hotspot"
3 tests from hotspot_jre_2 in the extended openjdk test suite fail on jdk8 arm32
Failure link https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_arm_linux_testList_1/27/
Trss link https://trss.adoptium.net/output/test?id=61f04ed3a7df1a292406cf69

`compiler/gcbarriers/PreserveFPRegistersTest.java.PreserveFPRegistersTest`
Error log
[code]

`gc/TestMemoryMXBeansAndPoolsPresence.java.Te

[2022-01-28 13:56] sophia-guo commented on #3292
Those tests also failed on build aix machine build-osuosl-aix71-ppc64-2 though with different error message.
https://ci.adoptopenjdk.net/job/Grinder/3282/

[2022-01-28 15:51] sophia-guo opened #3299 "Fix how external tests clean up Docker images"
External test jobs have been temporarily disabled from upstream pipeline. However if build job is triggered directly (not by pipeline) with default test list ( "sanity.openjdk", "sanity.system","extended.system", "sanity.perf", "sanity.external", https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk11u/job/jdk11u-linux-x64-openj9/configure) https://ci.adoptopenjdk.net/job/build-scripts/jo

[2022-01-28 16:36] Haroon-Khel commented on #3297
Rerunning `gc/g1/mixedgc/TestOldGenCollectionUsage.java` with -XX:+UseG1GC https://ci.adoptopenjdk.net/job/Grinder/3363/console

[2022-01-28 16:48] Haroon-Khel commented on #3297
Still fails with the same error. Looking back at the trss link, `-XX:+UseG1GC` was already being used as an option
[code]

[2022-01-28 17:13] Haroon-Khel commented on #3297
https://bugs.openjdk.java.net/browse/JDK-8028772 is the closes I could find to a relevant upstream issue; it is simply a discussion of whether G1GC tests should be excluded. Not sure if that is enough to consider these failures to be non blocking

[2022-01-28 18:23] Haroon-Khel opened #3300 "jdk_util_2 tests fail on jdk8 arm32 hotspot"
Failure link
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_arm_linux/324/testReport/
Trss link
https://trss.adoptium.net/output/test?id=61f04de2a7df1a292406cca5

The following tests from jdk_util_2 in the sanity openjdk suite fail for jdk8 arm32 linux hotspot

[code]

Twice I've tried rerunning the tests on the last passed machine, build-equinix-ubuntu1604-armv7l-1, but the grind

[2022-01-28 18:28] Haroon-Khel commented on #3300
Duplicate of https://github.com/adoptium/aqa-tests/issues/3118 which is an infra issue, https://github.com/adoptium/infrastructure/issues/2376

[2022-01-28 18:28] #3300 closed

[2022-01-28 19:09] Haroon-Khel opened #3301 "jdk_jfr_2 fail on jdk8 arm32 linux"
Initial failure link
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_arm_linux_testList_2/27/testReport/

Trss link
https://trss.adoptium.net/output/test?id=61f04ecaa7df1a292406cf24

Grinder Rerun on test-sxa-armv7l-ubuntu2004-odroid-2
https://ci.adoptopenjdk.net/job/Grinder/3328/testReport/

Though the rerun was aborted, all of the jdk_jfr_2 tests ran.

The following test failur

[2022-01-28 19:32] Haroon-Khel commented on #3301
`jdk/jfr/event/compiler/TestCompilerPhase.java.TestCompilerPhase`
`jdk/jfr/event/gc/collection/TestGCCauseWithG1ConcurrentMark.java.TestGCCauseWithG1ConcurrentMark`
`jdk/jfr/event/gc/collection/TestGCCauseWithG1FullCollection.java.TestGCCauseWithG1FullCollection`
Related upstream issue https://bugs.openjdk.java.net/browse/JDK-8230707

`jdk/jfr/event/gc/detailed/TestEvacuationFailedEvent.java.TestE

[2022-01-28 22:14] llxia commented on #3252
Yes, it is the permission issue.  We should use Jenkins API, not URL
[code]

[2022-01-29 00:42] smlambert commented on #2841
<img width="1658" alt="Screen Shot 2022-01-28 at 7 40 50 PM" src="https://user-images.githubusercontent.com/2836948/151639674-c92da0c3-5367-4aa3-9db9-6f1890da9dba.png">

[2022-01-29 20:28] gervaisj commented on #2698
@llxia @smlambert Should this still be open? https://github.com/adoptium/aqa-tests/pull/2858 was merged in and the parser is functional (#2910 and #2905 track further development already)

[2022-01-30 04:56] smlambert commented on #2698
Closed via https://github.com/adoptium/aqa-tests/pull/2858

[2022-01-30 04:56] #2698 closed

[2022-01-31 11:44] sxa commented on #3242
They all have `ksh` and `bash` available and in general I would expect the scripts to be fine with either, but for some reason the automation is not feeding them to the correct shell. We may have lost some of the configuration that helped secondary plaltforms such as Solaris from executing properly in recent months (Seen elsewhere...) which has caused this.

@Haroon-Khel Did you manage to retry th

[2022-01-31 11:49] sxa commented on #3301
@Haroon-Khel Can you confirm whether these also fail against the last GA release?

[2022-01-31 11:50] sxa commented on #3297
Do those tests fail when run against the last GA release? (8u312)?

[2022-01-31 12:16] Haroon-Khel commented on #3242
`Bash` and `ksh` are able to run the falling command successfully, that is to create the temp directory. I've just now found that running the script with `sh` causes the failure

[code]
(Ignore the cp errors since I'm running this script outside of a test suite)

So I guess the jtreg runs the script with `sh`? An exception should be made for Solaris

[2022-01-31 12:22] Haroon-Khel commented on #3242
In the jtreg test report, it suggests the shell used is user specificed
[code]

[2022-01-31 12:24] sxa commented on #3242
The question is therefore where do we specify it? :-)

[2022-01-31 12:29] Haroon-Khel commented on #3301
Running https://ci.adoptopenjdk.net/job/Grinder/3371/console

[2022-01-31 12:45] Haroon-Khel commented on #3297
Rerunning with last GA release

`compiler/gcbarriers/PreserveFPRegistersTest.java.PreserveFPRegistersTest`
https://ci.adoptopenjdk.net/job/Grinder/3375/console

`gc/TestMemoryMXBeansAndPoolsPresence.java.TestMemoryMXBeansAndPoolsPresence`
https://ci.adoptopenjdk.net/job/Grinder/3376/console

`gc/g1/mixedgc/TestOldGenCollectionUsage.java`
https://ci.adoptopenjdk.net/job/Grinder/3377/console

[2022-01-31 13:14] Haroon-Khel commented on #3242
Same error. I used both `bash` and `ksh`

[2022-01-31 13:18] gervaisj commented on #2910
I'd like to work on this.

@llxia transforming the platform and eliminating the map should be fairly easy, but there's one tricky thing: currently, when the platform is a `*-all` (`generic-all`, `linux-all`, etc.), we use the map to expand it to a list of "concrete platforms" (`aarch64_linux`, `x86-64_linux`, etc.).

1. Should I copy the same platforms chosen when we run Grinder with PLATFORM=all

[2022-01-31 13:34] smlambert commented on #3242
re: https://github.com/adoptium/aqa-tests/issues/3242#issuecomment-1025686169 - the default shell for jenkins user profile on that system (guessing this does not currently get explicitly set via ansible when a machine is initially set up?).

[2022-01-31 13:51] sxa commented on #3242
Looks like [we do fix it to `bash`](https://github.com/adoptium/infrastructure/blob/4e72854b2635357d923daf59636c74218d52a48f/ansible/playbooks/AdoptOpenJDK_Unix_Playbook/roles/Jenkins_User/tasks/main.yml#L25). I thought we left it as the OS default :-)

OK that really needs to be fixed then. I thought we'd resolved all of those in the past.

[2022-01-31 13:56] sxa commented on #3301
@smlambert These seem to be failing in the above re-run too (Still going so not conclusive that it's the same failure) On the basis that it's not a regression I suspect we should not consider this a stop-ship and possibly get the failures investigated post-release the failures later.

[2022-01-31 14:33] Haroon-Khel commented on #3297
The warning and error for `gc/g1/mixedgc/TestOldGenCollectionUsage.java` are interesting.
[code]
If the test cannot find G1 because it has been disabled, then shouldn't this test be excluded?

[2022-01-31 17:50] jiekang commented on #3242
The jtreg shell action looks to execute with 'sh': https://github.com/openjdk/jtreg/blob/17bbd21a805ff0ee3a7b197613a899bd9b4b45c5/src/share/classes/com/sun/javatest/regtest/exec/ShellAction.java#L273

But I doubt this the only test that mentions being written for 'ksh'. I'm hoping there's more to it, or maybe I'm looking at the wrong place. I imagine we can modify it to run with a different shell,

[2022-01-31 17:52] sxa commented on #3242
For the purposes of this release have we verified that all the failing tests on Solaris X64 and SPARC pass when run through an alternate shell?

[2022-01-31 17:52] smlambert commented on #3297
re: https://github.com/adoptium/aqa-tests/issues/3297#issuecomment-1025762334 - we will **not block release** due to these failures (as its shown, not a regression, that we have already released last GA binaries that fail in the same way).

This isn't to say we do not need to do further investigation to understand what next action to take, as these will continue to fail.   I have not looked closel

[2022-01-31 18:15] Haroon-Khel commented on #3242
I have been running the remaining failing tests on x64 solaris in both `bash` and `ksh` shell environment. They still fail since jtreg insists on running the tests using `sh`
I'll run them on a sparc solaris machine right now

[2022-01-31 18:46] Haroon-Khel commented on #3242
While running the test javax/imageio/spi/AppletContextTest/BadPluginConfigurationTest.sh.BadPluginConfigurationTest in a `bash` environment (still on x64), Is get this stack trace

[code]
But I do not think this is a failure/error since the test still passes

[code]

[2022-01-31 18:55] Haroon-Khel commented on #3242
Re compiler/floatingpoint/8207838/TestFloatSyncJNIArgs.sh.TestFloatSyncJNIArgs

https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/2544d2a351eca1a3d62276f969dd2d95e4a4d2b6/hotspot/test/compiler/floatingpoint/8207838/TestFloatSyncJNIArgs.sh#L44 suggests that this test is only to be run on linux aarch64

Either way, the test returns
`"Test passed; only valid for linux-aarch64"`

[2022-01-31 18:59] Haroon-Khel commented on #3242
Test compiler/floatingpoint/8165673/TestFloatJNIArgs.sh.TestFloatJNIArgs (x64 solaris) passes too

[code]

[2022-01-31 19:14] Haroon-Khel commented on #3242
I got the same exact result for sparcv9.

@sxa I don't think any of the tests in this issue are now blocking solaris, both x64 and sparc

[2022-02-01 11:52] Haroon-Khel commented on #3297
@ShelleyLambert Looking at https://github.com/AdoptOpenJDK/openjdk-jdk8u/blob/2544d2a351eca1a3d62276f969dd2d95e4a4d2b6/hotspot/test/gc/g1/mixedgc/TestOldGenCollectionUsage.java#L82, nothing suggests that the option is being ignored. I think that option is being ignored by the jdk and not by the test code.

Do we know why G1 GC is disabled?
`12:56:32  OpenJDK Client VM warning: G1 GC is disabled in

[2022-02-01 12:17] sxa commented on #3301
@smlambert On the basis of your comment in https://github.com/adoptium/aqa-tests/issues/3297#issuecomment-1026048211 would you agree that the same applies here and since it's not a regression we should not block this release?

[2022-02-01 13:21] smlambert commented on #3301
re: https://github.com/adoptium/aqa-tests/issues/3301#issuecomment-1026782500 - agree, non-blocking for the release, but want to have a post-release sweep of these remaining failures to properly raise issues in the repos where the (hopefully soon to be determined) core problem needs to be fixed.

[2022-02-01 13:53] smlambert commented on #3297
re: https://github.com/adoptium/aqa-tests/issues/3297#issuecomment-1026761384 - sounds like we need a smoke test and a confirmation on which platforms/versions that feature is available in (much like we do for ZGC and Shenandoah features and smoke tests).  If its not available on this platform, tests expecting it should certainly be excluded (and expectation it would happen in upstream problem lis

[2022-02-01 13:55] Haroon-Khel commented on #3297
After @sxa's suggestion, rerunning `gc/g1/mixedgc/TestOldGenCollectionUsage.java` with https://github.com/adoptium/aarch32-jdk8u as the `JDK_REPO` parameter https://ci.adoptopenjdk.net/job/Grinder/3394/console

[2022-02-01 15:22] Haroon-Khel commented on #3297
The test still fails, but with an error which suggests that it was able to actually run the test

[code]
So perhaps this test does not need to be excluded, but we do need to make sure that the right `JDK_REPO` parameter is used

[2022-02-01 15:36] smlambert commented on #3297
Yes, as discussed and lost in a Slack thread somewhere, because this platform is built from a special repo, the build pipeline should get triggered with USE_TESTENV_PROPERTIES=false, so that the test pipelines will use the correct JDK_REPO and the the RELEASE tag of it.

[2022-02-01 19:47] LongyuZhang commented on #3299
Some more details about the external tests failure:
- the docker image for a specific test (e.g. quarkus_quickstarts-test) was built successfully (e.g. adoptopenjdk-quarkus_quickstarts-test:11-jdk-ubuntu-openj9-full), but when building the next test (e.g. scala), its [`docker prune`](https://github.com/adoptium/aqa-tests/blob/5a03ab34317f557683252e38c35f675ae673bafa/external/build.xml#L54-L58) ste

[2022-02-01 23:30] gervaisj commented on #2910
@llxia just poking for the comment above https://github.com/adoptium/aqa-tests/issues/2910#issuecomment-1025730571 I'd like some feedback before opening any PR.

[2022-02-02 02:59] llxia commented on #2910
Thanks @gervaisj
1. yes, we can set PLATFORM=all and let Jenkins script handle it
2. Do you see any `{ARCH}_{OS}` format in the exclude list? If you do, can you list them? It may be a mistake.

yes, that is correct.

3. Yes, please feel free to open separate PR for refactoring. IMO, it is better to have separate PRs in this case.

[2022-02-02 05:37] YeeSkywalker commented on #3219
Hi there, it would be greatly appreciated if you could assign this to me.

[2022-02-02 12:44] Haroon-Khel commented on #3301
Rerunning with https://github.com/adoptium/aarch32-jdk8u as the `JDK_REPO` https://ci.adoptopenjdk.net/job/Grinder/3398/console

[2022-02-02 13:24] smlambert commented on #3291
Link updated.

[2022-02-02 13:38] llxia commented on #3299
Steps:
- remove `depends="docker_prune"` in https://github.com/adoptium/aqa-tests/blob/master/external/build.xml#L60
- add `docker_prune ` in https://github.com/adoptium/aqa-tests/blob/master/external/build.xml#L41
- run Grinder with TARGET=sanity.external on xlinux

[2022-02-02 14:23] gervaisj commented on #2910
@llxia

1. I was proposing, when we see `linux-all` in the exclude file, to set `PLATFORM=linux-all` in the output JSON (same for `windows-all`, `macos-all`, `aix-all`, `sunos-all`), and update Jenkins to handle these sorts of values, but we should always set `PLATFORM=all` regardless of the requested OS?
2. If I understood our format correctly, all the problems I saw were in "ProblemList_openjdk1

[2022-02-02 16:50] LizyBbethy commented on #3299
i can take this on

[2022-02-03 16:10] #3214 closed

[2022-02-03 18:07] #3264 closed

[2022-02-04 12:19] Haroon-Khel commented on #3301
The same tests failed. The tests
[code]
still failed because they could not find G1GC
[code]
Much like https://github.com/adoptium/aqa-tests/issues/3297#issuecomment-1026962321, I wouldn't expect these tests to hit this error when supplied with https://github.com/adoptium/aarch32-jdk8u as the `JDK_REPO`

[2022-02-04 16:28] #3299 closed

[2022-02-04 16:31] sophia-guo opened #3319 "Target sanity.external(extended.external) with hotspot and no parallel build get the build error with external_custom project"
Target sanity.external with hotspot and no parallel build get the build error with external_custom project, which is found by grinder:
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3454/console

[code]

This only happened to hotspot as build process is disable for openj9 and ibm and only happened when target is sanity.external or extended.external without setting EXTERNAL_CUSTOM_REPO

[2022-02-04 16:44] smlambert commented on #3319
@LizyBbethy - if you can take a look at this next, it will be great!

[2022-02-04 17:24] LizyBbethy commented on #3319
i am up for it

[2022-02-04 17:25] jiekang commented on #3277
The hs_err for TestCodeCacheFull has:

[code]

This is a failure in the WhiteBox, but may be caused by an issue in the VM.

For TestCompilerInlining, it is failing at level 2 of inlining:
[code]

This one is a bit strange in that the test checks what levels are available before trying them, so there's something strange with WhiteBox and/or the VM again. All the other JFR tests I've analyzed have b

[2022-02-04 17:35] sophia-guo opened #3320 "Some external projects (wycheproof, scala) Dockefile can't be generated correctly."
Some external projects ( wycheproof) Dockefile can't be generated correctly, some contents are missing.

For example: wycheproof need bazel installed however there is no installation step when build the image by dockerfile.
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_Tether/73/console

Believe some information are missing in [set_test_info() ](https://github.com/adoptium/aqa-tests/bl

[2022-02-04 17:38] LizyBbethy commented on #3319
@smlambert @sophia-guo  does this call for setting some default values for the External_custom app  to enable it work ?

[2022-02-04 18:12] smlambert commented on #3319
Yes that is definitely one way to approach it (and it can be the first way we approach it).

@LizyBbethy - can you add some code in the [external_custom/build.xml](https://github.com/adoptium/aqa-tests/blob/master/external/external_custom/build.xml#L12-L18) file which checks, if EXTERNAL_CUSTOM_REPO is not set, then set EXTERNAL_CUSTOM_REPO=https://github.com/adoptium/bumblebench and then run a Gr

[2022-02-04 20:37] #3163 closed

[2022-02-05 00:31] smlambert commented on #3320
yes, thanks for raising the issue, these were identified as part of https://github.com/adoptium/aqa-tests/issues/3187

also, we should close related / dup reports for those failing tests:
https://github.com/adoptium/aqa-tests/issues/1211
https://github.com/adoptium/aqa-tests/issues/1824
https://github.com/adoptium/aqa-tests/issues/3153

As a note, we should remind everyone to check for dups before

[2022-02-05 16:45] LizyBbethy commented on #3320
i am up for it

[2022-02-07 13:55] #3242 closed

[2022-02-07 15:23] sophia-guo commented on #3181
Closed as #3235 is merged.

[2022-02-07 15:23] #3181 closed

[2022-02-07 15:39] andrew-m-leonard commented on #2877
I believe this maybe an Alpine build issue, I am suspecting libjawt.so is incorrectly linked with libawt_xawt.so instead of linawt_headless.so.

[2022-02-07 22:49] sophia-guo opened #3325 "Enhance the archive***File() with filename parameter"
With the requirements expand we have three functions to archive files.
archiveSHAFile()
archiveTestenvFile()
archiveAQACertFile()

The only difference of those function is the specific file we need to archive, which can be done by adding one function parameter. Like:

archiveFile(fileName) {
}

This way to reduce the redundant and be easy to maintain and expand.

[2022-02-07 22:54] #3252 closed

[2022-02-08 00:34] #3320 closed

[2022-02-08 11:59] sxa commented on #3232
I

I believe these are likely being caused as a result of the `DISPLAY` variable being set despite this being a headless build. We should look at inhibiting the explicit setting of that variable in the headless case.

[2022-02-08 12:14] andrew-m-leonard commented on #3232
Suspect we need a fix for Alpine here: https://github.com/adoptium/aqa-tests/blob/b3c533757347c4fdc6f9a01fc7cb503bb838dd70/buildenv/jenkins/JenkinsfileBase#L619

[2022-02-08 13:06] smlambert commented on #3232
auto exclude test jdk_tools plat=x86-64_alpine-linux

[2022-02-08 13:16] smlambert opened #3327 "Update Triage.md documentation"
As reported in https://github.com/adoptium/adoptium/issues/104#issuecomment-1016365317, the Triage documentation includes out of date information that should be removed.

https://github.com/adoptium/aqa-tests/blob/master/doc/Triage.md#trss-parser-for-release-builds section can be removed and replaced with the guidance to use the TRSS release summary report button on trss.adoptium.net as a way to s

[2022-02-08 13:19] Haroon-Khel commented on #3232
@andrew-m-leonard
You're right. I just ran two grinders, the first does not set DISPLAY (https://github.com/Haroon-Khel/openjdk-tests/blob/e5f12c17d75a6baece5bb4919cab5cedc021a823/buildenv/jenkins/JenkinsfileBase#L619) on alpine and the second does

https://ci.adoptopenjdk.net/job/Grinder/3525/console
https://ci.adoptopenjdk.net/job/Grinder/3526/console

The second grinder shows unsatisfied link e

[2022-02-08 13:27] Haroon-Khel commented on #3232
I imagine there are some headless tests, which do require DISPLAY to be set, that **do** pass on alpine linux? If so, preventing DISPLAY from being set for all tests on alpine would not be an adequate solution. Unless I am mistaken

[2022-02-08 13:46] andrew-m-leonard commented on #3232
@Haroon-Khel So looks like the core is coming from:
[code]
Which is a native C/C++ issue, which would likely cause a core I guess

[2022-02-08 15:10] sxa commented on #3232
`DISPLAY` is for a graphical X11 display. That will not typically exist on Alpine, so we should not be running any tests that require it.

[2022-02-08 15:12] sxa commented on #3232
@andrew-m-leonard While it is happening in the same tests, the core issue (independent of the `DISPLAY` setting) should probably be covered under https://github.com/adoptium/infrastructure/issues/2320

[2022-02-08 16:21] #1754 closed

[2022-02-08 16:35] sxa commented on #3279
@smlambert Vector test suite failed in a re-build of 17.0.1 at https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/29/console

[2022-02-08 17:12] jiekang commented on #3277
At this point I'd like to compare the configure output and build log output between a failed and successful release.

[2022-02-08 18:54] llxia commented on #3269
This issue is fixed via https://github.com/adoptium/aqa-tests/pull/3275

[2022-02-08 18:54] #3269 closed

[2022-02-08 18:55] llxia commented on #3077
The test pipeline is updated to set [failIfNoResults](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L988) to true https://github.com/adoptium/aqa-tests/pull/3275

[2022-02-08 18:55] #3077 closed

[2022-02-08 19:44] sophia-guo commented on #3217
Closed as job's done

[2022-02-08 19:44] #3217 closed

[2022-02-08 20:39] #2910 closed

[2022-02-08 21:50] Stergios13 commented on #3325
Hello. I can work on this if it is possible, please. Happy to help on this issue

[2022-02-09 00:17] smlambert commented on #3325
Definitely @Stergios13 - note that before we can merge any PR from you, you will need to create an Eclipse profile and sign the ECA (details [here](https://github.com/adoptium/documentation/blob/main/documentation-documentation/eca-sign-off.adoc)).

[2022-02-09 05:08] sophia-guo commented on #3319
if EXTERNAL_CUSTOM_REPO is set with default value build process should be fine.
However with the default set both build process and test running process are not necessary ( as not application we are interested in are tested). As external_custom is designed to be used by user specific( won't be necessary a part of regular run) skipping it might be a good solution.

To skip it we need skip it in bui

[2022-02-09 10:49] Stergios13 commented on #3325
Sure i will. Can you please navigate me to the file or files containing those three functions? i have trouble finding them. Thank you for assigning me!

[2022-02-09 11:04] #3215 closed

[2022-02-09 14:38] Haroon-Khel opened #3329 "java/net/httpclient/SpecialHeadersTest.java failure JDK-11.0.14.1+1 Possible regression"
The test java/net/httpclient/SpecialHeadersTest.java, from the extended openjdk suite, fails in the JDK-11.0.14.1+1 re spin on MacOS and both x64 and x32 windows

[code]

MacOS
Failure link https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_mac_testList_0/31/testReport/
TRSS link https://trss.adoptium.net/output/test?id=6203137ba7df1a29241fffe6
Grinder rerun https://ci.adopt

[2022-02-09 15:03] smlambert commented on #3325
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L688-L690
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L881-L912

[2022-02-09 15:41] sophia-guo commented on #3329
Rerun with aqa-tests master
Macos passed : https://ci.adoptopenjdk.net/job/Grinder/3553/console
Windows64: https://ci.adoptopenjdk.net/job/Grinder/3554/console
Windows32: https://ci.adoptopenjdk.net/job/Grinder/3556/console

[2022-02-09 15:51] sophia-guo commented on #3329
The failure is for aqa-tests release branch has not updated to cherry pick the patch for release [jdk-11.0.14.1-ga](https://github.com/openjdk/jdk11u/releases/tag/jdk-11.0.14.1-ga), close this.

@ShelleyLambert mentioned we will decide what to cherry pick and update the aqa-tests release branch.

[2022-02-09 16:09] sxa commented on #3329
Please let's not close issues until we have verified that we have a solution that definitely fixes the problem.

[2022-02-09 16:09] #3329 closed

[2022-02-09 16:28] smlambert commented on #3319
I think we should raise a separate issue for the removal of MachineInfo targets.

[2022-02-09 21:32] sophia-guo opened #3334 "Remove target MachineInfo in external/external_custom"
Target MachineInfo is used a placeholder in case that there is no test case in jenkins test job and fails the job.  external/external_custom is a customized external test for developer, which wouldn't be part of nightly or release run. So no need to keep this target.

Action: [remove MachineInfo in playlist.xml under external/external_custom](https://github.com/adoptium/aqa-tests/blob/master/exter

[2022-02-09 21:32] sophia-guo commented on #3319
Issue raised. https://github.com/adoptium/aqa-tests/issues/3334

[2022-02-09 21:36] renfeiw commented on #3319
In this case, the external/external_custom will NOT be compiled.

[2022-02-09 23:09] gervaisj commented on #3219
@YeeSkywalker To get started with the parsing, I think you can import this stuff in "JenkinsfileBase":

[code]

Then, from the docs, it seems something like this might work:

[code]

But then I don't know what `TestResult` and `TestSet` actually contain, so this page might be helpful: http://tap4j.sourceforge.net/apidocs/org/tap4j/model/TestResult.html

[2022-02-09 23:49] #2702 closed

[2022-02-10 04:41] sophia-guo opened #3336 "running test build with CLOUD_PROVIDER got `Scripts not permitted to use method jenkins.model.Jenkins getNode java.lang.String. Administrators can decide whether to approve or reject this signature`"
running test build with CLOUD_PROVIDER got `Scripts not permitted to use method jenkins.model.Jenkins getNode java.lang.String. Administrators can decide whether to approve or reject this signature`

[code]
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/399/console

Suppose need administrator @ShelleyLambert to approve the scripts https://github.com/adoptium/aqa-tests/pu

[2022-02-10 04:58] sophia-guo opened #3337 "Update the code for logic of USE_TESTENV_PROPERTIES"
Boolean parameter USE_TESTENV_PROPERTIES is used to decide use the environment variables defined in testenv.properties file or defined by user.

Currently the codes are scattered in different places, which make it hard to maintain and understand.

https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L32-L45
https://github.com/adoptium/aqa-tests/blob/master/buildenv/je

[2022-02-10 07:12] LizyBbethy commented on #3319
That implies the approach might not just be it

[2022-02-10 07:17] LizyBbethy commented on #3334
i am up for it

[2022-02-10 07:19] LizyBbethy commented on #3337
i am up for this one

[2022-02-10 14:06] jiekang commented on #3336
@smlambert

[2022-02-10 14:09] sxa commented on #3336
I've approved the use of `getNode` :-) If any more things are holding it up, feel free to open and post in #infrastructure in slack to get our attention on it.

[2022-02-10 14:10] #3336 closed

[2022-02-10 16:43] smlambert commented on #3334
@LizyBbethy - assigned to you now. 👍

[2022-02-10 18:16] smlambert opened #3339 "AQAvit Meeting: Feb 23, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&ctz=America%2FToronto), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ic

[2022-02-10 18:17] smlambert commented on #3291
Meeting [recording link](https://bluejeans.com/s/D79xe0lpmVQ)

Minutes:
- Quick call where Lan gives overview of CanOSP students areas of focus
- Upcoming OpenForce (openforce.tech) events (starting March 7th with a presentation, then mid March hackathon)

Next meeting: https://github.com/adoptium/aqa-tests/issues/3339

[2022-02-10 18:17] #3291 closed

[2022-02-10 19:42] #3334 closed

[2022-02-10 20:41] mikezhang1234567890 opened #3342 "Performance tests not applying JVM options"
When running a grinder, there is an option to set the `JVM_OPTIONS` or `EXTRA_OPTIONS` parameter to pass command line arguments to the JVM in the test. This is done by adding `$(JVM_OPTIONS)` in the command tag of a playlist.xml file like in [the idle_micro suite playlist.xml](https://github.com/adoptium/aqa-tests/blob/master/perf/idle_micro/playlist.xml#L23).

The perf test suites for `bumblebenc

[2022-02-11 04:59] #3342 closed

[2022-02-11 21:21] llxia opened #3347 "Add JDK_VERSION and JDK_IMPL in AutoReenableJob"
Add JDK_VERSION and JDK_IMPL in AutoReenableJob https://ci.adoptopenjdk.net/view/Test_grinder/job/AutoReenableJob/
A user is able to run AutoReenableJob with specific JDK_VERSION and JDK_IMPL. Both JDK_VERSION and JDK_IMPL values can be comma-separated. The default value is 11 and hotspot respectively.

Once the user provides the values, the pipeline script should loop through output.json and only

[2022-02-11 21:24] amir-waheed commented on #3347
Can I have this issue assigned to me? Thank you!

[2022-02-14 08:24] KKES335 opened #3350 "Add new test for JDK16/17, Update test cases for JDK18(JEP-400) and Update codepoint/unicode for JDK19"
1. I created tests for new features in JDK16/17.

- pattern_matching_instanceof
- sealed_classes
- record

2. I updated almost every test for JDK18(JEP-400).
3. I updated Unicode data in codepoint/unicode for JDK19.

[2022-02-14 18:49] sophia-guo opened #3354 "Backport PRs to AQAvit v0.8.0"
PRs closed after AQAvit v0.8.0 was branched:
https://github.com/adoptium/aqa-tests/pulls?q=is%3Apr+is%3Aclosed+closed%3A%3E%3D2022-01-10

Some of PRs are related with AQAvit v0.8.0, which needs to  backport. ( Note, some has already been cherry picked to release branch)

[2022-02-14 18:58] llxia opened #3355 "Remove MachineInfo from external"
Due to historical reasons, we set MachineInfo as the special target in external tests. MachineInfo belongs to the sanity/extended/special level. However, In order for DYNAMIC_COMPILE to work in external tests, we need to remove MachineInfo from [external](https://github.com/adoptium/aqa-tests/blob/master/external). For example:

https://github.com/adoptium/aqa-tests/blob/master/external/camel/play

[2022-02-14 18:59] sophia-guo commented on #3354
Will be a few more coming related with extended.openjdk tasks.

Also update JDK11_BRANCH=jdk-11.0.14-ga to jdk-11.0.14.1-ga ?

[2022-02-14 19:00] llxia opened #3356 "scala test build error"
[scala test build error](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_sanity.external_x86-64_linux/45/) on Feb 11, 2022. It looks like `SBT_VERSION ` is not set properly.

[code]

[The last successful build](https://hyc-runtimes-jenkins.swg-devops.com/job/Test_openjdk11_j9_sanity.external_x86-64_linux/44/) was Feb 4, 2022

[2022-02-14 19:44] sophia-guo commented on #3354
Also need to check TKG, STF, ADOPTOPENJDK_SYSTEMTEST_REPO.

[2022-02-14 20:28] sophia-guo commented on #3356
I can't see the output of last successful build from ibm internal build. But the output of [last successful build from adoptium](https://ci.adoptopenjdk.net/view/Test_external/job/Test_openjdk11_hs_sanity.external_x86-64_linux_scala/117/consoleFull) shows SBT_VERSION set correctly.  ${SBT_VERSION} in output likes the echo docker command information.
`RUN wget --no-check-certificate --no-cookies [h

[2022-02-15 04:34] sophia-guo opened #3359 "Test jobs got error message `Cannot run program "/Users/jenkins/.../j2sdk-image/Contents/Home/jre/bin/java -version": error=2, No such file or directory`"
All test jobs got following error message. Though it doesn't affect job status.
https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk8_hs_sanity.openjdk_x86-64_mac/593/console
[code]

[2022-02-15 04:45] sophia-guo commented on #3078
Current using adoptopenjdk image get intermittent failure `  [exec] no matching manifest for linux/amd64 in the manifest list entries`, which blocks other jobs.  @jnjerin I have a PR for #3079 and #3080 https://github.com/adoptium/aqa-tests/compare/master...sophia-guo:test?expand=1 could you take a look and try if it works? Let's first get those two done.

[2022-02-15 13:42] llxia commented on #3356
We are using `--no-check-certificate` .  I think the real reason is that piccolo.link/sbt-1.2.8.tgz is down.

[2022-02-15 14:08] llxia commented on #3359
dup of https://github.com/adoptium/TKG/issues/277

[2022-02-15 14:08] #3359 closed

[2022-02-15 16:09] smlambert opened #3360 "Update static mermaid-based documentation diagrams with live mermaid code"
We were using mermaid for some of the diagrams in this repository.  Now that github supports mermaid format directly (see https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/), we can migrate our diagrams to use their live mermaid 'code' versus static captured images of the diagrams that we currently have in the docs/diagrams folder.

Example:

[code]

can become:

[code]

[2022-02-15 18:50] smlambert commented on #3319
https://github.com/adoptium/aqa-tests/issues/3319 and this are reporting the same issue.  I will close 1 of them as duplicate.

[2022-02-15 18:50] YeeSkywalker commented on #3219
Thanks @gervaisj ! It really helps a lot!

[2022-02-15 19:50] llxia commented on #3356
Same error in Adopt Grinder: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3622/console
[code]

[2022-02-15 21:23] llxia commented on #3356
We should try to download upgraded STB (v1.6.2) from a [new server](https://www.scala-sbt.org/download.html):

 https://github.com/adoptium/aqa-tests/blob/cc3f9b0cbc73776943d40594e43a98ac94f0eaea/external/scala/test.properties#L5
 https://github.com/adoptium/aqa-tests/blob/070740c8afbc6d7858ec14f4db8caa8155418f03/external/dockerfile_functions.sh#L266-L267

[2022-02-16 04:27] sophia-guo commented on #3187
Scala: https://github.com/adoptium/aqa-tests/issues/3356

[2022-02-16 22:10] sophia-guo commented on #3356
Would also prefer to update  Scala version from v2.13.2 to v2.13.8, as [v2.13.2](https://github.com/adoptium/aqa-tests/blob/cc3f9b0cbc73776943d40594e43a98ac94f0eaea/external/scala/test.properties#L5) is quite old.

[2022-02-16 23:52] yinggzz commented on #3355
I can take this issue 😄

[2022-02-17 14:10] #3079 closed

[2022-02-17 14:10] #3080 closed, assigned to LizyBbethy

[2022-02-17 14:12] sophia-guo commented on #3198
Closed as all steps are done.

[2022-02-17 14:25] llxia commented on #3356
To run Grinder:
BUILD_LIST=external/scala
TARGET= scala_test
DOCKER_REQUIRED=true

[2022-02-17 16:48] amir-waheed commented on #3356
I would like to work on this issue :)

[2022-02-17 18:56] jnjerin commented on #2645
Please assign me to this. I would like to work on it

[2022-02-17 20:35] sophia-guo commented on #2645
@jnjerin I have a draft for this https://github.com/adoptium/aqa-tests/compare/master...sophia-guo:test?expand=1. Please take a look and try. Any question or problem just ping me. Thanks

[2022-02-17 21:17] llxia commented on #2841
@norbline For using Jenkins API to get job stage status, I found a similar thing at StackOverflow: https://stackoverflow.com/questions/37009906/access-stage-results-in-workflow-pipeline-plugin
Could you give it a try? Thanks

[2022-02-18 06:53] norbline commented on #2841
yes @Lan i will give it a try

[2022-02-18 12:36] jnjerin commented on #2645
Okay. I'm on it @sophia-guo

[2022-02-22 11:19] sxa commented on #3279
@smlambert Can you take a look at the output from the above job and confirm my evaluation here? If so we should think about what we want to do as the next action. e.g. We could get someone to attempt a rebuild using an old version of the `temurin-build` scripts and see if that has the same behaviour.

[2022-02-22 12:17] Haroon-Khel commented on #3292
Rerunning extended openjdk on test-osuosl-aix715-ppc64-3 after changes made in https://github.com/adoptium/infrastructure/issues/2456
https://ci.adoptopenjdk.net/job/Grinder/3684/console

[2022-02-22 16:53] #3355 closed

[2022-02-22 17:14] yinggzz commented on #3289
I can work on this issue!

[2022-02-23 15:41] llxia commented on #1267
FileEncodingTest is reenabled. The test has been fixed in OpenJDK head and for OpenJ9 jdk18. https://github.com/adoptium/aqa-tests/pull/3367

[2022-02-23 16:09] sophia-guo opened #3370 "Duplicate java detection logic is in each third party application test script file"
For each third party application test we'd like to detect and set java environment. Currently the logic is duplicate in all test script files.

[code]

Better to move the logic to existing common functions.

[2022-02-23 18:09] #3370 closed

[2022-02-23 18:50] smlambert opened #3372 "AQAvit Meeting: Mar 9, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&ctz=America%2FToronto), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ic

[2022-02-23 18:50] smlambert commented on #3339
Meeting [recording link](https://bluejeans.com/s/h58R3urQL0G)

Minutes:
- No CanOSP students joining today, so we will push off Nadeen's demo to next time
- Lan gave a quick view of Jerome's work (to add metadata file for AQAvit certification story), then showed the update on using prettier for formatting code coming into aqa-test-tools repository
- Remaining meeting mainly to discuss continuation

[2022-02-23 18:50] #3339 closed

[2022-02-23 19:08] llxia commented on #2645
For the private docker registry, we should also consider supporting user-provided credentials.

[2022-02-23 21:38] sophia-guo commented on #1267
The fix for FileEncodingTest has not been backport to jdk18.  https://bugs.openjdk.java.net/browse/JDK-8282042. It will be reenabled for jdk18 once backport is done.

[2022-02-23 22:12] sophia-guo commented on #2645
@llxia for credentails I would suggest to track in a different issue.

[2022-02-23 22:23] sophia-guo commented on #3319
@LizyBbethy  see if the  change helps you understand the issue
https://github.com/adoptium/aqa-tests/compare/master...sophia-guo:health?expand=1

[2022-02-23 22:28] sophia-guo commented on #3187
Using the change https://github.com/adoptium/aqa-tests/compare/master...sophia-guo:health?expand=1 running target

- sanity.external: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/436/

- extended.external: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/437/

waiting for the result

[2022-02-24 13:59] #3356 closed

[2022-02-24 14:11] #3350 closed

[2022-02-24 15:28] #3347 closed

[2022-02-24 17:25] sophia-guo commented on #3187
rerun:
8: sanity.external: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/438/

8: extended.external: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/439/

[2022-02-24 17:38] sophia-guo opened #3377 "openliberty_microprofile_tck_jdk8_hs failed"
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/438/:

openliberty_microprofile_tck_jdk8_hs failed with:

[code]

[2022-02-24 17:42] sophia-guo commented on #3377
Shouldn't auto delete the container for tests need to keep the results.
https://github.com/adoptium/aqa-tests/blob/master/external/external.sh#L80
https://github.com/adoptium/aqa-tests/blob/master/external/external.sh#L157

This should be fixed by https://github.com/adoptium/aqa-tests/pull/3374/, which removed the `rm` option

[2022-02-25 01:22] gervaisj opened #3378 "Querying for issues status reaches rate limit of GitHub APIs"
`issue_status.py` uses unauthenticated endpoints, which are limited to a small (~50) number of API calls. This won't do for https://github.com/adoptium/aqa-tests/issues/1853.

- Improve querying efficiency by grouping issues
- Use a Git Token, provided in the pipeline, to raise rate limit.
- Ignore issue [1297 ](https://github.com/adoptium/aqa-tests/issues/1297) (permanently disabled tests)

[2022-02-25 14:13] sophia-guo opened #3380 "openliberty_microprofile_tck failed with jdk11"
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/440/console
openliberty_microprofile_tck failed with

[code]

[2022-02-25 14:14] sophia-guo opened #3381 "openliberty_microprofile_tck failed with jdk17"
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/442/console

openliberty_microprofile_tck_0 failed with jdk17.

[code]

[2022-02-25 14:16] sophia-guo opened #3382 "quarkus_quickstarts_test_0 failed with jdk17"
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/442/console
quarkus_quickstarts_test_0 failed with jdk17.

[code]

[2022-02-25 14:16] sophia-guo commented on #3187
11: sanity.external https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/440/console
openliberty_microprofile_tck failed. Issue raised https://github.com/adoptium/aqa-tests/issues/3380

[code]

17: sanity.external https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/442/console

openliberty_microprofile_tck_0 failed. Issue raised https://github.com/adoptiu

[2022-02-25 14:45] smlambert commented on #3382
Suggest an update of quarkus version first, since we take a very old release at present (we are pulling [1.3.2.Final](https://github.com/adoptium/aqa-tests/blob/master/external/quarkus_quickstarts/test.properties#L11), and the latest tag looks to be [2.7.2.Final](https://github.com/quarkusio/quarkus-quickstarts/releases/tag/2.7.2.Final)).

[2022-02-25 16:35] sophia-guo commented on #3319
PR created #3383 as this blocks #3187

[2022-02-25 18:52] smlambert commented on #3279
We have published win32 jdk17 as is, given the tests that have regressed are not mainstream usage and this investigation will take time.

Working with 2 builds for a detailed comparison:
- **base** - the October win32 jdk17 [release build](https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.1%2B12/OpenJDK17U-jdk_x86-32_windows_hotspot_17.0.1_12.zip) - passes these Vector test

[2022-02-25 19:08] sophia-guo commented on #3319
Closed by #3383

[2022-02-25 19:08] #3319 closed

[2022-02-25 19:08] sophia-guo commented on #3187
Closed by wrong PR. Reopen

[2022-02-26 01:22] smlambert commented on #467
Closing as stale, we are going through a health assessment of external tests via https://github.com/adoptium/aqa-tests/issues/3187 and will create fresh issues as they arise.

[2022-02-26 01:22] #467 closed

[2022-02-26 01:26] smlambert commented on #587
All related upstream issues are closed, closing this asstale, we are going through a health assessment of external tests via https://github.com/adoptium/aqa-tests/issues/3187 and will create fresh issues as they arise.

[2022-02-26 01:26] #587 closed

[2022-02-26 01:33] smlambert commented on #982
Should verify if this is resolved or not: https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk8-openj9.txt#L27

[2022-02-26 01:35] smlambert commented on #1169
Closing this since we now create testenv.properties file and an AQAcert.log file that encompasses what we need for now.

[2022-02-26 01:35] #1169 closed

[2022-02-26 01:37] smlambert commented on #2832
Closing as stale and there are more recent specific issues reporting win32 jdk17 failures.

[2022-02-26 01:37] #2832 closed

[2022-02-26 01:38] smlambert commented on #2776
Closing as we now tag and release following this scheme.

[2022-02-26 01:38] #2776 closed

[2022-02-26 01:40] smlambert commented on #2982
Closed via https://github.com/adoptium/aqa-tests/pull/3159

[2022-02-26 01:40] #2982 closed

[2022-02-26 01:46] smlambert commented on #2889
I believe this one is now addressed, closing as complete.

[2022-02-26 01:46] #2889 closed

[2022-02-26 01:47] smlambert commented on #2774
Is this still an issue?

[2022-02-26 01:49] smlambert commented on #2820
Should check if this is specific to certain machines, and if so, transfer to infrastructure.

[2022-02-26 01:50] smlambert commented on #2773
Has this been disabled and can this issue be closed?

[2022-02-26 01:51] smlambert commented on #2754
Closing this as both 'completed' and stale.

[2022-02-26 01:51] #2754 closed

[2022-02-28 16:31] sophia-guo commented on #2820
Dup of https://github.com/adoptium/aqa-tests/issues/2876

[2022-02-28 16:31] #2820 closed

[2022-02-28 17:12] sophia-guo commented on #2876
Grinder https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/448/
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/447/

Doesn't seem like a machine related issue.

[2022-02-28 17:17] llxia opened #3384 "KEEP_REPORTDIR should be boolean"
KEEP_REPORTDIR is boolean https://github.com/adoptium/aqa-tests/blob/098041520884daafaa3d0b7c30eab6ab93800f41/buildenv/jenkins/JenkinsfileBase#L66

However, we set it as String in testJobTemplate.
https://github.com/adoptium/aqa-tests/blob/8a55c344d1b9847d4d083aaae4e903a675b659b5/buildenv/jenkins/testJobTemplate#L40
https://github.com/adoptium/aqa-tests/blob/8a55c344d1b9847d4d083aaae4e903a675b659b

[2022-02-28 18:53] sophia-guo commented on #3187
extended.external, the console output is too big to load. The summary shows most tests failed. Suggest to run each failed application separately in grinder to see the detailed failure message.

  Stoped due to timeout. No summary. Same suggestion, run each application separately in grinder to see the status.

[code]

[code]

[2022-02-28 18:54] #2645 closed

[2022-02-28 18:54] #3377 closed

[2022-02-28 19:13] smlambert commented on #3380
Can we try with a newer version: https://github.com/OpenLiberty/open-liberty/releases/tag/gm-22.0.0.2 to see if its the same issue?

[2022-02-28 19:23] smlambert commented on #2191
Closing as stale (fresh issues will be created as part of https://github.com/adoptium/aqa-tests/issues/3187).

[2022-02-28 19:23] #2191 closed

[2022-02-28 19:23] smlambert commented on #1858
Closing as stale (fresh issues will be created as part of https://github.com/adoptium/aqa-tests/issues/3187).

[2022-02-28 19:23] #1858 closed

[2022-02-28 20:04] smlambert commented on #2907
Un-assigning this issue and putting this back into the set of open / available good first issues.

[2022-02-28 20:10] smlambert commented on #2943
PR https://github.com/adoptium/aqa-tests/pull/2973 was closed without being merged (was unable to pass the ECA validation).  Un-assigning this and putting it back in the list of open / available good first issues.

[2022-02-28 20:15] smlambert commented on #2097
@llxia - the [PR](https://github.com/adoptium/aqa-tests/pull/3266) for this was reverted.  Is the intention to keep this open and try again, or was the resolution that we could not proceed with this issue at all?

[2022-02-28 20:28] smlambert commented on #2986
https://github.com/adoptium/aqa-tests/pull/2990 was closed but not merged.  Need to verify if this issue still exists and if so,  and the issue is not resolved, then temporarily need to exclude the test case.

Un-assigning and returning to the list of open / available good first issues.

[2022-02-28 20:34] smlambert commented on #3015
Un-assigning and moving into canosp project list, as it relates to the "Disabled tests pipeline" work.

[2022-02-28 20:36] smlambert commented on #2907
Actually moving this one to the canosp project list as it relates to the "Disabled tests pipeline" work.

[2022-02-28 20:38] smlambert commented on #3016
@LizyBbethy - un-assigning you, thanks for creating the table.  Am moving this into the canosp project list as they are working on automating the "Disabled tests pipeline", so can hopefully use these as examples to try out the automation on, before the end of their term.

[2022-02-28 20:44] smlambert commented on #3013
While we were not able to merge the PR related to this work https://github.com/adoptium/aqa-tests/pull/3121, thanks for the assessment table and work put into this, it is definitely helpful for us to take next steps.  Un-assigning and moving to the canosp project list as part of the "Disabled tests pipeline" work.

[2022-03-01 00:51] smlambert commented on #3017
Moving to the canosp project list as part of the "Disabled tests pipeline" work.

[2022-03-01 01:20] amir-waheed commented on #3384
I would like to work on this issue :)

[2022-03-01 02:26] amir-waheed commented on #3384
I am not able to configure Grinder to be able to set KEEP_REPORTDIR as boolean (I don't think I have premisses to). Perhaps, I didn't understand the task? I am not sure how I am supposed to change KEEP_REPORTDIR to boolean in Grinder.

[2022-03-01 15:13] llxia commented on #2097
Issue opened:
https://github.com/adoptium/ci-jenkins-pipelines/issues/256
https://github.com/eclipse-openj9/openj9/issues/14616

[2022-03-01 17:30] smlambert commented on #3384
I've created [Grinder_New](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder_New/build?delay=0sec) which you can use for step 1 of the ToDo list.

If the changes are made as @llxia suggested to testJobTemplate, when we regenerate the test jobs, it will be changed to a boolean type.  Reviewers of your PR will run the Test_Job_Auto_Gen job to verify that the change will do as we hope.

[2022-03-01 17:39] sophia-guo commented on #3187
Tests have different behaviors with different jdk version.
passed with jdk11 and failed with jdk17.
jacoco_test : Grinder: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/449/
quarkus_test: Grinder https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/451
lucene_solr_nightly_smoketest:  Grinder https://ci.adoptopenjdk.net/view/work-in-progress/job/grin

[2022-03-01 19:59] amir-waheed commented on #3384
@smlambert Thank you for the help! Also, it seems I am missing the Job/Build permission.

[2022-03-01 20:05] smlambert commented on #3384
Should now have permission, thanks for heads-up!

[2022-03-01 20:15] sophia-guo opened #3389 "external test spring_test failed with jdk11 (passed with jdk17)"
external test spring_test failed with jdk11 (passed with jdk17)
jdk17: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/454/
jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/455/console

[code]

Looks like jdk17 is required for compile?

[2022-03-01 20:32] smlambert commented on #3389
We currently are not using the latest stable build which appears to be https://github.com/spring-projects/spring-boot/releases/tag/v2.6.4.  We likely should switch to using it by adding a line `tag_version="v2.6.4"` to the [spring/test.properties](https://github.com/adoptium/aqa-tests/blob/master/external/spring/test.properties) file.

We may still see the issue being reported, but at least we are

[2022-03-01 21:06] sophia-guo commented on #3389
For release v2.6.4 I can see [sourceCompatibility = 1.8](https://github.com/spring-projects/spring-boot/blob/v2.6.4/buildSrc/build.gradle#L13), while in default main branch [sourceCompatibility = 17](https://github.com/spring-projects/spring-boot/blob/main/buildSrc/build.gradle#L13).  Tag stable version should fix this.

[2022-03-01 21:10] sophia-guo opened #3390 "external test jacoco_test failed with jdk17 (passed with jdk11)"
external test jacoco_test failed with jdk17 (passed with jdk11)
jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/456/ **passed**
jdk17: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/449/console

[code]

[2022-03-01 21:53] smlambert commented on #3279
Things we know:
- base build and test build were built from identical source... (only differences are a few git files):
[code]
<img width="997" alt="image (11)" src="https://user-images.githubusercontent.com/2836948/156254737-5af28fba-383c-4966-bf5e-2ee434b51709.png">

- Looked at each of the differences in BUILD_SOURCE, all appear to be benign (many relating to hotspot -> temurin renaming, some f

[2022-03-02 04:04] sophia-guo opened #3392 "external test quarkus_test failed with jdk17 (passed with jdk11)"
external test quarkus_test failed with jdk17 (passed with jdk11)
jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/457/
jdk17: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/451/console

[code]

[2022-03-02 04:10] sophia-guo opened #3393 "external test lucene_solr_nightly_smoketest failed with jdk17 (passed with jdk11)"
external test lucene_solr_nightly_smoketest failed with jdk17 (passed with jdk11)

jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/458/
jdk17: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/450/

[code]

[2022-03-02 04:24] sophia-guo commented on #3392
We currently are not using the latest stable build which appears to be https://github.com/quarkusio/quarkus/releases/tag/2.7.2.Final. We likely should switch to using it by updating tag_version="2.7.2.Final" to the [quarkus/test.properties](https://github.com/adoptium/aqa-tests/blob/master/external/quarkus/test.properties#L5) file.

We may still see the issue being reported, but at least we are pu

[2022-03-02 04:30] sophia-guo commented on #3390
We currently are not using the latest stable build which appears to be https://github.com/jacoco/jacoco/releases/tag/v0.8.7. We likely should switch to using it by updating tag_version="v0.8.7" to the [jacoco/test.properties](https://github.com/adoptium/aqa-tests/blob/master/external/jacoco/test.properties#L5) file.

We may still see the issue being reported, but at least we are pulling a stable b

[2022-03-02 13:59] yinggzz commented on #3390
I would like to work on this issue

[2022-03-02 15:58] yinggzz commented on #3390
external test jacoco_test with jdk17 after updating tag_version = "v0.8.7": https://ci.adoptopenjdk.net/job/Grinder/3766/console
@sophia-guo Hi Sophia, can I get some clarification on what next step I should take?

[2022-03-02 16:25] smlambert commented on #3286
Sorry, my description is likely confusing, I will update it to not describe a case where we would zip up the tap files at this stage.  Simply archiving them to the job is sufficient at this point (since having a single tap file inside a zip file is not what we intend to do).

[2022-03-02 18:00] smlambert commented on #3279
Attaching dump files of dll's which when diffed indicate some things are different, many of the api-ms ones are pretty close to identical) others hold more differences.  My thought was to reduce the testcase to a standalone, then do a 'binary search' approach of swapping out 1/2 the dlls, from a working binary to a failing binary and see how the testcase behaves, and keep narrowing it down that wa

[2022-03-02 18:52] llxia commented on #2841
After the investigation and experiments, we decided to use nested nodes instead of Jenkins API. In this way, we do not need to control the workflow/communication between two jobs. It is easy to maintain and less error-prone.

The key changes for nested notes are delivered via #3364 and #3379.
Enhancements:

- [ ] check if we can get RELATED_NODES in playlist.xml. If not, set RELATED_NODES as env v

[2022-03-02 19:35] norbline commented on #2841
Thanks @llxia

[2022-03-02 20:31] llxia commented on #2841
@awsafsakif could you test your case and let us know? Thanks.

[2022-03-02 22:49] llxia commented on #3108
This is completed. Thanks @xius666

[2022-03-02 22:49] #3108 closed

[2022-03-02 22:49] llxia commented on #2680
This issue is resolved.

[2022-03-02 22:49] #2680 closed

[2022-03-02 22:50] yinggzz commented on #3392
I can take this issue

[2022-03-02 22:50] yinggzz commented on #3393
I can take this issue

[2022-03-02 22:52] yinggzz commented on #3289
Grinder tests ran for
jacoco: https://ci.adoptopenjdk.net/job/Grinder/3758/
derby: https://ci.adoptopenjdk.net/job/Grinder/3764/
jenkins: https://ci.adoptopenjdk.net/job/Grinder/3765/

I've noticed the below is shown:
<img width="817" alt="001257 Archiving artifacts" src="https://user-images.githubusercontent.com/74112748/156462898-2d871be8-85c5-44bf-9ca3-387ce7ffffe3.png">

Should I change the pa

[2022-03-02 23:14] llxia opened #3396 "add timestamp{} in test pipeline"
We have `timestamp{}` in various stages. For example:
https://github.com/adoptium/aqa-tests/blob/25c804602873d503ec596371875c33a49fa88ad2/buildenv/jenkins/JenkinsfileBase#L513
https://github.com/adoptium/aqa-tests/blob/25c804602873d503ec596371875c33a49fa88ad2/buildenv/jenkins/JenkinsfileBase#L583

However,  we do not have `timestamp` in other sections (i.e., Queue, git clone, parallel runs, etc)

[2022-03-02 23:15] llxia commented on #3396
FYI @YeeSkywalker

[2022-03-03 00:34] smlambert commented on #3289
This is how Dockerfiles are named and where they get put when they are generated: https://github.com/adoptium/aqa-tests/blob/master/external/build_image.sh#L83 so perhaps you need to try to change the regex that is used, so the search finds the generated file.

You can see in your console output where the Dockerfile gets put and its name, example from your jacoco grinder:
[code]
shows the full pat

[2022-03-03 04:59] sophia-guo commented on #3187
Jdk11:
tomcat_test_0 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/459/
netty_test_0 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/460/
wycheproof_test_0 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/461/
scala_test_0 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/462/
camel_test_0 https:

[2022-03-03 11:34] sxa commented on #3279
Build machine | test results
---|---
[ibmcloud-2](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-windows-x86-32-hotspot/76/consoleFull) | [Vector tests failed](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows_testList_1/36/testReport)
[azure-2](https://ci.adoptopenjdk.net/job/build-scripts/job/jobs/job/jdk17u/job/jdk17u-windows-x86-32-

[2022-03-03 12:51] Haroon-Khel commented on #2816
Grinders 3767 - 3774 are rebuilds of this test on all of our aix machines. All of those grinders seem to fail in the same way as @sophia-guo's rerun job, they time out

[code]

I'll run some tests on one of the machines in an ssh session to see if I can get a better idea of what's going on

[2022-03-03 17:06] Haroon-Khel commented on #2816
The title of this test, found in a jtreg report, suggests it should only run on MacOS

`title=Check that it is possible to send and receive datagrams of maximum size on macOS.`

[2022-03-03 17:14] llxia opened #3397 "Remove rerun.sh"
As we have the solution for [reproducible tests](https://github.com/adoptium/aqa-tests/issues/2347), we can remove https://github.com/adoptium/aqa-tests/blob/master/rerun.sh from the repo.

[2022-03-03 17:29] sophia-guo opened #3398 "external tomcat_test failed with both jdk11 and jdk17"
external tomcat_test failed with both jdk11 and jdk17 and believe failed with jdk8.
8: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/470/
11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/459/
17: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/469/

[code]

Looks like setting issue.

[2022-03-03 17:56] sophia-guo commented on #3398
Couple notes:

1. https://github.com/apache/tomcat supports four different version Tomcat 8, 9, 10.0, 10.1
2. Originally tests was added for Tomcat 8 with version 8.5
3. Recently tests changed with tag_version="10.0.7" so it changes to test Tomcat 10.0 instead of 8. ,Latest Tomcat 10.0 version is [10.0.17](https://github.com/apache/tomcat/releases/tag/10.0.17)
4. The failure shows it has the depen

[2022-03-03 19:30] llxia opened #3401 "Add wiki links in job description testJobTemplate"
Please add AQA Lightning Talk Series link and Reproducing Test Failures Locally link in testJobTemplate

Update https://github.com/adoptium/aqa-tests/blob/8a55c344d1b9847d4d083aaae4e903a675b659b5/buildenv/jenkins/testJobTemplate#L186
to

[code]

[2022-03-03 19:39] sophia-guo opened #3402 "external netty_test failed with both jdk11 and jdk17"
external netty_test failed with both jdk11 and jdk17
11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/460/
17:

[code]

Looks like setting issue. `failed to load the required native library`

[2022-03-03 19:44] sophia-guo commented on #3402
[tag_version="4.1"](https://github.com/adoptium/aqa-tests/blob/master/external/netty/test.properties#L6) .  [There is no tag 4.1](https://github.com/netty/netty/tags), 4.1 is the default branch. `remotes/origin/HEAD -> origin/4.1`.

Need to update [tag_version="4.1"](https://github.com/adoptium/aqa-tests/blob/master/external/netty/test.properties#L6) to  tag_version="netty-4.1.74.Final" and see th

[2022-03-03 20:27] sophia-guo commented on #1824
BouncyCastleTests still has same failure with hotspot https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/461/console.

Also OpenJDKTest failed

[code]

[2022-03-03 21:10] smlambert commented on #2816
Seems like it is also meant to run on other platforms, given code blocks like this: https://github.com/adoptium/jdk16u/blob/7dcedb672b0e134410954e145483fecbbbd3754d/test/jdk/java/nio/channels/DatagramChannel/SendReceiveMaxSize.java#L142

[2022-03-03 21:21] sophia-guo commented on #1824
Log files are under */testlogs/, which has been copied to /testResults https://github.com/adoptium/aqa-tests/blob/master/external/wycheproof/dockerfile/wycheproof.sh#L29. However test run command didn't set flag reportsrc to cp the logs https://github.com/adoptium/aqa-tests/blob/master/external/wycheproof/playlist.xml#L18 to be consumed by jenkins. (Also currently jenkin jobs only show junit outpu

[2022-03-03 21:23] sophia-guo commented on #1824
So we can first do two steps, one is update bazel version https://github.com/adoptium/aqa-tests/pull/3216#issuecomment-1058475469 and correctly using flag reportsrc to archived the logs in jenkins. Using the logs to help debug.

[2022-03-03 21:35] smlambert commented on #1824
thank you so much for your review and insights on this external test triage @sophia-guo, it is invaluable!

[2022-03-03 21:36] sophia-guo commented on #1211
Recent jdk11 failure:

[code]
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/462/console

[2022-03-03 21:57] sophia-guo commented on #1211
Also we are setting test suites as [jvm pos neg](https://github.com/adoptium/aqa-tests/blob/master/external/scala/playlist.xml#L18) and now only `jvm` is running (all jvm pos neg were running before https://github.com/adoptium/aqa-tests/issues/1211#issue-466437856. So something wrong with the parameter --testtarget. Guessing it's related with the string with space.

[2022-03-04 01:32] JayGreck commented on #3401
Hey, can I take up this issue?

[2022-03-04 01:55] smlambert commented on #3401
Yes, please do @JayGreck !

[2022-03-04 12:01] JayGreck commented on #3401
@smlambert I will start working on this right away!

[2022-03-04 15:34] sophia-guo opened #3405 "external kafka_test failed with both jdk11 and jdk17"
external kafka_test failed with both jdk11 and jdk17.
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/464/console
 Current failure is

[code]

To let test run and know the status we need first do the following two steps and then we can see how tests run:

1. update gradle version to 5.2  [gradle_version="5.1"](https://github.com/adoptium/aqa-tests/blob/master/external/kaf

[2022-03-04 16:56] sophia-guo opened #3406 "external jenkins_test failed with both jdk11 and jdk17"
external jenkins_test failed with both jdk11 and jdk17
jenkins_test_0 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/466/

[code]

[2022-03-04 17:07] sophia-guo commented on #3406
Would like to first update jenkins version to jenkins-2.319.3 [tag_version="jenkins-2.235"](https://github.com/adoptium/aqa-tests/blob/master/external/jenkins/test.properties#L5) to see if the failure is same.

[2022-03-04 17:14] sophia-guo commented on #3405
kafka [tag_version="2.5.0"](https://github.com/adoptium/aqa-tests/blob/master/external/kafka/test.properties#L4) actually ask gradle 5.4. So instead of updating to 5.2 we need to update gradle to 5.4

[2022-03-04 17:26] sophia-guo opened #3407 "external test derby_tests failed"
external test derby_tests failed
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/474/console

[code]

Looks like the directory issue. As test framework has been updated some settings wasn't updated accordingly.

Variable DERBY_HOME in file derby-test.sh  https://github.com/adoptium/aqa-tests/blob/master/external/derby/dockerfile/derby-test.sh need to be updated to `/derby

[2022-03-04 18:04] sophia-guo opened #3408 "set_test_info() doesn't set home_path"
[set_test_info() ](https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L194-L217) is used to set external third party application test properties set in test.properties files (for example https://github.com/adoptium/aqa-tests/blob/master/external/camel/test.properties). `home_path` is set as the third party application home directory, which is supposed to be an environme

[2022-03-04 18:12] sophia-guo commented on #3407
related with #3408

[2022-03-04 18:21] sophia-guo opened #3409 "external wildfly failed"
external wildfly failed
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/467/console
[code]

[2022-03-04 18:25] sophia-guo commented on #3409
Would be helpful to first update to latest version https://github.com/wildfly/wildfly/releases/tag/26.0.1.Final. That is update `tag_version="19.1.0.Final"` to `tag_version="16.0.1.Final"` in https://github.com/adoptium/aqa-tests/blob/master/external/wildfly/test.properties#L5

[2022-03-05 07:18] abhijeetjejurkar commented on #3397
Hey, can I take up this issue?

[2022-03-05 07:22] abhijeetjejurkar commented on #3408
Hey, can I take up this issue?

[2022-03-05 17:08] smlambert commented on #3397
Please do @abhijeetjejurkar !

[2022-03-05 17:10] smlambert commented on #3408
Hi @abhijeetjejurkar - I have assigned you https://github.com/adoptium/aqa-tests/issues/3397, once you have a PR ready for review, we can assign a next issue.

[2022-03-05 17:21] abhijeetjejurkar commented on #3408
Sure, Thankyou
will you please give me slack channel link to  connect with community.

[2022-03-05 17:30] smlambert commented on #3408
You can invite yourself to the Slack workspace at this page: https://adoptium.net/slack.html

Once you are in, the [#testing-aqavit](https://adoptium.slack.com/archives/C5219G28G) is a good one to ask questions regarding AQAvit issues.  Also useful to note, here is our [Contributing guide](https://github.com/adoptium/aqa-tests/blob/master/Contributing.md).

[2022-03-05 17:31] abhijeetjejurkar commented on #3408
thankyou

[2022-03-06 06:42] abhijeetjejurkar commented on #2986
Hey, can I take up this issue?

[2022-03-06 20:41] gervaisj commented on #3378
@llxia @smlambert Working on this, I discovered some corner cases that I'd like to run by you.

I'll still open a PR with the implementation I have, which simply logs an error for each of the cases I list below. We can always open separate issues to improve the script later.

1. These two files have an odd "double-issue" format. I _could_ handle comma-separated issues, but maybe it would be cleane

[2022-03-06 20:56] #3401 closed

[2022-03-07 07:17] jhanvi831 commented on #3397
Hi @llxia I am Jhanvi, a contributor to OpenForce 2022. Is this issue still open to work with ?

[2022-03-07 07:23] abhijeetjejurkar commented on #3397
Hi @jhanvi831 I have already worked on issue and made a PR. Waiting for second Review to close the issue.

[2022-03-07 07:24] jhanvi831 commented on #3397
@abhijeetjejurkar Okay, Thank you for letting me know.

[2022-03-07 07:25] abhijeetjejurkar commented on #3397
@jhanvi831 welcome!

[2022-03-07 11:20] amir-waheed commented on #3389
I can work on this issue.

[2022-03-07 13:16] jiekang commented on #2816
The latest commit message also mentions updating a test for all platforms:
https://github.com/adoptium/jdk16u/commit/a096c0a83f900c05702f94c35adb51746c0683cd

[2022-03-07 13:36] #3397 closed

[2022-03-07 15:08] abhijeetjejurkar commented on #2943
Hey Can I work on this?

[2022-03-07 15:32] sophia-guo opened #3419 "Simplify external test by rename all test script to test.sh"
Each third party application has a a shell script file defined the way to run tests in external test. ( for example: [camel-test.sh](https://github.com/adoptium/aqa-tests/blob/master/external/camel/dockerfile/camel-test.sh) ). The shell script file is called as the entrypoint in the generated Dockerfile.

To make it simple we'd like to rename all ${test}-test.sh to test.sh. Steps:
1. rename all ${

[2022-03-07 15:56] sophia-guo opened #3422 "Using standard TEST_HOME home path for external third party application tests"
One common step for external third party application tests is to cd to application's home path, which can be simplified and  standardized by the property home_path in test.properties file ( for example: [camel-test.sh](https://github.com/adoptium/aqa-tests/blob/master/external/camel/dockerfile/camel-test.sh) ).

Steps:
1. Update home_path in test.properties files with correct value, `home_path="\$

[2022-03-07 16:04] yinggzz commented on #3392
external test quarks_test with jdk 17 after updating tag https://ci.adoptopenjdk.net/job/Grinder/3800/

[2022-03-07 16:20] #3408 closed

[2022-03-07 18:34] yinggzz commented on #3402
I can take this issue 😀

[2022-03-07 19:40] sophia-guo commented on #3390
Test passed with jdk11 and failed with jdk17. So might not be the test environment setting issue. The failure is similar to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=980467, which suggests the issue with maven and jdk17. I can see same failure with https://github.com/adoptium/aqa-tests/issues/3382 and believe there are other tests got the same failures. Could you please print the maven ver

[2022-03-07 19:56] sophia-guo commented on #3392
With the updated latest release version the new failure is:
https://ci.adoptopenjdk.net/job/Grinder/3800/console
11:55:42  [INFO] Quarkus - OpenTelemetry - Deployment ............... FAILURE [01:00 min]

[code]

[2022-03-07 20:41] sophia-guo commented on #3422
With the #3363 may have new failure as following https://ci.adoptopenjdk.net/job/Grinder/3801/console, which is caused by incorrect file directory.

[code]

[2022-03-07 21:08] sophia-guo commented on #3422
On second thought, home_path property is actually not needed, which can be figured out when generating the dockerfile. Update [print_home_path()](https://github.com/adoptium/aqa-tests/blob/master/external/dockerfile_functions.sh#L400-L409)

[code]

[2022-03-07 22:07] sophia-guo commented on #3393
Depends on https://github.com/adoptium/aqa-tests/issues/3422 to test the status.

[2022-03-08 00:11] smlambert commented on #3378
re: https://github.com/adoptium/aqa-tests/issues/3378#issuecomment-1060035349

1) 100% agree, a single issue should be used (2355 is the correct one, 2350 references a different test case class, not sure why its present on that line).  I was not aware we had 2 listed in a problem list.
2) if some JBS defects are not accessible, we will skip doing any action upon them, they are classified as specia

[2022-03-08 00:15] YeeSkywalker commented on #3396
Hi there, I am wondering if I could take this one? It would be much appreciated!

[2022-03-08 13:53] llxia opened #3426 "LdapDnsProviderTest should associate with one issue"
In the problem list, one test should associate with one issue. Please updated LdapDnsProviderTest to associate with https://github.com/adoptium/aqa-tests/issues/2355 Only. We should remove https://github.com/adoptium/aqa-tests/issues/2350

https://github.com/adoptium/aqa-tests/blob/57b6ea136264168339c54d4bbfdfff017986c1e8/openjdk/excludes/ProblemList_openjdk8.txt#L425

https://github.com/adoptium/

[2022-03-08 13:55] llxia commented on #3378
The issue opened for case 1 https://github.com/adoptium/aqa-tests/issues/3426

[2022-03-08 15:45] #3219 closed

[2022-03-08 16:07] sophia-guo opened #3428 "external test derby_tests failed when download junit"
external test derby_tests failed when download junit
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/480/console

[code]

[2022-03-08 16:11] sophia-guo commented on #3428
[code]

Suggest that  [download link](https://github.com/apache/derby/blob/trunk/build.xml#L221) should be updated to `https://repo1.maven.org/maven2/junit/junit/3.8.2/junit-3.8.2.jar`, which can be done by add a local.properties. https://github.com/apache/derby/blob/trunk/build.xml#L220

[2022-03-08 19:31] abhijeetjejurkar commented on #3426
Hi, I am Abhijeet Jejurkar, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 19:45] #3422 closed

[2022-03-08 19:45] #3393 closed

[2022-03-08 19:45] #3407 closed

[2022-03-08 19:54] abhijeetjejurkar commented on #3419
Hi, I am Abhijeet Jejurkar, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 19:56] abhijeetjejurkar commented on #3409
Hi, I am Abhijeet Jejurkar, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you!

[2022-03-08 21:36] #3426 closed

[2022-03-08 21:56] llxia opened #3431 "Auto rerun failed tests in test pipeline"
We have added `Rerun in Grinder with failed test targets` link recently. We should try to auto-rerun failed tests in test pipeline.

Details:

- [x] add a flag RERUN_ITERATIONS - Number of times to repeat execution of failed test target(s). The default value is 0 (do not trigger rerun build)
- [x] if RERUN_ITERATIONS > 0 and failedTestList is not empty, generate xxx_rerun test job (i.e., Test_open

[2022-03-09 06:10] abhijeetjejurkar commented on #3419
Hi, I am Abhijeet Jejurkar, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you!

[2022-03-09 10:06] amir-waheed commented on #3382
I can work on this issue.

[2022-03-09 13:44] #3289 closed

[2022-03-09 13:48] #3389 closed

[2022-03-09 15:05] llxia commented on #3431
FYI @JasonFengJ9 @pshipton

[2022-03-09 15:10] llxia opened #3438 "Simplify getBaseJDKImpl logic"
Simplify getBaseJDKImpl logic

from
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/testJobTemplate#L21-L26

to

[code]

[2022-03-09 15:15] SarveshLimaye commented on #3438
@llxia  Hi, I am Sarvesh Limaye, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you!

[2022-03-09 15:21] smlambert commented on #3438
Please do @SarveshLimaye !

[2022-03-09 15:31] JasonFengJ9 commented on #3431
Thanks @llxia
Can the original failure be still included in TRSS? Just to avoid that the re-run marks an intermittent failure.
I think this feature will be very helpful for compliance or network sensitive tests though it is not required by other functionality tests, so ideally this feature option is configurable (to save some machine resources).

[2022-03-09 20:17] #3378 closed

[2022-03-09 21:17] smlambert opened #3443 "AQAvit meeting: March 23, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&ctz=America%2FToronto), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ic

[2022-03-09 21:18] smlambert commented on #3372
Meeting [recording link](https://bluejeans.com/s/vj8FzQ1k3yt)

Minutes:
- @nadeensami gave an update on the progress of https://github.com/adoptium/aqa-test-tools/issues/548 - showing how the TRSS DB can be populated by pulling a zip file full of test result files (TAP files).  Still work to do on this feature, including testing more edge cases but really good progress.  This works supports the ma

[2022-03-09 21:18] #3372 closed

[2022-03-09 21:32] #3428 closed

[2022-03-09 23:18] llxia opened #3445 "Update AutoReenableJob"
- Update AutoReenableJob to use the latest python script in https://github.com/adoptium/aqa-tests/tree/master/scripts/disabled_tests
- Consume git token. For example:
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L485
https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L494

https://ci.adoptopenjdk.net/view/Test_grinder/job/AutoRe

[2022-03-09 23:53] amir-waheed commented on #3445
Can I be assigned to the issue?

[2022-03-10 00:55] smlambert commented on #3431
In discussions on this feature, we most certainly would plan to keep original failure results in TRSS.  There are still lots of details to work out, but ultimately we intend to add a visual indicator that something had to be rerun (and the number of times to rerun and pass).  Perhaps something like this:

<img width="154" alt="Screen Shot 2022-03-09 at 7 45 35 PM" src="https://user-images.githubus

[2022-03-10 13:44] llxia commented on #3431
Yes, this feature will be configurable at the test job level. For example, we can set AUTO_RERUN_FAILED_TESTS to true for extended.openjdk, but set it to false for sanity.functonal.

[2022-03-10 16:29] JeromeJu opened #3448 "Update the `--openjdk_testrepo` flag name in runAqaArgParse.py"
**Describe the bug**
In the `runAqaArgParse.py` file, the `--openjdk_testrepo`  arg name should be updated to `--aqa-testrepo`

**Expected behavior**
The run-aqa should later take in --aqa-testrepo flag

[2022-03-10 16:58] #3409 closed

[2022-03-10 17:01] #3438 closed

[2022-03-10 18:40] llxia opened #3449 "Rerun in Grinder with failed test link does not have correct test targets"
Parent test build https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly/7/ has 3 child builds. Overall, there is one test failure `SC_Softmx_JitAot_0 ` in child build https://openj9-jenkins.osuosl.org/job/Test_openjdk11_j9_extended.system_aarch64_mac_Nightly_testList_2/7/

However, in the parent build, it processed lots of unrelated TAP files and created incor

[2022-03-10 18:41] llxia commented on #3449
@YeeSkywalker could you take care of this one? Thanks

[2022-03-10 19:34] sophia-guo opened #3450 "Support mounting multiple volumns"
[function parse_docker_args() ](https://github.com/adoptium/aqa-tests/blob/master/external/external.sh) parses parameters for docker build and docker run command.  Currently it parses parameter by `-v` and `-i`. `-v` is used for docker run command to mount volumes, which could be multiples.

The function can be updated to support multiple volumes, which can be tested by test [quarkus_quickstarts_t

[2022-03-10 19:38] sophia-guo commented on #3382
related with https://github.com/adoptium/aqa-tests/issues/3450

[2022-03-10 21:17] sophia-guo opened #3452 "Some containers of external tests may not be deleted properly"
Some containers of external tests may not be deleted properly. For example:
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/499/consoleFull

[code]

The reason for that is for some cases ( copy test results from container) instead of using `docker run -rm` to automatically delete the container  [docker rm](https://github.com/adoptium/aqa-tests/blob/master/external/externa

[2022-03-11 14:08] #3405 closed

[2022-03-11 16:03] abhijeetjejurkar commented on #3337
@sophia-guo I was unable to understand the Problem Correctly, Will you Please Help me
Do we need to Replace

-  [!params.USE_TESTENV_PROPERTIES && params.ADOPTOPENJDK_SYSTEMTEST_OWNER_BRANCH](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L418)
-  [!params.USE_TESTENV_PROPERTIES && params.OPENJ9_SYSTEMTEST_OWNER_BRANCH](https://github.com/adoptium/aqa-tests/blob

[2022-03-11 16:58] abhijeetjejurkar commented on #3450
will this code work?, If Yes, will you please Assign me this?

`function parse_docker_args() {
# parse docker_args to two variable: mountV and  imageArg
	while [[ $# -gt 0 ]] && [[ ."$1" = .-* ]] ; do
		opt="$1";
                c=""
		shift;

		case "$opt" in
			"--volume" | "-v" )
                               if [ $# -gt 1 ];
                               then

[2022-03-11 17:28] sophia-guo commented on #3450
There is no need to do the inner while loop in side of case `-v` as multiple ` -v` could be in any order. All `-v` options can just be appended to one. Like

[code]

[2022-03-11 17:30] sophia-guo commented on #3450
You can also create a shell script to test it.

[2022-03-11 18:03] abhijeetjejurkar commented on #3450
Thankyou, I have not set-up Project on my system yet, I will try to setup project on my environment

[2022-03-11 18:46] sophia-guo commented on #3450
`mountV=""  # initial empty` should be outside of while loop.

[2022-03-11 19:00] abhijeetjejurkar commented on #3450
Yeah 👍 , else in every iteration of while loop `mountV` will becoming empty string

[2022-03-11 19:00] abhijeetjejurkar commented on #3450
Will you please assign me this issue?

[2022-03-11 19:37] #3452 closed

[2022-03-11 19:47] abhijeetjejurkar commented on #3199
Hi, I Checked the codes of both the functions and found that supported_tests variable have been defined in both files  [common_functions.sh](https://github.com/adoptium/aqa-tests/blob/master/external/common_functions.sh#L33) and [external.sh](https://github.com/adoptium/aqa-tests/blob/master/external/external.sh#L39)

In [common_functions.sh](https://github.com/adoptium/aqa-tests/blob/master/exter

[2022-03-11 20:06] smlambert commented on #3199
The reason this issue was raised was to remove the duplication.  Presumably it is only needed in common_functions.sh, which could then be referenced by external.sh.

In a separate effort, we might want to generate the list by looking at the subdirectories under /external, but that can be a separate issue, and would require that we enforce a standard naming schema.

[2022-03-11 20:16] llxia commented on #2841
Verified in [Grinder](https://ci.adoptopenjdk.net/job/Grinder_Perforama/91/console) that we can directly get `RELATED_NODES` in playlist. There is no need to set it as an env variable.

In the console output, `test-docker-ubuntu2010-x64-2` is printed.

[code]

FYI @awsafsakif

[2022-03-11 21:02] sophia-guo commented on #3380
Rerun recent got another error ( old tag):

[code]

[2022-03-11 21:03] sophia-guo commented on #3381
Need to rerun if https://github.com/adoptium/aqa-tests/issues/3380#issuecomment-1063177929 is done.

[2022-03-11 21:50] sophia-guo commented on #3392
Recent run got same failure as #https://github.com/adoptium/aqa-tests/issues/3382, close this one.

[2022-03-11 21:50] #3392 closed

[2022-03-11 21:53] sophia-guo commented on #3390
Same failure as [jacoco](https://github.com/adoptium/aqa-tests/issues/3390)Looks like this mvn version doesn't work with jdk17.

[2022-03-11 21:54] sophia-guo commented on #3382
Same failure as https://github.com/adoptium/aqa-tests/issues/3390Looks like this mvn version doesn't work with jdk17.

[2022-03-11 22:03] sophia-guo commented on #3187
Update health of sanity
[sanity.extended sheet](https://docs.google.com/spreadsheets/d/152xI0hk3qUpe4EdIFDXEvusHgVAdxEtz5nV3KYRFEac/edit?usp=sharing)

[2022-03-13 22:58] gervaisj commented on #2907
@smlambert Oops, I did not see this issue. I believe this was resolved by https://github.com/adoptium/aqa-tests/pull/3416

[2022-03-14 02:30] smlambert commented on #2907
Closed via #3416.

[2022-03-14 02:30] #2907 closed

[2022-03-14 05:58] abhijeetjejurkar commented on #3406
Hey,
 can I work on this?

[2022-03-14 13:18] smlambert commented on #976
@yinggzz - some of the tests in the description were removed, but this is the issue to get test results to a mount so that the Jenkins job could display them (to make it easier to debug)

[2022-03-14 13:19] sophia-guo commented on #3398
@yinggzz see if you could help with couple issues mentioned in https://github.com/adoptium/aqa-tests/issues/3398#issuecomment-1058325633

[2022-03-14 14:01] sophia-guo commented on #3390
@yinggzz please see the comment https://github.com/adoptium/aqa-tests/issues/3390#issuecomment-1061063080

[2022-03-14 16:25] yinggzz commented on #3390
external test rerun with jdk17, this time passed successfully: https://ci.adoptopenjdk.net/job/Grinder/3842/

output of command mvn-v:
11:58:22  Picked up JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8 -Djava.security.egd=file:/dev/./urandom
11:58:22  [1mApache Maven 3.6.3[m
11:58:22  Maven home: /usr/share/maven
11:58:22  Java version: 17.0.3-beta, vendor: Eclipse Adoptium, runtime: /opt/java/openjdk

[2022-03-14 20:15] sophia-guo commented on #3390
It passed because your change will only run `mvn -v` command, no tests will run. If your branch 3390 is used to commit some tag update, you will need to reverse that change.

[2022-03-14 20:19] smlambert opened #3464 "Mount test results from container to test machine"
This issue is to track the pulling of junit-style test results out from within the container they are created in, into a mounted area on the test machine where the container is running, so that if they are available, they can be viewed via the Jenkins JUnit plugin.  This will allow for better debugging of the external test group.

We had previously done this for some tests (related: https://github

[2022-03-14 20:20] smlambert commented on #976
Actually going to close this as stale and created https://github.com/adoptium/aqa-tests/issues/3464 as a fresh take on this work.

[2022-03-14 20:20] #976 closed

[2022-03-14 21:18] smlambert commented on #3390
This has found an interesting defect, given that there were errors and it still shows as passed.

[code]

[2022-03-15 01:10] smlambert opened #3465 "Pre-release Triage on Temurin JDK18 Weekly"
#### Release Summary Report for openjdk18-pipeline
**Report generated at:** Tue, 15 Mar 2022 01:06:17 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=622d2eb857fa857008d0d384&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=622d2eb857fa857008d0d384)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-03-15 01:51] smlambert commented on #3465
- NO jdk18-linux-s390x-temurin BUILD due to
[code]

[2022-03-15 01:51] smlambert commented on #3465
- NO jdk18-linux-x64-temurin BUILD due to `19:30:54  java.nio.file.FileSystemException: /home/jenkins/workspace/build-scripts/jobs/jdk18/jdk18-linux-x64-temurin@tmp/durable-218c9348: No space left on device`

[2022-03-15 19:37] sophia-guo opened #3466 "Cleanup external tests dockerfile directory"
Each external test has the dockerfile directory, which originally set as the location of docker related files( dockefile, shell script). For example https://github.com/adoptium/aqa-tests/tree/master/external/elasticsearch/dockerfile . External tests story has been updated to dynamically generate dockefile there is no need to keep the directory.

We'd like to remove the dockefile directory in exter

[2022-03-15 19:43] sophia-guo commented on #3466
[print_test_files()](https://github.com/adoptium/aqa-tests/blob/master/external/dockerfile_functions.sh#L415-L434) will be affected. The line https://github.com/adoptium/aqa-tests/blob/master/external/dockerfile_functions.sh#L423 and https://github.com/adoptium/aqa-tests/blob/master/external/dockerfile_functions.sh#L427 will need to update.

[2022-03-15 21:01] sophia-guo commented on #3390
same error happened to netty.

[2022-03-15 21:06] sophia-guo commented on #3390
re https://github.com/adoptium/aqa-tests/issues/3390#issuecomment-1067303848

The error message is expected, similar to the error message when doing the image clean at the build step. We explicitly remove the container no matter it exist or not, which should not affect the build status.

[code]

[2022-03-16 03:26] abhijeetjejurkar commented on #3466
Hey, Can I work on this?

[2022-03-16 14:49] sophia-guo commented on #2738
Closed as this has been resolved by a couple of updates

[2022-03-16 14:52] sophia-guo opened #3468 "update camel_test"
External test /camel has updated to mvn wrapper mvnw, which means no need to install default maven. Maven wrapper will specify and installed preferred maven version 3.8.3. Currently all camel tests jdk8, 11, 17 failed.

JDK8: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/537/
error message: `Unrecognized option: --illegal-access=permit  Error: Could not create the Java

[2022-03-16 17:44] smlambert commented on #3279
Noting same tests fail on arm_linux (aarch32) noted in [jdk17 triage](https://github.com/adoptium/aqa-tests/issues/3223) & [jdk18 triage](https://github.com/adoptium/aqa-tests/issues/3465).

[2022-03-16 17:56] smlambert commented on #2874
https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_arm_linux_testList_1/22/testReport/
shows 3 more vector test cases that occur on arm_linux for jdk18 run:

jdk/incubator/vector/Byte64VectorLoadStoreTests.java.Byte64VectorLoadStoreTests
jdk/incubator/vector/ByteMaxVectorLoadStoreTests.java.ByteMaxVectorLoadStoreTests
jdk/incubator/vector/Byte128VectorLoadStoreTests.java.Byte128Vec

[2022-03-17 00:02] smlambert opened #3469 "6 renaissance targets FAILED in Test_openjdk18_hs_extended.perf_* most platforms for jdk18"
renaissance-chi-square_0,renaissance-dec-tree_0,renaissance-gauss-mix_0,renaissance-log-regression_0,renaissance-als_0,renaissance-movie-lens_0 targets fail on ppc64_aix, ppc64le_linux, aarch64_linux, x86-64_windows, x86-64_mac.  Below is information on renaissance-chi-square, but all 6 targets are consistently failing on both ci.role.perf machines with `Caused by: java.lang.StringIndexOutOfBounds

[2022-03-17 00:07] smlambert commented on #3469
auto exclude test renaissance-chi-square ver=18 plat=ppc64_aix

[2022-03-17 02:05] smlambert commented on #3449
Using the global variable currentBuild, reference [doc](https://kb.novaordis.com/index.php/Jenkins_currentBuild):

so updating addFailedTestsGrinderLink() like the snippet below may suffice
[code]

[2022-03-17 02:17] smlambert commented on #3398
More notes to clarify steps 4 and 5 in https://github.com/adoptium/aqa-tests/issues/3449#issuecomment-1069844385:
4. Comparing https://github.com/apache/tomcat/blob/10.0.17/.travis.yml#L28-L38 with what is installed in the container https://github.com/adoptium/aqa-tests/blob/master/external/tomcat/test.properties#L6 (confirming by looking at the generated Dockerfile that is now attached to the tes

[2022-03-17 13:22] #3406 closed

[2022-03-17 14:00] #3384 closed

[2022-03-17 17:54] smlambert commented on #3469
Investigate renaissance dependencies, seems something not happy on ppc64/ppc64le machines.

[2022-03-17 19:10] smlambert opened #3472 "jdk_lang_2 FAILED in Test_openjdk18_hs_sanity.openjdk_arm_linux"
This test consistently fails with `test/jdk/java/lang/invoke/lambda/TestLambdaFileEncodingSerialization.java:38: error: error while writing ABC???: bad filename RelativeFile[TestLambdaFileEncodingSerialization$ABC???.class]` on test-aahlenst-armv7-raspbian-pi4-2, test-sxamb-armv7l-raspbian-pi4-1 and build-equinix-ubuntu1604-armv7l-1, but consistently passes on test-docker-ubuntu2004-armv7l-1, test

[2022-03-17 19:30] smlambert opened #3473 "jdk_imageio_1 FAILED in Test_openjdk18_hs_extended.openjdk_ppc64_aix_testList_0"
This test passes on test-osuosl-aix72-ppc64-2 but fails on other machines with 2 different reasons:

fails on test-osuosl-aix715-ppc64-3 with this error:
[code]
and fails on test-osuosl-aix72-ppc64-1 and test-osuosl-aix715-ppc64-4 with this error:
[code]

**Test Info**
Test Name: jdk_imageio_1
Test Duration: 12 min 58 sec
Machine: test-osuosl-aix715-ppc64-3
TRSS link for the test output: https://t

[2022-03-21 03:47] nik132-eng commented on #3419
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@smlambert

[2022-03-21 12:06] smlambert commented on #3419
@nik132-eng - this issue is currently assigned and PR https://github.com/adoptium/aqa-tests/pull/3437 is under review.  If there are further enhancements to be made after the initial PR is merged, let's identify them so they can be addressed.

[2022-03-21 12:47] nik132-eng commented on #3419
ok ma'am @smlambert

[2022-03-21 13:25] JeromeJu commented on #3128
@llxia I'd like to take this :)

Following the `we should always output TEST_JDK_HOME in job.properties`, I'd like to ask what shall we output under this condition here where there's `$TEST_JDK_HOME` is not empty and the `$javac_path` has not been set?
https://github.com/adoptium/aqa-tests/blob/master/get.sh#L634

Thanks!

[2022-03-21 15:01] #3419 closed

[2022-03-21 17:37] abhijeetjejurkar commented on #3466
@sophia-guo Except test.sh Can we delete other related files in dockerfile directory (eg: dockerfile) or we have to move those to  external test directories

[2022-03-21 18:26] smlambert commented on #3466
For the subdirectories that still have static dockerfiles in that directory (system-test and functional-test), we have to check that they will work if we switch them over to use the autogenerated dockerfiles.  If they do, we can remove the static dockerfiles.  Handling these 2 cases can be done under a separate issue / PR.

[2022-03-21 18:32] llxia opened #3477 "Support user-provided credentials for private docker registry"
For the private docker registry, we should also consider supporting user-provided credentials.

_Originally posted by @llxia in https://github.com/adoptium/aqa-tests/issues/2645#issuecomment-1049119075_

This will be needed for docker based CRIU testing https://github.com/eclipse-openj9/openj9/issues/14486

[2022-03-21 18:36] abhijeetjejurkar commented on #3466
Thankyou @smlambert , So I will keep those 2 dockerfile directory(inside system-test and functional-test) as it is. And just move test.sh script in both subdirectories to external test directories

[2022-03-21 18:48] smlambert commented on #3466
Yes, thanks @abhijeetjejurkar

[2022-03-21 18:58] abhijeetjejurkar commented on #3468
Can I work on this issue? I can update mvn to mvnw in camel script. How to see the result on update?. Will you please guide me with that?

[2022-03-21 19:01] abhijeetjejurkar commented on #3466
Welcome😊

[2022-03-21 19:42] sophia-guo commented on #3354
Instead of backport to v0.8.0 the new v0.9.0 will be released. Close this one.

[2022-03-21 19:42] #3354 closed

[2022-03-21 19:45] sophia-guo commented on #3402
https://github.com/adoptium/aqa-tests/pull/3461#issuecomment-1067184309 the issue should be fixed by https://github.com/adoptium/aqa-tests/pull/3479. Need to rerun to update netty_test status.

[2022-03-21 20:32] yinggzz commented on #3398
I would like to work on this

[2022-03-21 20:33] yinggzz commented on #3398
Since original grinder test results expired, rerun to look at the dockerfile generated;
jkd8: https://ci.adoptopenjdk.net/job/Grinder/3860/
jkd11: https://ci.adoptopenjdk.net/job/Grinder/3861/

[2022-03-21 21:05] #3466 closed

[2022-03-21 21:37] #3382 closed

[2022-03-22 09:54] YeeSkywalker commented on #3464
Hi there, I am wondering if I could take this one? It would be much appreciated!

[2022-03-22 12:39] llxia commented on #3464
@YeeSkywalker could you please work on this issue first? https://github.com/adoptium/aqa-tests/issues/3449 It has a higher priority. Thanks

[2022-03-22 15:35] sophia-guo commented on #1211
https://github.com/adoptium/aqa-tests/issues/1211#issuecomment-1058517437

Exactly same error with jdk8 with latest netty tag. https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/547/consoleFull

[2022-03-22 18:25] #2943 closed

[2022-03-23 00:52] yinggzz commented on #3398
**step 4:**
looking at dockerfile in jdk8 tomcat test [link]( https://ci.adoptopenjdk.net/job/Grinder/3880/)
the below are installed:
[code]
compared to travis.yml
<img width="304" alt="packages" src="https://user-images.githubusercontent.com/74112748/159599639-199e9746-6ed9-46cb-8268-9f5fc49bde46.png">

**step 5:**
tomcat run on jdk11 after adding ant_opts as shown in workflow file:
https://ci.ad

[2022-03-23 13:52] sophia-guo opened #3486 "Support jdk-18+36 release: triage latest jdk18 build"
#### Release Summary Report for openjdk18-pipeline
**Report generated at:** Wed, 23 Mar 2022 13:49:36 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=623a0f7b72761a4c5cf70265&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=623a0f7b72761a4c5cf70265)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-03-23 13:55] Haroon-Khel opened #3487 "JDK18 Alpine Linux jdk_net_0 failures"
Test failures from jdk_net_0 during JDK-18+36 Temurin Release Triage on Alpine linux:

[code]

It is possible that these tests fail only in a container environment. The same tests failed on X Linux when run in a docker container https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-64_linux_testList_1/20/testReport/, but passed when run in a non docker container https://ci.adoptop

[2022-03-23 13:55] smlambert commented on #3486
@Haroon-Khel @sophia-guo - thanks so much for your triage assessment leadership and please ensure to coordinate - https://github.com/adoptium/adoptium/issues/133

[2022-03-23 13:57] sophia-guo commented on #3486
Didn't realize the issue opened, close this one.

[2022-03-23 13:57] #3486 closed

[2022-03-23 14:38] sophia-guo opened #3488 "jdk18 [windows64]: test failed [Unexpected exit from test [exit code: 1] with `There is insufficient memory for the Java Runtime Environment to continue`"
java/util/regex/NegativeArraySize.java

[code]

https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_sanity.openjdk_x86-64_windows/85/consoleFull

Tests has been updated to [@requires os.maxMemory >= 5g & vm.bits == 64](https://github.com/openjdk/jdk/commit/683e30db79789ee44b3cc0b44c085de4615bca7b)

https://bugs.openjdk.java.net/browse/JDK-8273169

[2022-03-23 14:42] smlambert commented on #2774
FYI - @KKES335 what do you think about the suggestion to make the test more flexible?

[2022-03-23 14:43] sophia-guo commented on #3488
Same error with java/nio/channels/FileChannel/LargeGatheringWrite.java.LargeGatheringWrite

https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-64_windows_testList_2/27/

[code]

[2022-03-23 16:06] Haroon-Khel opened #3492 "jdk/jfr/jcmd/TestJcmdDump.java.TestJcmdDump consistently failing in jdk18+36 Release Triage"
The test jdk/jfr/jcmd/TestJcmdDump.java.TestJcmdDump.java.TestJcmdDump from the extended openjdk test suite continues to fail across some platforms

[code]

MacOS https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-64_mac_testList_0/27/
Trss

Linux aarch64 https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_aarch64_linux/27/testReport/jdk_jfr_jcmd_TestJcmdDump/jav

[2022-03-23 16:29] Haroon-Khel commented on #3492
Just found that the test is excluded on aarch64-linux,linux_ppc64le and linux_s390x (yet still ran during this release) https://github.com/adoptium/aqa-tests/blob/69aaa7007e46165aac73af50052dd42e9d29a7ca/openjdk/excludes/ProblemList_openjdk18.txt#L399

MacOS should also be added to the exclude list

[2022-03-23 17:07] jiekang commented on #3488
The console log mentions

16:32:57  Total memory (bytes) : 134217728
16:32:57  Free memory (bytes) : 131147576

That's less than 1 gb?

[2022-03-23 17:25] smlambert opened #3493 "AQAvit meeting: April 6, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&ctz=America%2FToronto), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ic

[2022-03-23 17:25] #3443 closed

[2022-03-23 17:54] sophia-guo commented on #2774
Failed on [test-ibmcloud-rhel6-x64-1](https://ci.adoptopenjdk.net/computer/test-ibmcloud-rhel6-x64-1)
https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_special.functional_x86-64_linux/22/

Passed on test-ibmcloud-rhel7-x64-1, https://ci.adoptopenjdk.net/job/Grinder/3887/console

[2022-03-23 19:54] sophia-guo opened #3494 "jdk18 [x86-32_windows] : test.java.time.format.TestUnicodeExtension.test_withLocale failed on some locale"
https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-32_windows_testList_2/27/consoleFull

test.java.time.format.TestUnicodeExtension.test_withLocale failed on some locale with `java.time.format.DateTimeParseException`

[code]

[2022-03-23 20:19] sophia-guo commented on #2382
[compiler/c2/TestDeadDataLoopCmoveIdentity.java.TestDeadDataLoopCmoveIdentity](https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-32_windows_testList_0/27/testReport/junit/compiler_c2_TestDeadDataLoopCmoveIdentity/java/TestDeadDataLoopCmoveIdentity/)
[compiler/c2/cr6340864/TestByteVect.java.TestByteVect](https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-32_

[2022-03-24 02:42] KKES335 commented on #2774
I think this issue can be addressed by test cases.
Our team is working on a fix.

[2022-03-24 12:35] Haroon-Khel opened #3497 "jdk_jfr_1 tests are failing on linux s390x jdk18+36 release triage"
The following two tests are failing on linux s390x for the jdk18+36 release

`jdk/jfr/api/consumer/TestRecordedFullStackTrace.java.TestRecordedFullStackTrace`

[code]

`jdk/jfr/event/profiling/TestFullStackTrace.java.TestFullStackTrace`

[code]

Job link https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_s390x_linux_testList_0/25/
Trss https://trss.adoptium.net/output/test?id=623b3

[2022-03-24 13:58] llxia commented on #2841
The feature is implemented. The task about - add timestamp{} to provide more info is optional and it is tacked in  https://github.com/adoptium/aqa-tests/issues/3396
Close this issue.

[2022-03-24 13:58] #2841 closed

[2022-03-24 16:55] Haroon-Khel opened #3498 "Failing jdk_time test on MacOS x64 JDK18+36 release triage"
java/time/test/java/time/format/TestZoneTextPrinterParser.java.TestZoneTextPrinterParser from jdk_time in the extended openjdk test suite is failing on MacOS

[code]

Test job link https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_x86-64_mac_testList_1/26/testReport/
Trss link https://trss.adoptium.net/output/test?id=623b273c72761a4c5cf83036

I reran the job on test-macstadium-mac

[2022-03-24 17:02] Haroon-Khel commented on #3492
Closing as it appears to be intermittent on MacOS
Recent pass https://ci.adoptopenjdk.net/job/Grinder/3914/console

[2022-03-24 17:03] Haroon-Khel commented on #3487
For this reason I do not think these failures are non blocking

[2022-03-24 17:11] Haroon-Khel commented on #3497
Upstream bug
https://bugs.openjdk.java.net/browse/JDK-8280155

[2022-03-24 17:11] #3497 closed

[2022-03-24 19:03] sophia-guo commented on #3488
Passed on https://ci.adoptopenjdk.net/view/Test_openjdk/job/Test_openjdk18_hs_sanity.openjdk_x86-64_windows/86/.

The console log is misleading, which is actually the info of  java process org.openj9.envInfo.EnvDetector

[2022-03-24 20:24] smlambert commented on #3498
Adding the jtr file (from the test output archive) for reference: [TestZoneTextPrinterParser.jtr.txt](https://github.com/adoptium/aqa-tests/files/8345069/TestZoneTextPrinterParser.jtr.txt)

[2022-03-24 21:04] sophia-guo commented on #3488
Issue opened https://github.com/adoptium/TKG/issues/302

[2022-03-24 21:08] sophia-guo commented on #3488
Reran https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3935/console
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3936/console

Passed. And update the console output to printout proper information

[2022-03-24 21:10] sophia-guo commented on #3488
Close it as can not be reproduced. Guess the machine's in corner unhealthy status.

[2022-03-24 21:10] #3488 closed

[2022-03-24 21:44] smlambert commented on #3498
Also noting that this test [consistently passes](https://trss.adoptium.net/deepHistory?testId=622e0baa57fa857008d2bb04) in jdk17 (https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_mac_testList_1/38/testReport/java_time_test_java_time_format_TestZoneTextPrinterParser/).

Run against Oracle's jdk18 build here: https://ci.adoptopenjdk.net/job/Grinder/3937/
also fails in same w

[2022-03-24 21:46] smlambert commented on #3498
We should also double-check that there is no 'test skew'... that the test material we are using, matches up with the source build tag being tested.  (believe this to be the case, but will confirm).

[2022-03-25 02:21] #3345 closed

[2022-03-25 14:18] smlambert commented on #3498
@sophia-guo - you mentioned this test case, DateTimeParseException is also failing on win32?

[2022-03-25 14:20] sophia-guo commented on #3494
same exception with different test on Mac https://github.com/adoptium/aqa-tests/issues/3498

[2022-03-25 14:20] #3494 closed

[2022-03-25 14:23] sophia-guo commented on #3498
Not the same tests, the underlying failure is the same java.time.format.DateTimeParseException

[2022-03-25 15:58] sophia-guo commented on #3498
test.java.time.format.TestUnicodeExtension.java against azul on win32 got the same failure https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3962/consoleFull

[2022-03-25 16:07] smlambert commented on #3498
Ok, so we are going to treat it as 'non-blocking', but I'd like to figure out if this is a test case that needs to be improved, or a product problem that should be fixed (or skew/mismatch of test material).

[2022-03-25 16:10] sophia-guo commented on #3498
This should not be `skew/mismatch of test material`. Test build are using commit `0f2113cee79b9645105b4753c7d7eacb83b872c2`, which is exactly same as `jdk-18+36`

[code]
https://github.com/adoptium/jdk18u/releases/tag/jdk-18%2B36

[2022-03-25 16:21] sophia-guo commented on #3498
test.java.time.format.TestUnicodeExtension has not been updated for two years.

java/time/test/java/time/format/TestZoneTextPrinterParser.java did have updated recently with production update. Also it is related with `ZonedDateTime parse`

https://github.com/adoptium/jdk18u/commit/a363b7b9217cbb9a7580a87b812da8d5a4215326. Need to take a look of this change.

[2022-03-25 18:38] smlambert commented on #3492
re: https://github.com/adoptium/adoptium/issues/133#issuecomment-1076456053

Test is excluded for jdk18 on this platform https://github.com/adoptium/aqa-tests/blob/69aaa7007e46165aac73af50052dd42e9d29a7ca/openjdk/excludes/ProblemList_openjdk18.txt#L399

If the test was excluded (via https://github.com/adoptium/aqa-tests/pull/3044), it should not have run.  Since it is running and failing, looking

[2022-03-25 19:02] Haroon-Khel opened #3499 "jdk_net_0 test failing on AIX during jdk 18+36 release"
Failing jdk_net test from the extended openjdk test suite are failing on aix due to a timeout error:

`com/sun/net/httpserver/simpleserver/StressDirListings.java.StressDirListings`
[code]

Test job https://ci.adoptopenjdk.net/job/Test_openjdk18_hs_extended.openjdk_ppc64_aix_testList_0/24/testReport/
Trss link https://trss.adoptium.net/output/test?id=623b9dc672761a4c5cf8bf34

Fails in the same way

[2022-03-25 19:30] smlambert commented on #3499
[StressDirListings.jtr.txt](https://github.com/adoptium/aqa-tests/files/8353367/StressDirListings.jtr.txt)

[2022-03-25 20:55] smlambert commented on #3499
on the off-chance that this test is failing on only certain machines and based on this comment which states that a couple of machines have better ipv6 config https://github.com/adoptium/infrastructure/issues/2456#issuecomment-1036164741
I am rerunning java_net target on[build-osuosl-aix71-ppc64-1](https://ci.adoptopenjdk.net/computer/build-osuosl-aix71-ppc64-1) in https://ci.adoptopenjdk.net/job/G

[2022-03-25 21:19] sophia-guo commented on #1211
The latest run against  jdk8, jdk11, jdk17 with 'jvm neg pos' got similar failures:

[code]

https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3989/console
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3988/console
https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/3985/console

[2022-03-26 00:06] smlambert opened #3500 "Check ProblemLists for incorrect platform entries"
During jdk18 triage, we have seen that there are incorrect entries in the [ProblemList](https://github.com/adoptium/aqa-tests/blob/master/openjdk/excludes/ProblemList_openjdk18.txt) file (linux_s390x, linux_ppc64le, etc) so the test will still run, even though we thought it was excluded.

We should also add a readme or a comment at the top of problemlist files to remind people of what formats are

[2022-03-26 14:44] gervaisj commented on #3244
## Debug

@smlambert
@JeromeJu here is some info I discovered regarding the issue. Let me know if you prefer transferring the issue to me or you want to keep it, I don't mind either way.

`run_with_affinity.sh` itself seems fine, but it calls (silently unfortunately) another script called `affinity.sh` which does not support Solaris/SunOS as a platform. I hacked together support for solaris in `af

[2022-03-26 16:55] gervaisj commented on #3445
@amir-waheed The playlist parser is now merged https://github.com/adoptium/aqa-tests/pull/3460, so you'll be able to integrate that as well.

I did a trial run of what we have so far. See this run: https://ci.adoptopenjdk.net/view/Test_grinder/job/AutoReenableJob/133. I think the only things to change would be:
- to run the tests in parallel
https://github.com/adoptium/aqa-tests/blob/2c680a91f29cc

[2022-03-27 23:06] amir-waheed commented on #3445
@gervaisj Thank you for the suggestions. I have made relevant changes on my branch and it seems to be working :)

[2022-03-28 11:33] Haroon-Khel commented on #3499
I'm rerunning jdk_net with jdk17 to see if `com/sun/net/httpserver/simpleserver/StressDirListings.java.StressDirListings` is a regression https://ci.adoptopenjdk.net/job/Grinder/4146/console

[2022-03-28 13:24] sophia-guo commented on #3498
@jiekang , @andrew-m-leonard Based on https://github.com/adoptium/aqa-tests/issues/3498#issuecomment-1079187885 it might be helpful to open a JBS issue?

[2022-03-28 13:29] llxia opened #3504 "quarkus_quickstarts_test failed with Could not find the selected project in the reactor: :hibernate-search-elasticsearch-quickstart"
quarkus_quickstarts_test failed on all platforms.

internal/Test_openjdk11_j9_sanity.external_x86-64_linux/49 output:

[code]

The last passed build was Feb 4th Test_openjdk11_j9_sanity.external_x86-64_linux/44

We can reproduce the error in Grinder:
- openj9: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4147/console
- hotspot: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder

[2022-03-28 13:30] llxia commented on #3504
@sophia-guo is the failure related to recent version upgrades?

[2022-03-28 13:48] jiekang commented on #3498
@sophia-guo to clarify, you suspect changes from [JDK-8177819](https://bugs.openjdk.java.net/browse/JDK-8177819) are causing the failure in 18, and since it's not backported to 17, it's still passing there. Is that right?

[2022-03-28 15:19] #2774 closed

[2022-03-28 17:58] Haroon-Khel commented on #3499
From the jdk17 run alot of the same infra related tests did fail.
[code]
While com/sun/net/httpserver/simpleserver/StressDirListings.java.StressDirListings does not appear as a failure, I can't find it in any of the tests that ran.

In fact I don't think this test appears in the jdk17 source code https://github.com/adoptium/jdk17u/tree/master/test/jdk/com/sun/net/httpserver (unless I am looking in

[2022-03-28 18:54] sophia-guo commented on #3498
Yes, correct. @jiekang

[2022-03-28 19:09] sophia-guo commented on #3380
rerun with latest tag:
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/559/consoleFull

[2022-03-28 19:10] sophia-guo commented on #3381
rerun with latest tag:
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/560/

[2022-03-28 19:11] jiekang commented on #3498
Just noting, the test that fails in TestZoneTextPrinterParser didn't exist in 17, it was added by https://bugs.openjdk.java.net/browse/JDK-8177819 (https://github.com/openjdk/jdk/commit/a363b7b9217cbb9a7580a87b812da8d5a4215326#diff-d4fb442a77ecfe0a5c7ab7dbc30acdeb8aee1d001f4f0555b5e0d50bfd5c9047R261)

[2022-03-28 19:19] sophia-guo commented on #3504
For quarkus_quickstarts there are two updates: one is latest version tag and the other one is maven version.

[2022-03-28 19:21] #3380 closed

[2022-03-28 19:22] sophia-guo commented on #3381
Latest error:

[code]

[2022-03-28 19:29] smlambert opened #3505 "Move quarkus_test and spring_test from extended to sanity level"
Currently the [quarkus_test](https://github.com/adoptium/aqa-tests/blob/master/external/quarkus/playlist.xml#L16-L28) and [spring_test](https://github.com/adoptium/aqa-tests/blob/master/external/spring/playlist.xml#L16-L28) targets are in extended level, and since we are organizing frameworks into sanity and applications into extended, it will be better to change the level of these two targets to

[2022-03-28 19:49] yinggzz commented on #3398
tomcat run on jdk 11 after adding "install" section of [travis setup](https://github.com/apache/tomcat/blob/10.0.17/.travis.yml) in tomcat/test.sh: https://ci.adoptopenjdk.net/job/Grinder/4149/console
same error:
[code]

[2022-03-28 20:18] sophia-guo commented on #3381
looks like the [compatibility issue](https://docs.gradle.org/current/userguide/compatibility.html). First gradle version supports jdk17 is 7.3

https://stackoverflow.com/questions/69425829/unsupported-class-file-major-version-61-error

[2022-03-28 20:40] sophia-guo commented on #3398
@yinggzz For step 4 if there are different packages installed for travis job we'd like to install them in our environments. That is installing the packages build-essential, automake, autoconf, libssl-dev, subversion, libtool-bin, which can be done by update the test.properties.

The failure you mentioned in https://github.com/adoptium/aqa-tests/issues/3398#issuecomment-1081070334 shows  `APR/nativ

[2022-03-28 20:59] yinggzz commented on #3398
@sophia-guo Thank you for the clarifications, for installing APR/native library, should I add it to test.sh?

[2022-03-29 07:57] andrew-m-leonard commented on #3498
[code]

[2022-03-29 08:34] andrew-m-leonard commented on #3498
This is the same problem as https://bugs.openjdk.java.net/browse/JDK-8282023
needs same fix in this testcase here: https://github.com/openjdk/jdk18u/blob/1ab6f9395f784293deb37ea0186db59d1166ae40/test/jdk/java/time/test/java/time/format/TestZoneTextPrinterParser.java#L266

To recreate:
[code]

Using Locale.ROOT fix:
[code]

[2022-03-29 13:22] llxia commented on #2902
openliberty_microprofile_tck passed in [hotspot](https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4148/console). I would like to check again if we can run this test using openj9

[2022-03-29 15:07] sophia-guo commented on #3498
@andrew-m-leonard https://github.com/adoptium/aqa-tests/issues/3494 has same issue, which is on win32. Noticed https://bugs.openjdk.java.net/browse/JDK-8283842 only mentioned Macos.

[2022-03-29 15:24] sophia-guo commented on #3504
No project hibernate-search-elasticsearch-quickstart in latest 2.7.1.Final, which should be removed.

[2022-03-29 15:51] sophia-guo commented on #3381
auto exclude test openliberty_microprofile_tck ver=17+

[2022-03-29 16:26] smlambert commented on #3381
auto exclude test openliberty_microprofile_tck ver=17

[2022-03-29 16:30] sophia-guo commented on #3381
Thanks @ShelleyLambert ! Just to confirm that ver=17+ doesn't work? `auto exclude test openliberty_microprofile_tck ver=17+`

[2022-03-29 16:32] sophia-guo commented on #3381
Close it.

[2022-03-29 16:37] smlambert commented on #3381
@sophia-guo - I see your comment at https://github.com/adoptium/aqa-tests/issues/3381#issuecomment-1082050983, perhaps we create an enhancement issue to support it (its not listed as supported in the docs https://github.com/adoptium/aqa-tests/blob/master/doc/userGuide.md#automatically-exclude-a-test-target).

[2022-03-29 16:39] sophia-guo commented on #3381
Also no error message.:-)

[2022-03-29 17:28] Haroon-Khel commented on #3499
I was able to get `com/sun/net/httpserver/simpleserver/StressDirListings.java.StressDirListings` to pass after running it with `-Dtest.timeout.factor=3.0`, it's usually set to 1.0

[code]

The timeout occurs because this [for loop] (https://github.com/adoptium/jdk18u/blob/79b6333cc40b5f30aea96779eb81bb5515fa0a26/test/jdk/com/sun/net/httpserver/simpleserver/StressDirListings.java#L93) runs for 1100

[2022-03-29 17:29] jiekang commented on #3498
@sophia-guo I added a comment on seeing it on win32.

[2022-03-29 17:33] smlambert commented on #3381
Yep, because if we do close it, it will be a signal to the new Auto-reenable pipeline to reinclude and test it.  If there is a better upstream issue (at the openliberty project that describes this failure, we would use it to exclude the test by, instead of placeholder issues in aqa-tests repo).

[2022-03-29 17:39] smlambert commented on #3499
Thanks @Haroon-Khel  (please use @smlambert - the other github account was attached to my old employer's email address and I do not see notifications for it).

I think we could change the options to the test harness on our side to increase the JTREG_TIMEOUT_OPTION for that platform (as I see we already do something similar for zOS, https://github.com/adoptium/aqa-tests/blob/master/openjdk/openjdk.

[2022-03-29 19:45] sophia-guo opened #3510 "Double check gradle version of external test projects as only 7.3 supports jdk17"
There are a few external test projects are using gradle with specific version, which might not support jdk17 yet. https://docs.gradle.org/current/userguide/compatibility.html. Need to double check that and if that's the case we need to disable test with jdk17.

Similar to https://github.com/adoptium/aqa-tests/issues/3381

[2022-03-29 19:52] llxia commented on #3505
Just for the record, quarkus_test and spring_test failed with both openj9 and hotspot. The errors are the same for both SDK.

**JDK11 openj9 in Grinder/22106:**

- spring_test:
[code]

- quarkus_test:
[code]

**JDK 11 hotspot:**
- quarkus_test: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4169/
[code]
- spring_test: https://ci.adoptopenjdk.net/view/Test_grinder/job/Grinder/4170/

[cod

[2022-03-30 11:02] Haroon-Khel commented on #3499
Looking at https://ci.adoptopenjdk.net/job/Grinder/4145/consoleFull (if you search for (com/sun/net/httpserver/simpleserver/StressDirListings.java) it shows that the timeout factor was 8, due to https://github.com/adoptium/aqa-tests/blob/master/openjdk/openjdk.mk#L82-L86, yet the test still managed to fail

[code]
Yet I managed to get the test to run to completion with a timeout factor of 3

[2022-03-30 14:45] smlambert commented on #3499
@Haroon-Khel - I presume on the same machine?  and if so, then the thing that is causing the delay takes varying amount of time, are there other things happening on the machine that would affect execution time?

[2022-03-30 16:04] Haroon-Khel commented on #3500
https://github.com/adoptium/aqa-tests/tree/master/openjdk#exclude-a-testcase for the proper annotation when excluding

[2022-03-30 16:17] smlambert commented on #3500
And noting that the problemlist parser (exclude_parser.py) that will run as part of the Auto reenablement pipeline will help this problem.

https://github.com/adoptium/aqa-tests/blob/master/scripts/disabled_tests/exclude_parser.py#L189-L203
https://github.com/adoptium/aqa-tests/tree/master/scripts/disabled_tests#dry-run-to-see-errors-and-warnings

[2022-03-30 20:00] sophia-guo opened #3514 "jdk17: quarkus_quickstarts_test kogito-quickstart failed"
jdk17: quarkus_quickstarts_test  kogito-quickstart failed with tag 2.7.2.Final

[code]

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/575/console

[2022-03-30 22:28] gervaisj opened #3516 "Allow script parsers to filter on platforms, JDK versions, implementations"
**Description**
The problem parsers currently takes a list of files and outputs all disabled tests discovered in the files. However, this produces unnecessary queries to APIs to fetch issue statuses when we are only testing a single Java version e.g. say we are testing JDK18, it would be nice to filter for only the disabled tests on JDK18.

**Possible solution**
Could take the filter as a CLI para

[2022-03-30 22:28] gervaisj commented on #3516
@smlambert Can I be asssigned to this?

[2022-03-30 22:31] amir-waheed commented on #3510
Can I have this issue assigned to me?

[2022-03-30 23:02] llxia commented on #2902
@LongyuZhang could you look into this issue? Thanks

[2022-03-31 06:28] abhijeetjejurkar commented on #3505
Hey Can I work on this?

[2022-03-31 13:35] #3286 closed

[2022-03-31 15:07] llxia opened #3518 "quarkus_quickstarts_test_0 failed on JDK11 s390"
The subtest amazon-dynamodb-quickstart of quarkus_quickstarts_test_0 failed on s390. Most subtests in quarkus_quickstarts_test_0 are skipped.

amazon-dynamodb-quickstart failure happened on both openj9 and hotspot JDK11.

hotspot: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/581/
openj9: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/580/

[c

[2022-04-01 13:20] sophia-guo commented on #3514
Excluded in #3520

[2022-04-01 16:00] JeromeJu opened #3522 "Automation to grab all tap files and AQAcert.log file and push them to either releases repo or artifactory"
Automation to grab all tap files and AQAcert.log file and push them to either releases repo or artifactory

1.  Creating a standalone groovy script that given the name/id of a pipeline job can fetch all the artifacts from all of the jobs in a pipeline from top-level parent all the way down and then zip those files up.

    Required inputs:
    - JOB_NAME
    - JOB_ID
    - JOB_CREDENTIALS

  Cases

[2022-04-01 19:54] sophia-guo commented on #3505
Spring jdk8 and jdk11 failure:

[code]

spring jdk17 failure:

[code]

Might be gradle version issue. Will update to use project default gradle wrapper

[2022-04-01 19:57] sophia-guo commented on #3510
Spring : https://github.com/adoptium/aqa-tests/issues/3505#issuecomment-1086270612

[2022-04-01 20:34] sophia-guo commented on #3468
[<maven.compiler.source>11</maven.compiler.source>](https://github.com/apache/camel-quarkus/blob/main/pom.xml#L202)

[2022-04-01 20:48] sophia-guo commented on #3468
Current issue would be rerun job to see which tests failed.

[2022-04-01 20:50] smlambert commented on #3468
@sophia-guo - @abhijeetjejurkar does not currently have access to run a Grinder, but I can add him to a team that does, if you want help with this issue and assign him.

[2022-04-03 19:00] gervaisj commented on #3516
Up-to-date version numbers, like `17+`

As discussed in a CANOSP meeting, the filtering is limited at the moment to exact matches.

This is not a problem, as the filters are all entered as strings (conversion to `int` is not required)

[2022-04-03 20:24] gervaisj opened #3525 "Generate list of disabled tests, periodically and on-demand"
Run the scripts in `scripts/disabled_tests` to generate a JSON list of disabled tests.

Intended use cases include:
- consume JSON output in Jenkins pipeline to automate disabled tests "retesting" (and eventual re-inclusion)
- detect format errors in `ProblemList*.txt`

This can be done within GitHub Actions, as discussed here: https://github.com/adoptium/aqa-tests/pull/3459#issuecomment-108006643

[2022-04-03 20:25] gervaisj commented on #3525
@smlambert just for tracking, can I be assigned to this? I'll open a PR very soon

[2022-04-03 20:45] gervaisj opened #3527 "Integrate issue filtering into GitHub Action"
https://github.com/adoptium/aqa-tests/pull/3524 introduces a new filter script. We can integrate the filter in the parsing action from https://github.com/adoptium/aqa-tests/pull/3526. This way, users can parse only platforms, versions or implementations which interest them.

[2022-04-03 23:27] amir-waheed commented on #3510
@sophia-guo
These are all the test that require specific version of grade which doesn't support jdk17.
functional-test - gradle version 5.1
Kafta - gradle version 5.4
Spring - gradle version 5.1
system-test - gradle version 5.1
Should I go ahead and disable these tests for jdk17?

[2022-04-04 09:04] andrew-m-leonard commented on #3498
Fixed upstream: https://github.com/openjdk/jdk/commit/a41550b9e3c6729e90a96cf33e1765887aa2a3fb

[2022-04-04 15:43] sophia-guo commented on #3468
That would be great @smlambert . @abhijeetjejurkar with #3523 in we will need to rerun tests with jdk17 and jdk11 ( the minimal requirements for jdk version is 11) and update the excludeProject variable to exclude the failure tests. We can first check the build https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/614/console there are some failures we can first exclude.

For e

[2022-04-04 16:18] abhijeetjejurkar commented on #3468
@smlambert @sophia-guo Thankyou for considering me. I will work on it. I just need some time to understand the issue.

[2022-04-04 16:43] smlambert opened #3528 "Check if xunit plugin can be configured with longer time outs (solaris case)"
This is not a high priority item, but noting that when we run certain tests on solaris that use the xunit it is occasionally slow and sometimes test results files from the same run are quite 'old' 1.5 hrs, which causes the xunit plugin to complain.

[code]

We could check if the xunit plugin has an option to configure it to extend the allowable time out before warning of stale files.

[2022-04-04 16:53] sophia-guo opened #3529 "[external tests]: Converge the testcases require different test suites based on different impl or jdk version"
Recent update of external test export impl and jdk_version as environment variables when generating the docker files. Also external tests have been updated to support test suites options as the docker CMD. Based on that there is no need to duplicate the test case in playlist.xml if different impl or jdk version works with different test suites.

For example project elasticsearch have three test ca

[2022-04-04 20:47] sophia-guo commented on #3510
@amir-waheed we can leave functional-test and system-test as is for now.
Both Spring and Kafta actually use gradle wrapper, which means we don't need to manually setup gradle in test.properties file, please see #3530 as spring updates. You can try similar thing for Kafta.

[2022-04-04 20:52] sophia-guo commented on #3510
@amir-waheed I also think we can just remove the function print_gradle_install in dockerfile_function.sh as all gradle related projects set up the gradle by gradle wrapper, which we will always use the same gradle version as the application community.

[2022-04-04 21:41] llxia opened #3531 "Create parent AQA test pipeline"
We need to create a parent AQA test pipeline. Users can use this parent pipeline to trigger any child test builds using the existing SDK at any time.

Inputs:
- TOP_LEVEL_SDK_URL - top level zip URL from Jenkins upstream (i.e., https://ci.adoptopenjdk.net/job/build-scripts/job/openjdk11-pipeline/1889/artifact/target/aix/ppc64/temurin/*.tar.gz/*zip*/temurin.zip)
- TARGETS (i.e., sanity.functional,e

[2022-04-04 22:10] smlambert commented on #3468
thanks @abhijeetjejurkar - you have an invitation to join a github team (AdoptOpenJDK/canosp_w22) which will give you access to running tests on our Jenkins instance.  Once you accept the invitation, you should be able to login to our Jenkins server and run test jobs.

As Sophia mentions:

Once you make that change, you will be able to run tests on the changes from your branch.  (create a branch,

[2022-04-04 22:53] abhijeetjejurkar commented on #3468
Thankyou ma'am for the detailed guidelines. I will follow the steps as mentioned by you.😊

[2022-04-05 13:10] #3128 closed

[2022-04-05 19:05] sophia-guo commented on #3498
Any plan to back port to jdk18? @andrew-m-leonard

[2022-04-05 19:55] andrew-m-leonard commented on #3498
I've asked upstream..

[2022-04-05 20:31] LongyuZhang commented on #2902
Tested enabling openliberty_microprofile_tck on _hyc-jenkins_, most machines passed, but there are still some machines have problem downloading Apache Ant, as mentioned in Issue (https://github.ibm.com/runtimes/infrastructure/issues/6056).
Following are more detailed test results:

Failed machines:
- ub20x64rt1-10 (grinder 22319 & 22331)

Passed machines:
- ub20x64rt3-2  (grinder 22292)
- ub20x64r

[2022-04-05 21:12] sophia-guo commented on #3325
Can be closed by #3333 and #3394

[2022-04-05 21:12] #3325 closed

[2022-04-05 21:15] sophia-guo commented on #3337
Do we need to Replace

[!params.USE_TESTENV_PROPERTIES && params.ADOPTOPENJDK_SYSTEMTEST_OWNER_BRANCH](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L418)
[!params.USE_TESTENV_PROPERTIES && params.OPENJ9_SYSTEMTEST_OWNER_BRANCH](https://github.com/adoptium/aqa-tests/blob/master/buildenv/jenkins/JenkinsfileBase#L424)
[!params.USE_TESTENV_PROPERTIES && params.STF

[2022-04-06 15:35] JeromeJu commented on #3522
Regarding Task 1:

[2022-04-06 16:48] smlambert opened #3533 "AQAvit meeting: May 4, 2022"
Join via https://bluejeans.com/917304424

This meeting is part of the public [Adoptium community calendar](https://calendar.google.com/calendar/embed?src=c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com&ctz=America%2FToronto), if you wish to import the calendar use this [link](https://calendar.google.com/calendar/ical/c_uannoums5ho0olhjk3ulecdkbc%40group.calendar.google.com/public/basic.ic

[2022-04-06 16:48] smlambert commented on #3493
Meeting [recording link](https://bluejeans.com/s/HIB@ZuS2F7s)

Minutes:
- We stuck closely to the agenda!
  - Starting off with a recorded demo by @tommytwm on TRSS release report enhancements (aqa-test-tools)
  - @yinggzz then presented on external test work (to help simplify, make them more maintainable and get tests running again) she has been doing in collaboration with @sophia-guo
  - CanOSP

[2022-04-06 16:48] #3493 closed

[2022-04-06 20:01] amir-waheed commented on #3510
@sophia-guo I have a PR up with these changes.

[2022-04-07 15:41] sophia-guo opened #3538 "[ External - Kafka ] : status"
Jdk8: might just disable as

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/625/console

[code]
Java 11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/624/console

[code]

JDK17 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/626/console

[code]

Different tests failures.

[2022-04-07 15:46] sophia-guo commented on #3187
[extended.external sheet](https://docs.google.com/spreadsheets/d/1ojQTYGtxwdNShKYxYZgZO4nmj3d-FBB4hjb-_LEmtz0/edit#gid=0)

[2022-04-07 16:07] llxia opened #3539 "Parent test build archives wrong *.tap file"
Similar to https://github.com/adoptium/aqa-tests/issues/3449, I noticed wrong *.tap is archived by the parent build.
Internal/Grinder/22425/
The parent build only has two child Grinder_iteration_0 and Grinder_iteration_1

[code]

![image](https://user-images.githubusercontent.com/19273206/162247673-a0595cf0-63c5-4f0c-8eef-cba6947039fe.png)

[2022-04-07 16:26] sophia-guo opened #3540 "[ external : spring ]: Compilation with Kotlin compile daemon was not successful"
jdk11: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/613/consoleFull

[code]

jdk8: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/612/consoleFull

[code]

[2022-04-07 17:46] sophia-guo commented on #3505
https://github.com/adoptium/aqa-tests/issues/3540 spring issues

[2022-04-07 20:16] #3539 closed

[2022-04-08 09:57] sxa opened #3542 "Generated jobs have a space at the start of the CUSTOMIZED_SDK_URL_CREDENTIAL_ID value"
**Describe the bug**
The newly generated jobs for JDK11/mac/aarch64 had the default value of`CUSTOMIZED_SDK_URL_CREDENTIAL_ID` set to ` eclipse_temurin_bot_token` with a space at the start, which is invalud

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link): Run any of the test jobs for jdk11/mac/aarch64 - sample log is at https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sa

[2022-04-08 11:05] smlambert commented on #3542
https://ci.adoptopenjdk.net/view/Test_grinder/job/Test_Job_Auto_Gen/ was configured with CUSTOMIZED_SDK_URL_CREDENTIAL_ID as parameter type "Credential", which appears to insert a blank space in front of eclipse_temurin_bot_token value.  I have switched parameter type to "String" which I believe resolves this issue (as that is how the Test_Job_Auto_Gen job in temurin-compliance server is configure

[2022-04-08 11:44] sxa commented on #3542
Actually [the jobs are failing](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_sanity.openjdk_aarch64_mac/3/console) even with the space removed - the previously generated jobs such as mac/x64 seem to [have that as blank](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.functional_x86-64_mac/232/parameters/) as a default - is that token name one that should only be put on the TC jenki

[2022-04-08 12:09] smlambert commented on #3542
It is **not** the correct credential name for public Jenkins, should be eclipse_temurin_bot_email_and_token.

Other notes:
We do not need it for our standard build pipeline story as we use SDK_RESOURCE=upstream, so I will update the Test_Job_Auto_Gen.  (To either to leave it blank, or put the correct token name).

Times when we do need that param to be populated (mainly for Grinder rerun story) is

[2022-04-08 17:03] sophia-guo opened #3545 "[external : quarkus ] - status"
Test failures are intermittent.
Jdk11 ( disabled `quarkus-documentation, quarkus-reactive-routes-deployment,quarkus-cli,quarkus-integration-test-no-awt,quarkus-avro-reload-test`, which failed in earlier build https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/627)

run twice and got different failures:
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new

[2022-04-08 17:08] sophia-guo commented on #3545
jdk17
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/631/console

[code]

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/643/ waiting for result

[2022-04-08 17:09] sophia-guo commented on #3545
https://github.com/adoptium/aqa-tests/issues/3505

[2022-04-08 17:10] sophia-guo commented on #3540
https://github.com/adoptium/aqa-tests/issues/3505

[2022-04-08 17:14] sophia-guo commented on #3188
This can be closed.

[2022-04-08 17:14] #3188 closed

[2022-04-08 18:35] llxia opened #3546 "Investigate and add jcstress in system test group"
We should investigate and add jcstress in the system test group:

https://github.com/openjdk/jcstress

[2022-04-08 19:57] #3516 closed

[2022-04-09 02:48] sophia-guo opened #3548 "[ external - lucene-solr ] : junit tests failed with jdk17, jdk8"
Jdk11 passed:

jdk17: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/644/console

[code]

jdk8: https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/646/console

[code]

[2022-04-09 09:45] #3525 closed

[2022-04-11 16:23] sophia-guo opened #3552 "[ external - wildfly] : status"
Failed project

JDK8: wildfly-ts-integ-elytron
JDK11: wildfly-ts-integ-elytron,wildfly-ts-integ-basic
JDK17: wildfly-iiop-openjdk

[2022-04-11 16:35] sophia-guo commented on #1824
Hotspot , looks like failures are similar with different jdk version

jdk 17:
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/650/console

[code]

jdk11 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/651/console

[code]

jdk8 https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/652/console

[code]

[2022-04-11 20:23] sophia-guo opened #3555 "[ external : tomcat ] - status"
With latest setup https://github.com/adoptium/aqa-tests/pull/3507 external tomcat status:

 jdk11, 17 same failures https://ci.adoptopenjdk.net/job/Grinder/4416/console https://ci.adoptopenjdk.net/job/Grinder/4426/console

[code]

jdk8: https://ci.adoptopenjdk.net/job/Grinder/4425/console

[code]

[2022-04-12 13:21] JeromeJu commented on #3522
Hi @llxia , according to your pointers and https://github.com/adoptium/aqa-tests/pull/3536, I'd like to confirm for now, the tapfiles from child builds should be archived. But for the 1st part of this issue, I still need to fetch all artifacts other than the tap files?

[2022-04-12 14:01] smlambert opened #3560 "Update renaissance version to 0.14.0"
We are currently using [v0.9.0](https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.9.0) (from May 2019), we should move to latest stable, [v0.14.0](https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.14.0) (from Jan 2022).

I am not sure what happened with the bump to v0.11.0 - which was under https://github.com/adoptium/aqa-tests/issues/2298 (looks like it was

[2022-04-12 14:11] llxia opened #3561 "Upgrade renaissance to 0.14.0 release"
Currently, the renaissance test is running with https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.9.0. We should upgrade to the[ latest version 0.14.0 release](https://github.com/renaissance-benchmarks/renaissance/releases/tag/v0.14.0).

https://github.com/adoptium/aqa-tests/blob/f9255ef564716df2be39e076d488739896a783c6/perf/renaissance/build.xml#L37

[2022-04-12 14:14] smlambert commented on #3561
I will close https://github.com/adoptium/aqa-tests/issues/3560 as dup (even though it was created a few minutes earlier, haha).

[2022-04-12 14:14] smlambert commented on #3560
Close as dup of https://github.com/adoptium/aqa-tests/issues/3561

[2022-04-12 14:14] #3560 closed

[2022-04-12 14:15] #3505 closed

[2022-04-12 18:08] sophia-guo opened #3565 "[ external - netty ] : status"
Same failure with 8, 11, 17.
https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/685/console

[code]

[2022-04-12 18:10] sophia-guo commented on #3565
Same issue as before. More details https://github.com/adoptium/aqa-tests/issues/3402

[2022-04-12 18:11] sophia-guo commented on #3402
Close this in favour of https://github.com/adoptium/aqa-tests/issues/3565

[2022-04-12 18:11] #3402 closed

[2022-04-12 19:05] sophia-guo opened #3567 "[ external : elasticsearch ] - status"
Test was originally enabled for jdk13+ and got the following failure with latest update:

[code]

[2022-04-13 09:38] ChangLu0607 opened #3571 "TestMemoryAwareness.java makes hotspot_jre test fails on JDK8 Hotspot xLinux"
**Describe the bug**
test case TestMemoryAwareness.java fails because of created container OOM

**To Reproduce**
make _hotspot_jre_1

**Expected behavior**
test case pass

**Screenshots**
![image](https://user-images.githubusercontent.com/38229679/163146820-0e99a640-d133-4d18-bf02-e866a94a35b1.png)

**Additional context**
possible related issue in JDK-13: https://bugs.openjdk.java.net/browse/JDK-8

[2022-04-13 09:45] ChangLu0607 opened #3572 "jdk_jdi_jdk8 fails because of TestClassLoaderLeak.java failed when GC cycles are not happening"
**Describe the bug**
TestClassLoaderLeak.java faild with JDK8 hotspot

**To Reproduce**
make _jdk_jdi_jdk8_0

**Expected behavior**
all test cases pass

**Screenshots**
![image](https://user-images.githubusercontent.com/38229679/163148590-28280856-930b-4e2f-b906-e569aafbd35c.png)

**Additional context**
realated issue in latest version of openJDK: https://bugs.openjdk.java.net/browse/JDK-8274563
h

[2022-04-13 09:51] ChangLu0607 opened #3573 "RedefineCrossEvent.java makes jdk_jfr failed on JDK8 Hotspot xLinux"
**Describe the bug**
RedefineCrossEvent.java failed because of class file not found

**To Reproduce**
make _jdk_jfr_0

**Expected behavior**
all test cases pass

**Screenshots**
![image](https://user-images.githubusercontent.com/38229679/163151788-fcff0a18-ebc6-4e7f-a26d-bb31b915d020.png)

**Additional context**
related issue in JDK11: https://bugs.openjdk.java.net/browse/JDK-8283479
patch: https:

[2022-04-13 15:41] sophia-guo commented on #3552
exclusion "-pl !:wildfly-iiop-openjdk" for jdk17 seems doesn't work.

https://ci.adoptopenjdk.net/view/work-in-progress/job/grinder_sandbox_new/668/

[2022-04-13 17:06] sophia-guo commented on #3187
[extended.external sheet](https://docs.google.com/spreadsheets/d/1ojQTYGtxwdNShKYxYZgZO4nmj3d-FBB4hjb-_LEmtz0/edit#gid=0) updated. Close this one.

[2022-04-13 17:06] #3187 closed

[2022-04-13 17:07] sophia-guo commented on #3465
Done. Close it.

[2022-04-13 17:07] #3465 closed

[2022-04-13 17:09] sophia-guo commented on #3078
Done, close it.

[2022-04-13 17:09] #3078 closed

[2022-04-13 18:53] #3561 closed

[2022-04-13 20:56] llxia commented on #3531
PRs are delivered. Close this issue.

[2022-04-13 20:56] #3531 closed

[2022-04-13 21:21] smlambert commented on #3573
Thanks @ChangLu0607 - we can exclude this testcase at our layer.

[2022-04-13 23:49] smlambert commented on #3015
Closing as this can now be covered by automation through Test Reenablement pipeline, https://github.com/adoptium/aqa-tests/issues/1853.

[2022-04-13 23:49] #3015 closed

[2022-04-13 23:49] smlambert commented on #3016
Closing as this can now be covered by automation through Test Reenablement pipeline, https://github.com/adoptium/aqa-tests/issues/1853.

[2022-04-13 23:49] #3016 closed

[2022-04-13 23:49] smlambert commented on #3017
Closing as this can now be covered by automation through Test Reenablement pipeline, https://github.com/adoptium/aqa-tests/issues/1853.

[2022-04-13 23:49] #3017 closed

[2022-04-13 23:50] smlambert commented on #3013
Closing as this can now be covered by automation through Test Reenablement pipeline, https://github.com/adoptium/aqa-tests/issues/1853.

[2022-04-13 23:50] #3013 closed

[2022-04-14 16:38] llxia opened #3579 "Wrong tap file is captured in test job"
The wrong tap file is captured when running Grinder. The Grinder is running serially.
[code]
[code]

[2022-04-14 17:37] llxia commented on #3579
- The above issue suggests that the workspace is not cleaned up properly. We may want to look into it as the workspace should be cleaned up before running any tests.
- I think we can resolve this by specifying the job name and number at:
https://github.com/adoptium/aqa-tests/blob/3f77e72793da1732a2f9ed18f8515b041202dd57/buildenv/jenkins/JenkinsfileBase#L686
https://github.com/adoptium/aqa-tests/bl

[2022-04-18 08:23] sendaoYan opened #3581 "https://adoptium.net/docs/aqavit-verification/ give a wrong link for "test prerequisites""
**Describe the bug**
[A clear and concise description of what the bug is.](https://adoptium.net/docs/aqavit-verification/ give a wrong link about "test prerequisites")

**To Reproduce**
Steps to reproduce the behavior (or Grinder rerun link):
1. open web by chrome : https://adoptium.net/docs/aqavit-verification/
2. click the link of "test prerequisites"
![image](https://user-images.githubuserconte

[2022-04-19 12:58] sendaoYan opened #3585 "make _sanity.system complaint error of "Can't locate Test/Simple.pm in @INC""
**Describe the bug**
make _sanity.system compaliant error of "Can't locate Test/Simple.pm in @INC"

**To Reproduce**
LANG=ja_JP.UTF-8 bash /apsarapangu/disk1/yansendao/aqa-tests/TKG/../../jvmtest/functional/MBCS_Tests/coin/test.sh

**Expected behavior**
run test success.

**Screenshots**

![image](https://user-images.githubusercontent.com/24123821/164008320-059ebf4f-6232-460c-8b45-c0dd1ead1357.png

[2022-04-19 14:01] smlambert commented on #3585
Believe that [Test::Simple](https://metacpan.org/pod/Test::Simple) is in Perl v5.6.2 and up, so should available in the prescribed version outlined in [Test Prereqs](https://github.com/adoptium/aqa-tests/blob/master/doc/Prerequisites.md#prerequisites) which is v5.10.1 or above.

One supposes that we could check the version and exit with a clearer message.  This version checking typically is [done

[2022-04-19 15:01] smlambert commented on #3581
Fixed via https://github.com/adoptium/website-v2/pull/405

[2022-04-19 15:01] #3581 closed

[2022-04-19 16:40] sophia-guo opened #3587 "PRE RELEASE - TRIAGE JDK11"
#### Release Summary Report for openjdk11-pipeline
**Report generated at:** Tue, 19 Apr 2022 13:48:09 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=6257006e72761a4c5c11a10e&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=6257006e72761a4c5c11a10e)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-04-19 16:43] sophia-guo commented on #3587
@Haroon-Khel @smlambert FYI, create the issue to help pre triage

[2022-04-19 16:57] sophia-guo commented on #3234
Looks like it's not intermittent in recent runs.

[Test_openjdk11_hs_extended.openjdk_x86-64_linux_testList_0](https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_linux_testList_0/35/) ⚠️ UNSTABLE ⚠️

jdk_build_1 => [deep history 0/3 passed](https://trss.adoptium.net/deepHistory?testId=62573c3172761a4c5c11e705) | [possible issues](https://trss.adoptium.net/possibleIssues?buil

[2022-04-19 17:08] smlambert opened #3588 "JDK11 Pre-release triage grouped by platform"
#### Release Summary Report for openjdk11-pipeline
**Report generated at:** Tue, 19 Apr 2022 13:48:09 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=6257006e72761a4c5c11a10e&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=6257006e72761a4c5c11a10e)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-04-19 17:09] smlambert commented on #3588
Using this report to compare against current style of report (see https://github.com/adoptium/aqa-tests/issues/3587), and have raised https://github.com/adoptium/aqa-test-tools/issues/649 to capture improvement ideas.

[2022-04-19 18:05] smlambert commented on #3588
jdk11 ppc64le triage

[2022-04-19 19:11] sophia-guo commented on #3588
jdk11 x86-64_mac triage

[2022-04-19 19:14] llxia opened #3590 "Semeru CE JDK11 and JDK 17 Jan release AQAvit Verification"
Below are the TAP files and metadata files for Semeru CE Jan release:

**JDK11 Summary**
[code]

|Platform| TAP and metadata files (including rerun)| 9 AQAvit Targets|
|--|--|--|
|x86-64_linux |[jdk11_x86-64_linux.zip](https://github.com/adoptium/aqa-tests/files/8515857/jdk11_x86-64_linux.zip)|:+1:|
|aarch64_linux |[jdk11_aarch64_linux.zip](https://github.com/adoptium/aqa-tests/files/8515860/jdk11

[2022-04-19 19:15] llxia commented on #3590
FYI @smlambert @pshipton

[2022-04-19 19:18] sophia-guo opened #3591 "jdk11 jdk_compile failures on macos12"
56 compiler/aot/* tests failed on [test-macincloud-macos1201-x64-1](https://ci.adoptopenjdk.net/computer/test-macincloud-macos1201-x64-1)  only  with message:

[code]

https://ci.adoptopenjdk.net/job/Test_openjdk11_hs_extended.openjdk_x86-64_mac_testList_1/41/
https://trss.adoptium.net/deepHistory?testId=625744b172761a4c5c12015c

[2022-04-19 19:18] sophia-guo opened #4326 "jdk11 jdk_compile failures on macos12"

[2022-04-20 01:28] smlambert commented on #3533
Cancel this week's meeting and move this agenda to next meeting...

[2022-04-20 04:09] sendaoYan commented on #3585
My perl is 5.16.3, but doesn't have [Test::Simple](https://metacpan.org/pod/Test::Simple) default.

![image](https://user-images.githubusercontent.com/24123821/164148650-e86b4fe9-ad4e-4c3c-8926-1acbd02ea945.png)

[2022-04-20 09:14] sendaoYan commented on #3585
On ubuntu20.04.4, the perl version is v5.30.0, it doesn't have Test::Simple module by default.

![image](https://user-images.githubusercontent.com/24123821/164193293-71a19c6e-37c8-41eb-8a10-39a36ec1dc82.png)

[2022-04-20 11:18] smlambert opened #3594 "April CPU - jdk-17.0.3 Pipeline 348 Triage"
#### Release Summary Report for openjdk17-pipeline
**Report generated at:** Wed, 20 Apr 2022 11:07:19 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=625f2b3272761a4c5c13bbc5&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=625f2b3272761a4c5c13bbc5)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-04-20 11:32] smlambert commented on #3594
jdk17 aarch64_linux triage

All tests pass, but post tests fail due to this error (Jenkins can not clean the workspace at the end of the test run):

[code]

[2022-04-20 11:36] smlambert commented on #3594
x86-32_windows triage

[TAP](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows/60/tapResults/): 57 tests, 16 ok, 3 not ok, 38 skipped, 0 ToDo, 0 Bail Out!

jdk_other_2
jdk_nio_2
jvm_compiler_2

[2022-04-20 11:43] smlambert commented on #3594
x86-64_linux triage

[LangLoadTest_5m_1](https://trss.adoptium.net/output/test?id=625f66bb72761a4c5c141b88) fails on test-packet-ubuntu1604-x64-1 but appears to pass on all other machines, rerun at: [Grinder/4482](https://ci.adoptopenjdk.net/job/Grinder/4482)

[2022-04-20 11:58] smlambert commented on #3594
x86-64_windows triage

[TAP 0](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_0/41/tapResults/): 19 tests, 17 ok, 2 not ok, 0 skipped, 0 ToDo, 0 Bail Out!
[TAP 1](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-64_windows_testList_1/41/tapResults/): 19 tests, 18 ok, 1 not ok, 0 skipped, 0 ToDo, 0 Bail Out!
[TAP 2](https://ci.adopto

[2022-04-20 12:10] smlambert opened #3595 "LangLoadTest_5m_1 FAILED in Test_openjdk17_hs_extended.system_x86-64_linux"
LangLoadTest_5m fails on test-packet-ubuntu1604-x64-1 but passes on all other machines.  This issue is raised to check if it consistently fails on test-packet-ubuntu1604-x64-1 and may be transferred to infrastructure repo when initial investigation is complete.

Console output:
[code]

**Test Info**
Test Name: LangLoadTest_5m_1
Test Duration: 5 min 3 sec
Machine: test-packet-ubuntu1604-x64-1
TRSS

[2022-04-20 14:16] smlambert opened #3596 "April CPU - jdk-11.0.15 Pipeline 1910 Triage"
#### Release Summary Report for openjdk11-pipeline
**Report generated at:** Wed, 20 Apr 2022 14:05:45 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=625f2eb772761a4c5c13d068&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=625f2eb772761a4c5c13d068)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-04-20 15:05] smlambert commented on #3594
arm_linux triage

sanity.system targets: MauveSingleInvocLoad_HS_5m and MauveSingleThrdLoad_HS_5m consistently fail on test-sxamb-armv7l-raspbian-pi4-1, passing on all other nodes

[2022-04-20 16:17] llxia commented on #3540
Same failure in openj9 (internal/backlog/issues/775)

[2022-04-20 18:23] llxia commented on #3518
Internal/backlog/issues/776

[2022-04-20 22:19] smlambert commented on #3587
We will close this in favour of triaging the release pipeline at: https://github.com/adoptium/aqa-tests/issues/3596

[2022-04-20 22:19] #3587 closed

[2022-04-20 22:19] smlambert commented on #3588
Close in favour of triaging the release pipeline at: https://github.com/adoptium/aqa-tests/issues/3596

[2022-04-20 22:19] #3588 closed

[2022-04-20 22:21] smlambert opened #3598 "jck_custom target appears to be 'broken'"
At some point between January release to March release the ability to run jck_custom target appears to be broken.  Need to investigate what changes went into JavaTestRunner and related files that may have caused the breakage.

[2022-04-21 02:15] smlambert commented on #3596
aarch64_linux triage - **machine issue** - fails on test-docker machines, passes on test-alibaba-ubuntu1804-armv8-2

jdk_management rerun on test-alibaba-ubuntu1804-armv8-2 at: [Grinder/4490](https://ci.adoptopenjdk.net/job/Grinder/4490)

[2022-04-21 02:30] smlambert commented on #3596
arm_linux triage

[java/nio/file/DirectoryStream/SecureDS.java](https://github.com/openjdk/jdk11u/blob/master/test/jdk/java/nio/file/DirectoryStream/SecureDS.java#L47-L51) fails with:

[code]

[2022-04-21 02:41] smlambert commented on #3596
ppc64le_linux - machine issue - fails on test-skytap-ubuntu2004-ppc64le-1 passes on test-osuosl-centos74-ppc64le-2

[jdk_other_1](https://trss.adoptium.net/output/test?id=625f6f5472761a4c5c14454f) rerun on test-osuosl-centos74-ppc64le-2 at: [Grinder/4492/](https://ci.adoptopenjdk.net/job/Grinder/4492/)

[2022-04-21 02:52] smlambert commented on #3596
x86-64_mac triage

jvm_compiler_1 rerun at: [Grinder/4493](https://ci.adoptopenjdk.net/job/Grinder/4493)

[2022-04-21 02:56] smlambert commented on #3596
x86-64_linux triage

build/AbsPathsInImage.java fails with

[code]

[2022-04-21 02:58] sophia-guo commented on #3596
x86-64_mac triage  see https://github.com/adoptium/aqa-tests/issues/3591

[2022-04-21 03:00] sophia-guo commented on #3596
x86-64_linux triage see https://github.com/adoptium/aqa-tests/pull/3592

[2022-04-21 03:10] smlambert commented on #3596
x86-64_windows triage

[com/sun/jndi/ldap/LdapPoolTimeoutTest.java](https://github.com/openjdk/jdk11u/blob/master/test/jdk/com/sun/jndi/ldap/LdapPoolTimeoutTest.java) fails (in jdk11 and jdk17)
[code]

[2022-04-21 03:24] smlambert opened #3599 "April CPU - jdk-18.0.1 Pipeline 170 Triage"
#### Release Summary Report for openjdk18-pipeline
**Report generated at:** Thu, 21 Apr 2022 03:14:16 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=625fd7f372761a4c5c15c1ab&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=625fd7f372761a4c5c15c1ab)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts

[2022-04-21 12:11] smlambert commented on #3594
x86-32_windows triage

[TAP](https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_extended.openjdk_x86-32_windows/60/tapResults/): 57 tests, 16 ok, 3 not ok, 38 skipped, 0 ToDo, 0 Bail Out!

'3 not ok' targets:
- jvm_compiler_2
- jdk_nio_2
- jdk_other_2

[2022-04-21 23:23] smlambert commented on #3596
x86-64_windows triage

com/sun/jndi/ldap/LdapPoolTimeoutTest.java test fails (same for jdk17, fails against RI also, consider non-blocking, report upstream)

[2022-04-21 23:46] smlambert commented on #3596
aarch64_mac triage

- jdk_lang_2 is running _2 variation for this platform (which fails), which is incorrect (only for 32bit platforms), need to update csv? file in TKG to correct this.  non-blocking failure.

[2022-04-22 01:18] smlambert commented on #3596
x86-64_alpine-linux triage

- jdk_management_1

[code]

[2022-04-22 01:47] smlambert commented on #3596
ppc64_aix triage

[2022-04-22 02:28] smlambert commented on #3599
x86-64_mac triage

most targets pass on some machines fail on others (indicates machine config issues), rerun at: [Grinder/4504](https://ci.adoptopenjdk.net/job/Grinder/4504)

[2022-04-22 02:40] smlambert commented on #3599
x86-64_linux triage

Failing test targets pass on certain machines, fail on others (indicating differences in machine config differences), rerun at: [Grinder/4505](https://ci.adoptopenjdk.net/job/Grinder/4505)

[2022-04-22 02:53] smlambert commented on #3599
s390x_linux triage

- jdk_jfr_1 fails on some machines `jdk/jfr/jcmd/TestJcmdDump.java` with `java.lang.OutOfMemoryError: Java heap space` rerun on [Grinder/4506](https://ci.adoptopenjdk.net/job/Grinder/4506)

[2022-04-22 02:56] smlambert commented on #3599
aarch64_linux triage

- sanity.openjdk - tests pass, post test fails

- extended.openjdk - jvm_compiler, jdk_net, jdk_management,jdk_jfr_1 targets fail, rerun at:

[2022-04-22 03:02] sendaoYan opened #3601 "_SecurityTests_0 fail"
**Describe the bug**
_SecurityTests_0 fail
The testcase file "functional/security/src/net/adoptopenjdk/test/DefaultTlsFunctionalTest.java" test four website bellow:
            "https://www.cloudflare.com/",
            "https://www.google.com/",
            "https://services.gradle.org/",
            "https://repo1.maven.org/"
But www.google.com can't be reache normally in CHINA. Can we change th

[2022-04-22 03:03] smlambert commented on #3599
x86-64_windows triage

[2022-04-22 03:12] smlambert commented on #3599
arm_linux triage

jdk_beans fails on 1 machine but passes on others, rerun at: [Grinder/4509](https://ci.adoptopenjdk.net/job/Grinder/4509)

[2022-04-22 11:48] smlambert commented on #3599
x86-64_alpine-linux triage

- cmdLineTester_libpathTestRtfChild_0 - should be excluded for headless builds (non-blocking)

- jdk_lang is a known failure related to JBS issue (for jdk11/17/18 and testcases should be excluded)
[code]

other targets pass on certain machines (test-docker-alpine312-x64-2) and fail on test-docker-alpine314-x64-1, rerun at: [Grinder/4513](https://ci.adoptopenjdk.net/job/

[2022-04-22 13:02] smlambert commented on #3599
ppc64le_linux triage - **machine issues** - test-osuosl-ubuntu1804-ppc64le-1, test-skytap-ubuntu2004-ppc64le-1

- jdk_imageio_0 fails on test-osuosl-ubuntu1804-ppc64le-1

[code]
- jdk_nio fails on test-skytap-ubuntu2004-ppc64le-1
[code]

Rerun both tests on test-osuosl-centos74-ppc64le-1 at: Grinder/xxxx

[2022-04-22 13:47] llxia commented on #3599
re https://github.com/adoptium/aqa-tests/issues/3599#issuecomment-1106492302, we have the same `Can't connect to X11 window server` problem with some AIX machines in hyc and openj9 Jenkins. Similar issue: https://github.com/eclipse-openj9/openj9/issues/14943

Does the Adoptium AIX playbook have this configured?

FYI @AdamBrousseau

[2022-04-22 18:00] smlambert commented on #3594
ppc64_aix triage - known **machine issues**

- extended.openjdk failures (jdk_net, jdk_nio) related to known networking issues multicast/ipv6 on aix (being worked under https://github.com/adoptium/infrastructure/issues/2516)
- extended.system / ConcurrentLoadTest_5m_1 fails on most machines, can pass on build-osuosl-aix71-ppc64-2 (rerun at:  [Grinder/4518](https://ci.adoptopenjdk.net/job/Grinder/4

[2022-04-23 11:46] aixtools commented on #3594
re: ConcurrentLoadTest_5m_1 test: rerunning on build-1, aix715, and build72 : [Grinder/4519](https://ci.adoptopenjdk.net/job/Grinder/4519), [Grinder/4520](https://ci.adoptopenjdk.net/job/Grinder/4520), [Grinder/4521](https://ci.adoptopenjdk.net/job/Grinder/4521)

[2022-04-23 12:49] smlambert opened #3603 "April CPU - JDK8u332 Pipeline 1910 Triage"
#### Release Summary Report for openjdk8-pipeline
**Report generated at:** Sat, 23 Apr 2022 12:34:40 GMT

TRSS [Build](https://trss.adoptium.net/buildDetail?parentId=6262e6d272761a4c5c175767&testSummaryResult=failed&buildNameRegex=%5ETest) and TRSS [Grid View](https://trss.adoptium.net/resultSummary?parentId=6262e6d272761a4c5c175767)
Jenkins Build URL https://ci.adoptopenjdk.net/job/build-scripts/

[2022-04-23 12:54] smlambert commented on #3603
x86-64_linux triage

[2022-04-24 08:38] sendaoYan opened #3604 "java/util/Random/RandomTestBsi1999.java run fail because of timeout"
### Test command

[code]

### result

[code]

### java -version
[code]

### patch
[code]

### test result after patched:

![image](https://user-images.githubusercontent.com/24123821/164968390-8a55b26e-72ea-4022-909b-339adf014971.png)

### machine info：

![image](https://user-images.githubusercontent.com/24123821/164971655-e5f8e24b-3d40-4b5b-89bc-d1e7a063a124.png)

[2022-04-25 02:48] sendaoYan commented on #3604
This testcase cost 1m35s run on "Intel(R) Xeon(R) Platinum 8269CY CPU @ 2.50GHz"

![image](https://user-images.githubusercontent.com/24123821/165012517-77ac2828-4665-4254-9bb9-a3cf6693015f.png)

[2022-04-25 08:37] sendaoYan opened #3605 "jfr/event/io/TestInstrumentation.java run fail on linux-x64 by jdk8"
**Describe the bug**
jfr/event/io/TestInstrumentation.java run fail on linux-x64 by jdk8

**To Reproduce**
1. build jdk8
[code]
2.run test
[code]

**Expected behavior**
´test run pass, or add jfr/event/io/TestInstrumentation.java to Problemlist.txt

**Actualed behavior**
[code]

test log from TKG:

[extended.openjdk.log](https://github.com/adoptium/aqa-tests/files/8552888/extended.openjdk.log)

**

[2022-04-25 09:06] sendaoYan opened #3606 "dacapo-eclipse_0 run fail because of can't find dacapo.jar when test trigger by command line"
**Describe the bug**
dacapo-eclipse_0 run fail because of can't find dacapo.jar

**To Reproduce**
[code]

**Expected behavior**
run success by command line.

**Screenshots**
![image](https://user-images.githubusercontent.com/24123821/165055910-835360cb-6678-4ec1-bd94-2ceb5a45fbe8.png)

**Additional context**

when test is trigger by command line, the dacapo.jar is download to $HOME/aqa-tests/perf/

[2022-04-25 09:36] sendaoYan commented on #3606
And every time we execute the ./compile.sh script, it deletes the folder and re-downloads the dacapo.jar. Can we use the last downloaded file instead of getting the file from the internet again.

![image](https://user-images.githubusercontent.com/24123821/165062579-61d6144c-6e94-40f9-8cf2-d438494ac8d1.png)

[2022-04-25 11:49] sendaoYan commented on #3606
This is my patch:

[code]

[2022-04-25 13:09] llxia commented on #3606
- The error is about `unable to access to jarfile`, not cannot find the jarfile. To me, it looks like a permission issue. Could you check if you can see dacapo.jar under jvmtest folder?
- Re https://github.com/adoptium/aqa-tests/issues/3606#issuecomment-1108470567, this patch will cause an outdated jar never get removed. If you want to not re-download the jar if it exists, I think we need to ensur

[2022-04-25 13:18] sendaoYan commented on #3606
Yes, the patch just for speed up test, not for about "unable to access jarfile". And I found the perf test renaissance has check it exist or not before get binary from internet.

![image](https://user-images.githubusercontent.com/24123821/165096928-c797abe3-0ffd-47f1-88dd-bb9b12d8b923.png)

[2022-04-25 21:50] sophia-guo commented on #3604
The default timeout is 120 seconds (2 minutes) in Jtreg. In Adoptium the timeout is set [as 8 minutes for most platforms](https://github.com/adoptium/aqa-tests/blob/master/openjdk/openjdk.mk#L82-L86). So
java/util/Random/RandomTestBsi1999.java passes https://ci.adoptopenjdk.net/job/Test_openjdk17_hs_sanity.openjdk_x86-64_linux/150/testReport/java_util_Random_RandomTestBsi1999/.

Close this one. @s

[2022-04-25 21:50] #3604 closed

[2022-04-25 22:09] smlambert commented on #3604
https://adoptium.net/docs/aqavit-verification/ is the starting point

But also answered in mentioned in the [testing-aqavit](https://adoptium.slack.com/archives/C5219G28G/p1650592753686469?thread_ts=1650543332.845779&cid=C5219G28G) Slack channel

Another useful resource may be this openj9 wiki page: https://github.com/eclipse-openj9/openj9/wiki/Reproducing-Test-Failures-Locally

[2022-04-26 02:23] smlambert commented on #3599
x32_windows triage

- jvm_compiler fails with same failure seen on x64_windows:
[code]

[2022-04-26 03:20] smlambert commented on #3603
aarch64_linux triage

- sanity.openjdk: single known failure [com/sun/jdi/RedefineCrossEvent.java](https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_sanity.openjdk_aarch64_linux/668/testReport/com_sun_jdi_RedefineCrossEvent/java/RedefineCrossEvent/) - requires a test exclusion, see https://github.com/adoptium/aqa-tests/issues/3573 known upstream issue https://bugs.openjdk.java.net/browse/JDK-828347

[2022-04-26 03:29] smlambert commented on #3603
x86-64_windows triage

[2022-04-26 03:29] smlambert commented on #3603
x86-64_mac triage

[2022-04-26 07:11] sendaoYan commented on #3606
On my linux machine, the curl command get dacapo.jar always fail. So I think is necessary to improve the process.

[code]

![image](https://user-images.githubusercontent.com/24123821/165242444-7ef979b3-9294-4fba-a24a-b6d76f79efbd.png)

![image](https://user-images.githubusercontent.com/24123821/165242709-afec5fa4-3885-4379-8ee0-be234b3477ed.png)

[2022-04-26 17:10] sophia-guo commented on #3605
Yes, tests should be excluded. https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/37/testReport/jdk_jfr_event_io_TestInstrumentation/java/TestInstrumentation/

https://github.com/adoptium/aqa-tests/issues/2985

https://bugs.openjdk.java.net/browse/JDK-8202142

[2022-04-26 17:47] sophia-guo commented on #3572
Test passed in adoptium recent release build https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_1/37/testReport/jdk_jfr_event_oldobject_TestClassLoaderLeak/java/.

@ChangLu0607 are you using the recent jdk8 release branch?

[2022-04-26 17:54] sophia-guo commented on #3571
Looks like a test or environment setup issue.  In Adoptium the default set up is `-Xmx512m` and tests passed.
https://ci.adoptopenjdk.net/job/Test_openjdk8_hs_extended.openjdk_x86-64_linux_testList_2/37/console

[2022-04-26 18:27] sophia-guo commented on #3571
The test also passed with in recent run with bisheng jdk in  adoptium jenkins https://ci.adoptopenjdk.net/job/Test_openjdk8_bisheng_extended.openjdk_x86-64_linux_testList_2/28/testReport/runtime_containers_docker_TestMemoryAwareness/

[2022-04-26 19:26] llxia commented on #3601
@sendaoYan do you mind creating a PR for this? Thanks
You will need to sign the ECA before submitting a PR (as per https://github.com/adoptium/aqa-tests/blob/master/Contributing.md#eclipse-contributor-agreement - which has a link to [further documentation](https://github.com/adoptium/documentation/blob/main/documentation-documentation/eca-sign-off.adoc) if you need more details).

[2022-04-26 20:42] llxia opened #3613 "Semeru CE JDK11 and JDK 17 April release AQAvit Verification"
**JDK11 Summary**
[code]

|Platform| TAP and metadata files (including rerun)| 9 AQAvit Targets|
|--|--|--|
|x86-64_linux |[jdk11_x86-64_linux.zip](https://github.com/adoptium/aqa-tests/files/8566738/jdk11_x86-64_linux.zip)|:+1:|
|aarch64_linux |[jdk11_aarch64_linux.zip](https://github.com/adoptium/aqa-tests/files/8566741/jdk11_aarch64_linux.zip)|:+1:|
|ppc64le_linux |[jdk11_ppc64le_linux.zip](htt

[2022-04-26 20:43] llxia commented on #3613
FYI @smlambert the above are the TAP files and metadata files for the Semeru CE April release.

[2022-04-26 21:09] llxia opened #3615 "external tests workflow does not work with ITERATIONS"
In ITERATIONS, we repeatedly run the same test n times. It looks like the external test workflow does not work with ITERATIONS. At the end of each test, we do clean -  `docker rmi`
https://github.com/adoptium/aqa-tests/blob/1236ede6168d38482806ab89a8b3a298fccbdf80/external/spring/playlist.xml#L26
https://github.com/adoptium/aqa-tests/blob/1236ede6168d38482806ab89a8b3a298fccbdf80/external/external.